.content{:style=> "height:660px;font-size:11px"}
  .left_block
    %div
      %h1= t("house_selection.existing houses").html_safe
      = t("house_selection.existing.share")+" #{@perc_existing_houses}%".html_safe
      %br
      %img{:src => "/images/layout/existing_house.gif",:style=>"float:left"}
      %img{:src => "/images/layout/big_label_#{session["house_label_existing"]}.png",:style=>"float:right;height:82px;width:115px;margin-top:15px"}
      %img{:src => "/images/layout/flat_arrow.png",:style=>"float:left;margin-top:10px"}

    %div
      %h2
        = t("house_selection.build_quality").html_safe
      %p
        = "#{t("slider."+InputElement.find(336).name)} = #{session['calculated_hst_sliders']["336"]}".html_safe
      %h2
        = t("house_selection.installations").html_safe
      %p
        - news = session['calculated_hst_sliders_existing']
        - news.each do |x|
          - unless x.last.blank? || x.last <= 0 || x.first == "47"
            = "#{t("slider."+InputElement.find(x.first).name)} = #{x.last}%".html_safe
            %br
      - if news["47"]
        %h2
          = t("house_selection.solarpanels").html_safe
        %p
          = "#{t("slider."+InputElement.find(47).name)} = #{news["47"]}%".html_safe

  .right_block
    %div
      %h1= t("house_selection.new houses").html_safe
      = t("house_selection.new.share")+" #{@perc_new_houses}%".html_safe
      %br
      %img{:src => "/images/layout/new_house.gif",:style=>"float:left"}
      %img{:src => "/images/layout/big_label_#{session["house_label_new"]}.png",:style=>"float:right;height:82px;width:115px;margin-top:15px"}
      %img{:src => "/images/layout/flat_arrow.png",:style=>"float:left;margin-top:10px"}

    %div
      %h2
        = t("house_selection.build_quality").html_safe
      %p
        = "#{t("slider."+InputElement.find(337).name)} = #{session['calculated_hst_sliders']["337"]}".html_safe
      %h2
        = t("house_selection.installations").html_safe
      %p
        - news = session['calculated_hst_sliders_new']
        - news.each do |x|
          - unless x.last.blank? || x.last <= 0 || x.first == "47"
            = "#{t("slider."+InputElement.find(x.first).name)} = #{x.last}%".html_safe
            %br
      - if news["47"]
        %h2
          = t("house_selection.solarpanels").html_safe
        %p
          = "#{t("slider."+InputElement.find(47).name)} = #{news["47"]}%"
  .bottom
    %h1{:style=>"clear:both;"}= t("house_selection.average.title").html_safe
    %p 
      = t("house_selection.average.description").html_safe
    %br
    %div
      %h2
        = t("house_selection.installations").html_safe
      %p
        - news = session['calculated_hst_sliders']
        - news.each do |x|
          - unless x.last.blank? || x.last <= 0 || x.first == "47" || x.first == "336" || x.first == "337"
            = "#{t("slider."+InputElement.find(x.first).name)} = #{x.last.round(1)}%"
            %br
    %div
      - if news["47"]
        %h2
          = t("house_selection.solarpanels").html_safe
        %p
          = "#{t("slider."+InputElement.find(47).name)} = #{news["47"].round(1)}%".html_safe
  .new_button.button{:style=>"float:right"}
    = link_to t("house_selection.apply"), "/house_selections/apply_house_selection_labels", {:remote => true}
  .new_button.button
    = link_to t("back"), "/house_selections/go_back", {:remote => true}