.tabs
  %ul
    %li#existing_houses.active
      %a= t("house_selection.existing houses")
    %li#new_houses
      %a= t("house_selection.new houses")

#existing_house_content.content
  %img{:src => "/images/layout/existing_house.gif",:style=>"float:right"}
  %h1= t("house_selection.existing houses")+ " in #{Current.setting.end_year}" 
  
  = t("house_selection.old_houses_description")

  .pick_label
    - existing_labels = %w[a b c d e]
    - existing_labels.each do |lbl|
      %li{ :id => "label_#{lbl}" }= lbl.capitalize

    .label_description_wrapper
      - existing_labels.each do |lbl|
        .label_description{:class=>"label_#{lbl}",:style=>"display:none"}
          %h2
            = t("house_selection.build_quality")
          %p
            = raw t("house_selection.description.existing.#{lbl}.build_quality")
          %h2
            = raw t("house_selection.installations")
          %p
            = raw t("house_selection.description.existing.#{lbl}.installations")

          - if lbl == "c" || lbl == "a"
            %h2
              = raw t("house_selection.solarpanels")
            %p
              = raw t("house_selection.description.existing.#{lbl}.solarpanels")

          #new_button.button
            = link_to t("house_selection.existing.button"), house_selection_set_path(:type => 'existing', :label => lbl), :remote => true
      
#new_house_content.content{:style=>'display:none'}
  %img{:src => "/images/layout/new_house.gif",:style=>"float:right"}
  %h1= t("house_selection.new houses")+ " in #{Current.setting.end_year}" 
  = t("house_selection.new_houses_description")
  
  .pick_label
    - new_lanels = %w[aaa aa a b c]
    - new_lanels.each do |lbl|
      %li{:id => "label_#{lbl}"}
        - l = 'a<small>++</small>' if lbl == "aaa"
        - l = 'a<small>+</small>'  if lbl == "aa"
        = raw (l || lbl).capitalize
  
    .label_description_wrapper
      - new_lanels.each do |lbl|
        .label_description{:class=>"label_#{lbl}",:style=>"display:none"}
          %h2
            = t("house_selection.build_quality").html_safe
          %p
            = t("house_selection.description.new.#{lbl}.build_quality").html_safe
          %h2
            = t("house_selection.installations").html_safe
          %p
            = t("house_selection.description.new.#{lbl}.installations").html_safe
          - if lbl == "aaa" || lbl == "aa"
            %h2
              = t("house_selection.solarpanels").html_safe
            %p
              = t("house_selection.description.new.#{lbl}.solarpanels").html_safe
          #existing_button.button
            = link_to t("house_selection.new.button"), house_selection_set_path(:type => 'new', :label => lbl), :remote => true
