
%p 
  If a GQL statement is defined, the other value is ignored (e.g. start_value: 10, start_value_gql: xyz => start_value is the result of gql-statement xyz)
%p
  The growth checkbox must be checked if the slider expresses a growth (ex: population growth per year). The backcasting module uses this attribute to plot the user chart.

%div{:style => "width: 60%"}
  = semantic_form_for [:admin, @input_element] do |f|
    = f.inputs
    
    = f.inputs :for => :description do |j|
      = j.input :short_content_en
      = j.input :short_content_nl
      = j.input :content_en
      = j.input :content_nl
    
    = f.buttons
  
  = link_to "back", admin_input_elements_path
