%h2 Sliders

%p= link_to 'Create new slider', new_admin_input_element_path

%table.default.admin
  %thead
    %tr
      %th.tal id
      %th Slide
      %th.tal Name #{I18n.locale}
      %th.tal Key
      %th.tal Converter
      %th.tal Comment
      %th
      %th

  %tbody
    - @input_elements.each do |i|
      %tr{cycles}
        %td= i.id
        %td= i.slide.try :short_name
        %td= t "input_elements.#{i.key}"
        %td= i.key
        %td
          %span.not_too_wide= i.related_converter
        %td
          %span.not_too_wide= truncate(i.comments, :length => 50)
        %td= link_to 'Edit', edit_admin_input_element_path(i)
        %td= link_to 'Delete', [:admin, i], :method => :delete, :confirm => 'Are you sure?'
