%h2 Edit Comment

%p
  This comment was applied to
  = link_to [:admin, @comment.commentable] do
    = @comment.commentable_type
    = @comment.commentable_id
  by
  - if @comment.user
    the registered user
    %strong= @comment.user.email
  - else
    a guest user
= render 'form'