%h2 Comment Index

%table.default.autostripe
  %thead
    %tr
      %th Id
      %th Scenario
      %th Author
      %th Title
      %th Body
      %th Date
      %th
  %tbody
    - @comments.each do |c|
      %tr
        %td= c.id
        %td
          = link_to [:admin, c.commentable] do
            = c.commentable.input_element.key
            \-
            = c.commentable.title
        %td= c.author_name
        %td= c.title
        %td= truncate(c.body)
        %td= I18n.l(c.created_at)
        %td
          = link_to 'edit', edit_admin_comment_path(c)
          = link_to 'delete', admin_comment_path(c), :method => :delete, :confirm => 'Are you sure?'
  %tfoot
    %tr
      %td{:colspan => 6}= paginate(@comments)
