%h2 Comment details

%dl
  %dt User
  %dd= @comment.user.email if @comment.user
  
  %dt Name
  %dd= @comment.name
  
  %dt Email
  %dd= @comment.email
  
  %dt Title
  %dd= @comment.title
  
  %dt Body
  %dd= @comment.body
  