.scenario_wrapper
  %h1= t('scenario.users.new.title')
  %p= t('scenario.users.new.description')

  .create_saved_scenario_user_form
    = render partial: 'form_flash', format: :js

    = simple_form_for @saved_scenario_user, url: saved_scenario_users_path, remote: true do |f|
      .row
        = f.input :role_id, label: false,
          collection: User::ROLES.map{ |r| [t("scenario.users.roles.#{r[1]}"), r[0]] },
          selected: t("scenario.users.roles.#{User::ROLES.values.first}")
        = f.input :user_email, label: false, required: true, class: 'email', placeholder: t('scenario.users.new.email')

      = f.button :submit, value: t('scenario.users.send_invite'), class: 'scenario-button', data: { disable_with: false }
