%h2 Search
= form_tag search_admin_gql_index_path, :method => :get do
  = label_tag 'Search'
  = text_field_tag :q, @q
  = submit_tag

- if @constraints.any?
  %h2 Constraints
  %table.autostripe
    %thead
      %tr
        %th Id
        %th Key
        %th GQuery
    %tbody
    - @constraints.each do |c|
      %tr
        %td= link_to c.id, admin_constraint_path(c)
        %td= c.key
        %td= highlight c.gquery_key, @q

- if @output_element_series.any?
  %h2 OutputElementSerie
  %table.autostripe
    %thead
      %tr
        %th Id
        %th GQuery
    %tbody
    - @output_element_series.each do |o|
      %tr
        %td= link_to o.id, edit_admin_output_element_serie_path(o)
        %td= highlight o.gquery, @q

- if @sidebar_items.any?
  %h2 Sidebar Items
  %table.autostripe
    %thead
      %tr
        %th Id
        %th Key
        %th Query
    %tbody
      - @sidebar_items.each do |s|
        %tr
          %td= s.id
          %td= link_to s.key, edit_admin_sidebar_item_path(s)
          %td= highlight s.percentage_bar_query, @q

- if @sliders.any?
  %h2 Sliders
  %table.autostripe
    %thead
      %tr
        %th Id
        %th Key
        %th Related converter
    %tbody
      - @sliders.each do |s|
        %tr
          %td= s.id
          %td= link_to s.key, edit_admin_input_element_path(s)
          %td= highlight s.related_converter, @q
