%div
  = simple_form_for [:admin, @press_release] do |f|
    = f.error_messages
    = f.input :title
    = f.input :medium
    = f.input :release_type, :as => :select, :collection => ["internet","dagblad","radio","magazine"]
    = f.input :release_date, :as => :date
    = f.input :link,  :input_html => { :value => (session[:link] ? session[:link] : '')}
    = f.button :submit

%div
  %h2 Upload file
  = form_tag '/admin/press_releases/upload', :multipart => true do
    %p
      file will be uploaded to /media/filename
      %br
      = file_field_tag :press_file
    %p= submit_tag 'upload'
