%h2 Press Releases

%p= link_to "New Press release", new_admin_press_release_path

%table.default.autostripe
  %thead
    %tr
      %th.tal Date
      %th.tal Title
      %th.tal Medium
      %th.tal
      %th.tal

  %tbody
    - @releases.each do |release|
      %tr
        %td= release.release_date.strftime("%d-%m-%Y")
        %td= release.title
        %td= release.medium
        %td= link_to 'Edit', edit_admin_press_release_path(release)
        %td= link_to "Destroy", [:admin, release], :confirm => 'Are you sure?', :method => :delete
