%table{table_defaults}
  %thead
    %tr
      %th Id
      %th Controller
      %th Action
      %th Name
      %th Order
      %th Image
      %th Subheader
      %th
  %tbody
    - @slides.each do |s|
      %tr{cycles}
        %td= s.id
        %td= s.controller_name
        %td= s.action_name
        %td= s.name
        %td= s.order_by
        %td= s.image
        %td= s.sub_header
        %td= link_to 'edit', edit_admin_slide_path(s.id)
= link_to 'New slide' , new_admin_slide_path
