%table.default
  %thead
    %tr
      %th Sidebar Item
      %th Id
      %th Key
      %th Default chart
      %th Position
      %th Sliders
      %th
      %th
  %tbody
    - @slides.each do |s|
      %tr{:class => cycle('even', 'odd')}
        %td= s.sidebar_item.try :short_name
        %td= s.id
        %td= s.key
        %td= s.output_element.try :key
        %td= s.position
        %td= link_to s.sliders.count, admin_slide_input_elements_path(s)
        %td= link_to 'edit', edit_admin_slide_path(s.id)
        %td= link_to 'open', "/scenario/#{s.url}" if s.url
%p
  = link_to 'New slide' , new_admin_slide_path
