:ruby
  @nl_regions = %w[nl-drenthe nl-flevoland nl-friesland nl-gelderland nl-groningen nl-limburg nl-noord-brabant nl-noord-holland nl-overijssel nl-utrecht nl-zeeland nl-zuid-holland]
  @nl_regions << "nl-noord" if @show_all
  
%li
  %h3= t("Choose country")
  %select{:name => "region"}
    = country_option 'nl'
    %optgroup{:label => "Provinces of the Netherlands"}
      - @nl_regions.each do |code|
        = country_option code
    %optgroup{:label => "Municipalities of the Netherlands"}
      = country_option 'ame'
      = country_option 'ams', :test => true
      = country_option 'grs', :test => true
    = country_option 'de'
    - if @show_german_provinces
      %optgroup{:label => "Provinces of Germany"}
        = country_option 'br', :test => true
    = country_option 'uk', :test => true
    = country_option 'ro', :test => true
    = country_option 'pl', :test => true
    = country_option 'tr', :test => true
    - if session[:show_all_countries]
      = country_option 'za', :test => true
      = country_option 'be-vlg', :test => true
