%li
  %h3= t("Choose country")
  %select{:name => "region"}  
    - @countries.each do |code|
      %option{:value => code, :selected => current_region?(code)}
        = t(code).html_safe
        - if code == 'nl'
          %optgroup{:label => "Provinces of the Netherlands"}
            - @nl_regions.each do |region|
              %option{:value => region, :selected => current_region?(region)}= t(region)
            %optgroup{:label => "Municipalities of the Netherlands"}
              - @nl_municipalities.each do |region|
                %option{:value => region, :selected => current_region?(region)}= t(region)
        - if code == 'de' and (current_user.try(:email) == "brandenburg@et-model.com" || session[:show_all_countries])
          %optgroup{:label => "Provinces of Germany"}
            - %w[br].each do |region|
              %option{:value => region, :selected => current_region?(region)}
                = t(region)
                (test)
        - unless %w[nl].include?(code)
          (test)
