#introduction
  %h1= t 'intro.introduction'
  %p= t 'intro.root_text'
  .movie_tabs
    %ul
      %li#what.active
        = link_to t('intro.what_is_this'), "/select_movie/what", :remote => true
      %li#how
        = link_to t('intro.how_does_this_work'), "/select_movie/how", :remote => true
  /
    [if lt IE 8]><style>#information .tabs {height: 50px} </style><![endif]
  #movie_content
    = render 'pages/movie', :page => "what"
  .movie_shadow