#introduction
  - if show_releases_banner?
    .releases
      .fa.fa-bullhorn
      %strong= t('updated.title')
      = t('updated.description')
      %br
      = link_to "#{t('more_information')} →", releases_url, target: '_blank', rel: 'noopener noreferrer'

  %h1= t 'intro.introduction'
  %p= t 'intro.root_text'

  .movie_tabs
    %ul
      %li#what.active
        %button{ data: { movie: 'what' } }= t('intro.what_is_this')
      %li#how
        %button{ data: { movie: 'how' } }= t('intro.how_does_this_work')
  /
    [if lt IE 8]><style>#information .tabs {height: 50px} </style><![endif]
  #movie_content
    = render 'pages/movie', :page => "what"
  .movie_shadow
