#information
  %h1= t("Introduction")
  %div.tabs
    %ul
      %li#what.active
        = link_to t('What is this?'), "/select_movie/what", :remote => true
      %li#how
        = link_to t('How does this work?'), "/select_movie/how", :remote => true
  /
    [if lt IE 8]><style>#information .tabs {height: 50px} </style><![endif]
  #movie_content
    = render 'pages/movie', :page => "what"
  %div.movie_shadow
  = t_db("intro_root")
