#new-scenario
  .header-container
    %h4== #{t('intro.start_a_new_scenario')}&hellip;
  = form_tag root_path do
    .country
      = render "pages/root_page/country_select"
    .year
      %label= t("choose_year")
      = select_tag :end_year, options_for_select(other_year_selected? ? custom_years : preset_years, Current.setting.end_year || Setting::DEFAULT_YEAR)
    .dropdown#scenario-info
      %button#scenario-info-button{ aria: { expanded: 'false'}, data: { toggle: 'dropdown', 'dropdown-trigger': 'hover' }, type: 'button' }
        %span.fa.fa-question-circle
      .dropdown-menu.scenario-info-dropdown{ 'aria-labelledby': 'scenario-info-button' }
        = t('intro.help_html')
    :javascript
      new DropdownView({ el: $('#scenario-info') }).render()
    .submit
      %button.root-button(type="submit")
        = t('start').titleize
        %span.fa.fa-chevron-right
        %span.fa.fa-chevron-right

        = hidden_field_tag :reset, '1'

