%h3= t('select_a_scenario')
- cache "scenario_select_#{I18n.locale}" do
  - @scenarios = Api::Scenario.all(:from => :templates)
  = form_tag url_for(:controller => 'scenarios', :action => 'load') do
    #select_container
      %select#scenarios_select{:name => "id", :data => {:locale => I18n.locale}}
        %option{:value => nil}
        - @scenarios.each do |scenario|
          %option{:value => scenario.id, :id => "option_scenario_#{scenario.id}"}
            = truncate(scenario.title, :length => 40)
    .clear
    #description_container
      - @scenarios.each do |scenario|
        .description{:id => "description_#{scenario.id}"}
          = image_tag 'pages/home/ico_info_big.png'
          = scenario.description.html_safe
    %input#go_button.button{:type => 'submit', :value => t('scenario.load')}
