%h3= t('select_a_scenario')
- cache "scenario_select_#{I18n.locale}" do
  - @scenarios = Api::Scenario.all(:from => :homepage)
  = form_tag url_for(:controller => 'scenarios', :action => 'load') do
    #select_container
      %select#scenarios_select{:name => "id"}
        %option{:value => nil}
        - @scenarios.each do |scenario|
          %option{:value => scenario.id, :id => "option_scenario_#{scenario.id}"}
            = truncate(scenario.title, :length => 40)
    .clear
    %input#go_button.button_align_right.button{:type => 'submit', :value => t('scenario.load')}
    .clear

    #description_container{:class=>"description_container_#{I18n.locale}"}
      - @scenarios.each do |scenario|
        %div.description{:id => "description_#{scenario.id}", :style => "display: none;"}
          %img{:src => '/assets/layout/ico_info_big.png'}
          = scenario.description.html_safe
