-# %li.title
-#   - if group
-#     - group_key = group.is_a?(String) ? group.downcase.gsub(/\s+/, '_') : nil
-#     = t("scenario.#{ group_key }", default: group)

-# - scenarios.sort_by(&:updated_at).reverse.each do |scenario|
-#   - title = scenario.localized_title(I18n.locale)
-#   - if title.to_s.include?(' - ')
-#     %li.with_org
-#       = link_to saved_scenario_path(scenario.saved_scenario) do
-#         - main_title, org = title.split(' - ', 2)

-#         %span.who= format_subscripts(main_title)
-#         %span.org= org.html_safe
-#         %span.author= scenario.author
-#   - else
-#     %li
-#       = link_to saved_scenario_path(scenario.saved_scenario) do
-#         = format_subscripts(title)
-#         %span.author= scenario.author


- scenarios.each do |scenario|
  %pre= scenario.inspect

  - title = scenario.localized_title(I18n.locale)
  - if title.to_s.include?(' - ')
    %li.with_org
      = link_to '#' do
        - main_title, org = title.split(' - ', 2)

        %span.who= format_subscripts(main_title)
        %span.org= org.html_safe
        -# %span.author= scenario.author
  - else
    %li
      = link_to '#' do
        = format_subscripts(title)
        -# %span.author= scenario.author # TODO: Include Author
