<header>
  <div class="inner">
    <h1>Resultaten van Jouw Scenario</h1>
    <p class="scenario-details">
      {% current_date %}
      <span class="bullet">&bull;</span>
      {% link_to_scenario %}
      <span class="bullet">&bull;</span>
      by Quintel Intelligence<br />
      <span class="region {{ settings.area_code }}">
        {{ settings.area_name }}
      </span>
      <span class="bullet">&bull;</span>
      {{ settings.start_year }}
      to {{ settings.end_year }}
    </p>
  </div>
</header>


<!-- Summary table for easy comparison-->
<section class="snapshot">

  <h1 class="banner"> Disclaimer </h1>
    <p>
      Dit rapport is automatisch gegenereerd door het
      <a href="https://energytransitionmodel.com" target="_blank">Energietransitiemodel</a>
      <abbr>(ETM)</abbr> en is gebaseerd op de <a href="#appendix-a-schuifjes-instellingen">schuifjes-instellingen</a> in jouw scenario (link: {% link_to_scenario %}).
    </p>
</section>

<main>
  {% toc %}

    <h1 class="banner">1. Samenvatting scenario voor {{ settings.area_name }}  </h1>

      <p>
      De totale broeikasgasuitstoot in {{ settings.area_name }} was <strong>{{ present.total_energetic_and_non_energetic_co2_emissions | round: 1 | autoscale: 'T' }}</strong> in {{ settings.start_year }}. In Parijs spraken wij af deze broeikasgasuitstoot met 95% te reduceren in 2050 en het Nationale Klimaatakkoord gaat voor -49% in 2030. Van deze broeikasgasuitstoot is <strong>{{present.non_energetic_co2_emissions_percentage | times: 100 | round: 1 }}%</strong> niet-energetisch, dus is niet het gevolg van het energiesysteem. De niet-energetische broeikasgasuitstoot omvat bijvoorbeeld methaan van koeien, koelgassen in de voedselindustrie of N<sub>2</sub>O-uitstoot door kunstmestgebruik. Deze niet-energetische uitstoot is Nationaal behoorlijk gedaald sinds 1990. De aanpak hiervan is belangrijk, maar is wel anders dan de aanpak via het energiesysteem. Het Energietransitiemodel richt zich alleen op de binnenlandse, energetische CO2-uitstoot en de niet-energetische uitstoot van de kunstmestsector in {{ settings.area_name }}. Niet-energetische uitstoot in andere sectoren en overige broeikasgassen (zoals methaan) zijn niet meegenomen.
      </p>
      <p>
       De totale huidige uitstoot van het energiesysteem en de niet-energetische uitstoot van de kunstmestsector is nu <strong>{{ present.policy_goal_co2_emissions_value | autoscale: 'MT' }}</strong> en <strong>{{present.energetic_co2_emissions_percentage | times: 100 | round: 1 }}%</strong> van de totale broeikasgasuitstoot van {{ settings.area_name }}. Het gemaakte scenario zorgt dat deze energetische uitstoot en non-energetische uitstoot van kunstmest in eindjaar <strong> {{future.dashboard_reduction_of_co2_emissions_versus_1990 | times: 100 | round: 1 }}% </strong>  is veranderd ten opzichte van 1990. Dit rapport richt zich op het hele energiesysteem, namelijk huishoudens, overige gebouwen en diensten, mobiliteit, industrie en landbouw. Hieronder is te zien hoe de CO<sub>2</sub>-uitstoot zich ontwikkelt in het scenario.

      {% chart co2_emissions %}
        CO<sub>2</sub>-uitstoot gebaseerd op primair energiegebruik en uitgesplitst in sectoren voor 1990 (links),
        {{ settings.start_year }} (midden),
        en {{ settings.end_year }} (rechts). Deze getallen gelden voor de hele energetische keten inclusief
        omzet- en transportverliezen.
      {% endchart %}
    </p>

  <ul class="summary-main">

    <li><!-- class="target-met"> -->
      <p>
        <strong>Duurzaamheid</strong><br />
        De CO<sub>2</sub>-uitstoot van het energiesysteem in het scenario is <strong>{{future.policy_goal_co2_emissions_value | round: 0 | autoscale: 'MT'}}</strong>, dat is een verandering van <strong> {{future.dashboard_co2_emissions_versus_start_year |  times: 100 | round: 1 }}% </strong> ten opzichte van de uitstoot in {{ settings.start_year }} van <strong>{{present.policy_goal_co2_emissions_value | round: 3 | autoscale: 'MT'}}</strong> en <strong> {{future.dashboard_reduction_of_co2_emissions_versus_1990 | times: 100 | round: 1 }}% </strong> verandering ten opzichte van de uitstoot in 1990.
      </p>
    </li>

    <li>
        <strong>Besparing</strong><br />
        De (finale) energievraag van alle sectoren is (<strong>{{ future.final_demand| round: 0 | autoscale: 'MJ' }}</strong>) en is <strong> {{future.final_demand_difference | times: 100 | round: 1 }}% </strong> veranderd ten op zichte van {{ settings.start_year }} (<strong>{{present.final_demand | round: 0 | autoscale: 'MJ' }}</strong>)
      </p>
    </li>

    <li>
      <strong>Betrouwbaarheid</strong><br />
      Het scenario heeft <strong>{{ future.dashboard_blackout_hours | without_unit }}</strong> uren met stroomuitval. Daarnaast komt <strong>{{future.dashboard_energy_import_netto | times: 100 | round: 0 }}%</strong> van de energie van buiten het eigen gebied.
    </li>

      <li>
      <p>
        <strong>Betaalbaarheid</strong><br />
        De kale kosten voor het hele energiesysteem zijn in dit scenario veranderd met <strong>{{future.total_costs_percentage | times: 100 | round: 1 }}%</strong> in vergelijking met {{ settings.start_year }}.
      </p>
    </li>
    <li>
        <strong>Ruimtelijke impact</strong><br />
        De totale ruimte voor zonneparken is <strong>{{ future.solar_park_total_land_use | round: 0 | without_unit | times: 100 }}</strong> hectare (met de aanname 1.5 hectare per MW), dat is gelijk aan <strong>{{ future.solar_park_total_football_fields }}</strong> voetbalvelden. Ook staan er <strong>{{ future.number_of_wind_turbines_inland_and_coastal | round: 0 }}</strong> windmolens op land (inclusief kust) van 3 MW per stuk. De totale ruimtevraag van dit scenario voor wind is: aan de kust: <strong>{{ future.area_used_for_coastal_wind | round: 0 }}</strong>, op zee: <strong>{{ future.area_used_for_offshore_wind | round: 0 }}</strong>, op land: <strong>{{ future.area_used_for_onshore_wind | round: 0 }}</strong>
    </li>

    <!-- end: class="target-met"> -->
  </ul>
  <!-- end: main summary items -->

  <h1 class="banner">2. Energievraag</h1>

    <p>
    Het omlaag brengen van de CO<sub>2</sub>-uitstoot kan door de fossiele energievraag te verlagen. Deze energievraag is een optelsom uit vele losse ontwikkelingen. Zowel een toename of afname als een verandering in vraag kunnen tegelijkertijd spelen. Bijvoorbeeld de veranderende bevolkingsomvang (van <strong>{{ present.households_number_of_inhabitants | round: 1 | autoscale: 'M' }} miljoen</strong> naar <strong>{{ future.households_number_of_inhabitants | round: 1 | autoscale: 'M' }} miljoen</strong>), meer huizen en/of meer vervoer zorgen voor een toename in de energievraag. Daarentegen zorgen tegelijkertijd besparingen zoals isolatie en groeiende efficiënties weer voor een afname van de energievraag. Als laatste zorgen technologieveranderingen soms voor een verandering in de vraag, zowel in volume als in type energiedrager. Ter illustratie, bij een warmtepomp of elektrische auto is geen directe vraag meer naar aardgas, maar wel naar elektriciteit. De energiedrager is veranderd van gas naar elektriciteit. Ook zijn in deze gevallen de technologieën vaak efficienter, waardoor het volume afneemt. </p>


    <h2 class="banner">A. Gebouwde Omgeving</h2>
      <p>
     Dit hoofdstuk neemt u mee door de toekomstige energievraag van de gebouwde omgeving in het gemaakte scenario, dit zijn de huishoudens (=woningen) en overige gebouwen. Overige gebouwen betreft alles met een dak dat geen woning of zware industrie is. Dit zijn bijvoorbeel scholen, ziekenhuizen, gemeentehuizen en bedrijfskantoren. Zowel het volume (jaarlijkse energievraag) als de nodige energiedrager (gas, elektriciteit, warmte, waterstof, biomassa, etc...) komen aan bod.  Aan de hand van de twee vraagfuncties Kracht en Licht en Lage temperatuurwarmte zal de toekomstige energiebehoefte worden toegelicht.
     </p>

      <h3 class="banner">A1. Kracht en Licht</h3>
        <p>
        De elektriciteitsvraag van apparaten en van verlichting valt onder Kracht en Licht.</p>
          <p> De vraag naar Kracht en Licht in de huishoudens is in {{ settings.start_year }}  <strong>{{ present.households_final_demand_power_and_light | autoscale: 'MJ' }}</strong> en  <strong>{{present.households_final_demand_power_and_light_percentage | times: 100 | round: 1 }}%</strong> van de totale huidige energievraag in huishoudens. Een samenspel van de aannames voor demografie, gebruik per inwoner en technologie (bijvoorbeeld LED, gloeilamp of halogeen) beïnvloeden de toekomstige vraag. In {{ settings.end_year }} is dit totaal <strong>{{ future.households_final_demand_power_and_light | autoscale: 'MJ' }}</strong> en <strong>{{future.households_final_demand_power_and_light_percentage | times: 100 | round: 1 }}%</strong> van de totale energievraag in huishoudens. Hieronder ziet u de ontwikkeling van de energievraag als gevolg van de aannames in het scenario.
          <p>
        {% chart use_of_final_electricity_demand_in_households %}
          Finale elektriciteitsvraag van apparaten en verlichting in
          {{ settings.start_year }} (links) en {{ settings.end_year }} (rechts).
        {% endchart %}
        <p>
        De Kracht en Licht vraag van alle overige gebouwen is in {{ settings.start_year }} <strong>{{ present.buildings_final_demand_power_and_light | autoscale: 'MJ' }}</strong> en wat <strong>{{present.buildings_final_demand_power_and_light_percentage | times: 100 | round: 1 }}%</strong> van de totale huidige eindvraag van gebouwen. Een samenspel van de aannames voor aantal gebouwen, efficiënties en technologiekeuzes (bijvoorbeeld LED, gloeilamp of halogeen) leiden tot de toekomstige vraag. In {{ settings.end_year }} is dit totaal <strong>{{ future.buildings_final_demand_power_and_light | autoscale: 'MJ' }}</strong> en <strong>{{future.buildings_final_demand_power_and_light_percentage | times: 100 | round: 1 }}%</strong> van de totale energievraag in gebouwen. Hieronder ziet u de ontwikkeling van de energievraag als gevolg van de aannames in het scenario.

        {% chart use_of_electricity_in_buildings %}
        Kracht en Licht in gebouwen
          {{ settings.start_year }} (links) en {{ settings.end_year }} (rechts).
        {% endchart %}
          </p>

      <h3 class="banner">A2. Lage temperatuurwarmte</h3>
        </p>
        <h4 class="banner">Vraagontwikkeling</h4>
          <p>
          In het gemaakte scenario zijn de volgende aannames gedaan over de ontwikkeling van de huizenvoorraad en de gevolgen van isoleren.
            {% chart effect_of_insulation_in_households %}
              Isolatie in woningen/huishoudens
              {{ settings.start_year }} (links) en {{ settings.end_year }} (rechts).
            {% endchart %}

            {% chart effect_of_insulation_in_buildings %}
              Isolatie in gebouwen
              {{ settings.start_year }} (links) en {{ settings.end_year }} (rechts).
            {% endchart %}
          </p>
        <h4 class="banner"1>Invulling technologie</h4>
          <p> Een keuze voor een andere technologie om het huis, het water of het eten te verwarmen kan zorgen voor een verandering in volume, maar ook voor een verandering in vraag. De verandering in volume komt doordat een technologie meer of minder efficiënt is. Een warmtepomp is bijvoorbeeld efficiënter dan een cv-ketel. De verandering in type-vraag komt wanneer een technologie op een andere manier warmte maakt, zoals een cv-ketel gas nodig heeft en een houtkachel hout. Hieronder zie je de verandering van vraag in volume en energiedrager voor eerst huishoudens en daarna gebouwen.
          </p>
            {% chart source_of_heat_used_in_households %}
              Finale warmtevraag in huishoudens
              {{ settings.start_year }} (links) en {{ settings.end_year }} (rechts).
            {% endchart %}

            {% chart source_of_heat_in_buildings %}
              Finale warmtevraag in gebouwen
              {{ settings.start_year }} (links) en {{ settings.end_year }} (rechts).
            {% endchart %}

          <p> Koken is in {{ settings.start_year }} voor <strong>{{present.households_final_demand_cooking_percentage| times: 100 | round: 1 }}%</strong> (<strong>{{present.households_final_cooking_demand | autoscale: 'MJ' }}</strong>) verantwoordelijk voor de finale energievraag van huishoudens. In {{ settings.end_year }} is dat <strong>{{future.households_final_demand_cooking_percentage| times: 100 | round: 1 }}%</strong> (<strong>{{future.households_final_cooking_demand | autoscale: 'MJ' }}</strong>) van de finale energievraag in huishoudens. Hieronder kun je zien wat de technologiekeuze voor type energievraag creëert.
          </p>

          {% chart source_of_cooking_in_households %}
            Overzicht van hoe de huishoudens koken in
            {{ settings.start_year }} (links) en {{ settings.end_year }} (rechts).
          {% endchart %}

    <h2 class="banner">B. Mobiliteit en Transport</h2>
    <p>
    Het energiegebruik voor mobiliteit en transport is te verdelen in personenvervoer, goederenvervoer en internationaal vervoer (van goederen en personen). Hieronder kunt u zien hoe deze zich tot elkaar verhouden. Omdat internationaal transport officieel geen onderdeel is van het nationale energiegebruik, is dit energiegebruik alleen te zien als in het scenario is gekozen om het mee te laten tellen.
		{% chart transport_categories_overview %}
        Eindgebruik energie in transport
        {{ settings.start_year }} (links) en {{ settings.end_year }} (rechts).
      	{% endchart %}

	</p>

      <h3 class="banner">B1. Passagiersvervoer</h3>
      <h4 class="banner">Vraagontwikkeling</h4>
        <p>
        In het scenario zijn de volgende aannames gemaakt over de ontwikkeling van de energievraag voor personenvervoer. Deze zijn het gevolg van keuzes voor verandering in <i>mobiliteit</i> (hoeveel we reizen), <i>modaliteit</i> (of we met de auto, de fiets de trein reizen) en de <i>technologie</i> (elektrische of benzineauto's). Tot slot kunnen deze technologieën elk nog efficiënter worden.
        	{% chart use_of_final_demand_in_passenger_transport %}
        	Overzicht van energievraag van passagiersvervoer
        	{{ settings.start_year }} (links) en {{ settings.end_year }} (rechts).
      		{% endchart %}

			Als voorbeeld is hier het energiegebruik van de verschillende soorten auto's te zien
			{% chart use_of_final_demand_in_cars %}
        	Finaal energiegebruik van personenauto's
        	{{ settings.start_year }} (links) en {{ settings.end_year }} (rechts).
      		{% endchart %}

  		</p>

      <h3 class="banner">B2. Goederenvervoer</h3>
      <h4 class="banner">Vraagontwikkeling</h4>
        <p>
     	In het scenario zijn de volgende aannames gemaakt over de ontwikkeling van de energievraag voor goederenvervoer. Deze zijn het gevolg van keuzes voor verandering in <i>volume</i> (hoeveel we vervoeren), <i>modaliteit</i> (of we met de vrachtwagen, trein of binnenvaartschip doen) en de <i>technologie</i> (waterstof of dieseltrucks). Tot slot kunnen deze technologieën elk nog efficiënter worden.
			{% chart use_of_final_demand_in_freight_transport %}
      		Overzicht van energievraag van goederenvervoer
        	{{ settings.start_year }} (links) en {{ settings.end_year }} (rechts).
      		{% endchart %}
		</p>

      <h3 class="banner">B3. Internationaal vervoer</h3>
      {% if future.international_transport_in_scenario > 0.0 %}
      <h4 class="banner">Vraagontwikkeling</h4>
		<p>
		Internationaal transport is officieel geen onderdeel van het nationaal energiegebruik. Hoewel het officieel niemands 'probleem' is, is het er natuurlijk wel. Hieronder zie je hoeveel energiegebruik er voor internationale scheep- en luchtvaart is.
      		{% chart international_transport_categories_overview %}
      		Overzicht van energiegebruik voor internationaal transport
        	{{ settings.start_year }} (links) en {{ settings.end_year }} (rechts).
      		{% endchart %}
		</p>
      {% else %}
      <p>
      De internationale lucht- en scheepvaart is niet meegenomen in dit scenario.
      </p>
      {% endif %}


    <h2 class="banner">C. Industrie</h2>
      <p> Hieronder zie je de energievraag van de industriële sectoren. De breedte van iedere kolom geeft aan hoeveel energie deze gebruikt. De energiedragers worden ingezet voor Kracht en Licht en een Warmte. Deze grafiek bevat geen inzet van energiedragers als grondstoffen (niet-energetisch). Sectoren als Chemie, Raffinaderijen, Kunstmest en Metaalsector hebben veelal een hoge temperatuurwarmtevraag. Om deze temperaturen te bereiken is het meestal nodig om iets te verbranden (aardgas, groen gas, waterstof of biomassa bijvoorbeeld). De andere sectoren hebben vaker een vraag naar lagere temperatuurwarmte die makelijker door duurzame alteratieven kan worden ingevuld.
      {% chart mekko_of_detailed_final_demand_in_industry_energetic %}
        Overzicht van alle industriële sub-sectoren en energievraag in {{ settings.end_year }}
      {% endchart %}
  	</p>

    <h2 class="banner">D. Totale finale energievraag van {{ settings.area_name }} (inclusief Landbouw en overig)</h2>
    <p>
    Hieronder zie een overzicht van de totale finale energievraag van alle sectoren in {{ settings.area_name }} in {{ settings.end_year }}. De breedte van iedere kolom geeft aan hoe groot de energievraag is in iedere sector, de kleur geeft aan wat voor vraag het is.
    </p>

        {% chart final_demand_mekko_energetic_mece %}
          Totale eindvraag van energie in {{ settings.end_year }} in {{ settings.area_name }}
        {% endchart %}

  <h1 class="banner">3. Matchen van vraag en aanbod</h1>
    <p> Alle energievraag van de sectoren moet natuurlijk ergens vandaan komen. Hieronder bekijken wij de invulling van  elektriciteit, warmtenetten, waterstof, biomassa en eventueel nog aanwezige fossiele bronnen.
    </p>

    <h2 class="banner">A. Elektriciteit</h2>
      <h3> A1. Vraag en aanbod (jaarlijks)</h3>
      <p>
      Ook de elektriciteit moet natuurlijk ergens vandaan komen. De meeste elektriciteit in jouw scenario wordt geproduceerd met {{ future.biggest_electricity_producer_name | i18n: 'output_element_series.labels' }} ({{ future.biggest_electricity_producer_value | autoscale: 'MJ'}}). Het rode lijntje is het jaarlijkse volume aan elektriciteit dat er in het scenario nodig is. Het kan voorkomen dat er toch veel import (donkerblauw) nodig is terwijl er jaarlijks (meer dan) genoeg elektriciteit wordt opgewekt. Het ETM berekent vraag en aanbod van elektriciteit op uurbasis. Dit scenario heeft qua volume <strong>{{future.imported_electricity_percentage| times: 100 | round: 1 }}%</strong> import van elektriciteit. Daarnaast valt de stroom in dit scenario <strong>{{ future.dashboard_blackout_hours | without_unit }}</strong> uren uit en is {{ settings.area_name }} voor <strong>{{future.dashboard_security_of_supply }}</strong> uren afhankelijk van import. Flexibiliteitsopties zoals opslag in batterijen, waterstof of slim omgaan met de vraag kunnen helpen om de overschotten en de import omlaag te brengen.
      </p>
      {% chart source_of_electricity_production %}
          Elektriciteitsvraag- en aanbod voor {{ settings.start_year }} (links) en {{ settings.end_year }} (rechts).
      {% endchart %}

        <h3> A2. Elektriciteitsmarkt en Flexibiliteit (uurbasis)</h3>

        {% if settings.merit_order_enabled %}
          <h4>Merit order en brandstofprijzen</h4>

            <p>
            De elektrciteitsmarkt is georganiseerd volgens de zogenaamde <i>merit order</i> van elektriciteitsproductie.
			Deze sorteert regelbare elektriciteitscentrales op <i>marginale kosten</i> (de kosten van het produceren
			van een extra MWh elektriciteit).
       		Wind, zon-PV en must-run WKK hebben effectief marginale kosten van 0 €/MWh.
            De onderstaande grafiek toont marginale kosten en geïnstalleerd vermogen van elektriciteitsproductie in
            jouw scenario.
            </p>

            {% chart merit_order %}
            Merit order en marginale kosten in {{ settings.end_year }}.
            {% endchart %}

            <p>
            Afhankelijk van de vraag op elk moment in het jaar bepaalt de merit order welke centrales draaien en welke niet.
			De goedkoopste mogen eerst leveren, daarna de eerstvolgende in marginale kosten, etc. Wind en zon-PV gaan dus
			altijd voor, terwijl
            centrales met lage marginale kosten zoals kerncentrales meestal basislast leveren. Centrales met hogere
            marginale kosten vangen tenslotte de pieken in de vraag op.
            </p>

            <p>
            Marginale kosten voor centrales worden voornamelijk door brandstofprijzen bepaald. Door de
            prijs van kolen of CO<sub>2</sub> op te voeren in het ETM kunnen gasgestookte centrales meer competitief
            worden met kolencentrales, bijvoorbeeld.
            </p>

	        <h4>Elektriciteitsoverschotten</h4>

	        <p>
			Het scenario heeft <strong>{{future.dashboard_total_number_of_excess_events }}</strong> uren overschotten,
			van de totale <strong> 8,760 </strong> uren die er totaal in een jaar zitten. Flexibele elektriciteitsvraag kan ingezet worden om beter gebruik te maken van de beschikbare elektriciteit. Hieronder zie je hoe de flexibele vraag naar elektriciteit wordt ingezet:

			{% chart use_of_excess_electricity %}
	        Een overzicht van de consumptie van elektriciteit door flexibele vraag en hoe deze in het scenario wordt ingezet in {{ settings.end_year }}.
	        {% endchart %}


        	<h4> Winstgevendheid </h4>

            <p>
            Betrouwbaarheid van (elektriciteits)aanbod en de winstgevendheid van elektriciteitscentrales zijn direct met elkaar gelinkt.
            Dispatchable centrales maken winst als ze veel draaiuren hebben, liefst op momenten dat de elektriciteitsprijs
			hoog is.
            Een betrouwbaar elektriciteitssysteem heeft echter back-up centrales nodig om extreme pieken op te vangen die
			maar een paar keer per jaar optreden. Die centrales hebben dus typisch weinig draaiuren.
            </p>

	        <!-- Unprofitable plants -->
	        	{% if future.profitability_percentage < 100 %}

	            <p>
	            In dit scenario is <strong> {{ 100 | minus: future.profitability_percentage | round: 1 }}% </strong> van de dispatchable centrales verliesgevend.
	            Dit betekent dat ze hun investeringen (CAPEX) niet terugverdienen (oranje in onderstaande tabel)
	            of zelfs hundraaikosten (OPEX) niet dekken (rood).
	            	{% chart plant_profitability %}
	              	Winstgevendheid van dispatchable elektriciteitscentrales in {{ settings.end_year }}.
	            	{% endchart %}

	            Het is niet te verwachten dat verliesgevende centrales lang open zullen blijven, tenzij de elektriciteitsmarkt
				hervormd wordt met een capaciteitsvergoeding bijvoorbeeld. Om winstgevendheid te verbeteren kan men:
	              <ul>
	                <li><strong>De elektriciteitsvraag laten toenemen</strong>: door centrales meer draaiuren te geven kun je hun winstgevendheid
	                  verbeteren.</li>
	                <li><strong>Concurrerende productie verlagen</strong>: elektriciteit uit wind en zon-PV heeft geen marginale kosten,
	                  daardoor worden conventionele (dispatchable) centrales uit de markt 'gedrukt'.</li>
	                <li><strong>Centrales sluiten</strong>: dit vergroot het realisme van het scenario en kan de kosten voor het systeem
	                  verlagen.</li>
	              </ul>
	            </p>
	        	{% endif %}


        	<h4> Leveringszekerheid </h4>

        	<p>
          	De 'loss of load expectation' (LOLE) is het verwachte aantal uur per jaar dat er
          	niet aan de elektriciteitsvraag kan worden voldaan met het opgestelde productievermogen.
          	Een LOLE groter dan nul betekent niet direct dat het licht uitgaat omdat elektriciteit kan worden
          	geïmporteerd of uit batterijen kan worden gehaald. In Nederland wordt een LOLE van 4 u/j
          	acceptabel geacht.
        	</p>

        	<p>
          	In jouw scenario staat <strong>{{ future.dispatchable_electricity_production_capacity | autoscale: 'MW' }}</strong>
          	betrouwbaar (regelbaar) productievermogen opgesteld. Dit resulteert in
          	{{ future.dashboard_security_of_supply | without_unit }} uur 'loss of load' per jaar.
        	</p>

			<p>
        	Onderstaande figuur geeft aan hoe de piekvraag naar elektriciteit zich verhoud tot de hoeveelheid
			regelbaar en niet-regelbaar productievermogen.

				{% chart security_of_supply %}
          		Betrouwbaarheid van elektriciteitsopwek in {{ settings.end_year }}.
        		{% endchart %}

			</p>

			<p>
          	Net zoals LOLE is het aantal black-out uren een maat voor de betrouwbaarheid van je elektriciteitssysteem.
          	Het verschil met LOLE is dat nu ook de mogelijkheid van import en opslag in batterijen wordt meegenomen om
          	tekorten op te vangen.
        	</p>

        		{% if future.dashboard_blackout_hours > 1 %}
          	<p>
            Je scenario heeft {{ future.dashboard_blackout_hours | without_unit }} blackout-uren.
            Installeer meer back-up capaciteit in de aanbod-sectie van het ETM of verlaag de vraag naar elektriciteit.
            Stroom uit zon en wind hebben beperkte betrouwbaarheid omdat het niet altijd waait en de zon niet continu
            schijnt.
          	</p>
        		{% else %}
          	<p>
            	Je scenario heeft geen black-outs.
          	</p>
        		{% endif %}

			{% endif %}


        <h3> A5. Elektriciteitsnetten </h3>
       	<p>
		De energietransitie heeft gevolgen voor het elektriciteitsnet. In de tabel kan je de piekbelasting en
		bruikbare capaciteit zien op de verschillende netniveau's.
        </p>

  			{% chart electricity_network_capacity_and_peaks %}
          	Deze tabel geeft een overzicht van de impact op de netten op laagspanning (ls), middenspanning (ms)
 			en hoogspanning (hs), evenals de tussenliggende transformatoren. Voor detailvragen over de netten
			zul je altijd contact op moeten nemen met de netbeheerder.
          	{% endchart %}

    <h2 class="banner">B. Warmtenetten</h2>
    <p>
    Er zijn drie typen warmtenetten in het ETM opgenomen: hoge-temperatuur (HT), midden-temperatuur (MT) en lage-temperatuur (LT). 

    Het Sankey diagram hieronder toont
        <ul>
            <li><strong>welke bronnen</strong> warmte leveren aan de warmtenetten (linkerkolom);</li>
            <li><strong>welk type</strong> warmtenet de geleverde warmte ontvangt (middelste kolom), en</li>
            <li><strong>welke gebruikers</strong> warmte uit elk type warmtenet afnemen (rechterkolom)</li>
          </ul>
      </p>
    
    Wanneer er te	weinig warmteaanbod is in het scenario, dan springt er een gas back-up ketel aan. Eventuele overschotten van warmte worden per temperatuurniveau ook in het diagram getoond. 
        {% chart sankey_heat_networks %}
        Aanbod (links) en vraag (rechts) op de warmtenetten in {{ settings.end_year }}.
        {% endchart %}
  	</p>

    {% if future.final_demand_of_ht_heat_total > 0.0 %}
      {% if future.unused_heat_in_ht_heat_network > 0.0 %}
        <p>
          In het <strong>HT warmtenet</strong> wordt er 
          {{ future.ht_network_to_unused_heat_in_sankey_heat_networks | autoscale: 'PJ'}}
          aan overtollige warmte geproduceerd die niet door andere sectoren wordt benut. 
        </p>

        <p>Je kunt vraag en aanbod als volgt op elkaar afstemmen:</p>

        <ul>
          <li><strong>Productieverlaging</strong>: verlaag het aantal warmtebronnen</li>
          <li><strong>Vraagtoename</strong>: vergroot de warmtevraag van de sectoren in het rechterdeel van het diagram</li>
        </ul>
      {% else %}
        <p>
          In het <strong>HT netwerk</strong> is er onvoldoende warmte geproduceerd. Een back-up gasketel wordt nu ingezet om het tekort van
          {{ future.heat_production_from_backup_burner_ht_network_gas | autoscale: 'MJ'}}
          op te vangen.
        </p>

        <p>Je kunt vraag en aanbod als volgt op elkaar afstemmen:</p>

        <ul>
          <li><strong>Productieverhoging</strong>: vergroot het aantal warmtebronnen
          <li><strong>Vraagverlaging</strong>: reduceer de warmtevraag van de sectoren in het rechterdeel van het diagram</li>
        </ul>
      {% endif %}
    {% endif %}

    {% if future.final_demand_of_mt_heat_total > 0.0 %}
      {% if future.unused_heat_in_mt_heat_network > 0.0 %}
        <p>
          In het <strong>MT warmtenet</strong> wordt er 
          {{ future.mt_network_to_unused_heat_in_sankey_heat_networks | autoscale: 'PJ'}}
          aan overtollige warmte geproduceerd die niet door andere sectoren wordt benut. 
        </p>

        <p>Je kunt vraag en aanbod als volgt op elkaar afstemmen:</p>

        <ul>
          <li><strong>Productieverlaging</strong>: verlaag het aantal warmtebronnen</li>
          <li><strong>Vraagtoename</strong>: vergroot de warmtevraag van de sectoren in het rechterdeel van het diagram</li>
        </ul>
      {% else %}
        <p>
          In het <strong>MT warmtenet</strong> is er onvoldoende warmte geproduceerd. Een back-up gasketel wordt nu ingezet om het tekort van
          {{ future.heat_production_from_backup_burner_mt_network_gas | autoscale: 'MJ'}}
          op te vangen.
        </p>

        <p>Je kunt vraag en aanbod als volgt op elkaar afstemmen:</p>

        <ul>
          <li><strong>Productieverhoging</strong>: vergroot het aantal warmtebronnen
          <li><strong>Vraagverlaging</strong>: reduceer de warmtevraag van de sectoren in het rechterdeel van het diagram</li>
        </ul>
      {% endif %}
    {% endif %}

    {% if future.final_demand_of_lt_heat_total > 0.0 %}
      {% if future.unused_heat_in_lt_heat_network > 0.0 %}
        <p>
          In het <strong>LT warmtenet</strong> wordt er 
          {{ future.lt_network_to_unused_heat_in_sankey_heat_networks | autoscale: 'PJ'}}
          aan overtollige warmte geproduceerd die niet door andere sectoren wordt benut. 
        </p>

        <p>Je kunt vraag en aanbod als volgt op elkaar afstemmen:</p>

        <ul>
          <li><strong>Productieverlaging</strong>: verlaag het aantal warmtebronnen</li>
          <li><strong>Vraagtoename</strong>: vergroot de warmtevraag van de sectoren in het rechterdeel van het diagram</li>
        </ul>
      {% else %}
        <p>
          In het <strong>LT warmtenet</strong> is er onvoldoende warmte geproduceerd. Een back-up gasketel wordt nu ingezet om het tekort van
          {{ future.heat_production_from_backup_burner_lt_network_gas | autoscale: 'MJ'}}
          op te vangen.
        </p>

        <p>Je kunt vraag en aanbod als volgt op elkaar afstemmen:</p>

        <ul>
          <li><strong>Productieverhoging</strong>: vergroot het aantal warmtebronnen
          <li><strong>Vraagverlaging</strong>: reduceer de warmtevraag van de sectoren in het rechterdeel van het diagram</li>
        </ul>
      {% endif %}
    {% endif %}

    <h2 class="banner">C. Waterstof</h2>
    {% if future.hydrogen_used_in_scenario > 0.0 %}
    	<p>
		Er wordt in dit scenario waterstof ingezet. Deze waterstof moet ergens vandaan komen.
		Hieronder zie je links de vraag van waterstof en rechts het aanbod. Wanneer jouw aanbod
		lager is dan de
		vraag, wordt waterstof geïmporteerd. Wanneer het aanbod hoger is dan de vraag, dan
		zie je overschotten. Indien of de waterstofimport of het -overschot groot is ben je
		als {{ settings.area_name }} gevoelig voor de waterstofprijs.
    		{% chart mekko_of_hydrogen_network %}
      		Waterstofvraag- (links) en aanbod (rechts) in {{ settings.end_year }}.
    		{% endchart %}
    	</p>

		<p>
		Hieronder staat weergegeven hoe de waterstof in het scenario ieder uur wordt ingezet. Rechtsonder in de figuur
		kun je kiezen om het hele jaar weer te geven of slechts één week van het jaar.

    		{% chart hydrogen_demand %}
      		Gebruik van waterstof door het jaar heen in {{ settings.end_year }}
    		{% endchart %}
 		</p>

		<p>
		Hieronder staat weergegeven hoe groot de benodigde opslagcapaciteit voor waterstof ten minste moet zijn. Rechtsonder de figuur
		kun je kiezen om het hele jaar weer te geven of slechts één week van het jaar.

    		{% chart hydrogen_storage %}
      		Hoeveelheid opgeslagen waterstof door het jaar heen in {{ settings.end_year }}
    		{% endchart %}
 		</p>
   	{% else %}
    <p>
    Er wordt geen waterstof gebruikt in het scenario.
    </p>
    {% endif %}



    <h2 class="banner">D. Biomassa</h2>
    {% if future.bio_footprint > 0.0 %}
    <p>
  	Hieronder zie je eerst de toekomstige biomassastromen: hoeveel
    biogrondstoffen er nodig zijn in een regio, welke biobrandstoffen er
    gebruikt worden en hoe die brandstoffen worden ingezet. Daaronder wordt
    enerzijds de toepassing van biomassa per biogrondstof inzichtelijk gemaakt
    en anderzijds hoeveel van de binnenlandse potentie voor die grondstof wordt
    benut.

    	{% chart biomass_sankey %}
      	Biomassastromen in {{ settings.end_year }}
    	{% endchart %}

    	{% chart biomass_demand_by_category %}
      	Biomassavraag per biogrondstof {{ settings.end_year }}
    	{% endchart %}
    </p>

    {% else %}
	<p>
    Er wordt geen biomassa gebruikt in het scenario.
	</p>
    {% endif %}

    <h2 class="banner">E. Fossiel</h2>
    <p>
	Hieronder is een overzicht te zien van de totale primaire energievraag van het scenario.
	Hier is goed te zien of er nog fossiel energiegebruik in het scenario zit. Let op: Geïmporteerde
	elektriciteit en waterstof kunnen ook nog een fossiele bron hebben.
    	{% chart mekko_of_primary_demand %}
    	Overzicht van de primaire energievraag in {{ settings.end_year }}
    	{% endchart %}
    </p>

    <h1>4. Import en export van energie </h1>


      <!-- If net import -->
      {% if future.total_net_energy_import > 0.0 %}
        <p>
          Je scenario heeft <strong>{{ future.total_net_energy_import | round: 1 | autoscale: 'MJ'}} </strong> netto import van energie
          in het eindjaar.
        </p>


        {% chart future_energy_imports %}
          Import en export van energie in {{ settings.end_year }}. In dit 'waterval'-diagram wordt export negatief gerekend.
          De laatste kolom beschrijft netto import (of export) van alle energie met naburige landen of regio's.
        {% endchart %}

      {% else %}
        <p>
          Jouw scenario heeft -{{ future.total_net_energy_import | round: 1 | autoscale: 'MJ'}} netto energie-export
          in {{ settings.end_year }}.
        </p>

        {% chart future_energy_imports %}
          Import en export van energie in het eindjaar. In dit 'waterval'-diagram wordt export negatief gerekend.
          De laatste kolom beschrijft netto import (of export) van alle energie met naburige landen of regio's.
        {% endchart %}

      {% endif %}

	<h1>5. Kosten </h1>
		<p>
        De kosten van het toekomstige energiesysteem zijn ruwweg
        {{ future.dashboard_total_costs | autoscale: 'euro' }} mld EUR per jaar.

        De kosten in {{ settings.end_year }} zijn opgebouwd uit:

            <ul>
              <li><strong>Investeringen</strong>.</li>
              <li><strong>Brandstofkosten</strong>: gebruikmakend van de prijzen die gezet kunnen worden in de kosten sectie.</li>
              <li><strong>Onderhoud en Beheer</strong>: zowel vast als variabel.</li>
              <li><strong>Gewogen gemiddelde kapitaalkosten (WACC)</strong>: met lineaire afschrijving.</li>
              <li><strong>Ontmanteling</strong>: alleen relevant voor kerncentrales.</li>
            </ul>

   		Kosten nemen <strong>geen</strong> subsidies en belastingen mee.

        </p>

          {% chart costs_overview_detailed %}
                        Deze grafiek geeft een overzicht van de totale kosten van het energiesysteem in {{ settings.start_year }} en {{ settings.end_year }}.
          {% endchart %}

  <h1 class="banner">6. Actieagenda</h1>
	<p>
     Er zijn veel keuzes gemaakt waarvan de impact concreter wordt als je kijkt wat dit per jaar betekent.
	In de werkelijkheid ontwikkelt zich natuurlijk niet alles lineair. Als dat wel zou gebeuren zou dat het volgende betekenen.
	</p>

    <p>
        Het scenario overbrugt {{ future.scenario_duration | round: 0 }} jaar. De aannames in het scenario
        resulteren er onder andere in dat <strong>jaarlijks</strong> gemiddeld de volgende aantallen moeten
		worden gerealiseerd:
    </p>

      <p>
      <ul class="user-values">
        <li>{{ future.hectares_of_solar_park_per_year | round: 1 | without_unit }} hectares zonneparken</li>
        <li>{{ future.number_of_wind_turbines_per_year_offshore | round: 1 }} windturbines op zee</li>
        <li>{{ future.number_of_wind_turbines_per_year_inland | round: 1 | without_unit }} windturbines op land</li>
        <li>{{ future.number_of_wind_turbines_per_year_coastal | round: 1 | without_unit }} windturbines aan de kust</li>
        <li>{{ future.number_of_residences_built_per_year | round: 1 | without_unit }} gebouwde woningen</li>
        <li>{{ future.number_of_residences_removed_from_natural_gas | round: 1 | without_unit }} van het aardgas afgehaalde woningen</li>
      </ul>
	</p>

  <h1 class="banner">7. Hernieuwbaarheid</h1>

      <h2 class="banner">B. Hernieuwbaarheid</h2>
    <p>
          Het percentage hernieuwbare energie in jouw scenario is {{ future.renewability_percentage | round: 1 }}%.

          {% chart renewability %}
            Hernieuwbaarheidspercentage van energetisch eindgebruik.
          {% endchart %}

           Voor de opwek van elektriciteit is het hernieuwbaarheidspercentage
          {{ future.share_of_renewable_electricity | times: 100 | round: 1 }}%.

          {% chart renewable_electricity %}
            Hernieuwbaarheidspercentage van elektriciteitsproductie.
          {% endchart %}

		</p>
  <h1 class="banner">8. Discussie en aandachtspunten </h1>

  <ul class="summary-extras">

    <!-- begin: national CO2 targets -->
      {% if future.co2_reduction_percentage > 49.0 %}
        <li class="target-met">
          De gerealiseerde CO<sub>2</sub>-reductie in {{ settings.end_year }} van
          {{ future.co2_reduction_percentage | round: 1 | without_unit }}%
          gaat verder dan de Nederlandse ambitie voor 2030 van 49%.

          {% if future.co2_reduction_percentage > 80.0 %}
            Je scenario gaat zelfs verder dan het EU doel van 80% - 95% reductie in
            2050!
          {% endif %}

        </li>
      {% else %}
        <li class="target-missed">
          De gerealiseerde CO<sub>2</sub>-reductie van
          {{ future.co2_reduction_percentage | round: 1 | without_unit }}%
          haalt de Nederlandse ambitie voor 2030 van 49% niet.

        </li>
      {% endif %}

    <!-- end: national CO2 targets -->

    {% if future.electricity_curtailed > 0 %}
      <li class="target-missed">
        Je scenario heeft {{ future.electricity_curtailed | autoscale: 'PJ' }}
        ongebruikte elektriciteit en {{ future.electricity_exported | autoscale: 'PJ' }} export. Je kunt deze elektriciteit nuttig inzetten!
      </li>
    {% else %}
      <li class="target-met">
        Je scenario heeft geen elektriciteitsoverschotten (curtailment)
      </li>
    {% endif %}

    {% if future.dashboard_blackout_hours > 0 %}
      <li class="target-missed">
        Je scenario heeft {{ future.dashboard_blackout_hours | without_unit }}
        blackout uren. Reduceer de vraag naar elektriciteit of instaleer meer
        backup-vermogen.
      </li>
    {% else %}
      <li class="target-met">
        Je scenario heeft geen blackouts.
      </li>
    {% endif %}

    {% if future.primary_energy_demand_percentage_wrt_start_year > 95.0 %}
      <li class="target-missed">
        Het primaire energiegebruik in je scenario is
        {{ future.primary_energy_demand_percentage_wrt_start_year | round: 1 }}%
        van de {{ settings.start_year }} startwaarde.
      </li>
    {% else %}
      <li>
        In je scenario is primair energiegebruik gereduceerd tot
        {{ future.primary_energy_demand_percentage_wrt_start_year | round: 1 }}%
        van de startwaarde {{ settings.start_year }}.
      </li>
    {% endif %}

    {% if future.share_of_greengas_in_gas_network > 0.1 %}
      <li class="target-missed">
        Bijmengen van meer dan 10% groen gas in het gas netwerk vergt grote
        aanpassingen en investering. Jouw scenario heeft
        {{ future.share_of_greengas_in_gas_network | times: 100 | round: 1 }}%
        groen gas in het gasnet.
      </li>
    {% endif %}

  </ul>
  <h2>Mogelijke inconsistenties</h2>

  <!-- Relation between EV and refineries and metal industry -->
  {% if future.ev_percentage > 50 %}
    {% if future.refinery_percentage > 50 %}

      <h3>Raffinaderijen en elektrische auto's</h3>

      <p>
        In jouw scenario vertegenwoordigen elektrische auto's (EV) {{ future.ev_percentage | round: 1 }}%
        van alle auto's terwijl raffinaderijen nog steeds {{ future.refinery_percentage | round: 1 }}%
        van hun grootte in het startjaar hebben.

        Denk je dat dit realistisch is? Het is aannemelijk dat er een correlatie bestaat tussen afname van
        benzine- en dieselgebruik en krimp van de raffinagesector.
      </p>

      {% chart refinery %}
        Sankey diagram van olieproductien in de raffinagesector.
      {% endchart %}

    {% endif %}

    {% if future.steel_industry_percentage > 50 %}
      <h3>Grootte van de staalindustrie en elektrisch vervoer</h3>

        <p>
          Een aanzienlijk deel van staalproductie is voor de automobielindustrie.
          Als zelfrijdende, elektrische auto's een vlucht gaan nemen neemt het aantal auto's
          op de weg sterk af.

          In jouw scenario vertegenwoordigen elektrische auto's (EV) {{ future.ev_percentage | round: 1 }}%
          van alle auto's terwijl de staalindustrie nog {{ future.steel_industry_percentage | round: 1 }}%
          van zijn huidige grootte heeft.

          Denk je dat dit realistisch is? Het is aannemelijk dat er een correlatie bestaat tussen afname van
          auto's en krimp van de staalsector.
        </p>

    {% endif %}
  {% endif %}

  <!-- If curtailment occurs, why not build more flex or industry use of H2? -->

    <h2>Onbenut potentieel</h2>

    In jouw scenario zijn er
    {{ future.dashboard_total_number_of_excess_events }} uren dat elektriciteitsproductie hoger is dan de vraag.

    {% if future.electricity_curtailed > 0 %}
    Een deel van deze elektriciteit wordt nu niet gebruikt (gecurtailed). Je kunt deze onbenutte energie als volgt inzetten

    <ul>
      <li><strong>Opslag</strong>: in de flexibiliteits-sectie kun je aangeven hoeveel thuisbatterijen er moeten
        komen en welk deel van EV accu's kunnen worden ingezet voor opslag.</li>
      <li><strong>Omzetting naar (waterstof)gas</strong>: in de flexibiliteits-sectie kun je power-to-gas (P2G) centrales
        neerzetten om elektriciteit om te zetten in waterstofgas.</li>
      <li><strong>Omzetting in warmte</strong>: in de flexibiliteits-sectie kun je power-to-heat (P2H) installaties
        bouwen waarmee warmte wordt geproduceerd voor residentiële of industriële warmtenetten.</li>
      <li><strong>Interconnectiviteit vergroten</strong>: in de import/export sectie kun je de capaciteit van de
         interconnectoren met buurlanden vergroten zodat elektriciteit kan worden geëxporteerd.</li>
      <li><strong>Vraagtoename</strong>: door bijvoorbeeld ruimteverwarming, warm waterproductie of
       transport te elektrificeren.</li>
    </ul>

    {% else %}
    Alle elektriciteitsoverschotten worden al ingezet: je hebt dus geen onbenut potentieel.

    {% endif %}

  <h2>Extreme aannames</h2>

  <p>
    Afhankelijk van je keuzes worden er in deze sectie aannames uitgelicht die een extreme verandering van het
    energiesysteem impliceren.
    Dit kan helpen om te bepalen welke aspecten van je scenario nog extra onderbouwing of onderzoek vergen.
  </p>


  <!-- Extreme amount of greengas -->
  {% if future.share_of_greengas_in_gas_network > 0.05 %}

    <h3>Groen gas en landbouwareaal</h3>

    <p>
      Je scenario heeft {{ future.share_of_greengas_in_gas_network | times: 100 | round: 1 }}% groen gas in het gasnet
      Voor de productie van dat gas is {{ future.bio_footprint_of_greengas_km | round: 1 }} landbouwgrond nodig
      ({{ future.bio_footprint_of_greengas_fraction_of_areable_land | round: 1 }} keer het landbouwareaal van je regio).
    </p>

  {% endif %}



    <ul class="summary-extras">

      {% if future.dashboard_blackout_hours > 0 %}
        <li class="target-missed">
          Je scenario heeft {{ future.dashboard_blackout_hours | without_unit }}
          blackout uren. Reduceer de vraag naar elektriciteit of installeer meer
          backup-vermogen.
          <a href="#a2-elektriciteitsmarkt-en-flexibiliteit-uurbasis" class="learn-more">Lees verder &raquo;</a>
        </li>
      {% else %}
        <li class="target-met">
          Je scenario heeft geen blackouts.
          <a href="#a2-elektriciteitsmarkt-en-flexibiliteit-uurbasis" class="learn-more">Lees verder &raquo;</a>
        </li>
      {% endif %}

      {% if future.primary_energy_demand_percentage_wrt_start_year > 95.0 %}
        <li class="target-missed">
          Het primaire energiegebruik in je scenario is
          {{ future.primary_energy_demand_percentage_wrt_start_year | round: 1 }}%
          van de {{ settings.start_year }} startwaarde.
          <a href="#3-matchen-van-vraag-en-aanbod" class="learn-more">
            Lees verder &raquo;
          </a>
        </li>
      {% else %}
        <li>
          In je scenario is primair energiegebruik gereduceerd tot
          {{ future.primary_energy_demand_percentage_wrt_start_year | round: 1 }}%
          van de startwaarde {{ settings.start_year }}.
          <a href="#3-matchen-van-vraag-en-aanbod" class="learn-more">
            Lees verder &raquo;
          </a>
        </li>
      {% endif %}

      {% if future.share_of_greengas_in_gas_network > 0.1 %}
        <li class="target-missed">
          Bijmengen van meer dan 10% groen gas in het gas netwerk vergt grote
          aanpassingen en investering. Jouw scenario heeft
          {{ future.share_of_greengas_in_gas_network | times: 100 | round: 1 }}%
          groen gas in het gasnet.
          <a href="#extreme-aannames" class="learn-more">Lees verder &raquo;</a>
        </li>
      {% endif %}

      {% if future.profitability_percentage.value < 100 %}
        <li>
          {{ 100 | minus: future.profitability_percentage | round: 1 }}% van de
          elektriciteitscentrales in je scenario zijn niet winstgevend. Denk
          je dat ze er nog zullen zijn in {{ settings.end_year }}?
          <a href="#a2-elektriciteitsmarkt-en-flexibiliteit-uurbasis" class="learn-more">
            Lees verder &raquo;
          </a>
        </li>
      {% endif %}

    </ul>


      <h2>Sankey-diagram van CO<sub>2</sub>-uitstoot</h2>

      <p>
       Het onderstaande Sankey diagram toont:
       <ul>
          <li><strong>welke</strong> energiedragers met name verantwoordelijk zijn voor CO<sub>2</sub>-uitstoot
            (linker kolom)</li>
          <li><strong>waar</strong> in het systeem CO<sub>2</sub> wordt uitgestoten (middelste kolom)</li>
          <li><strong>welk deel</strong> van de CO<sub>2</sub> wordt opgeslagen of uitgestoten (rechter kolom)</li>
        </ul>
      </p>

      {% chart co2_sankey %}
        Sankey diagram van de dragers en sectoren welke verantwoordelijk zijn voor CO<sub>2</sub>-uitstoot.
      {% endchart %}

      <p>
        Je kunt Carbon Capture and Storage (CCS) centrales bouwen in het 'Aanbod' deel van het ETM om de
        CO<sub>2</sub>-uitstoot van elektriciteitsopwek te verkleinen.
      </p>

  <!--     <h2>CO<sub>2</sub> emissions of biomass</h2>

      <p>
      Climate change is not induced by the annual CO<sub>2</sub> emissions, but by the total amount of CO<sub>2</sub> present
       in the air.
      </p>
      <p>
      Usually no CO<sub>2</sub> emissions are attributed to biomass as biomass absorbs as much CO<sub>2</sub> as is emitted
      during combustion (over the complete life cycle). The CO<sub>2</sub> emitted by combustion of biomass is
      not always absorbed within a time-scale that is relevant for climate change.
      </p>

      {% chart co2_emissions_biomass %}
        Which part of the CO<sub>2</sub> emissions from biomass is relevant to the environment is uncertain and
        speculative. This chart serves to explore the (potential) amount of these emissions.
      {% endchart %}
   -->

    <!-- If excess -->
    {% if future.total_number_of_excess_events > 1.0 %}
      <h2>Elektriciteitsoverschotten</h2>

        <p>In je scenario zijn er {{ future.dashboard_total_number_of_excess_events | without_unit }}
          uren per jaar waar (hernieuwbare en must-run) elektriciteitsproductie de vraag overstijgt.
          Het onderstaande histogram toont de frequentie en duur van deze events.
        </p>

        {% chart merit_order_excess_events %}
          Histogram van het aantal en de duur van elektriciteitsoverschotten.
        {% endchart %}

        <p>
          Flexibiliteitsopties zoals batterijen, power-to-heat (P2H) en power-to-gas (P2G)
          kunnen worden gebruikt om elektriciteitsoverschotten te gebruiken.
          In de sectie <a href="#onbenut-potentieel">Onbenut potentieel</a> kun je meer lezen over deze opties.
        </p>

    {% endif %}

  <h1 class="banner">9. Appendices</h1>
    <h2>Appendix A: Schuifjes-instellingen</h2>

  In deze appendix wordt een lijst gegeven van alle schuifjes die van hun startwaarde zijn verplaatst.

  {% if user_values.length %}
    <ul class="user-values">
      {% for slide in user_values %}
        <li>
          <p><strong>{{ slide.path | join: " • " }}</strong></p>
          <ul>
            {% for input in slide.user_values %}
              <li>
                {{ input.name }}:
                {{ input.default | autoscale: input.unit }} →
                {{ input.user | autoscale: input.unit }}
              </li>
            {% endfor %}
          </ul>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>
      Er zijn geen schuifjes aangepast.
    </p>
  {% endif %}

  <h2>Appendix B: Over het Energietransitiemodel</h2>

    <h3>Inleiding</h3>

      <p>
        Het <a href="https://energytransitionmodel.com" target="_blank">Energyietransitiemodel (ETM)</a> is
        een gratis, open-source, web-based
         energiemodel om energiescenario's voor de toekomst mee te verkennen.
      </p>

      <p>
        Het ETM is voor iedereen die energie-scenario's wil verkennen en creëren voor landen, steden,
        wijken en zelfs straten.
        Er wordt geen voorkennis aangenomen zodat het ETM door zowel experts als studenten kan worden gebruikt.
        Je kunt aannames maken over vraag en aanbod van verschillende soorten energie van bron tot
        toepassing. Het ETM bepaalt voor alle belanghebbenden in het systeem duurzaamheid, betrouwbaarheid
        en betaalbaarheid op nationaal en lokaal niveau.
      </p>

      <p>
        Op
        <a href="http://www.energierekenmodellen.nl" target="_blank">energierekenmodellen.nl</a> kun je zien hoe het ETM zich
        verhoudt tot andere modellen.
      </p>


    <h3>Scope van het Energietransitiemodel</h3>

      <blockquote>
        <p>
          All models are wrong but some are useful.<br/>
          <em>~ George Box</em>
        </p>
      </blockquote>

      <p>
        Hoewel Quintel alle belangrijke kenmerken van het energiesysteem probeert mee te nemen, heeft het ETM noodzakelijkerwijs
        een beperkte reikwijdte en mag het niet worden gebruikt als vervanging voor kritisch denken. Integendeel! Hopelijk, wordt de
        gebruiker geïnspireerd om dieper na te denken over de resultaten en de grenzen van het model op te zoeken!
      </p>

      <p>
        De volgende (zeer) onvolledige lijst van onderwerpen is indicatief voor de grenzen van het ETM:
        <ul>
          <li><strong>Menselijk gedrag</strong>: ongetwijfeld de grootste impact op het succes of het mislukken van de
            energietransitie valt buiten de scope van het voornamelijk technisch/financiële ETM.</li>
          <li><strong>Economische verbanden</strong>: het ETM berekent kosten op basis van gepubliceerde huidige waarden en neemt
            geen prijselasticiteit of andere economische relaties aan die in de toekomst wellicht niet langer gelden.</li>
          <li><strong>Wetgeving</strong>: het ETM berekent kosten zonder subsidies of belastingen.</li>
        </ul>

      </p>

  <!-- end: main summary items -->

</main>
