<header>
  <div class="inner">
    <h1>Your Scenario Results</h1>
    <p class="scenario-details">
      {% current_date %}
      <span class="bullet">&bull;</span>
      {% link_to_scenario %}
      <span class="bullet">&bull;</span>
      by Quintel<br />
      <span class="region {{ settings.area_code }}">
        {{ settings.area_name }}
      </span>
      <span class="bullet">&bull;</span>
      {{ settings.start_year }}
      to {{ settings.end_year }}
    </p>
  </div>
</header>

<!-- Summary table for easy comparison-->
<section class="snapshot">
  <h1 class="banner">At a glance&hellip;</h1>

  <ul class="summary-main">

    <li><!-- class="target-met"> -->
      <p>
        <strong><a href="#energy-use-and-production">Total energy</a></strong><br />
        Initial value:
        <strong>{{ present.primary_demand_caused_by_final_demand | autoscale: 'MJ' }}</strong>
        <span class="bullet">&bull;</span>
        Scenario result:
        <strong>{{ future.primary_demand_caused_by_final_demand | autoscale: 'MJ' }}</strong>
      </p>
    </li>

    <li>
      <p>
        <strong><a href="#co2-emissions">CO<sub>2</sub> emissions</a></strong><br />
        Initial value:
        <strong>{{ present.policy_goal_co2_emissions_value | autoscale: 'MT' }}</strong>
        <span class="bullet">&bull;</span>
        Scenario result:
        <strong>{{ future.policy_goal_co2_emissions_value | autoscale: 'MT' }}</strong>
      </p>
    </li>

    <li>
      <strong><a href="#renewability">Renewability</a></strong><br />
      Initial value:
      <strong>{{ present.renewability | times: 100 | round: 1 }}%</strong>
      <span class="bullet">&bull;</span>
      Scenario result:
      <strong>{{ future.renewability | times: 100 | round: 1 }}%</strong>
    </li>

    <li>
      <p>
        <strong><a href="#costs-of-energy">Costs</a></strong><br />
        Initial value:
        <strong>{{ present.policy_goal_total_energy_costs_value | autoscale: 'bln_euro' }}</strong>
        <span class="bullet">&bull;</span>
        Scenario result:
        <strong>{{ future.policy_goal_total_energy_costs_value | autoscale: 'bln_euro' }}</strong>
      </p>
    </li>
  </ul>
  <!-- end: main summary items -->

  <h4>More information</h4>

  <ul class="summary-extras">

    <!-- begin: national CO2 targets -->
    {% case settings.area_code %}
    {% when 'nl' %}
      {% if future.co2_reduction_percentage > 49.0 %}
        <li class="target-met">
          The realised CO<sub>2</sub> reduction of
          {{ future.co2_reduction_percentage | round: 1 | without_unit }}%
          exceeds the Dutch national ambition for 2030 of 49%.

          {% if future.co2_reduction_percentage > 80.0 %}
            Your scenario even surpasses the EU goal of 80% - 95% reduction by
            2050!
          {% endif %}
          <a href="#suggestions-for-improvement" class="learn-more">
            Learn more &raquo;
          </a>
        </li>
      {% else %}
        <li class="target-missed">
          The realised CO<sub>2</sub> reduction of
          {{ future.co2_reduction_percentage | round: 1 | without_unit }}%
          falls short of the Dutch national ambition for 2030 of 49%.
          <a href="#suggestions-for-improvement" class="learn-more">
            Learn more &raquo;
          </a>
        </li>
      {% endif %}

    {% when 'uk' %}
      {% if future.co2_reduction_percentage > 57.0 %}
        <li class="target-met">
          The realised CO<sub>2</sub> reduction of
          {{ future.co2_reduction_percentage | round: 1 | without_unit }}%
          exceeds the UK national ambition for 2030 of 57%.

          {% if future.co2_reduction_percentage > 80.0 %}
            Your scenario even surpasses the EU goal of 80% - 95% reduction by
            2050!
          {% endif %}
          <a href="#suggestions-for-improvement" class="learn-more">
            Learn more &raquo;
          </a>
        </li>
      {% else %}
        <li class="target-missed">
          The realised CO<sub>2</sub> reduction of
          {{ future.co2_reduction_percentage | round: 1 | without_unit }}%
          falls short of the UK national ambition for 2030 of 57%.
          <a href="#suggestions-for-improvement" class="learn-more">
            Learn more &raquo;
          </a>
        </li>
      {% endif %}
    {% endcase %}
    <!-- end: national CO2 targets -->

    {% if future.electricity_curtailed > 0 %}
      <li class="target-missed">
        Your scenario has {{ future.electricity_curtailed | autoscale: 'PJ' }}
        of curtailed electricity production. You can put this electricity to
        good use!
        <a href="#suggestions-for-improvement" class="learn-more">
          Learn more &raquo;
        </a>
      </li>
    {% else %}
      <li class="target-met">
        Your scenario has no curtailed electricity production.
      </li>
    {% endif %}

    {% if future.dashboard_blackout_hours > 0 %}
      <li class="target-missed">
        Your scenario has {{ future.dashboard_blackout_hours | without_unit }}
        blackout hours. Build more electricity backup capacity or reduce demand.
        <a href="#reliability" class="learn-more">Learn more &raquo;</a>
      </li>
    {% else %}
      <li class="target-met">
        Your scenario has no blackout hours.
        <a href="#reliability" class="learn-more">Learn more &raquo;</a>
      </li>
    {% endif %}

    {% if future.primary_energy_demand_percentage_wrt_start_year > 95.0 %}
      <li class="target-missed">
        In your scenario, primary energy use is
        {{ future.primary_energy_demand_percentage_wrt_start_year | round: 1 }}%
        of the {{ settings.start_year }} value.
        <a href="#Energy-use-and-production" class="learn-more">
          Learn more &raquo;
        </a>
      </li>
    {% else %}
      <li>
        In your scenario, primary energy use has been reduced to
        {{ future.primary_energy_demand_percentage_wrt_start_year | round: 1 }}%
        of its value in {{ settings.start_year }}.
        <a href="#Energy-use-and-production" class="learn-more">
          Learn more &raquo;
        </a>
      </li>
    {% endif %}

    {% if future.share_of_greengas_in_gas_network > 0.1 %}
      <li class="target-missed">
        Feeding in more than 10% green gas into the gas network requires large
        technical investments. Your scenario uses
        {{ future.share_of_greengas_in_gas_network | times: 100 | round: 1 }}%
        green gas.
        <a href="#extreme-assumptions" class="learn-more">Learn more &raquo;</a>
      </li>
    {% endif %}

    {% if future.profitability_percentage.value < 100 %}
      <li>
        {{ 100 | minus: future.profitability_percentage | round: 1 }}% of
        dispatchable power plants are not profitable in your scenario. Do you think they will
        still be around in {{ settings.end_year }}?
        <a href="#profitability-of-power-plants" class="learn-more">
          Learn more &raquo;
        </a>
      </li>
    {% endif %}

  </ul>
  <!-- end: summary extras -->
</section>

<main>
  {% toc %}

  <h1 class="banner">Introduction</h1>

  <p>
    This report is automatically generated by the
    <a href="https://energytransitionmodel.com" target="_blank">Energy Transition Model</a>
    <abbr>(ETM)</abbr>, based on the sliders you have set in your scenario.
  </p>
  <p>
    Each chapter in this report highlights an important result such as CO<sub>2</sub> emissions, cost,
    renewability etc. which correspond to the dashboard items of the
    <abbr>ETM</abbr>. All charts contain more information on mouse-over.
  </p>
  <p>
    Following the dashboard-chapters, the report contains a chapter with suggestions for
    improving the scenario and a chapter with implications for the years leading up to
    the end-year.
  </p>
  <p>
    Finally, appendix A lists all the sliders that were changed from their default value.
    Appendix B provides background information about the Energy Transition Model.
  </p>

  <h1 class="banner">Energy use and production</h1>

    <h2>Energy consumption</h2>

      <p>
        The {{ future.biggest_final_demand_sector_name | without_unit }} sector
        is the largest consumer of energy with
        {{ future.biggest_final_demand_sector_value | autoscale: 'MJ'}} of
        <strong>final demand</strong> (the energy which is directly consumed by
        a sector).
      </p>

      {% chart final_demand_mekko_mece %}
        Final energy demand for all sectors.
      {% endchart %}

      <p>
        When it comes to <strong>primary demand</strong> (final demand plus all
        transformation and distribution losses), the energy use for the whole
        system looks like this:
      </p>

      {% chart mekko_of_primary_demand %}
        Primary energy demand for all sectors.
      {% endchart %}

      <p>
        When looking at primary demand, exported oil (products) can play a big
        role if refineries are still producing at a significant rate.
      </p>

    <h2>Electricity production</h2>

      <p>
        In your scenario, most electricity is produced by the
        {{ future.biggest_electricity_producer_name | i18n: 'output_element_series.labels'  }} power plant
        ({{ future.biggest_electricity_producer_value | autoscale: 'MJ'}}).
      </p>

      {% chart source_of_electricity_production %}
        Electricity mix.
      {% endchart %}

    <h2>District heating</h2>

      <p>
        District heating in your scenario can be used to heat houses and
        buildings and provide heat to agricultural sectors. The
        chart below shows the yearly balance of heat produced and consumed.
      </p>

      {% chart collective_heat_mekko %}
        Demand and supply of district heating
      {% endchart %}

      {% if future.energy_heat_unused_steam_hot_water_in_collective_heat_network_mekko > 0.0 %}
        <p>
          There is
          {{ future.energy_heat_unused_steam_hot_water_in_collective_heat_network_mekko | autoscale: 'MJ'}}
          excess heat produced in agriculture or industry which flows back into the central heat
          network but is not used by other sectors.
        </p>

        <p>You can balance the network by</p>

        <ul>
          <li><strong>Reducing heat production</strong>: you can decrease the number of heat sources</li>
          <li><strong>Increase demand</strong>: you can increase the demand of all sectors in the left-hand side
            of the diagram</li>
        </ul>
      {% else %}
        <p>
          There is
          {{ future.energy_heat_backup_burner_network_gas_in_collective_heat_network_mekko | autoscale: 'MJ'}}
          insufficient heat produced to satisfy the demand of the central heat network. A backup
          gas heater is deployed to satisfy the deficit.
        </p>

        <p>You can balance the network by</p>

        <ul>
          <li><strong>Building more heat production</strong>: you can generate more heat by increasing the number of heat sources</li>
          <li><strong>Decreasing demand</strong>: by reducing the demand of all sectors in the left-hand side
            of the diagram</li>
        </ul>
      {% endif %}

  <h1 class="banner">CO<sub>2</sub> emissions</h1>

    <p>
      In your scenario, a CO<sub>2</sub> emission reduction of {{ future.co2_reduction_percentage | round: 1 | without_unit }}%
      has been realised. The chart below relates the CO<sub>2</sub> in {{ settings.end_year }} to the 1990 reference value and
      emissions in {{ settings.start_year }}.
    </p>

    {% chart co2_emissions %}
      CO<sub>2</sub> emissions based on primary energy demand broken down by sector for 1990 (left),
      {{ settings.start_year }} (middle),
      and {{ settings.end_year }} (right). These figures represent emissions across the complete fuel chain
      including all transformations and losses.
    {% endchart %}

    <!-- Supports else, elsif, and unless. -->
    {% if future.co2_reduction_percentage > 49.0 %}
      <p>
        The reduction of {{ future.co2_reduction_percentage | round: 1 | without_unit }}% exceeds the
        Dutch national ambition for 2030 of 49%.

      {% if future.co2_reduction_percentage > 80.0 %}
        Your scenario even surpasses the goal of 80% - 95% reduction aimed for by the EU for 2050!
      {% endif %}
      </p>
    {% else %}
      <p>
        In your scenario, CO<sub>2</sub> emission reductions fall short of the Dutch ambitions of 49% in 2030
        and 80% - 95% in 2050. You can reduce CO<sub>2</sub> by:
      </p>

      <ul>
        <li><strong>Realising energy savings</strong>: reduce energy consumption in the most energy-intensive sectors</li>
        <li><strong>Phasing out fossil fuels</strong>: heating and hot water in homes, transportation and electricity
          production are places where fossil fuels can be replaced by CO<sub>2</sub>-neutral alternatives.</li>
        <li><strong>CCS(U)</strong>: Capturing, storing, and optionally using CO<sub>2</sub> can be viable options in the
          energy-intensive industry and electricity generation (energy) sector.</li>
        <li><strong>Flexibility</strong>: storage and conversion technologies enable you to utilise energy which would
        otherwise be exported or curtailed.</li>
        <li><strong>Fuel and CO<sub>2</sub> pricing</strong>: by increasing the price of CO<sub>2</sub> and fossil fuels, fossil plants might
        get less full load hours depending on the alternatives for electricity generation.</li>
      </ul>
    {% endif %}

    <h2>Flow-diagram of CO<sub>2</sub> emissions</h2>

    <p>
     The Sankey diagram below shows:
     <ul>
        <li><strong>which</strong> carriers are primarily responsible for CO<sub>2</sub> emissions (left column)</li>
        <li><strong>where</strong> in the system CO<sub>2</sub> is produced (centre column)</li>
        <li><strong>which part</strong> of the CO<sub>2</sub> is captured and emitted (right column)</li>
      </ul>
    </p>

    {% chart co2_sankey %}
      Sankey diagram showing which carriers and sectors are primarily responsible for CO<sub>2</sub> emissions.
    {% endchart %}

    <p>
      You can build carbon capture and storage (CCS) power plants in the supply section of the ETM to
      reduce CO<sub>2</sub> emissions of electricity generation.
    </p>
<!--     <h2>CO<sub>2</sub> emissions of biomass</h2>

    <p>
    Climate change is not induced by the annual CO<sub>2</sub> emissions, but by the total amount of CO<sub>2</sub> present
     in the air.
    </p>
    <p>
    Usually no CO<sub>2</sub> emissions are attributed to biomass as biomass absorbs as much CO<sub>2</sub> as is emitted
    during combustion (over the complete life cycle). The CO<sub>2</sub> emitted by combustion of biomass is
    not always absorbed within a time-scale that is relevant for climate change.
    </p>

    {% chart co2_emissions_biomass %}
      Which part of the CO<sub>2</sub> emissions from biomass is relevant to the environment is uncertain and
      speculative. This chart serves to explore the (potential) amount of these emissions.
    {% endchart %}
 -->
  <h1 class="banner">Energy import and export</h1>

  <!-- If net import -->
  {% if future.total_net_energy_import > 0.0 %}
    <p>
      Your scenario has {{ future.total_net_energy_import | round: 3 | autoscale: 'MJ'}} of net energy import
      in the end-year.
    </p>


    {% chart waterfall_future_energy_imports %}
      Import and export of energy in the end-year. In this 'waterfall' diagram, export is indicated with a minus sign.
      The last column depicts the net import (or export) of all energy with neighbouring countries.
    {% endchart %}

  {% else %}
    <p>
      Your scenario has -{{ future.total_net_energy_import | round: 1 | autoscale: 'MJ'}} of net energy export
      in the end-year.
    </p>


    {% chart waterfall_future_energy_imports %}
      Import and export of energy in the end-year. In this 'waterfall' diagram, export is indicated with a minus sign.
      The last column depicts the net import (or export) of all energy with neighbouring countries.
    {% endchart %}

  {% endif %}


  <!-- If excess -->
  {% if future.total_number_of_excess_events > 1.0 %}
    <h2>Excess Electricity Production</h2>

      <p>You created a scenario where for {{ future.dashboard_total_number_of_excess_events | without_unit }}
        hours in the year, (volatile and must-run) electricity production exceeds demand. The histogram below
        shows what the frequency and distribution of durations of excess events are.
      </p>

      {% chart merit_order_excess_events %}
        Histogram showing number and duration of excess events.
      {% endchart %}

      <p>
        Flexibility options such as batteries, power-to-heat and power-to-gas can be used to increase electricity
        demand and use it for later (storage) or for heating (power-to-heat) or replace natural gas (power-to-gas).
        In section <a href="#unused-potential">Unused potential</a>, more details of how to use excess can be
        found.
      </p>

  {% endif %}


  <h1 class="banner">Costs of the energy system</h1>
    <h2>Cost of the energy system</h2>

      <p>
        Costs of the future energy system are roughly
        {{ future.dashboard_total_costs | autoscale: 'euro' }} and are broken down in the following chart.
        Costs include

        <ul>
          <li><strong>Investments</strong>.</li>
          <li><strong>Fuel costs</strong>: using fuel prices set in the costs section.</li>
          <li><strong>Operation and Maintenance</strong>: both variable and fixed.</li>
          <li><strong>Weighted average costs of capital</strong>: assuming linear depreciation.</li>
          <li><strong>Decommissioning  costs</strong>: relevant for nuclear power plants only.</li>
        </ul>

        Costs do <strong>not</strong> include subsidies and taxes.

      </p>

      {% chart costs_overview_detailed %}
        Costs of the energy system.
      {% endchart %}


    {% if settings.merit_order_enabled %}
      <h2>Merit order and fuel prices</h2>

        <p>
          The <i>merit order</i> ranks dispatchable power plants (those which you can switch on and off)
          according to their <i>marginal costs</i> (the costs of producing an extra MWh of electricity).
          Wind, solar and must-run plants have effectively zero marginal costs.
          The marginal costs and installed capacity of power generation for your scenario is shown in the
          chart below.
        </p>

        {% chart merit_order %}
          Merit order.
        {% endchart %}

        <p>
          Depending on the demand for electricity, the merit order determines which plants are running for each hour
          of the year. The plants with lowest marginal costs will often (baseload generation) whereas plants with
          higher marginal costs might only run in cases of peak demand.
        </p>

        <p>
          Fuel prices determine to a large extend the marginal costs of power plants. Increasing the price of coal
          and/or CO<sub>2</sub> can, for instance, make gas fuelled power plants more competitive with coal fired power plants.
        </p>

<!--         {% chart overview_costs_of_electricity_production %}
          The vertical axis shows all relevant production costs of electricity for various generation technologies
          (in €/MWhe). The horizontal axis shows the investment costs (in million €/MWe).
        {% endchart %} -->


    {% endif %}

  <h1 class="banner">Security of supply and profitability of dispatchable power plants</h1>

    <h2>Reliability</h2>

    <p>
      The loss of load expectation (LOLE) is the expected number of hours per year that the electricity
       supply cannot meet its demand. A nonzero LOLE does not necessarily result in blackouts as
       electricity can be imported or can be available in batteries. The Netherlands accepts a
       LOLE of 4 h/yr. We distinguish (un)reliable electricity production as volatile electricity
       producers cannot be relied on at all times.
    </p>

    <p>
      In your scenario, there is {{ future.dispatchable_electricity_production_capacity | autoscale: 'MW' }} of
      reliable (dispatchable) electricity production. Resulting in
      {{ future.dashboard_security_of_supply | without_unit }} hours of loss of load.
    </p>

    {% chart security_of_supply %}
      Reliability of production capacity.
    {% endchart %}

    <p>
      Similar to LOLE, the number of blackout hours is a measure for the reliability of the electricity
      supply in your scenario. It also takes into account the possibility for import and flexibility to
      prevent a shortage of power.
    </p>

    {% if future.dashboard_blackout_hours > 1 %}
      <p>
        Your scenario has {{ future.dashboard_blackout_hours | without_unit }} blackout hours.
        Try building more reliable back-up capacity in the electricity production section.
        Note that solar and wind power are intermittent and cannot add reliable electricity at all
        times.
      </p>
    {% else %}
      <p>
        Your scenario has zero blackout hours.
      </p>
    {% endif %}

    {% if settings.merit_order_enabled %}
      <h2>Profitability of dispatchable power plants</h2>

        <p>
          Security of (electricity) supply and the profitability of dispatchable power plants are intimately linked.
          For dispatchable power plants to make money, they need to run sufficiently often, ideally when
          electricity prices are high.
          A reliable electricity system traditionally requires, however,
          that there are power plants available which are only needed for a couple of extreme demand peaks
          every year.
        </p>

        <p>
          In your scenario, {{ 100 | minus: future.profitability_percentage | round: 1 }}% of the dispatchalbe power plants is not
          profitable. This means that they are not earning back their investment costs
          (orange in table below) or are not even earning their OPEX (operational expenditure) back (red).
        </p>

        {% chart plant_profitability %}
          Profitability of dispatchable power plants.
        {% endchart %}

        <p>
          Unprofitable plants will likely be taken out of commission after a while. You can improve their profitability
          by increasing electricity demand (making them run more hours). Also reducing electricity generation with zero
          marginal costs can make power plants profitable again.
        </p>
    {% endif %}

  <h1 class="banner">Renewability</h1>

    <h2>Renewability</h2>

      The percentage of renewable energy in your scenario is {{ future.renewability_percentage | round: 1 }}%.

      {% chart renewability %}
        Renewability percentage of final energy demand.
      {% endchart %}

      For electricity generation, the renewability is
      {{ future.share_of_renewable_electricity | times: 100 | round: 1 }}%.

      {% chart renewable_electricity %}
        Renewability of produced electricity. The renewability is defined as all renewable electricity
        production divided by local electricity consumption and can be larger than 100%.
      {% endchart %}

  <h1 class="banner">Implications of this scenario</h1>

  <h2>Investments needed</h2>

  <p>
    Your scenario spans {{ future.scenario_duration | round: 0 }} years. The various assumptions imply that on average
    the following list of technologies need to be installed every year
  </p>

  <ul>
    <li>{{ future.number_of_wind_turbines_per_year_offshore | round: 1 }} off-shore wind turbines</li>
    <li>{{ future.number_of_wind_turbines_per_year_inland | round: 1 | without_unit }} inland wind turbines</li>
    <li>{{ future.number_of_wind_turbines_per_year_coastal | round: 1 | without_unit }} coastal wind turbines</li>
    <li>{{ future.number_of_electric_vehicles_per_year | round: 1 | without_unit }} electric vehicles</li>

  </ul>

  <h2>Area needed for wind</h2>

  <p>
    <ul>
      <li>Coastal area used by wind: {{ future.area_used_for_coastal_wind | round: 2 }} </li>
      <li>Area used by off-shore wind: {{ future.area_used_for_offshore_wind | round: 2 }} </li>
      <li>Area used by inland wind: {{ future.area_used_for_onshore_wind | round: 2 }} </li>
    </ul>

  </p>

  <h1 class="banner">Suggestions for improvement</h1>

  <h2>Possible inconsistencies</h2>

  <!-- Relation between EV and refineries and metal industry -->
  {% if future.ev_percentage > 50 %}
    {% if future.refinery_percentage > 50 %}

      <h3>Refineries and electric vehicles</h3>

      <p>
        In your scenario, electric vehicles constitute {{ future.ev_percentage | round: 1 }}%
        of all cars, yet oil refineries are still {{ future.refinery_percentage | round: 1 }}%
        of their current size.

        Do you think this is realistic? For an analysis of the correllation between electrification
        of transport and the size of the refinery sector see the report
        "Industry in Transition" (Quintel Intelligence 2016).
      </p>

      {% chart refinery %}
        Sankey diagram of oil products in refineries.
      {% endchart %}

    {% endif %}

    {% if future.steel_industry_percentage > 50 %}
      <h3>Size of steel industry and electric vehicles</h3>

        <p>
          Like oil refineries, a large part of the production output of steel plants is currently
          dedicated to cars. If, self-driving electric vehicles start to replace fossil fuel cars,
          the number  of cars can be reduced dramatically.

          In your scenario, electric vehicles constitute {{ future.ev_percentage | round: 1 }}%
          of all cars, yet the steel industry is still {{ future.steel_industry_percentage | round: 1 }}%
          of its current size.

          Do you think this is realistic?.
        </p>

    {% endif %}
  {% endif %}

  <!-- Inconsistency between heating options and insulation -->


  <!-- If curtailment occors, why not build more flex or industry use of H2? -->
  {% if future.electricity_curtailed > 0 %}

    <h2>Unused potential</h2>

    In your scenario, there are
    {{ future.dashboard_total_number_of_excess_events }} hours that electricity production by volatile and must-run producers exceeds baseload demand.
    Some of this electricity is not used (curtailed). To usefully employ this electricity you can:

    <ul>
      <li><strong>Store electricity</strong>: in the flexibility section, you can build batteries in homes or
        indicate how much of electric car batteries can be used for storing electricity.</li>
      <li><strong>Convert electricity to gas</strong>: in the flexibility section, you can build power-to-gas plants
        to convert electricity to hydrogen gas.</li>
      <li><strong>Convert electricity to heat</strong>: in the flexibility section, you can build power-to-heat plants
        which generate heat from electricity and deliver the heat to either the residential or the industrial heating network.</li>
      <li><strong>Increase interconnectivity</strong>: in the import/export section you can increase the capacity of
        the interconnectors with neighbouring countries.</li>
      <li><strong>Increase demand</strong>: by electrifying for example heating/hot water production in houses
      or transport.</li>
    </ul>


  {% endif %}

  <h2>Extreme assumptions</h2>

  <p>
    Depending on your choices, this section highlights some assumptions which
    imply big changes in the energy system. This might help you to focus on
    which aspects of your scenario could use some extra argumentation or
    research.
  </p>


  <!-- Extreme amount of greengas -->
  {% if future.share_of_greengas_in_gas_network > 0.05 %}

    <h3>Green gas and areable land</h3>

    <p>
      Your scenario has {{ future.share_of_greengas_in_gas_network | times: 100 | round: 1 }}% of greengas mixed into the gas
      network.
    </p>

  {% endif %}

  <!-- Unprofitable plants -->
  {% if settings.merit_order_enabled %}
    {% if future.profitability_percentage < 100 %}
      <p>
        In your scenario, {{ 100 | minus: future.profitability_percentage | round: 1 }}% of power plants is not
        profitable. This means that they are not earning back their investment costs and sometimes not even their running costs.
        Such plants will not stay open very long. Having them around in your future year might not be realistic.
        You can either
        <ul>
          <li><strong>Increase electricity demand</strong>: making the unprofitable plants run more hours could improve their
            situation.</li>
          <li><strong>Reduce competing production</strong>: typically, wind and solar electricity generation has marginal costs
            close to zero, 'pushing' conventional plants out of the merit order.</li>
          <li><strong>Close the plants</strong>: closing unprofitable plants might increase the realism of your scenario as such
            plants are not expected to exist very long.</li>
        </ul>
      </p>
    {% endif %}
  {% endif %}


  <h1 class="banner">Appendix A: Slider settings</h1>

  This appendix lists all the sliders which have been moved from their default value.

  {% if user_values.length %}
    <ul class="user-values">
      {% for slide in user_values %}
        <li>
          <p><strong>{{ slide.path | join: " • " }}</strong></p>
          <ul>
            {% for input in slide.user_values %}
              <li>
                {{ input.name }}:
                {{ input.default | autoscale: input.unit }} →
                {{ input.user | autoscale: input.unit }}
              </li>
            {% endfor %}
          </ul>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>
      This is an untouched scenario; no values were changed from the
      defaults.
    </p>
  {% endif %}

  <h1 class="banner">Appendix B: About The Energy Transition Model</h1>

    <h2>Introduction</h2>

      <p>
        The <a href="https://energytransitionmodel.com" target="_blank">Energy Transition Model (ETM)</a> is
        a free, open-source, web-based
         energy model for the exploration of energy scenario's.
      </p>

      <p>
        The ETM is for anyone who wants to explore and create energy scenarios for countries, cities,
        neighbourhoods and even streets.
        No prior knowledge is assumed and the ETM is therefore of interest to both experts and students.
        You can make assumptions about demand and supply of different types of energy from the source to
        the application. the ETM determines, for all stakeholders in the system, sustainability, reliability
        and affordability at national and local level.
      </p>

      <p>
        You can look up how the ETM compares to other models on
        <a href="http://www.energierekenmodellen.nl" target="_blank">energierekenmodellen.nl</a>.
      </p>


    <h2>Beyond The Energy Transition Model</h2>

      <blockquote>
        <p>
          All models are wrong but some are useful.<br/>
          <em>~ George Box</em>
        </p>
      </blockquote>

      <p>
        Although Quintel strives to properly include all important features of the energy system, the ETM necessarily
        has a limited scope and should not be used as a substitute for critical thought. On the contrary! Hopefully, the
        user is inspired to challenge results and limits of the model and starts thinking outside of the boundaries of
        the Energy Transition Model.
      </p>

      <p>
        The following (very) incomplete list of topics is indicative of the limits of the ETM:
        <ul>
          <li><strong>Human behaviour</strong>: arguably the biggest impact on the success of failure of energy transition
            is declared out of scope of the primarily technical ETM.</li>
          <li><strong>Economic relations</strong>: the ETM calculates costs based on published values but does not assume
            price-elasticity relations or other economic relations which may no longer apply in the future.</li>
          <li><strong>Policy</strong>: no subsidies or taxes are assumed in the ETM, they are viewed as the possible
            motivation for the choices of the user, however.</li>
        </ul>

      </p>

</main>
