<header>
  <div class="inner">
    <h1>Resultaten van Jouw Scenario</h1>
    <p class="scenario-details">
      {% current_date %}
      <span class="bullet">&bull;</span>
      {% link_to_scenario %}
      <span class="bullet">&bull;</span>
      by Quintel Intelligence<br />
      <span class="region {{ settings.area_code }}">
        {{ settings.area_code | upcase }}
      </span>
      <span class="bullet">&bull;</span>
      {{ settings.start_year }}
      to {{ settings.end_year }}
    </p>
  </div>
</header>

<!-- Summary table for easy comparison-->
<section class="snapshot">
  <h1 class="banner">In een oogopslag&hellip;</h1>

  <ul class="summary-main">

    <li><!-- class="target-met"> -->
      <p>
        <strong><a href="#energiegebruik-en--productie">Totale energie</a></strong><br />
        Startwaarde:
        <strong>{{ present.dashboard_energy_demand_primary_of_final | autoscale: 'MJ' }}</strong>
        <span class="bullet">&bull;</span>
        Scenarioresultaat:
        <strong>{{ future.dashboard_energy_demand_primary_of_final | autoscale: 'MJ' }}</strong>
      </p>
    </li>

    {% if future.policy_goal_co2_emissions_target_value.value %}
      {% if future.policy_goal_co2_emissions_reached.value %}
        <li class="target-met">
      {% else %}
        <li class="target-missed">
      {% endif %}
    {% else %}
      <li>
    {% endif %}
      <p>
        <strong><a href="#co2-uitstoot">CO<sub>2</sub>-uitstoot</a></strong><br />
        Startwaarde:
        <strong>{{ present.policy_goal_co2_emissions_value | autoscale: 'MT' }}</strong>
        <span class="bullet">&bull;</span>
        Scenarioresultaat:
        <strong>{{ future.policy_goal_co2_emissions_value | autoscale: 'MT' }}</strong>
        {% if future.policy_goal_co2_emissions_target_value.value %}
          <span class="bullet">&bull;</span>
          Doel:
          <strong>{{ future.policy_goal_co2_emissions_target_value | autoscale: 'MT' }}</strong>
        {% endif %}
      </p>
    </li>

    {% if future.policy_goal_renewable_percentage_target_value.value  %}
      {% if future.policy_goal_renewable_percentage_reached.value %}
        <li class="target-met">
      {% else %}
        <li class="target-missed">
      {% endif %}
    {% else %}
      <li>
    {% endif %}
      <strong><a href="#hernieuwbaarheid">Hernieuwbaarheid</a></strong><br />
      Startwaarde:
      <strong>{{ present.dashboard_renewability | times: 100 | round: 1 }}%</strong>
      <span class="bullet">&bull;</span>
      Scenarioresultaat:
      <strong>{{ future.dashboard_renewability | times: 100 | round: 1 }}%</strong>

      {% if future.policy_goal_renewable_percentage_target_value.value  %}
        <span class="bullet">&bull;</span>
        Doel:
        <strong>{{ future.policy_goal_renewable_percentage_target_value | times: 100 | round: 1 }}%</strong>
      {% endif %}
    </li>

    {% if future.policy_goal_total_energy_costs_target_value.value %}
      {% if future.policy_goal_total_energy_costs_reached.value %}
        <li class="target-met">
      {% else %}
        <li class="target-missed">
      {% endif %}
    {% else %}
      <li>
    {% endif %}
      <p>
        <strong><a href="#kosten-van-het-energiesysteem">Kosten</a></strong><br />
        Startwaarde:
        <strong>{{ present.policy_goal_total_energy_costs_value | autoscale: 'bln_euro' }}</strong>
        <span class="bullet">&bull;</span>
        Scenarioresultaat:
        <strong>{{ future.policy_goal_total_energy_costs_value | autoscale: 'bln_euro' }}</strong>

        {% if future.policy_goal_total_energy_costs_target_value.value %}
          <span class="bullet">&bull;</span>
          Doel: <strong>3 <abbr>EJ</abbr></strong>
        {% endif %}
      </p>
    </li>
  </ul>
  <!-- end: main summary items -->

<main>
  {% toc %}

  <h1 class="banner">Samenvatting</h1>

    <p>
    Dit rapport is automatisch gegenereerd door het
    <a href="https://energytransitionmodel.com">Energietransitiemodel</a>
    <abbr>(ETM)</abbr> en is gebaseerd op de schuifjes-instellingen in jouw scenario.
  </p>


  <h1 class="banner">De Gebouwde Omgeving</h1>

  <h1 class="banner">Mobiliteit en transport</h1>

  <h1 class="banner">Opwek en energie-import</h1>

  <h1 class="banner">Ruimtelijke impact</h1>

  <h1 class="banner">Duurzaamheidsambitie</h1>

    <h2 class="banner">Klimaatneutraal</h2>

    <h2 class="banner">Energieneutraal</h2>

  <h1 class="banner">Opgave per jaar</h1>


</main>
