<header>
  <div class="inner">
    <h1>Your Scenario Results</h1>
    <p class="scenario-details">
      {% current_date %}
      <span class="bullet">&bull;</span>
      {% link_to_scenario %}
      <span class="bullet">&bull;</span>
      by Quintel Intelligence<br />
      <span class="region {{ settings.area_code }}">
        {{ settings.area_code | upcase }}
      </span>
      <span class="bullet">&bull;</span>
      {{ settings.start_year }}
      to {{ settings.end_year }}
    </p>
  </div>
</header>

<!-- Summary table for easy comparison-->
<section class="snapshot">
  <h1 class="banner">At a glance&hellip;</h1>

  <ul class="summary-main">
    <li class="target-missed">
      <p>
        <strong><a href="#targets-and-goals">Targets and goals</a></strong><br />
        Attained <strong>4 <abbr>of</abbr> 6</strong> targets
      </p>
    </li>

    <li><!-- class="target-met"> -->
      <p>
        <strong><a href="#energy-use-and-production">Total energy</a></strong><br />
        Initial value:
        <strong>{{ present.dashboard_energy_demand_primary_of_final | autoscale: 'MJ' }}</strong>
        <span class="bullet">&bull;</span>
        Scenario result:
        <strong>{{ future.dashboard_energy_demand_primary_of_final | autoscale: 'MJ' }}</strong>
      </p>
    </li>

    {% if future.policy_goal_co2_emissions_target_value.value %}
      {% if future.policy_goal_co2_emissions_reached.value %}
        <li class="target-met">
      {% else %}
        <li class="target-missed">
      {% endif %}
    {% else %}
      <li>
    {% endif %}
      <p>
        <strong><a href="#co2-emissions">CO<sub>2</sub> emissions</a></strong><br />
        Initial value:
        <strong>{{ present.policy_goal_co2_emissions_value | autoscale: 'MT' }}</strong>
        <span class="bullet">&bull;</span>
        Scenario result:
        <strong>{{ future.policy_goal_co2_emissions_value | autoscale: 'MT' }}</strong>
        {% if future.policy_goal_co2_emissions_target_value.value %}
          <span class="bullet">&bull;</span>
          Target:
          <strong>{{ future.policy_goal_co2_emissions_target_value | autoscale: 'MT' }}</strong>
        {% endif %}
      </p>
    </li>

    {% if future.policy_goal_total_energy_costs_target_value.value %}
      {% if future.policy_goal_total_energy_costs_reached.value %}
        <li class="target-met">
      {% else %}
        <li class="target-missed">
      {% endif %}
    {% else %}
      <li>
    {% endif %}
      <p>
        <strong><a href="#costs-of-energy">Costs</a></strong><br />
        Initial value:
        <strong>{{ present.policy_goal_total_energy_costs_value | autoscale: 'bln_euro' }}</strong>
        <span class="bullet">&bull;</span>
        Scenario result:
        <strong>{{ future.policy_goal_total_energy_costs_value | autoscale: 'bln_euro' }}</strong>

        {% if future.policy_goal_total_energy_costs_target_value.value %}
          <span class="bullet">&bull;</span>
          Target: <strong>3 <abbr>EJ</abbr></strong>
        {% endif %}
      </p>
    </li>
  </ul>
  <!-- end: main summary items -->

  <h4>More information</h4>

  <ul class="summary-extras">
    {% if future.co2_reduction_percentage > 49.0 %}
      <li class="target-met">
        The realised CO<sub>2</sub> reduction of
        {{ future.co2_reduction_percentage | round: 1 | without_unit }}%
        exceeds the Dutch national ambition for 2030 of 49%.

        {% if future.co2_reduction_percentage > 80.0 %}
          Your scenario even surpasses the EU goal of 80% - 95% reduction by
          2050!
        {% endif %}
      </li>
    {% else %}
      <li class="target-missed">
        The realised CO<sub>2</sub> reduction of
        {{ future.co2_reduction_percentage | round: 1 | without_unit }}%
        falls short of the Dutch national ambition for 2030 of 49%.
      </li>
    {% endif %}

    {% if future.policy_goal_renewable_percentage_target_value.value  %}
      {% if future.policy_goal_renewable_percentage_reached.value %}
        <li class="target-met">
      {% else %}
        <li class="target-missed">
      {% endif %}
    {% else %}
      <li>
    {% endif %}
      Energy energy consumed in your scenario is
      {{ future.dashboard_renewability | times: 100 | round: 1 | without_unit }}%
      renewable.
      <a href="#renewability" class="learn-more">Learn more &raquo;</a>
    </li>

    {% if future.electricity_curtailed > 0 %}
      <li class="target-missed">
    {% else %}
      <li class="target-met">
    {% endif %}
      <p>
        Your scenario has {{ future.electricity_curtailed | autoscale: 'MJ' }}
        of curtailed electricity. You can put this electricity to good use!
        <a href="#suggestions-for-improvement" class="learn-more">
          Learn more &raquo;
        </a>
      </p>
    </li>

    {% if future.dashboard_power_shortage_hours > 0 %}
      <li class="target-missed">
        Your scenario has {{ future.dashboard_power_shortage_hours | without_unit }}
        blackout hours. Build more electricity backup capacity or reduce demand.
        <a href="#reliability" class="learn-more">Learn more &raquo;</a>
      </li>
    {% else %}
      <li class="target-met">
        Your scenario has no blackout hours.
        <a href="#reliability" class="learn-more">Learn more &raquo;</a>
      </li>
    {% endif %}

    {% if future.primary_energy_demand_percentage_wrt_start_year > 95.0 %}
      <li class="target-missed">
        In your scenario, primary energy use is still
        {{ future.primary_energy_demand_percentage_wrt_start_year | round: 1 }}%
        of the {{ settings.start_year }} value.
      </li>
    {% else %}
      <li>
        In your scenario, primary energy use has been reduced to
        {{ future.primary_energy_demand_percentage_wrt_start_year | round: 1 }}%
        of its value in {{ settings.start_year }}.
      </li>
    {% endif %}

    {% if future.share_of_greengas_in_gas_network > 0.1 %}
      <li class="target-missed">
        Feeding in more than 10% green gas into the gas network requires large
        technical investments. Your scenario uses
        {{ future.share_of_greengas_in_gas_network | times: 100 | round: 1 }}%
        green gas.
        <a href="#extreme-assumptions" class="learn-more">Learn more &raquo;</a>
      </li>
    {% endif %}

    {% if future.profitability_percentage.value < 100 %}
      <li>
        {{ 100 | minus: future.profitability_percentage | round: 1 }}% of
        power-plants are not profitable in your scenario. Do you think they will
        still be around in {{ settings.end_year }}?
        <a href="#profitability-of-power-plants" class="learn-more">
          Learn more &raquo;
        </a>
      </li>
    {% endif %}

  </ul>
  <!-- end: summary extras -->
</section>

<main>
  {% toc %}

  <!--
    Templates are just HTML, so you have everything at your disposal including
    paragraphs, headers, tables, lists, images, etc.
  -->
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam interdum
    sodales nunc quis aliquam. Aenean lacus lectus, feugiat eu lacinia non,
    congue eu urna. Nulla purus lectus, congue eu massa quis, sodales laoreet
    sem. Integer bibendum dui quis dolor fermentum aliquam. Nam sit amet erat
    finibus, auctor risus vel, elementum est. Donec eget mi nec nibh auctor
    finibus.
  </p>

  <h1>Energy Production</h1>

  <p>
    Than praesent eget euismod augue. Duis sem tellus, placerat sit amet urna
    non, auctor pharetra purus. Nullam massa dolor
    <abbr title="Combined heat and power">CHP</abbr>, egestas quis tristique
    maximus, lacinia rutrum nulla. Phasellus sapien metus, imperdiet eu sem id,
    sodales molestie velit. Aenean at eros vel augue tincidunt mattis eu sed
    urna.
  </p>

  <h2>Renewable Energy Sources</h2>

  <p>
    Mauris id pretium mauris
    {{ future.electricity_produced_from_wind_and_solar | autoscale: 'MJ' }}.
    In hac habitasse platea dictumst. Etiam felis felis, aliquam quis mauris
    dignissim, pharetra viverra nunc. Cras a sem bibendum, viverra mauris vitae,
    sodales odio. Integer facilisis, mauris et rutrum hendrerit, ex felis
    viverra eros, a viverra enim metus bibendum ligula. Ut venenatis nunc est,
    non consequat nisi lacinia in:
  </p>

  <ul>
    <li>
      <strong>non bibendum quam</strong>, eu imperdiet tellus etiam lobortis ex
      eu tellus pharetra eleifend volutpat lacus rutrum, un
    </li>
    <li>
      <strong>aenean augue sapien</strong>, nullam a orci suscipit gravida eros
      eget, accumsan est pellentesque finibus lacus, un
    </li>
    <li>
      <strong>sit amet porta ipsum</strong>, at elementum velit nulla sodales
      tincidunt erat, in vulputate neque finibus at, integer nec nisl convallis
      risus rhoncus molestie; suspendisse potenti.
    </li>
  </ul>

  <p>
    Odio delicata ius eu, te eos eius deleniti efficiantur. No his percipit
    quaestio platonem, eu quis esse mea. Integre omnesque eu has, eam sint
    doctus nostrum te. Eros iusto graeci in has, posse euismod eos no, qui vero
    putent ei. Adhuc verterem vel et, at labore euismod ornatus mel. Eam
    indoctum pericula petentium ne, no delectus molestiae et, lorem forensibus
    argumentum te per. Sed an habemus patrioque, mea eu oratio option accusam.
  </p>

  <table class="chart autostripe">
    <thead>
      <tr><th>Column One</th><th>Column two</th></tr>
    </thead>
    <tbody>
      <tr><td>1x1</td><td>1x2</td></tr>
      <tr><td>2x1</td><td>2x2</td></tr>
      <tr><td>3x1</td><td>3x2</td></tr>
    </tbody>
  </table>

  <!--
    Three paragraphs which are shown only for a scenario where CO2 emissions are
    greater than zero. Each paragraph contains future and present values which
    are queries from ETEngine.
  -->
  {% if future.total_co2_emissions > 0 %}
    <p>
      <!-- Round the query value to 2dp -->
      Electricity production costs:
      {{ future.costs_production_power_plants | round: 2 | autoscale: 'euro' }}.
      <!-- Round a query value to 2dp and don't format with the unit -->
      Coastal area used by wind is
      {{ future.area_used_for_coastal_wind | round: 2 | without_unit }}
      <abbr>km<sup>2</sup></abbr>.

      In your scenario, wind turbines and solar arrays are producing
      {{ future.electricity_produced_from_wind_and_solar | autoscale: 'MJ' }} of electricity, while
      natural gas is being used to create
      {{ future.electricity_produced_from_natural_gas | autoscale: 'MJ' }}. In the current day,
      {{ present.electricity_produced_from_wind_and_solar | autoscale: 'MJ' }} of electricity is
      produced using wind and solar sources.

      <!-- Supports else, elsif, and unless. -->
      {% if future.total_co2_emissions > 10000 %}
        Something
      {% elsif future.total_co2_emissions > 10 %}
        Something else.
      {% endif %}

      <!-- ... and case -->
      {% case area.name %}
        {% when 'nl' %}
          Nederlands.
        {% when 'de' %}
          Deutschland.
        {% when 'uk' %}
          Sigh.
        {% else %}
          I'm not sure where you're from.
      {% endcase %}
    </p>
  {% endif %}


  <p>
    His animal aperiam ei, te affert dissentiunt sea, congue omittantur eu quo.
    Sit qualisque contentiones ad, clita aliquip praesent no eum. An consul
    torquatos. Quo semper persius urbanitas eu, mea et facilis nusquam definiebas.
    Quo ad vero dicta referrentur, ne patrioque repudiandae conclusionemque vim.
    Alii tibique sapientem vim ut, veritus oporteat ut ius. Duo eros delicatissimi
    ex.
  </p>

  <h2>Non-Renewable Energy Sources</h2>

  <p>
    Pri ei eius equidem necessitatibus, dico ridens 2.3.1 principes his id, mel no
    dicam dolores constituto. Eos natum feugiat et. Mel tale reque summo ad, te
    ridens delicata per. Eam an prompta ornatus, ne eripuit eruditi fabulas nec,
    et quod ipsum doming eos. Nec tritani invidunt ut, error scaevola sententiae
    eum no, aperiam veritus salutatus an has. altera ponderum consectetuer et, ius
    soleat admodum ex. Nec recusabo molestiae ad, sed appetere facilisis
    expetendis ex, vel in malorum antiopam definiebas.
  </p>

  <h3>Tiny section</h3>

  <p>
    Pri ei eius equidem necessitatibus, dico ridens 2.3.1 principes his id, mel no
    dicam dolores constituto. Eos natum feugiat et. Mel tale reque summo ad, te
    ridens delicata per. Eam an prompta ornatus, ne eripuit eruditi fabulas nec,
    et quod ipsum doming eos. Nec tritani invidunt ut, error scaevola sententiae
    eum no, aperiam veritus salutatus an has. altera ponderum consectetuer et, ius
    soleat admodum ex. Nec recusabo molestiae ad, sed appetere facilisis
    expetendis ex, vel in malorum antiopam definiebas.
  </p>

  <h1>Appendix A: Scenario Values</h1>

  {% if user_values.length %}
    <ul class="user-values">
      {% for slide in user_values %}
        <li>
          <p><strong>{{ slide.path | join: " • " }}</strong></p>
          <ul>
            {% for input in slide.user_values %}
              <li>
                {{ input.name }}:
                {{ input.default | autoscale: input.unit }} →
                {{ input.user | autoscale: input.unit }}
              </li>
            {% endfor %}
          </ul>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>
      This is an untouched scenario; no values were changed from the
      defaults.
    </p>
  {% endif %}
</main>
