%h1 Toelichting &ndash; Energiemix

%p
  De Energiemix geeft inzicht in de mogelijke energievraag in 2050 en het
  benodigde aanbod aan hernieuwbare energiebronnen om deze vraag op te vangen.
  In navolging van huidige (inter)nationale klimaatafspraken is het uitgangspunt
  dat het gebruik van fossiele brandstoffen zoals aardgas, benzine, diesel en
  kolen volledig wordt uitgefaseerd. Deze Energiemix toont een met gemeenten
  afgestemd scenario van de totale opgave die voor ons ligt en de urgentie om
  stappen te zetten. Het is geen keuzemenu, maar een combinatie van
  veranderingen in de huidige energiesystemen die gezamenlijk nodig zijn voor
  een klimaatneutrale samenleving.

%p
  De berekeningen zijn gemaakt met behulp van het
  = link_to('EnergieTransitieModel', root_url)
  van bureau Quintel. Door adviesbureau Over Morgen is in samenspraak met
  gemeenten en de provincie voor elke gemeente een scenario opgesteld. Alle
  uitgangspunten en instellingen van het scenario zijn terug te vinden en te
  wijzigen via de link onderaan de Energiemix. De berekeningen zijn gebaseerd op
  bewezen technieken van dit moment met de kanttekening dat er nog veel
  innovaties en financieringsconstructies nodig zijn voordat al deze technieken
  grootschalig kunnen worden toegepast. Daarnaast verwachten we komende jaren de
  opkomst van nieuwe technieken die op de langere termijn een deel van de opgave
  kunnen invullen.

%p
  Energietransitie betekent dat we naar een energiesysteem toegaan met minimale
  CO<sub>2</sub> uitstoot. Om dit te bereiken worden de energievraag,
  infrastructuur en energiebronnen aangepast. Dit betekent concreet dat
  bijvoorbeeld de aardgaskraan dichtgaat voor woningen, kantoren en bedrijven.
  Als alternatief gaan we collectieve warmtenetten gebruiken of individueel
  verwarmen (denk aan groen gas, pellets of warmtepomp). Dit vraagt om de aanleg
  van warmtenetten, verzwaarde elektriciteitsnetten en het deels verwijderen van
  gasnetten. Motorvoertuigen rijden niet langer op fossiele brandstoffen maar
  elektrisch, op waterstof en/of op biobrandstof. De elektriciteit die we voor
  verwarming en mobiliteit nodig hebben, naast licht en elektronica, wekken we
  duurzaam op met bijvoorbeeld zonnepanelen en windturbines.

%h2 1. Energievraag eindgebruik

%p
  Dit onderdeel van de Energiemix toont de huidige finale vraag van alle energie
  die binnen de gemeente, regio of provincie wordt gebruikt, oftewel gebouwde
  omgeving, mobiliteit, industrie en landbouw. We noemen dit ook wel ‘de vraag
  aan de meter’. De energievraag van dit moment is gebaseerd op de laatste
  complete set gegevens uit de Klimaatmonitor van Rijkswaterstaat (peiljaar
  2019). Energiegebruik van internationaal vracht- en vliegverkeer en
  grootschalige opwekking van energie zit hier niet in. De energievraag bestaat
  uit:

%ul
  %li
    Benzine, diesel en LPG voor mobiliteit inclusief binnenvaart en snelwegen;
  %li
    Gasgebruik in de industrie, agrarische sector, bouwnijverheid en winning van
    delfstoffen;
  %li
    Gasverbruik voor verwarmen gebouwde omgeving (woningen en
    bedrijven/instellingen);
  %li
    Biomassa en biobrandstof voor mobiliteit en verwarmen van de gebouwde
    omgeving;
  %li
    Collectief warmtegebruik voor verwarmen van de gebouwde omgeving;
  %li
    Individuele zonthermie in de vorm van zonnecollectoren en PVT op daken;
  %li
    Alle elektriciteitsgebruik.

%p
  Het verschil tussen de energievraag van dit moment en in de toekomst wordt
  bepaald door de mogelijke besparing. Dit getal is opgebouwd uit een deel
  actieve besparing door isolatie en gedragsverandering en een deel efficiëntie
  afhankelijk van de gekozen technieken in de Energiemix.

%p
  Een groot aantal veranderingen ligt ten grondslag aan de energietransitie en
  de geschetste situatie in 2050:

%ul
  %li
    Energiebesparing door het isoleren van gebouwen, energiemanagement, zuinige
    apparaten en efficiënt gebruik van voer- en vaartuigen. Daarnaast een
    efficiëntieverbetering van duurzame technieken ten opzichte van fossiele
    technieken. Een elektrische auto is bijvoorbeeld vele malen efficiënter dan
    een benzinemotor;
  %li
    Voertuigen en schepen zullen elektriciteit, hernieuwbaar gas (zoals
    waterstof) en biobrandstof gebruiken in plaats van fossiele brandstoffen;
  %li
    De gebouwde omgeving wordt niet meer verwarmd met aardgas, maar collectief
    met warmtenetten, individueel met elektriciteit, zonnecollectoren en/of
    biomassa;
  %li
    De industrie en landbouw gebruiken nu bijna volledig aardgas voor
    gebouwverwarming. Daarnaast zijn voor sommige processen hoge tot zeer hoge
    temperaturen nodig. Ultradiepe geothermie kan de benodigde temperaturen
    deels leveren. Er blijft een deel hernieuwbaar gas nodig, zoals
    waterstofgas, synthetisch gas, ammoniak en biogas.

%h2 2. Energiebronnen toekomst

%p
  Om voldoende finale energie te kunnen leveren is een mix aan hernieuwbare
  energiebronnen nodig. De hoeveelheid benodigde bronnen bij onderdeel 2 is
  groter dan de finale energie die aan de meter geleverd wordt bij onderdeel 1.
  Dat heeft te maken met omzettingsverliezen zoals bij elektriciteit naar
  waterstofgas (40%). Ook wordt bijvoorbeeld bij elektrisch verwarmen
  elektriciteit aan de meter geleverd die bij onderdeel 1 wordt meegerekend,
  terwijl ook veel omgevingswarmte wordt gebruikt die niet als finale vraag bij
  onderdeel 1 wordt gerekend, maar wel als benodigde bron bij onderdeel 2.
  Daarom valt de hoeveelheid hernieuwbare energiebronnen altijd hoger uit dan de
  finale energievraag in de toekomst.

%h2 3. Opgave per thema

%p
  Om de veranderende energievraag in te vullen zal er voldoende hernieuwbare
  elektriciteit, gas, warmte en biomassa gerealiseerd en gebruikt moeten worden
  om de CO<sub>2</sub> en energiedoelstellingen te halen.

%h3 Wind en zon (hernieuwbare elektriciteit)
%p
  In verhouding zal de vraag naar elektriciteit in de toekomst stijgen. Dat komt
  door elektrisch verwarmen, elektrisch rijden, het gebruik van waterstof waar
  biogas onvoldoende aanwezig is en steeds meer elektrische apparaten. Deze
  stijgende elektriciteitsvraag kan naar huidige inzichten hernieuwbaar worden
  opgewekt met:

%ul
  %li
    Zonnepanelen op alle geschikte daken (o.b.v. data Zonatlas 100% benutten);
  %li
    Zonnevelden (o.b.v. input gemeente en benodigd voor waterstofproductie);
  %li
    Windturbines op land (o.b.v. wat nodig is om voldoende elektriciteit op te
    wekken);
  %li Windturbines op zee, worden niet toegekend aan individuele regio’s.

%h3 Collectieve warmte

= image_tag('energy_mix/collective-heat.png', alt: '', width: 100, style: 'float: right')

%p
  Meerdere woningen en gebouwen worden met elkaar verbonden door een warmtenet.
  Om gebouwen te kunnen verwarmen is minimaal 40°C nodig. Echter moet hiervoor
  het gebouw op nieuwbouw niveau geïsoleerd zijn. Dit is voor veel bestaande
  gebouwen vaak economisch of technisch niet haalbaar. Daarom zijn temperaturen
  van ongeveer 70°C nodig voor de bestaande bouw. Diepe en ultradiepe geothermie
  van 3 tot 7 kilometer diepte kan deze temperatuur leveren. Een andere optie is
  restwarmte voor zover deze in de toekomst nog beschikbaar is.

%p
  Ook kunnen laag temperatuur bronnen worden benut, zoals bijvoorbeeld
  oppervlaktewater gecombineerd met een Warmte-Koude-Opslag systeem. Daarvoor is
  wel een industriële warmtepomp nodig om de temperatuur van het water naar 70°C
  te brengen. Bij de ontwikkeling van warmtenetten kan ook een biomassacentrale
  als transitiebron worden ingezet. Als het warmtenet voldoende groot is kan dan
  later worden overgestapt op bijvoorbeeld geothermie.


%h3 Individuele warmte

= image_tag('energy_mix/individual-heat.png', alt: '', width: 100, style: 'float: right')

%p
  Individuele verwarming kan met bijvoorbeeld elektrische warmtepompen, met hout
  in gesloten pelletkachels/ketels en door oplossingen zoals zonnecollectoren in
  combinatie met warmteopslag. Warmtepompen bij woningen maken meestal gebruik
  van bodemenergie of buitenlucht. Hout is schaars en zal daarom in de toekomst
  maar beperkt kunnen worden ingezet voor het verwarmen van gebouwen en
  woningen.

%h3 Hernieuwbaar gas

= image_tag('energy_mix/power-to-gas.png', alt: '', width: 55, style: 'float: right')
= image_tag('energy_mix/biogas.png', alt: '', width: 45, style: 'float: right; margin-right: 5px')

%p
  Alternatieve gasvormen zijn biogas en waterstofgas. We benutten de potentie
  biogas afkomstig uit de DANK dataset van Alterra. Deze is gebaseerd op
  mono-vergisting, dat wil zeggen biogas uit mest halen zonder bijproducten te
  gebruiken. De resterende vraag naar gas kan ingevuld worden met waterstofgas,
  die in het model gekoppeld is aan lokale productie bij zonnevelden. Hierdoor
  wordt de benodigde elektriciteit voor de productie van waterstofgas volledig
  toegekend aan de regio, er is zodoende geen import van waterstofgas nodig.

%h3 Biomassa

= image_tag('energy_mix/biomass.png', alt: '', width: 100, style: 'float: right')

%p
  We gebruiken maximaal de lokaal beschikbare houtsoortige biomassa volgens de
  DANK dataset van Alterra. Biomassa wordt in de Energiemix ingezet voor de
  verwarming van gebouwen met pelletkachels en -ketels. Komende jaren is
  biomassa ook geschikt als transitiebrandstof voor warmtenetten. Naast het
  benutten van biomassa voor energie kan het ook benut worden voor het maken van
  nieuwe producten in een circulaire economie. De inzet van biomassa voor het
  opwekken van energie zal daarom op lange termijn beperkt zijn en uitgaan van
  cascadering.

%h3 Opslag van energie

= image_tag('energy_mix/solar-pv.png', alt: '', width: 100, style: 'float: right')

%p
  Bij de opwek van hernieuwbare elektriciteit en warmte ontstaat een groot
  onbalans tussen het moment waarop energie beschikbaar is en wanneer we het
  gebruiken. De zon levert bijvoorbeeld de meeste stroom en warmte in de zomer
  en midden op de dag, maar veel minder in de winter en ‘s avonds. In de
  toekomst zal deze onbalans opgelost moeten worden door middel van opslag van
  energie en het slim sturen van de energievraag door middel van een smart grid
  en slimme apparatuur. Daarvoor is veel technische innovatie nodig.
  Mogelijkheden voor opslag van elektriciteit en warmte naar huidige inzichten
  zijn:

%ul
  %li
    Korte termijn opslag batterijen (dagopslag), bijvoorbeeld auto's;
  %li
    Middellange termijnopslag in gas (power to gas), of beheer van waterstanden;
  %li
    Lange termijn opslag (seizoensopslag) van warmte in warmtebatterijen (power
    to heat), boilervaten met zouthydraten of hoog temperatuur opslag in de
    bodem (500 m. diepte) en grote ondergrondse boilervaten.

#disclaimer
  Deze infographic is automatisch gegenereerd met het Energietransitiemodel op
  basis van een scenario dat niet is gevalideerd door een expert. Quintel of
  Over Morgen zijn dan ook niet verantwoordelijk of aansprakelijk voor de inhoud
  of uitkomsten van deze infographic.

  - if can_dismiss_disclaimer?
    %button Hide disclaimer
