.main.small
  .section
    %h1= t('user.forgot_password.reset_header_html')
    %p= t('user.forgot_password.reset_description')
    .fa.fa-lock.bg

  = simple_form_for @user, html: { id: 'password_reset', class: 'simple_form' }, method: :put, url: password_reset_path do |f|
    .row
      = f.input :password
      = f.input :password_confirmation

    .row
      = submit_tag t('user.forgot_password.form.submit'), class: 'btn primary'
