.main.small
  .section
    %h1= t('user.forgot_password.reset_header_html')
    %p= t('user.forgot_password.reset_description_new')
    .fa.fa-lock.bg

  .form-flash
    - flash_message

  = simple_form_for :user, html: { id: 'password_reset' }, url: password_resets_path do |f|
    .row
      = f.input :email

    .row
      = submit_tag t('user.forgot_password.form.submit_new'), class: 'primary btn'
      %span.or= t('or')
      %a(href=root_url class='btn')= t('cancel')
