%h1=# @view_node.key

- if @view_node.parent
  %h2
    - if @view_node.parent.root?
      = "Add tab to view #{@view_node.parent.key}"
    - if @view_node.parent.tab?
      = "Add categorie to tab #{@view_node.parent.element.key}"
    - if @view_node.parent.category?
      = "Add slide to tab #{@view_node.parent.element.name}"
    - if @view_node.parent.slide?
      = "Add element to slide #{@view_node.parent.element.name}"
- else
  %h1= "Add new view"
= render 'form'
