#panel.panel.panel_tree
  .header
    %div
      -#%label#search-label{:for => 'search'} Search
      %table
        %tr
          %td
            %input#search{:'data-search_scope' => 'converters'}

  .tree
    =# cache("data/descriptions/_list/#{@blueprint.id}") do
    %ul    
      - Description.order(:describable_type).each do |desc|
        %li.level_0{:'data-search' => [desc.content_en, desc.content_nl,desc.describable_id].flatten.join(' ')}
          .content
            %h1
              %a{:href => edit_data_description_path(:id => desc)}
                %span.id== ##{desc.describable_id}
                - unless desc.describable_type == 'Intro' || desc.describable_type.blank?
                  - if i = desc.describable_type.constantize.find_by_id(desc.describable_id)
                    - if i.respond_to?(:name)
                      %span.key= i.name
                    - elsif i.respond_to?(:title)
                      %span.key= i.title
                    - elsif i.respond_to?(:label)
                      %span.key= i.label
                    - else
                      %span.key= i.key
                %span.sector= desc.describable_type