= simple_form_for [:admin, @partner] do |f|
  = f.input :name
  = f.input :partner_type, :as => :select, :collection => %w[general knowledge education], :include_blank => false
  = f.input :url
  = f.input :country, :as => :select, :collection => Api::Area.all.map(&:country)
  = f.input :time
  = f.input :repeat_any_other
  = f.input :subheader, :as => :select, :collection => ['footer.sponsor', 'footer.main_sponsor', 'footer.consulting_partner_nl', 'footer.consulting_partner_eu'], :include_blank => false, :hint => 'Label translation (check en_etm.nl)'
  = f.input :place, :as => :select, :collection => ['left', 'right'], :include_blank => true, :hint => "Place in Logo Rotator (in bottom) Leave blank when it should not appear all together."
  = f.input :long_name
  
  = f.simple_fields_for :description do |j|
    = j.input :short_content_en, :as => :text
    = j.input :short_content_nl, :as => :text
    = j.input :content_en, :as => :text
    = j.input :content_nl, :as => :text
  
  = f.button :submit
