%h2 Partners Index

%table.default.autostripe
  %thead
    %tr
      %th Id
      %th Name
      %th Type
      %th URL
      %th Country
      %th Place
      %th
  %tbody
    - @partners.each do |p|
      %tr
        %td= p.id
        %td= link_to p.name, [:admin, p]
        %td= p.partner_type
        %td= p.url
        %td= p.country
        %td= p.place
        %td
          = link_to 'edit', edit_admin_partner_path(p)
          = link_to 'delete', admin_partner_path(p), :method => :delete, :confirm => 'Are you sure?'
