%h2 Partner details

%dl
  %dt Name
  %dd= @partner.name
  
  %dt URL
  %dd= link_to @partner.url, @partner.url
  
  %dt Country
  %dd= @partner.country
  
  %dt Place
  %dd= @partner.place
  
  %dt Time
  %dd= @partner.time
  