<h1><%= t('meta.name') %></h1>
<h2><%= t('user.forgot_password.mail.header') %></h2>

<p>
  <%= t('user.forgot_password.mail.text') %>
</p>

<%= link_to(edit_password_reset_url(@user.perishable_token), class: 'big-button') do %>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= t('user.forgot_password.mail.button') %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<% end %>
