- content_for(:page_title) { 'Feature scenario' }

.background_wrapper#saved_scenario
  .scenario_wrapper#feature_scenario
    - if @featured_scenario.persisted?
      %a.unfeature-link{ href: '#unfeature' }
        ↓
        = t('featured_scenario.unfeature')
    %h1= t('scenario.feature_scenario')

    %h2
      - if I18n.locale == :nl
        = @featured_scenario.title_nl_was
      - else
        = @featured_scenario.title_en_was

    = simple_form_for @featured_scenario, url: saved_scenario_feature_path(@featured_scenario.saved_scenario) do |f|
      = f.input :group, collection: featured_scenario_groups_collection, include_blank: false
      = f.input :featured_owner
      = f.input :title_en
      = f.input :description_en
      = f.input :title_nl
      = f.input :description_nl

      .actions
        = f.submit class: 'save button'
        = link_to t('scenario.cancel_text'), saved_scenario_path(@featured_scenario.saved_scenario), class: 'cancel button'

    - if @featured_scenario.persisted?
      #unfeature
        %h2= t('featured_scenario.unfeature_title')
        %p= t('featured_scenario.unfeature_info')
        .actions.check
          %button.save.button= t('featured_scenario.unfeature_button')
        .confirm
          %p= t('featured_scenario.unfeature_warning_html').html_safe
          %dl
            %dt== #{t('featured_scenario.unfeature_title_revert')}&hellip;
            %dd= @featured_scenario.saved_scenario.title
            %dt== #{t('featured_scenario.unfeature_description_revert')}&hellip;
            %dd= formatted_scenario_description(@featured_scenario.saved_scenario.description)

          .actions
            = link_to t('featured_scenario.unfeature_button'),
                      saved_scenario_feature_path(@featured_scenario.saved_scenario),
                      class: 'save button', method: :delete
            = link_to t('cancel'), saved_scenario_path(@featured_scenario.saved_scenario), class: 'cancel button'
