-# - content_for(:page_title) { "#{@saved_scenario.title} - #{t('meta.name')}" }

.background_wrapper#saved_scenario
  .scenario_wrapper#feature_scenario
    %h1= t('scenario.feature_scenario')
    %h2= @featured_scenario.title

    = form_for @featured_scenario, url: feature_saved_scenario_path(@featured_scenario.saved_scenario) do |f|
      .field
        = f.label :group, t('scenario.group')
        = f.select :group, featured_scenario_groups_collection

      .actions
        = f.submit t('scenario.save_text'), class: 'save button'
        = link_to t('scenario.cancel_text'), saved_scenario_path(@featured_scenario.saved_scenario), class: 'cancel button'
