#search_results
  %h2= t('search.publications')
  %table
    %tr
      %td.img
        %img.slide_icon{:src => "http://refman.et-model.com/publications/1540/thumbnail/Agentschap%20NL_20100831_Rapport%20energiecijfers%20kantoren.png"}
      %td.result
        = link_to t('search.refman_link', :query => params[:q]),     |
          "http://refman.et-model.com/publications?q=#{params[:q]}", |
          :target=> "_blank"                                         |

  - unless @sidebar_items.empty?
    -# TODO: add static pages search and rename pages to sidebar/categories or similar
    %h2 Pages
    %table
      - @sidebar_items.select{|s| s.tab_id.present?}.each do |result|
        %tr
          %td.img
            %img.slide_icon{:src => "/assets/layout/diamond_#{result.tab.key}.gif"}
          %td.result
            %h4= t "sidebar_items.#{result.key}.short_name"
            %p
              = search_result_description(result)
              %br
              = link_to t('search.jump_to_page'), play_path(:tab => result.tab.key, :sidebar => result.key)

  - unless @input_elements.empty?
    %h2 Sliders
    %table
      - @input_elements.each do |result|
        %tr
          %td.img
          %td.result
            %h4= t "input_elements.#{result.key}"
            %p
              = search_result_description(result)
              %br
              - if result.description
                = link_to t('search.full_description'), result.description, :class => 'fancybox'
                |
              = link_to t('search.jump_to_page'), play_path(:tab => result.slide.sidebar_item.tab.key, :sidebar => result.slide.sidebar_item.key)

  - unless @slides.empty?
    %h2 Slides
    %table
      - @slides.each do |result|
        %tr
          %td.img
            - if path = result.image_path
              %img.slide_icon{:src => path}
          %td.result
            %h4= t "slides.#{result.key}"
            %p
              = search_result_description(result)
              %br
              - if result.description
                = link_to t('search.full_description'), result.description, :class => 'fancybox'
                |
              = link_to t('search.jump_to_page'), play_path(:tab => result.sidebar_item.tab.key, :sidebar => result.sidebar_item.key)

#search_results_from_reference_manager
  - if [@pages, @input_elements, @slides].flatten.empty?
    %p
      %strong= t('search.no_results_found_for')
      %em= @query
