:ruby
  country  = Current.setting.area_code
  country  = country.split('-')[0] if country.include?('-')
  map      = "/assets/maps/#{country}_map.png"
  map_grey = "/assets/maps/#{country}_map_gray.png"

.description= @constraint.description.try :short_content

.item
  .present{:style => "background: url(#{map_grey}) repeat-x;"}
    %h3.tal= Current.setting.start_year
    .overlay{:style => "background: url(#{map}) repeat-x"} &nbsp;

.item
  .future{:style => "background: url(#{map_grey}) repeat-x"}
    %h3.tal= Current.setting.end_year
    .overlay{:style => "background: url(#{map}) repeat-x"} &nbsp;
