.item
  .present{:style => "background: url(#{area_map_path('_grey')}) repeat-x;"}
    %h3.tal= Current.setting.start_year
    .overlay{:style => "background: url(#{area_map_path}) repeat-x"} &nbsp;

.item
  .future{:style => "background: url(#{area_map_path('_grey')}) repeat-x"}
    %h3.tal= Current.setting.end_year
    .overlay{:style => "background: url(#{area_map_path}) repeat-x"} &nbsp;
