.constraint_box_content
  %table#policies
    %thead
      %tr
        %th.check
        %th.name
        %th.target= t("Goals")
        %th.you
          Scenario

    %tbody
      - PolicyGoal.allowed_policies.each do |goal|
        %tr{:id => "goal_#{goal.id}"}
          %td.check
          %td.name= t("policies.#{goal.name.humanize}").html_safe
          %td.target= t("policies.not_set") # goal.output_user_target || t("policies.not_set")
          %td.you=# goal.output_future_value
        :javascript
          new PolicyGoal({
            goal_id : #{goal.id},
            name : '#{t("policies.#{goal.name.humanize}")}',
            reached_query : '#{goal.reached_query}',
            value_query : '#{goal.query}'
          })
    
:javascript
  App.call_api();
