.constraint_box_content
  %table#policies
    %thead
      %tr
        %th.check
        %th.name
        %th.target= t("Goals")
        %th.you Scenario
    %tbody
      - Current.view.policy_goals.each do |goal|
        %tr{:id => "goal_#{goal.id}"}
          %td.check
          %td.name= t("policies.#{goal.name.humanize}").html_safe
          %td.target= t("policies.not_set")
          %td.you
        :javascript
          new PolicyGoal({
            goal_id          : #{goal.id},
            name             : '#{escape_javascript t("policies.#{goal.name.humanize}")}',
            success_query    : '#{goal.reached_query}',
            value_query      : '#{goal.query}',
            target_query     : '#{goal.target_query}',
            user_value_query : '#{goal.user_value_query}',
            unit             : '#{goal.unit}',
            display_fmt      : '#{goal.display_format}'
          })
    
:javascript
  App.call_api();
