.constraint_box_content
  %p.tal
    = @constraint.description.try :short_content
  .import_chart_title= Current.setting.start_year
  .import_chart_title= Current.setting.end_year

  #charts_wrapper.wide
    #output_element_47.half
    #output_element_76.half

  #legend
    - OutputElement.find(47).output_element_series.each do |serie|
      %div{:style=>"background-color:#{serie.converted_color}"}
      %span= t("serie.#{serie.label}")
:javascript
  #{ js_for_output_element(47, 'output_element_47') }
  #{ js_for_output_element(76, 'output_element_76') }
  App.call_api();