.constraint_box_content
  %table#policies
    %thead
      %tr
        %th
        %th NL Nu
        %th Doel
        %th Resultaat
        %th Score
    %tbody
      - Current.gql.policy.goals.each do |goal|
        %tr
          %td.name= t("policies.#{goal.name.humanize}").html_safe
          %td.target= goal.output_present_value
          %td.target= goal.output_user_target || t("policies.not_set")
          %td.you= goal.output_future_value
          %td.target= goal.score
