<div id="merit-order-table"></div>

<script type="text/template" id="merit-order-table-template">
  <table class="autostripe condensed merit_order">
    <thead>
      <tr>
        <th><%= I18n.t("output_elements.tables.merit_order.technology") %></th>
        <th><%= I18n.t("output_elements.tables.merit_order.position") %></th>
        <th><%= I18n.t("output_elements.tables.merit_order.available_capacity") %></th>
        <th><%= I18n.t("output_elements.tables.merit_order.flh_future") %></th>
        <th><%= I18n.t("output_elements.tables.merit_order.profits_per_unit") %></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <%% _.each(series, function(serie){ %>
        <tr>
          <th class="<%%= serie.profitable %>">
            <%%= I18n.t("output_elements.tables.merit_order." + serie.label) %>
          </th>
          <td><%%= serie.position %></td>
          <td><%%= Metric.autoscale_value(serie.capacity, 'MW') %></td>
          <td><%%= Metric.round_number(serie.full_load_hours, 0) %></td>
          <td><%%= Metric.autoscale_value(serie.profits, 'euro') %></td>
        </tr>
      <%% }) %>
    </tbody>
  </table>
</script>

<script>
  App.merit_order.format_table()
</script>
