.constraint_box_content
  %table#policies
    %thead
      %tr
        %th.check
        %th.name
        %th.target= t("Goals")
        %th.you Scenario
    %tbody
      - Current.view.policy_goals.each do |goal|
        %tr{:id => "goal_#{goal.id}", :class => cycle('even', 'odd')}
          %td.check
          %td.name= t("policy_goals.#{goal.key}").html_safe
          %td.target Loading...
          %td.you Loading...
        :javascript
          new PolicyGoal(#{goal.js_attributes.to_json.html_safe});
    
:javascript
  App.call_api();
