.constraint_box_content
  %table#policies
    %thead
      %tr
        %th.check
        %th.name
        %th.target= t("Goals")
        %th.you Scenario
    %tbody
      - Current.view.policy_goals.each do |goal|
        %tr{:id => "goal_#{goal.id}", :class => cycle('even', 'odd')}
          %td.check
          %td.name= t("policy_goals.#{goal.key}").html_safe
          %td.target= t("policy_goals.not_set")
          %td.you Loading...
        :javascript
          new PolicyGoal({
            goal_id          : #{goal.id},
            name             : '#{escape_javascript t("policy_goals.#{goal.key}")}',
            success_query    : '#{gquery_id goal.reached_query}',
            value_query      : '#{gquery_id goal.query}',
            target_query     : '#{gquery_id goal.target_query}',
            user_value_query : '#{gquery_id goal.user_value_query}',
            unit             : '#{goal.unit}',
            display_fmt      : '#{goal.display_format}'
          })
    
:javascript
  App.call_api();
