%table#policies
  %thead
    %tr
      %th.check
      %th.name
      %th.target= t("goals")
      %th.you Scenario
  %tbody
    - Target.all.reject(&:area_dependent).each do |target|
      %tr{:id => "goal_#{target.id}", :class => cycle('even', 'odd')}
        %td.check
        %td.name= t("targets.#{target.code}").html_safe
        %td.target Loading...
        %td.you Loading...
      :javascript
        new Target(#{target.js_attributes.to_json.html_safe});
