#dashboard_popup{class: @constraint.key}
  %h2= t("constraints.#{@constraint.key}.title").html_safe
  = render :partial => @constraint.key

  = render 'output_elements/chart_template'
  :javascript
    #{render 'js_init.js'}

