- content_for(:page_title) { "Import ESDL - #{t('meta.name')}" }

#esdl
  %h1= t('esdl.title')

  .description
    %p= t('esdl.description').html_safe


  = form_with url: import_esdl_create_path do |f|
    %strong= t('esdl.upload')
    = f.file_field :esdl_file, required: true, accept: '.esdl'
    = f.submit t('esdl.start'), class: 'button'
