#log
#log3
#log2
%h1= t("partners.Partners of the Energy Transition Model")
#partners
  -@partners.each do |partner|
    .partner_container
      %a{:id => "partner_#{partner.id}",:class=>"partner_link", :href=> (partner.description? ? "/partners/#{partner.name.downcase}" : partner.url )}
        .header
          %img{:src => "/images/partners/#{partner.name.downcase}.png"}

  -@partners.each do |partner|
    .content{:id => "partner_#{partner.id}_content"}
      - if partner.description
        = partner.description.short_content
      - else
        = t("partners.Click here to go to the website of") + "#{partner.name_or_long_name}."
  
  .clear