- if @partner_types.size > 1
  %h1= t("partners.partners_of_the_energy_transition_model")
  %nav#partners_tabs
    %ul
      - if @info
        %li{:class => (@active_partner_type == 'info' ? 'active' : '')}
          = link_to @info.t(:title), :partner_type => 'info'
      - @partner_types.each do |partner_type|
        %li{:class => (partner_type == @active_partner_type ? 'active' : '')}
          = link_to t("partners.#{partner_type}"), :partner_type => partner_type
  .clear
- else
  %h1= t("partners.partners_of_the_energy_transition_model")

- if @active_partner_type != 'info'
  #partners
    - @partners.each do |p|
      .partner_container
        %a.partner_link{:rel => "partner_#{p.key}", :href => p.link }
        .header= image_tag p.img
    .clear
- else
  #partner_info
    = @info.t(:content).html_safe

  .clear
