.header
  %strong= @prediction.title
  \- #{t 'prediction.by'}
  %strong= @prediction.user.try(:name)
  = l(@prediction.created_at, :format => :date_only)
  
.description
  = smart_truncate @prediction.description, :length => 250
.measures
  %table
    %thead
      %tr
        %th{:colspan => 2} Maatregelen om expertverwachting te behalen
        %th= t 'prediction.impact'
        %th= t 'prediction.cost'
        %th= t 'prediction.actor'
    %tbody
      - @prediction.measures.each do |m|
        %tr{:class => cycle('even', 'odd')}
          %td.name
            = m.name
            - if m.description.present?
              .more_info
                = link_to 'info', '#'
                .inline_description= m.description
          %td
            = m.year_start
            - if m.year_end
              \- #{m.year_end}
          %td= PredictionMeasure::IMPACT[m.impact]
          %td= PredictionMeasure::COST[m.cost]
          %td= m.actor
      %tfoot
        %tr
          %td{:colspan => 5}= t('prediction.table_footer')
.share
  = link_to "Link to this page", predictions_path(:input_element_id => @input_element.id, :prediction_id => @prediction.id)
  -#%a{:href => "http://twitter.com/share", :class => "twitter-share-button", :'data-count' => "none"} Tweet
  -#%script{:src => "http://platform.twitter.com/widgets.js"}
.comments
  %h3= t('prediction.comments')
  = render @prediction.comments
  
  = simple_form_for @comment, :url => comment_prediction_path(@prediction) do |f|
    %h4= t('prediction.new_comment')
    - unless current_user
      = f.input :email
      = f.input :name
    = f.input :body, :label => false
    = f.submit t('prediction.post_comment')

