.header
  %strong= @prediction.title
  \- by
  %strong= @prediction.user.try(:name)
  = l(@prediction.created_at, :format => :long)
  
.description
  = @prediction.description
.measures
  %table
    %thead
      %tr
        %th{:colspan => 2} Maatregelen om expertverwachting te behalen
        %th Impact
        %th Kosten
        %th Uitvoerder
    %tbody
      - @prediction.measures.each do |m|
        %tr{:class => cycle('even', 'odd')}
          %td
            = m.name
            - if m.description.present?
              %span.more_info
                = link_to 'info', '#'
                .inline_description= m.description
          %td
            = m.year_start
            - if m.year_end
              \- #{m.year_end}
          %td= PredictionMeasure::IMPACT[m.impact]
          %td= PredictionMeasure::COST[m.cost]
          %td= m.actor
.comments
  %h3 Comments
  - for c in @prediction.comments
    .comment
      .author= c.author_name
      .date= l c.created_at, :format => :long
      .body= c.body
  
  = simple_form_for @comment, :url => comment_prediction_path(@prediction) do |f|
    %h4 Post a new comment
    - unless current_user
      = f.input :email
      = f.input :name
    = f.input :body, :label => false
    = f.button :submit

