%h1
  %span= "#{distance_of_time_in_words(Time.now, @prediction.created_at)} #{t 'ago'} "
  %strong= @prediction.title
  #{t 'prediction.by'} #{@prediction.user.try(:name)}
  = parenthesize @prediction.user.try(:company_school)

- if user_scenario_available?
  .buttons.right
    #share_box
      %label Link:
      %input#share_link{:size=>"50", :value => share_prediction_url(@prediction)}
    = button_tag t('prediction.share_prediction'), :class => 'share_prediction', :type => 'button'
  .buttons
    = button_to_function t('prediction.use_prediction'), "return false", :class => 'apply_prediction'
- else
  .buttons

.expert_avatar
  = image_tag("/assets/backcasting/prediction_#{@prediction.user.try(:name).gsub(' ','_').downcase}.png")
.description
  = @prediction.description.html_safe
.connector

.measures
  %i= t('prediction.measures_header')

  - if @prediction.measures.any?
    - @prediction.measures.each do |m|
      %ul.measure{:class => cycle('even', 'odd')}
        %li.more_info
        %li.years
          = m.year_start
          - if m.year_end
            \- #{m.year_end}
        %li.name
          = m.name
        - if m.description.present?
          %li.inline_description
            = m.description.html_safe
            %br
            %br
            %strong
              #{t 'prediction.impact'}
            #{PredictionMeasure::IMPACT[m.impact]}
            %br
            %strong
              #{t 'prediction.cost'}
            #{PredictionMeasure::COST[m.cost]}
            %br
            %strong
              #{t 'prediction.actor'}
            = m.actor || "-"
            %br
            = t('prediction.table_footer').html_safe
  - else
    %ul.measure
      %li= t('prediction.no_measures_available')
-#.share
  -# link_to t('prediction.share_link'), share_prediction_path(@prediction), :target => '_blank'
  -#%a{:href => "http://twitter.com/share", :class => "twitter-share-button", :'data-count' => "none"} Tweet
  -#%script{:src => "http://platform.twitter.com/widgets.js"}
.comments
  %h3= t('prediction.comments')
  #comments_container
    = render @prediction.comments

  = simple_form_for @comment,
    :url => comment_prediction_path(@prediction),
    :remote => true do |f|
    %h4= t('prediction.new_comment')
    - unless current_user
      = f.input :email
      = f.input :name
    = f.input :body, :label => false
    = f.submit t('prediction.post_comment')

