.header
  %strong= @prediction.title
  \- by
  %strong= @prediction.user.try(:name)
  = @prediction.created_at.to_s(:medium)
  
.description
  = @prediction.description
.measures
  %table
    %thead
      %tr
        %th{:colspan => 2} Maatregelen om expertverwachting te behalen
        %th Impact
        %th Kosten
        %th Uitvoerder
    %tbody
      - @prediction.measures.each do |m|
        %tr{:class => cycle('even', 'odd')}
          %td
            = m.name
            - if m.description.present?
              %span.more_info
                = link_to 'info', '#'
                .inline_description= m.description
          %td
            = m.year_start
            - if m.year_end
              \- #{m.year_end}
          %td= PredictionMeasure::IMPACT[m.impact]
          %td= PredictionMeasure::COST[m.cost]
          %td= m.actor
.comments