.prediction
  %h1
    %span= "#{distance_of_time_in_words(Time.now, @prediction.created_at)} #{t 'ago'} "
    %strong= @prediction.title
    #{t 'prediction.by'} #{@prediction.user.try(:name)}
    = parenthesize @prediction.user.try(:company_school)

  - if has_active_scenario?
    .buttons.right
      #share_box
        %label Link:
        %input#share_link{:size=>"50", :value => share_prediction_url(@prediction)}
      = button_tag t('prediction.share_prediction'), :class => 'share_prediction', :type => 'button'
    .buttons
      %input.apply_prediction(onclick="return false" type="button" value="#{ t('prediction.use_prediction') }")
  - else
    .buttons

  .expert_avatar
    = image_tag("/assets/backcasting/prediction_#{@prediction.user.try(:name).gsub(' ','_').downcase}.png")
  .description
    = @prediction.description.html_safe
  .connector

  .measures
    %i= t('prediction.measures_header')

    - if @prediction.measures.any?
      - @prediction.measures.each do |m|
        %ul.measure{:class => cycle('even', 'odd')}
          %li.more_info
          %li.years
            = m.year_start
            - if m.year_end
              \- #{m.year_end}
          %li.name
            = m.name
          - if m.description.present?
            %li.inline_description
              = m.description.html_safe
              %br
              %br
              %strong
                #{t 'prediction.impact'}
              #{PredictionMeasure::IMPACT[m.impact]}
              %br
              %strong
                #{t 'prediction.cost'}
              #{PredictionMeasure::COST[m.cost]}
              %br
              %strong
                #{t 'prediction.actor'}
              = m.actor || "-"
              %br
              = t('prediction.table_footer').html_safe
    - else
      %ul.measure
        %li= t('prediction.no_measures_available')
