:ruby
  colours = ["#ffff00", "#ffb200", "#ff6600", "#e60066", "#660099", "#1919b3"]
  series = @predictions.map{|p| p.values_to_a}
  series_options = series.map{|x| {}}

- content_for :head do
  = stylesheet_link_tag 'prediction'
  = sprocket_include_tag 'backcasting'
  = javascript_include_tag 'backcasting'
  :javascript
    // let's prepare the json data produced on the ruby side
    var chart_data = {
      series: #{series.to_json},
      series_options: #{series_options.to_json},
      colours: #{colours.to_json}
    }

    // information about the slider
    var input_element = {
      command_type: #{@input_element.command_type.to_json},
      id: #{@input_element.id},
      value_for_prediction: #{@prediction.try(:corresponding_slider_value)}
    }

    var scenario = {
      start_year: 2010,
      end_year: #{@end_year.to_i}
    }

.prediction
  .intro= t('prediction.intro_text')
  .slider_title= t('prediction.chart_header')
    
  .upper_block
    .chart#backcasting
    .available_predictions
      %table
        - @predictions.each do |p|
          %tr
            %td= radio_button_tag :prediction_id, p.id, (p.id == @prediction.id), :'data-slider_value' => p.corresponding_slider_value
            %td
              .colour{:style => "background: #{cycle(*colours)}"}
            %td
              #{p.user.try(:name)},
              - if p.user.try(:company_school)
                #{p.user.company_school},
              = p.title
              (#{"%.1f" % p.corresponding_slider_value rescue nil} #{@input_element.unit} in #{@end_year})
              - if current_user.try(:admin?)
                = link_to 'edit', edit_admin_prediction_path(p), :target => '_new'
        %tr.user_prediction
          %td= radio_button_tag :prediction_id, ''
          %td
            .colour{:style => "background: #{cycle(*colours)}"}
          %td Your prediction
  .prediction_details
    = render @prediction
  - unless params[:action] == 'link'  
    .buttons
      = button_to_function "apply", "return false", :class => 'apply_prediction'
      = button_to_function "back", "parent.$.fancybox.close()"
