= stylesheet_link_tag 'prediction'
= javascript_include_tag :defaults

.prediction
  .intro
    Hier kun je jouw scenario vergelijken met verwachtingen van experts. Jouw scenario valt binnen/buiten de expertverwachtingen. Deze verwachtingen zijn gebaseerd op een aantal maatregelen. Hoe denk jij dat de adoptie van elektrische auto’s zal verlopen?
  .slider_title= @input_element.name
  .chart
    = image_tag "http://placekitten.com/350/200"
  .available_predictions
    - @input_element.predictions.each do |p|
      .item
        = radio_button_tag :prediction_id, p.id
        .color
        .label
          #{p.user.try(:name)}
          (#{p.last_value.value} in #{p.last_value.year})
  .prediction_details
    = render @prediction

:javascript
  $(function(){
    $("input[type=radio]").click(function(){
      var prediction_id = $(this).val();
      var url = "/predictions/" + prediction_id;
      console.log("Loading" + url);
      $(".prediction_details").load(url);
    });
  });