= form_with model: saved_scenario, local: false do |f|
  - if saved_scenario.featured?
    .warning
      This is a featured scenario. The title and description in this form will not be shown to
      visitors viewing the scenario. Please choose "Edit featured scenario settings" from the scenario
      page.

  = f.hidden_field :id

  .title
    = f.text_field :title

  .description
    = f.text_area :description, placeholder: t('scenario.add_description')

  .actions
    = f.submit t('scenario.save_text'), class: 'save button scenario-button'
    .cancel.button.scenario-button= t('scenario.cancel_text')
