- content_for(:page_title) { "#{t('scenario.save')} - #{t('meta.name')}" }

.scenario_wrapper
  %h1= t("scenario.save")
  %p= t("scenario.save_desc")

  = simple_form_for @saved_scenario, :url => saved_scenarios_path do |f|
    = f.input :title, required: true
    = f.hidden_field :scenario_id
    = f.hidden_field :end_year
    = f.hidden_field :area_code
    = f.button :submit, class: 'btn primary', data: { disable_with: false }
