- content_for(:page_title) { "#{t('scenario.save')} - #{t('meta.name')}" }

.scenario_wrapper
  %h1= t("scenario.save")
  %p= t("scenario.save_desc")

  = simple_form_for @saved_scenario, :url => saved_scenarios_path do |f|
    = f.input :title, required: true

    .input.text.optional.saved_scenario_description
      = f.label :description, class: 'text optional control-label' do
        = t('simple_form.labels.saved_scenario.description')
        %span.optional{ style: 'display: none' }= t('simple_form.optional')
      = f.text_area :description

    = f.hidden_field :scenario_id
    = f.button :submit, class: 'btn primary', data: { disable_with: false }
