.scenario_wrapper#show_scenario

  - if @warning
    .warning
      = @warning

  %h1= (@scenario.title or t 'scenario.no_title' ).truncate(40, separator: ' ')

  = link_to t("scenario.load"),
            load_saved_scenario_path(@saved_scenario),
            class: "button primary"

  = link_to t("scenario.load_factsheet"),
            factsheet_scenario_path(@saved_scenario.scenario_id),
            class: "button"

  - if @scenario.description
    %em= formatted_scenario_description(@scenario.description)

  %ul
    - if @scenario.created_at
      %li
        %strong #{t('scenario.created')}:
        = I18n.localize(@scenario.parsed_created_at, :format => :long)
    %li
      %strong #{t('scenario.area_code')}:
      = t "areas.#{@scenario.area_code}"
    %li
      %strong #{t('scenario.end_year')}:
      = @scenario.end_year
  .sharing-links
    = t('scenario.share.by')
    .copy-link
      %a
        .icon{ class: 'fa fa-copy' }
        = t('scenario.share.copy')
      .copy-box
        .arrow
        .cross{ class: 'fa fa-times', title: 'Close' }
        .url= text_field_tag 'url', request.original_url

    = link_to share_by_mail_link do
      .icon{ class: 'fa fa-envelope-o' }
      Email
    = link_to share_by_twitter_link, open_attributes do
      .icon{ class: 'fa fa-twitter' }
      Twitter
    = link_to share_by_linkedin_link, open_attributes do
      .icon{ class: 'fa fa-linkedin' }
      LinkedIn
    = link_to share_by_facebook_link, open_attributes do
      .icon{ class: 'fa fa-facebook-official' }
      Facebook

  %p
    %small{:style => "font-size: 12px; font-weight: normal"}
      = t("scenario.overwritten")
