- content_for(:page_title) { "#{@saved_scenario.title} - #{t('meta.name')}" }

.background_wrapper#saved_scenario
  .scenario_wrapper#show_scenario

    .scenario
      = render partial: 'scenario', locals: { saved_scenario: @saved_scenario }

    #edit_scenario

    - unless @saved_scenario.featured?
      = render partial: 'scenarios/version_warning', locals: { scenario: @saved_scenario }

    = render partial: 'scenarios/share_links', locals: { scenario: @saved_scenario }

    %p.note
      = t("scenario.overwritten")
