- content_for(:page_title) { "#{@saved_scenario.title} - #{t('meta.name')}" }

-# We'll render the flash in this view, so suppress doing so in the layout.
- content_for(:flash) do
  %span

.background_wrapper#saved_scenario
  .scenario_wrapper#show_scenario
    - if editable_saved_scenario?(@saved_scenario)
      = render partial: 'scenario_list_tabs', locals: { active_tab: @saved_scenario.discarded? ? :trash : :my_scenarios, show_save_current: false }
    .internal-box
      = render partial: 'saved_scenarios/flash_notice'

      .scenario
        = render partial: 'scenario', locals: { saved_scenario: @saved_scenario }

      #edit_scenario
      - unless @saved_scenario.featured?
        = render partial: 'scenarios/version_warning', locals: { scenario: @saved_scenario }

      #saved-scenario-history
        -# it this the best spot: or do we put it in the menu?

