%main.saved-scenario__main
  - if @warning
    .warning
      = @warning

  .saved-scenario__title
    %h1= (@scenario.title or t 'scenario.no_title' ).capitalize

  .saved-scenario__content
    .saved-scenario__description
      .saved-scenario__subhead
        = link_to "",
                  load_saved_scenario_path(@saved_scenario),
                  class: "saved-scenario__nav tooltip fa fa-folder-open-o",
                  title: t('saved_scenario.tooltips.open')

        = link_to "", factsheet_scenario_path(@saved_scenario.scenario_id),
                  class: "saved-scenario__nav tooltip fa fa-bar-chart",
                  title: t('saved_scenario.tooltips.factsheet')

        -# = link_to "",
        -#           "#",
        -#           class: "saved-scenario__nav tooltip fa fa-truck",
        -#           title: t('saved_scenario.tooltips.transport_region')

    - if @scenario.description
      .saved-scenario__field
        %p.saved-scenario__field-label= t('saved_scenario.description').capitalize
        %p.saved-scenario__field-value= @description


    - if @scenario.created_at
      .saved-scenario__field
        %p.saved-scenario__field-label= t 'scenario.created'
        %p.saved-scenario__field-value= l @scenario.parsed_created_at, :format => :long

    .saved-scenario__field
      %p.saved-scenario__field-label= t 'scenario.area_code'
      %p.saved-scenario__field-value= t @scenario.area_code

    .saved-scenario__field
      %p.saved-scenario__field-label= t 'scenario.end_year'
      %p.saved-scenario__field-value= @scenario.end_year

    .saved-scenario__actions
      .saved-scenario__cta
        = link_to t("scenario.load"), load_saved_scenario_path(@saved_scenario), class: "button primary"
        .small= t("scenario.overwritten")
