= simple_form_for [:admin, @text] do |f|
  = f.input :key
  = f.input :title_en
  = f.input :title_nl
  = f.input :short_content_en
  = f.input :short_content_nl
  = f.input :content_en
  = f.input :content_nl
  = f.button :submit
