%h1 Texts

%table.default
  %thead
    %tr
      %th Key
      %th Name
      %th Key
      %th
  %tbody
    - @texts.each do |text|
      %tr
        %td= text.key
        %td= truncate(text.content_nl, :length => 20)
        %td= truncate(text.content_en, :length => 20)
        %td
          = link_to 'edit', edit_admin_text_path(text)
          |
          = link_to 'delete', admin_text_path(text), :method => :delete, :confirm => 'Are you sure?'
%p= link_to "New Text", new_admin_text_path
