
%h1 Edit: #{@converter_data.name}

- form_for [:admin, @converter_data] do |f|
  = f.text_field :demand

  - f.fields_for :links do |link|
    %p
      == => #{link.object.converter.name} (#{link.object.carrier.name})
      %br
      = link.text_field :share
      Share
      %br
      = link.text_field :link_type
      Linktype

  = submit_tag

  