= render 'admin/converters/show'

%h4 Calculations and their attributes
- Qernel::ConverterApi::calculation_methods.each do |attr_name|
  %h5= attr_name
  - print_array_tree(Qernel::ConverterApi.involved_attributes(attr_name)[1..-1])

%h4 Calculations methods

%ul
  - Qernel::ConverterApi.calculation_methods.each do |method_name|
    - method = Qernel::ConverterApi.instance_method(method_name)
    %li
      %strong= method_name
      %em= method.source_location
      %br
      %pre= method_source(method)
      

