- semantic_form_for [:admin, @blueprint_converter] do |f|
  - f.inputs :identifier do 
    = f.input :converter_id, :as => :string, :label => "ID"
    = f.input :key, :hint => "Full key: #{@blueprint_converter.to_qernel.full_key} <br />This full key is currently used in #{Gquery.containing_converter_key(@blueprint_converter.to_qernel.full_key).count} Gqueries."
    = f.input :name, :hint => "Display name: is not used in Qernel. Can be changed without worrying."
    = f.input :use_id, :as => :select, :collection => Qernel::Converter::USES.inject({}) {|hsh,use| hsh.merge "(#{use.first}) #{use.last}" => use.first}
    = f.input :sector_id, :as => :select, :collection => Qernel::Converter::SECTORS.inject({}) {|hsh,use| hsh.merge "(#{use.first}) #{use.last}" => use.first}

  
  = f.buttons
  = link_to 'Cancel and go back', admin_groups_path
