%h2 Blueprints

%p= link_to 'Create new Blueprint', new_admin_blueprint_path

%table{table_defaults}
  %thead
    %tr
      %th Version
      %th Description
      %th Datasets
      %th Created
      %th
  %tbody
    - @blueprints.each do |blueprint|
      %tr{cycles}
        %td= link_to blueprint.graph_version, [:admin, blueprint]
        %td= blueprint.description
        %td= blueprint.datasets.map(&:region_code).join(', ')
        %td= blueprint.created_at.to_s(:datetime)
        %td
          = link_to 'Delete', admin_blueprint_path(blueprint), :method => 'delete', :confirm => 'Are you sure?'