= render :partial => 'header' 

%table
  %tr
    %th Display Name
    %td

%h3 Converters
%table{table_defaults}
  %thead
    %tr
      %th ID
      %th Key
      %th Sector
      %th Use
      %th Groups
  %tbody
    - @blueprint.converter_records.includes(:groups).each do |blueprint_converter|
      %tr{cycles}
        %td.tar== ##{blueprint_converter.id}
        %td= blueprint_converter.key
        %td= blueprint_converter.sector_key
        %td= blueprint_converter.use_key
        %td= blueprint_converter.groups.map(&:key).join(', ')

%h3 Datasets
%table
  - @blueprint.datasets.each do |dataset|
    %tr
      %td= dataset.region_code
