#scorebord
  %h1 Rounds

  - @rounds.each do |round|
    %ul{:style=>"border-bottom: 1px solid grey; width:760px; #{round.active ? "background-color: lightgreen": ''}"}
      %li
        = "#{ round.name}"
      %li
        = "#{ round.policy_goal.andand.name || "-"}" 
      - if round.completed 
        %li
          Round completed
        %li
          = round.value
      - elsif round.active
        %li
          Round active
        %li
          = round.value
        %li
          - form_tag "/rounds/finish" do
            = hidden_field_tag :finish, 1
            = submit_tag "Finish", :confirm =>"Are you sure?"

          
      - else
        - form_tag "" do
          - if round.policy_goal
            %li
              = text_field_tag :value
          %li
          = hidden_field_tag :activate, round.id
          = submit_tag "Start"
  %ul
    - form_tag "/rounds/reset" do
      = hidden_field_tag :reset, 1
      = submit_tag "Reset", :confirm =>"Are you sure?"
