- title "Areas"

%p
  %em 
    Area Groups. 

%table{table_defaults}
  %thead
    %tr
      %th id
      %th name
      %th desc
      %th
  - for area_group in @area_groups
    %tr{cycles}
      %td== ##{area_group.id}
      %td= link_to area_group.name, [:admin, area_group]
      %td= link_to area_group.description, [:admin, area_group]
      %td= link_to 'Edit', edit_admin_areagroup_path(area_group)
      -#= link_to 'Destroy', [:admin, area_group], :confirm => 'Are you sure?', :method => :delete

%p= link_to "New Area Group", new_admin_areagroup_path

