= render partial: 'saved_scenarios/flash_notice'

= render partial: 'collection_info', locals: { collection: collection }
.bar
  .description#main-scenario-description
    - if collection.interpolation
      = t "multi_year_charts.interpolation_description"
    - if collection.saved_scenarios.present?
      %h3= t('multi_year_charts.includes')
      .scenario-cards
        - collection.saved_scenarios.each do |scenario|
          - if (current_user && scenario.viewer?(current_user)) || !scenario.private?
            = link_to saved_scenario_path(scenario.id), class: 'scenario-box' do
              .info-title
                = scenario.title
              .info
                = scenario.end_year
                = t "areas.#{scenario.area_code}"
          - else
            .scenario-box.private
              .info-title
                = scenario.title
              .info
                = scenario.end_year
                = t "areas.#{scenario.area_code}"
    - elsif !collection.interpolation
      %h3= t('multi_year_charts.no_scenarios')
