- scenarios.each do |ss|
  - if can_use_as_myc_scenario?(ss)
    %li
      %button.myc-session{ name: 'scenario_id', value: ss.scenario.id }
        = area_flag_icon(ss.scenario.area_code)
        %span.title= ss.scenario.title
        %span.details
          == (#{t("areas.#{ss.scenario.area_code}")}, #{ss.scenario.end_year})

%li#scenario-paginator
  = link_to_next_page scenarios, 'More...', remote: true, params: { wants: 'scenarios' }
