- scenarios.each do |ss|
  - if can_use_as_myc_scenario?(ss)
    %li
      %button.myc-session{ name: 'scenario_id', value: ss.id }
        = area_flag_icon(ss.area_code) || placeholder_area_flag
        %span.title= ss.title
        %span.details
          == (#{t("areas.#{ss.area_code}")}, #{ss.end_year})

%li#scenario-paginator
  = link_to_next_page scenarios, 'More...', remote: true, params: { wants: 'scenarios' }
