%main.intro
  %h1= t('multi_year_charts.title')
  %p.description= t('multi_year_charts.introduction')

  - if @scenarios.none? { |s| can_use_as_myc_scenario?(s) } && @multi_year_charts.none?
    %p.description
      %strong= t('multi_year_charts.no_scenarios')
    %ol.description.instructions
      %li= t('multi_year_charts.how.step1_html', root_path: root_path)
      %li= t('multi_year_charts.how.step2')
      %li= t('multi_year_charts.how.step3')

  - else
    .actions
      #existing-myc-sessions
        %h2== #{t('multi_year_charts.resume')}&hellip;
        - if @multi_year_charts.none?
          .get-started= t('multi_year_charts.get_started')
        - else
          %ul.myc-list
            = render partial: 'multi_year_chart', collection: @multi_year_charts
        #myc-session-paginator
          != pagy_nav_custom(@pagy)

      #available-scenarios
        %h2== #{t('multi_year_charts.start')}&hellip;
        = form_tag multi_year_charts_path, method: 'post', class: 'select-scenarios' do
          %ul.myc-list
            - @scenarios.each do |scenario|
              - if can_use_as_myc_scenario?(scenario)
                = render partial: 'scenarios_slice', locals: { scenarios: [scenario] }
