- content_for(:page_title) { "#{t('multi_year_charts.title')} - #{t('meta.name')}" }

-# We'll render the flash in this view, so suppress doing so in the layout.
- content_for(:flash) do
  %span
= render "layouts/banner"

.background_wrapper#saved_scenario
  .scenario_wrapper#index
    = render partial: 'saved_scenarios/scenario_list_tabs', locals: { active_tab: :my_myc }
    = render partial: 'saved_scenarios/flash_notice'

    - if @multi_year_charts.any?
      = render partial: 'multi_year_chart_row', collection: @multi_year_charts
      = paginate @multi_year_charts
    - else
      .empty-state
        %h4= t('multi_year_charts.title')
        %p= t('multi_year_charts.description')
        %p{ style: "font-weight: 500" }
          = link_to scenarios_path do
            == ← #{t('multi_year_charts.back')}
