=# render "list"

#content
  .header
    Graphs

  %p
    Create a new Graph by copying from an old one. 
    %br
    = link_to "Create a new Graph", new_construction_graph_path

  %table{table_defaults}
    %thead
      %tr
        %th ID
        %th Region
        %th Blueprint
        %th Dataset
    %tbody
      - @graphs.each do |graph|
        %tr
          %td= graph.id
          %td= graph.dataset.region_code
          %td= link_to graph.blueprint.id, [:construction, graph.blueprint]
          %td= link_to graph.dataset.id, [:construction, graph.dataset]
