.main
  .user-type-selection
    .selection.individual
      .fa.fa-user.bg
      %h3= t('sign_up.individual_title').html_safe
      %p=  t('sign_up.individual_text')
      %p.org-options
        %span.choice.individual
          %span.text= t('sign_up.im_an_individual')
          %span.fa.fa-arrow-right
          %span.fa.fa-check

    .selection.education
      .fa.fa-lightbulb-o.bg
      %h3= t('sign_up.education_title').html_safe
      %p= t('sign_up.education_text')
      %p.org-options
        %span.choice.student
          %span.text= t('sign_up.im_a_student')
          %span.fa.fa-arrow-right
          %span.fa.fa-check
        %span.choice.teacher
          %span.text= t('sign_up.im_a_teacher')
          %span.fa.fa-arrow-right
          %span.fa.fa-check

  = simple_form_for @user, html: { class: 'vertical' } do |f|
    = hidden_field_tag :mode, params[:mode]

    .section
      .row
        = f.input :name
        = f.input :email, required: true

      .row
        = f.input :password, required: true
        = f.input :password_confirmation, required: true

      .row
        - if MailchimpService.configured?
          = f.input :allow_news

    .section.highlight
      .row
        = f.input :company_school
        = f.input :teacher_email

    .section
      %p.terms
        = t('sign_up.agree_to_terms',
            privacy_policy: link_to(t('sign_up.privacy_policy'), privacy_statement_url),
            terms_of_service: link_to(t('sign_up.terms_of_service'), terms_of_service_url)).html_safe

      = f.button :submit, I18n.t('simple_form.labels.user.submit'), class: 'primary'

.return-to-model
  = link_to "← #{t('user.sign_in.return_to_model')}", back_url_or_root

:javascript
  $(function() { new SignUpForm({ el: $('.main') }); });
