= simple_form_for @user do |f|
  = f.input :name
  = f.input :email
  = f.input :company_school
  = f.input :teacher_email
  = f.input :password
  = f.input :password_confirmation
  = f.input :allow_news

  = f.button :submit
