<h1><%= t("header.create_account") %></h1>

<%= form_for(@user) do |f| %>
  <%= error_messages_for :user, :header_message => t("user.error_header"),:message=> t("user.error_message") %>

  <p>
    <%= f.label :name, t("user.username") %><br />
    <%= f.text_field :name %>

  </p>
  <p>
    <%= f.label :email, t("user.email") %><br />
    <%= f.text_field :email%>
  </p>
  <p>
    <%= f.label :company_school, t("user.company_school").html_safe %><br />
    <%= f.text_field :company_school %>
  </p>

  <p>
    <%= label_tag :teacher_email, t("user.teacher_email").html_safe %><br />
    <%= text_field_tag :teacher_email %>
  </p>

  <p>
    <%= f.label :password, t("user.password") %><br />
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.label :password_confirmation, t("user.password_confirmation") %><br />
    <%= f.password_field :password_confirmation %>
  </p>
  <p>
    <%= f.check_box :allow_news %>
    <%= f.label :allow_news, t("user.allow_news") %><br />
  </p>
  <p>
    <%= f.submit t('create') %>
  </p>

<% end %>
