%li{:id=> "side_bars", :class => "node_list"}    
  %h1 Categories
  %hr
  %ul
    - sidebars.each do |sidebar|
      %li{:class => "node_item #{sidebar.id.to_s == params[:sidebar].to_s ? "active": ""}", :id=>"node_#{sidebar.id}"}
        - if sidebar.element
          = link_to sidebar.element.key, admin_view_node_path(@view_node,:tab => params[:tab], :sidebar => sidebar.id)
          = link_to image_tag("/images/layout/icons/edit.png", :size=>"14x14", :class=> "edit_button"), edit_admin_view_node_path(sidebar, :tab => params[:tab], :sidebar => params[:sidebar])
          =  button_to "", admin_view_node_path(sidebar), :confirm => "This will remove everything underneath this sidebar!", :method => :delete
          
    
    %li
      = link_to image_tag("/images/layout/icons/add.png", :size=>"14x14"), new_admin_view_node_path(:view_node => {:parent_id => params[:tab]}, :tab => params[:tab])
