%li{:id=> "slides", :class => "node_list"}    
  %h1 Slides
  %hr
  %ul
    - slides.each do |slide|
      %li{:class => "node_item #{slide.id.to_s == params[:slide].to_s ? "active": ""}", :id=>"node_#{slide.id}"}
        - if slide.element
          = link_to slide.element.name, admin_view_node_path(@view_node,:tab => params[:tab], :sidebar => params[:sidebar], :slide => slide.id)
          = link_to image_tag("/images/layout/icons/edit.png", :size=>"14x14", :class=> "edit_button"), edit_admin_view_node_path(slide, :tab => params[:tab], :sidebar => params[:sidebar], :slide => slide.id)
          = button_to "", admin_view_node_path(slide), :confirm => "This will remove everything underneath this slide!", :method => :delete
    %li
      = link_to image_tag("/images/layout/icons/add.png", :size=>"14x14"), new_admin_view_node_path(:view_node => {:parent_id => params[:sidebar]}, :tab => params[:tab], :sidebar => params[:sidebar])
