%li{:id=> "tabs", :class => "node_list"}
  %h1 Tabs
  %hr
  %ul
    - tabs.each do |tb|
      %li{:class => "node_item #{tb.id.to_s == params[:tab].to_s ? "active": ""}", :id=>"node_#{tb.id}"}
        - if tb.element
          = link_to tb.element.key, admin_view_node_path(@view_node, :tab => tb.id)
          = link_to image_tag("/images/layout/icons/edit.png", :size=>"14x14", :class=> "edit_button"), edit_admin_view_node_path(tb, :tab => tb.id)
          = button_to "", admin_view_node_path(tb), :confirm => "This will remove everything underneath this tab!", :method => :delete
    %li
      = link_to image_tag("/images/layout/icons/add.png", :size=>"14x14"), new_admin_view_node_path(:view_node => {:parent_id => @view_node.id})
    