#accordion_wrapper
  - if @active_sidebar.try(:additional_info_partial)
    = render :partial => "tab/#{@active_sidebar.additional_info_partial}"
  - if @slides.any?
    %ul.accordion
      = render :partial => 'tab/slide', :collection => @slides
  - else
    = t("not_available")

-  if Current.current_slide
  %script
    active_slide = '#{Current.current_slide}'
