= render "layouts/etm/sidebar" if Current.view
= render "layouts/etm/title"
#charts_wrapper
  #charts_holder
    = render "output_elements/chart"
#accordion_wrapper
  - if @slides.any?
    %ul.accordion
      = render :partial => 'tab/slide', :collection => @slides
  - else
    = t("not_available")
