#active-content
  = render "layouts/etm/title"
  #accordion_wrapper
    - if @slides.any?
      %ul.accordion
        = render :partial => 'tab/slide', :collection => @slides
    - else
      = t("not_available")

  #charts_wrapper
    = render :partial => "output_elements/chart",
      :locals => {:chart => @output_element,
                  :dom_id => 'main_chart',
                  :main => true}
    = render :partial => "output_elements/chart",
      :locals => {:chart => @secondary_output_element,
                  :dom_id => 'secondary_chart',
                  :main => false}

  .clear

- content_for :scripts do
  = render 'output_elements/table_template'
  :javascript
    charts.current_default_chart = #{@output_element.id};