#dashboard-changer
  = form_tag '/settings/dashboard', method: 'put' do
    %h1= t(:'dashboard.changer.header')

    %dl
      - Constraint::GROUPS.each do |group|
        %dt= t(:"constraint_groups.#{group}")

        - constraints_for_group(group).reject(&:not_allowed_in_this_area).each do |constraint|
          %dd
            %label
              = constraint_radio_tag constraint, @checked.include?(constraint.key)
              = t(:"constraints.#{constraint.key}.title").html_safe

    .commit
      .indicator

      %button.button.primary.save= t(:'dashboard.changer.save')
      %button.button.cancel=       t(:'dashboard.changer.cancel')
