#dashboard-changer
  = form_tag '/settings/dashboard', method: 'put' do
    %h1= t(:'dashboard.changer.header')

    %dl
      - DashboardItem::GROUPS.each do |group|
        %dt= t(:"dashboard_item_groups.#{group}").html_safe

        - dashboard_items_for_group(group).reject(&:not_allowed_in_this_area).each do |dashboard_item|
          %dd
            %label
              = dashboard_item_radio_tag dashboard_item, @checked.include?(dashboard_item.key)
              = t(:"dashboard_items.#{dashboard_item.key}.title").html_safe

    .commit
      .indicator

      %button.button.primary.save= t(:'dashboard.changer.save')
      %button.button.cancel=       t(:'dashboard.changer.cancel')
