%h2 Charts

%p
  = link_to 'Create new output_element', new_admin_output_element_path
  |
  = select_tag 'type',
    options_from_collection_for_select(@types, :id, :name, params[:type]),
    :include_blank => true, :id => 'select_by_type'
%table.default.autostripe
  %thead
    %tr
      %th.tal id
      %th.tal Key
      %th.tal Desc
      %th.tal Type
      %th.tal Unit
      %th.tal Group
      %th.tal Sub group
      %th.tal Requires merit order
      %th Hidden
      %th Used
      %th
      %th
  %tbody
    - @output_elements.each do |o|
      %tr
        %td= o.id
        %td= o.key
        %td= o.description&.short_content
        %td= o.type
        %td= o.unit
        %td= o.group
        %td= o.sub_group
        %td= o.requires_merit_order?
        %td= 'Hidden' if o.hidden?
        %td= o.slides.count
        %td= link_to "Show", admin_output_element_path(o)
        %td= link_to "Edit", edit_admin_output_element_path(o)

- content_for :head do
  :javascript
    $(function(){
      $("#select_by_type").change(function(){
        var t = $(this).val();
        location.href = '/admin/output_elements?type=' + t;
      });

    });
