%h2= @output_element.name

= link_to 'edit', edit_admin_output_element_path(@output_element)

%h3 Series
%table.default
  %thead
    %tr
      %th.tal id
      %th.tal label
      %th.tal color
      %th Gquery
      %th.tal is_target_line
      %th

  %tbody
    -@output_element.output_element_series.each do |serie|
      %tr{cycles}
        %td= serie.id
        %td= link_to serie.label, admin_output_element_serie_path(serie)
        %td= serie.color
        %td= serie.gquery
        %td= serie.is_target_line
        %td= link_to 'edit', edit_admin_output_element_serie_path(:id => serie.id)

%p
  = link_to 'Create new serie', new_admin_output_element_serie_path(:output_element_id => @output_element.id)
