.row
  .field.scaling_choice
    %label(for="scaling_value")== #{ t(:'local_scenario.scale_to') }&hellip;
    %input.string(type="text" id="scaling_value" name="scaling_value" placeholder="e.g. 1000, 250000, ...")
    %span.attribute= t(:'local_scenario.attributes.number_of_residences.short')
    %input(type='hidden' name="scaling_attribute" value='number_of_residences')

.row.features
  %label
    = scaling_sector_checkbox :agriculture, false
    = t(:'local_scenario.include_agriculture')
  %label
    = scaling_sector_checkbox :energy
    = t(:'local_scenario.include_energy')
  %label
    = scaling_sector_checkbox :industry, false
    = t(:'local_scenario.include_industry')
