#root

  %header
    %a{href:"http://wattnu.nl", target:"_new", id: "wattnu_#{I18n.locale}"}= t 'landing_page.go_to_wattnu'
    #header_inside
      %nav#language
        - other_locale = english? ? "nl" : "en"
        = link_to (t 'landing_page.other_language'), { locale: other_locale }, { class: other_locale }
      %img(src="/assets/layout/logo400@2x.png" width="400" height="49" alt="#{ t(:'meta.name') }")

  %section#main

    %h1= raw t 'landing_page.title'
    %p=  raw t 'landing_page.explanation'

    %aside#screenshots

      %a.screenshot#etflex.etflex_link{href:'http://light.energytransitionmodel.com', target: '_blank'}
      %a.screenshot#etmodel.etmodel_link{href:'/pro', target: '_blank'}
      %a.screenshot#mixer.mixer_link{href: "http://mixer.et-model.com?locale=#{I18n.locale}", target: '_blank'}

    %section#products

      %article.product#etflex
        %a.etflex_link{href:"http://light.energytransitionmodel.com", target: '_blank'}
          %h2= raw t 'landing_page.etflex.title'
          %ul.specs
            %li.time{title:"time required"}=         "~ 5 #{t 'landing_page.minutes'}"
            %li.options{title:"number of options"}=  "12 #{t 'landing_page.sliders'}"
            %li=                                     "#{t 'landing_page.free'}!"
          %p= raw t 'landing_page.etflex.explanation'

      %article.product#etmodel
        %a.etmodel_link{href:"/pro", target: '_blank'}
          %h2= raw t 'landing_page.etmodel.title'
          %ul.specs
            %li.time{title:"time required"}=        "> 30 #{t 'landing_page.minutes'}"
            %li.options{title:"number of options"}= "> 250 #{t 'landing_page.sliders'}"
            %li=                                    "#{t 'landing_page.free'}!"
          %p= raw t 'landing_page.etmodel.explanation'

      %article.product#mixer
        %a.mixer_link{href: "http://mixer.et-model.com?locale=#{I18n.locale}", target: '_blank'}
          %h2= raw t 'landing_page.mixer.title'
          %ul.specs
            %li.time{title:"time required"}=        "~ 10 #{t 'landing_page.minutes'}"
            %li.options{title:"number of options"}= "9 #{t 'landing_page.questions'}"
            %li=                                    "#{t 'landing_page.free'}!"
          %p= raw t 'landing_page.mixer.explanation'

    .clear

  %footer
    %p= raw t 'landing_page.footer.quintel'

  :javascript
    $(".screenshot, .product").hover(function(){
      var this_id = $(this).attr('id');
      $("#products #" + this_id).addClass('active-product');
      $("#screenshots #" + this_id).addClass('active-screenshot');
    },
    function(){
      var this_id = $(this).attr('id');
      $("#products #" + this_id).removeClass('active-product');
      $("#screenshots #" + this_id).removeClass('active-screenshot');
    }
    );
