- content_for(:head) do
  = javascript_include_tag 'establishment_shot'
  = stylesheet_link_tag 'establishment_shot_print', media: 'print'

- content_for :content do
  .information_page.wider
    %ul.options
      %li.print
        %a(href="javascript:window.print()")
          = image_tag 'reports/print.svg'
          %span= t('report.print')

    .page#establishment_shot{ data: co2_factsheet_options }
      .title
        %h1
          = t('establishment_shot.header_html', area: I18n.t("areas.#{@area.area}"))
          %span.loading
            = image_tag('layout/ajax-loader-small.gif')

        - if params[:scenario]
          %ul.toggle_year{ data: { time: @time } }
            %li#present
              = link_to @area.analysis_year,
                        region_path(time: 'present', scenario: params[:scenario]), class: 'button'

            %li#future
              = link_to Current.setting.end_year,
                        region_path(time: 'future', scenario: params[:scenario]), class: 'button'

      .clearfix

      %ul.dataset-info
        %li
          = I18n.t('establishment_shot.introduction_html')

        %li
          %span{ data: { query: 'co2_sheet_energetic_emissions_share', precision: 0 } }
          = I18n.t("dataset.energetic_emissions")

      .clearfix

      %ul.dataset-info

        %li
          = I18n.t("dataset.present_year")
          %span= @year

        %li
          = I18n.t("dataset.number_of_inhabitants")
          %span{ data: { query: 'co2_sheet_inhabitants'} }

        %li
          = I18n.t("dataset.total_energy_demand")
          %span{ data: { query: 'co2_sheet_total_final_energy_demand', unit: 'J' , precision: 1} }

        %li.green
          = I18n.t("dataset.renewability")
          %span{ data: { query: 'co2_sheet_renewability_percentage', unit: '%', precision: 0} }

      .clearfix

      .overview
        .column
          .column-inner
            .chart.buildings{ data: { chart: 'co2_sheet_buildings_households_total_emissions' } }
            .chart.transport{ data: { chart: 'co2_sheet_transport_total_emissions' } }

        .column.center
          .chart{ data: { chart: 'bar_chart' } }

        .column
          .column-inner
            .chart.industry{ data: { chart: 'co2_sheet_industry_energy_other_total_emissions' } }
            .chart.agriculture{ data: { chart: 'co2_sheet_agriculture_total_emissions' } }

        .clearfix

        .small-text
          = t('establishment_shot.footer_text_html')

      .footer
        = t('establishment_shot.created_by_html')

    - unless params[:scenario]
      .navigation.establishment_shot_navigation
        = link_to I18n.t("dataset.start_scenario", area: I18n.t("areas.#{@area.area}")), root_path(country: @area.area), class: 'button primary scenario-link'

        %span.or or
        = link_to "Back", root_path, class: "button"
