- content_for(:head) do
  = javascript_include_tag 'establishment_shot'
  = stylesheet_link_tag 'establishment_shot_print', media: 'print'

- content_for :content do
  .information_page.wider
    %ul.options
      %li.print
        %a(href="javascript:window.print()")
          = image_tag 'reports/print.svg'
          %span= t('report.print')

    .page#establishment_shot{ data: { area: @area.area, host: APP_CONFIG[:api_url], max_year: Setting::MAX_YEAR, min_year: Setting::MIN_YEAR, default_year: Setting::DEFAULT_YEAR } }
      %h1
        = t('establishment_shot.header_html', area: I18n.t("areas.#{@area.area}"))
        %span.loading
          = image_tag('layout/ajax-loader-small.gif')

      .introduction
        = t('establishment_shot.introduction_html')

      .clearfix

      %ul.dataset-info
        %li
          = I18n.t("dataset.present_year")
          %span= @area.analysis_year

        %li
          = I18n.t("dataset.number_of_inhabitants")
          %span= number_with_delimiter(@area.number_of_inhabitants.to_i)

        %li
          = I18n.t("dataset.total_energy_demand")
          %span{ data: { query: 'co2_sheet_total_final_energy_demand', unit: 'J' } }

        %li.green
          = I18n.t("dataset.renewability")
          %span{ data: { query: 'co2_sheet_renewability_percentage', unit: '%' } }

      .clearfix

      .overview
        .column
          .column-inner
            .chart.buildings{ data: { chart: 'co2_sheet_buildings_households_total_co2_emissions' } }
            .chart.transport{ data: { chart: 'co2_sheet_transport_total_co2_emissions' } }

        .column.center
          .chart{ data: { chart: 'bar_chart' } }

        .column
          .column-inner
            .chart.industry{ data: { chart: 'co2_sheet_industry_energy_total_co2_emissions' } }
            .chart.agriculture{ data: { chart: 'co2_sheet_agriculture_total_co2_emissions' } }

        .clearfix

        .small-text
          = t('establishment_shot.footer_text_html')

      .footer
        = t('establishment_shot.created_by_html')

    .navigation
      = link_to I18n.t("dataset.start_scenario", area: I18n.t("areas.#{@area.area}")), root_path(country: @area.area), class: 'button primary scenario-link'

      %span.or or
      = link_to "Back", root_path, class: "button"
