= back_to_model_link
#page_wrapper
  %h1= t("header.famous_users_of_etm")
  %article#famous_users
    - @users.each do |key, user|
      - title = dutch? ? user["organization"]["function_nl"] : user["organization"]["function_en"]
      - url = url_for(controller: 'scenarios', action: 'show', id: user['scenario_id'])
      %div.user{id: key}
        %div.user_shot
          = link_to_if user['scenario_id'], image_tag("pages/famous_users/#{key}.jpg"), url
        %h3
          %a.name{href:'#'}= user["name"]
          %a.title{href: '#'}= title
          %a.organization{href:'#'}= user["organization"]["name"]
= back_to_model_link
