-parts = params[:parts].split(",") if params[:parts]

#grid_investment_needed_container{:style=>"width: 960px;height:630px"}
  %h1=t('grid_investment.header')
  #image_holder{:style => "position: relative"}
    %img{ :src => "/assets/popups/img_elec_network_#{I18n.locale}.jpg" }
      -if parts
        -parts.each do |part|
          %div{:id => "locator_#{part}", :class => "locator"}
            %img{:src => "/assets/popups/network_investment_needed_locator_#{I18n.locale}.png"}
  %a{:href => "/supply/infrastructure" ,:class => "no_target"}= t('grid_investment.more_information')
  %br
  %br
  %a{:id => "disable_peak_load_tracking", :href => "#" ,:class => "no_target"}= t('grid_investment.stop_bugging')
