.diamond_container
  .text
    .intro_text= raw t 'intro.main_text'
    %a.button.primary{:href => "/demand"}
      = t 'intro.start_with_demand'
      %span.right-icon
  .diamonds
    #policy.diamond= link_to t("tabs.targets"), '/targets'
    #demand.diamond= link_to t("tabs.demand"), '/demand'
    #supply.diamond= link_to t("tabs.supply"), '/supply'
    #costs.diamond= link_to t("tabs.costs"), '/costs'
    .clear
  .clear

#textrepository_demand{:style => "display: none;"}
  .intro_text
    %h1 #{raw t("intro.demand")} #{Current.setting.end_year}?
    = raw t 'intro.demand_text'
  %a.button.primary{:href => "/demand"}
    = t 'intro.start_with_demand'
    %span.right-icon

#textrepository_supply{:style => "display: none;"}
  .intro_text
    %h1 #{raw t "intro.supply"} #{Current.setting.end_year}?
    = raw t 'intro.supply_text'
  %a.button.primary{:href => "/supply"}
    = t 'intro.start_with_supply'
    %span.right-icon

#textrepository_policy{:style => "display: none;"}
  .intro_text
    %h1 #{raw t 'intro.targets'} #{Current.setting.end_year}?
    = raw t 'intro.targets_text'
  %a.button.primary{:href => "/targets"}
    = t 'intro.start_with_targets'
    %span.right-icon

#textrepository_costs{:style => "display: none;"}
  .intro_text
    %h1 #{raw t "intro.costs"} #{Current.setting.end_year}?
    = raw t 'intro.cost_text'
  %a.button.primary{:href => "/costs"}
    = t 'intro.start_with_costs'
    %span.right-icon
