- content_for(:page_title) { "#{t("pages.#{key}.title")} - #{t('meta.name')}" }

%div{ class: action_name }
  %h1= t("pages.#{key}.title")

  = render partial: "pages/#{key}/content"

  %section.go_back
    %p= link_to "â† #{t('back_to_model')}", root_path
