#page_wrapper.information_page
  %h1= t("information.in_the_news")

  %h3=  t("information.overview")

  - @releases.each do |release|
    %div
      =image_tag("icons/#{(release.release_type == 'radio' ? "speaker.jpeg" : "pdf.gif")}", :class =>"left", :size=>"35x40",:style =>"padding-right:10px")
    %strong= release.medium
    %small= l release.release_date, :format => :date_only
    %br
    = link_to(release.title ? release.title : "Open persbericht", release.link, :target => '_blank')
