= back_to_model_link
#page_wrapper
  %h1= t("header.prominent_users_of_etm")
  %article#prominent_users
    - @users.each do |key, user|
      - title = dutch? ? user["organization"]["function_nl"] : user["organization"]["function_en"]
      - url = user['scenario_id'] ? url_for(controller: 'scenarios', action: 'show', id: user['scenario_id']) : '#'
      %div.user{id: key}
        %div.user_shot
          = link_to image_tag("pages/prominent_users/#{key}.jpg"), url
        %h3
          %a.name{href:'#'}= truncate(user["name"], length: 31)
          %a.title{href: '#'}= truncate(title, length: 31)
          %a.organization{href:'#'}= truncate(user["organization"]["name"], length: 31)
= back_to_model_link
