%h1{:style => "color: #f00"} Qernel Error

%h3= @exception.message
%img{:src => '/images/surfi.jpg', :style => "float:right; border: 8px solid #ccc; margin-right: 10px"}
- converter = @exception.converter
%h4== Converter Data: #{converter.full_key}


%table{:border => 1}
  - Qernel::ConverterApi.calculation_methods.each do |attr_name|
    %tr
      %td= attr_name
      %td.tar
        = number_with_delimiter( converter.query(attr_name), :delimiter => "'") rescue "ERROR"
  - Qernel::ConverterApi::ATTRIBUTES_USED.reject{|a| a.to_s.include?('expected')}.each do |attr_name|
    %tr
      %td= attr_name
      %td.tar= number_with_delimiter(converter.query(attr_name), :delimiter => "'") rescue "ERROR"



%h4 Slots
%table{:border => 1}
  %thead
    %tr
      %th direction
      %th carrier
      %th conversion
      %th external value
  - [converter.inputs, converter.outputs].flatten.each do |slot|
    %tr
      %td= slot.input? ? 'input' : 'output'
      %td= slot.carrier.key
      %td= slot.conversion
      %td= slot.external_value

%h4 Input Links
%table{:border => 1}
  %thead
    %tr
      %th Type
      %th Carrier
      %th Value
      %th Child
      %th Share
  - converter.input_links.each do |link|
    %tr
      %td= link.link_type
      %td= link.carrier.key
      %td.tar= number_with_precision link.value, :precision => 0, :delimiter => "'"
      %td= link.child.full_key
      %td= link.share
      
%h4 Output Links
%table{:border => 1}
  %thead
    %tr
      %th Type
      %th Carrier
      %th Value
      %th Child
      %th Share
  - converter.output_links.each do |link|
    %tr
      %td= link.link_type
      %td= link.carrier.key
      %td.tar= number_with_precision link.value, :precision => 0, :delimiter => "'"
      %td= link.parent.full_key
      %td= link.share

%h4 Backtrace

%pre= @exception.backtrace.join("\n")