#startbar
  - if has_active_scenario?
    %h4#continue_current_scenario
      %a{                                                                     |
        :href => Current.setting.last_etm_page,                               |
        :alt => "continue",                                                   |
        :title => "continue"}= t('continue_with_current_scenario').capitalize

  %h4#new_scenario_button
    = t('start_a_new_scenario').capitalize
  #new_scenario{style: "display: none;"}
    = form_tag root_path do
      = render "pages/root_page/country_select"
      = render "pages/root_page/year_select"
      #submit
        = render "pages/root_page/start_button"
  .clear
  %h4#existing_scenario_button
    = t('load_a_scenario').capitalize
  #existing_scenario{style: "display: none;"}
    = render 'pages/root_page/exsisting_scenario'

#information
  = render 'pages/root_page/movies'
  #load_exsisting_scenario{style: "display: none;"}
    = render 'pages/root_page/load_exsisting_scenario'
  .clear
.clear