#home
  #start
    - if has_active_scenario?
      %h1= t("welcome_back")
    - else
      %h1= t("start_right_away")
      %p.nodownloads= t("no_downloads")

    - if has_active_scenario?
      %a#continue_scenario_button.style_button{                               |
        :href => Current.setting.last_etm_page,                               |
        :alt => "continue",                                                   |
        :title => "continue"}= t('continue_with_current_scenario').capitalize
    %a#new_scenario_button.style_button{                              |
      :href =>"#",                                                    |
      :alt => "new scenario",                                         |
      :title => "new scenario"}= t('start_a_new_scenario').capitalize
    %ul#new_scenario_form
      = form_tag root_path do
        = render "pages/root_page/country_select"
        = render "pages/root_page/year_select"
        = render 'pages/root_page/start_button'
    %a#existing_scenario_button.style_button{:href =>"#",
      :alt  => "continue",
      :title => "continue"}= t('load_a_scenario').capitalize
    %ul#existing_scenario_form
      = render 'pages/root_page/scenario_select_form'

  = render 'pages/root_page/movies'

.clear
