-# Use this banner as the TYNDP warning
#whats-new
  .content
    %p
      %strong= t('updated.title').html_safe
      = t('updated.description').html_safe

#landing
  #blurb
    %h1= t('intro.introduction')
    %p= t('intro.root_text')

  - if has_active_scenario?
    = render partial: 'pages/root_page/resume_scenario'

  = render partial: 'pages/root_page/preset_scenario'

  #other_features
    %ul.other-features
      - if Settings.multi_year_charts_url
        %li.multi-year-charts
          %h4= t('intro.multi_year_charts.title')
          %p= t('intro.multi_year_charts.description')
          %p
            = link_to(multi_year_charts_path) do
              = t('intro.multi_year_charts.try_it')
              →
      %li.quintel
        %h4= t('intro.about_us.title')
        %p= t('intro.about_us.description')
        %p
          = link_to('https://quintel.com') do
            = t('intro.about_us.learn_more')
            →
          = link_to('https://docs.energytransitionmodel.com') do
            = t('intro.about_us.documentation')
            →

  #legal
    = render partial: 'layouts/etm/footer'
