#scaled_scenario_setup
  .selections
    .selection.new.active
      = t(:'local_scenario.start_new').html_safe
    .selection.preset
      = t(:'local_scenario.based_on_preset').html_safe

  = form_tag root_path, id: 'new_scaled_scenario' do
    .row
      .field
        %p= t("country")
        = I18n.t(Current.setting.area_code)
        .hidden
          = render "pages/root_page/country_select"
      .field
        %p= t("year")
        = (Current.setting.end_year || 2050)
        .hidden
          = render "pages/root_page/year_select"

    = render partial: 'scaled_common'

    #submit
      = render "pages/root_page/start_button"

  = form_tag load_scenarios_path, id: 'preset_scaled_scenario', method: :post do
    .row
      .field
        %p Select a saved scenario
        = presets_select

    = render partial: 'scaled_common'

    #submit
      = render "pages/root_page/start_button"
