.information_page
  %h1 Whats new in the energy transition model?

  %section
    %h2 1. Update housing types and insulation
    %p
      The ETM has now five different housing types. Per type you can see the present average insution label, and for the future you can choose how much this changes per housing type in your scenario.
      %a(href="https://pro.energytransitionmodel.com/scenario/demand/households/insulation")
        Explore the housing types and insulation here.
      %p(style="text-align: center")
        = image_tag 'pages/whats_new/households_insulation_chart_en.png', alt: ''

    %h2 2. Hybride heat pump using hydrogen
    %p
      Explore future for all residences with a hybrid heat pump using hydrogen. See direclty how much hydrogen you will need. Try to find out yourselves how much wind turbines are needed to produce the needed amount of hydrgen.
      %a(href="https://pro.energytransitionmodel.com/scenario/demand/households/space-heating-hot-water")
        You will find the hydrogen heat pump here

    %h2 3. Biomass update
    %p
      Biomass has had an update in the model. You can see the demand and supply of biomass in a region. Furthermore you can find the spatial consequences of the needed biomass production.
      %a(href="https://pro.energytransitionmodel.com/scenario/supply/biomass/overview")
        Go to biomass in the model
      %p(style="text-align: center")
        = image_tag 'pages/whats_new/biomass_en.png', alt: ''

    %h2 4. Time resolved charts
    %p
      For many charts it is now possible to 'toggle' easily between the yearly supply and demand to the hourly dynamics. Click the toggle at the right top if you want the explore this.
      %a(href="https://pro.energytransitionmodel.com/scenario/supply/electricity_renewable/wind-turbines")
        A nice example you can find here
      %p(style="text-align: center")
        = image_tag 'pages/whats_new/electricity_en.png', alt: ''


    %h2 5. You can explore hundreds of new regions with the Energy transition model, a couple of examples
    %ul
      %li Amsterdam
      %li Rotterdam
      %li Leiden
      %li Denmark
      %li Germany (updated)

    %p
      %a(href="https://pro.energytransitionmodel.com/")
        You can find the whole list of regions here

  %section
    %p= link_to "← #{t('back_to_model')}", root_path, class: 'button'
