- content_for(:page_title) { "#{t('updated.name')} - #{t('meta.name')}" }

.information_page.whats_new
  = render partial: 'whats_new_content'

  %section.go_back
    %p= link_to "← #{t('back_to_model')}", root_path
