.information_page
  %h1 Wat is er nieuw in het Energietransitiemodel?

  %section
    %h2 1. Alle RES-regio’s beschikbaar!
    %p
      Vanaf nu zijn alle 30 RES-regio’s beschikbaar in het Energietransitiemodel. Dit betekent dat iedereen deze energiesystemen kan gaan verkennen en (professionele) energiescenario’s kan gaan maken. Bekijk bijvoorbeeld het effect van:
      %ul
        %li Het plaatsen van een zonnepark in Drechtsteden,
        %li Het isoleren van alle rijtjeshuizen in Midden-Holland,
        %li Of het bouwen van tien windmolens in de Cleantechregio
      %p
        Voor meer informatie: <a href="https://quintel.com/res">https://quintel.com/res</a>
      %p(style="text-align: center")
        = image_tag 'pages/whats_new/resregions_nl.png', alt: ''

    %h2 2. Gebruiksvriendelijkheid verbeterd
    %p
      Er is ook gewerkt aan de gebruiksvriendelijkheid van het Energietransitiemodel. Een aantal voorbeelden:
      %ul
        %li <strong>Introductie</strong>: Er is een heldere <a href="https://beta-pro.energytransitionmodel.com/scenario/overview/introduction/how-does-the-energy-transition-model-work">landingspagina</a>, waar het proces voor het maken van scenario’s op hoofdlijnen wordt uitgelegd.
        %li	<strong>Scenario’s opslaan</strong>: Je kunt eigen scenario’s zowel "opslaan" als "opslaan als". Dit maakt versiebeheer veel makkelijker en intuitiever. Met "opslaan" overschrijf jij het scenario en blijft de naam en de link intact. Met "opslaan als" maak je een kopie, waar je een nieuwe naam aan moet geven (= gelijk aan de oude manier).
        %li <strong>Aanbod</strong>: Met de schuifjes voor aanbod geef je nu vermogen in MW aan in plaats van aantallen; dit maakt het voor veel mensen makkelijker om bekende plannen en doelstellingen om te zetten in schuifjes, zonder dat er zelf omrekeningen nodig zijn.
        %li <strong>Huizenvoorraad</strong>: Je hoeft niet meer per type woning in een scenario aan te geven hoeveel het er worden. Als je meer woningen bouwt, wordt de huidige mix gevolgd. Deze mix kun je wel veranderen. <a href="https://beta-pro.energytransitionmodel.com/scenario/demand/households/population-housing-stock">Bekijk hier de nieuwe schuifjes voor de huizenvoorraad.</a>

    %h2 3. Imported electricity price curve
    %p
      Het ETM veronderstelt standaard dat
      %a(href="https://beta-pro.energytransitionmodel.com/scenario/costs/electricity_import_costs/costs-of-imported-electricity")<
        de prijs van geïmporteerde elektriciteit
      constant is gedurende het jaar. Je kunt nu afwijken van deze aanname door een CSV-bestand te importeren met daarin voor elk uur van het jaar een prijs voor import-stroom (in €/MWh).
      Hierdoor zal de positie van geïmporteerde elektriciteit in de merit order per uur verschillen.
    %p(style="text-align: center")
      = image_tag 'pages/whats_new/imported_electricity_price_en.png', alt: ''

    %p
      %a(href="https://github.com/quintel/documentation/blob/master/general/costs_imported_electricity.md#uploaded-price-curves")<
        Onze documentatie
      bevat meer informatie over deze nieuwe feature, inclusief
      instructies over hoe het CSV-bestand geüpload moet worden.


    %h2 4. Update van alle uurlijkse profielen
    %p
      Het ETM modelleert vraag en aanbod van elektriciteit en waterstof op uurbasis. We hebben in nauwe samenwerking met de energiemodellengemeenschap alle profielen herzien en de bronnen en methodes duidelijk gedocumenteerd op Github. Dit traject is afgesloten met een mini-symposium waar de resultaten zijn gepresenteerd en we verbeterpunten hebben geïdentificeerd.
      %a(href="https://github.com/quintel/documentation/blob/master/general/curves.md")
        Hier kun je de documentatie over de uurlijkse profielen vinden.
      %p(style="text-align: center")
        = image_tag 'pages/whats_new/hourlyprofiles_nl.png', alt: ''

    %h2 5. Meerjarengrafieken
    %p
      Met de inzet van de nieuwe meerjarengrafieken module kunnen de mogelijke transitiepaden naar een 2050 toekomstbeeld verkend worden. Het stelt de gebruiker in staat om te ontdekken wat dit zou kunnen betekenen voor de tussentijdse doelstellingen voor de belangrijkste zichtjaren (2023, 2030 en 2040). Met de meerjarengrafieken krijgt de gebruiker inzicht in een drietal grafieken waarmee het transitiepad van de belangrijkste aspecten van het energiesysteem (eindgebruik energie, CO<sub>2</sub> uitstoot en hernieuwbare opwek) per zichtjaar ingezien en aangepast kunnen worden.
      %a(href="https://beta-pro.energytransitionmodel.com/multi_year_charts")
        Ontdek de nieuwe meerjarengrafieken module.
      %p(style="text-align: center")
        = image_tag 'pages/whats_new/myc_nl.png', alt: ''

    %h2 6. Overige updates
    %p
      Verder zijn er nog twee kleinere updates die ook interessant zijn om te noemen:
      %ul
        %li <strong>Grondstoffen chemische industrie</strong>
        Het is nu mogelijk om grondstoffen die gebruikt worden door de chemische industrie aan te passen. Je kunt nu bijvoorbeeld fossiele grondstoffen vervangen voor biomassa/waterstof <a href="https://beta-pro.energytransitionmodel.com/scenario/demand/industry/chemicals">met de nieuwe schuifjes</a>.
        %li <strong>Waterstofcentrale (STEG)</strong>
        Naast de pieklast waterstofcentrale kan nu ook een <a href="https://beta-pro.energytransitionmodel.com/scenario/supply/electricity_renewable/hydrogen-plants">basislast waterstofcentrale (STEG)</a> ingezet worden in een scenario.

  %section
    %p= link_to "← #{t('back_to_model')}", root_path, class: 'button'
