.information_page
  %h1 What's new in the energy transition model?

  %section
    %h2 1. Update housing types and insulation
    %p
      The ETM now has five different types of residences. For each type, the present average insulation level (and corresponding energy label) is indicated; for your scenario, you are able to choose how these insulation levels may change per type of residence in the future.
      %a(href="https://pro.energytransitionmodel.com/scenario/demand/households/insulation")
        Explore the types of residences and insulation levels here.
      %p(style="text-align: center")
        = image_tag 'pages/whats_new/households_insulation_chart_en.png', alt: ''

    %h2 2. Hybrid heat pump using hydrogen
    %p
      Explore the future for all residences with a hybrid heat pump using hydrogen. See directly how much hydrogen you will need. Try to find out yourselves how much wind turbines are needed to produce the necessary amount of hydrogen.
      %a(href="https://pro.energytransitionmodel.com/scenario/demand/households/space-heating-hot-water")
        You will find the hydrogen heat pump here.

    %h2 3. Biomass update
    %p
      Biomass has had an update in the model. You are now able to check out the demand and supply of biomass in a region. Furthermore, you can find the spatial consequences of the needed biomass production.
      %a(href="https://pro.energytransitionmodel.com/scenario/supply/biomass/overview")
        Go to biomass in the model
      %p(style="text-align: center")
        = image_tag 'pages/whats_new/biomass_en.png', alt: ''

    %h2 4. Time resolved charts
    %p
      For many charts it is now possible to 'toggle' easily between the yearly supply and demand to the hourly dynamics. Click the toggle at the top right if you want the explore this.
      %a(href="https://pro.energytransitionmodel.com/scenario/supply/electricity_renewable/wind-turbines")
        You can find a nice example here.
      %p(style="text-align: center")
        = image_tag 'pages/whats_new/electricity_en.png', alt: ''


    %h2 5. You can explore hundreds of new regions with the energy transition model. A couple of examples are:
    %ul
      %li Amsterdam
      %li Rotterdam
      %li Leiden
      %li Denmark
      %li Germany (updated)

    %p
      %a(href="https://pro.energytransitionmodel.com/")
        You can find the whole list of regions here.

  %section
    %p= link_to "← #{t('back_to_model')}", root_path, class: 'button'
