- title 'Expert predictions'

%table{table_defaults}
  %thead
    %tr
      %th.tal id
      %th.tal input_element_id
      %th.tal name
      %th.tal extra_key
      %th.tal 

  %tbody
    - @expert_predictions.each do |expert_prediction|
      %tr{cycles}
        %td= expert_prediction.id
        %td= expert_prediction.input_element_id
        %td= link_to expert_prediction.name, admin_expert_prediction_path(expert_prediction)
        %td= expert_prediction.extra_key
        %td= link_to 'edit', edit_admin_expert_prediction_path(expert_prediction)

%p= link_to 'New', new_admin_expert_prediction_path