= link_to "back", admin_expert_predictions_path
%h2
  ==#{@expert_prediction.name}
  %small= link_to 'edit', edit_admin_expert_prediction_path(@expert_prediction)

%table{table_defaults}
  %thead
    %tr
      %th.tal year
      %th.tal value
      %th.tal
  %tbody
    - @expert_prediction.year_values.each do |entry|
      %tr{cycles}
        %td= entry.year
        %td= entry.value
        %td= link_to 'edit', edit_admin_year_value_path(entry)
= link_to 'New', new_admin_year_value_path
= render '/admin/shared/revisions', :versioned => @expert_prediction
