-# Hybrid offshore capacity and energy flows table
%table.chart.centered.autostripe
  %thead
    %tr
      %th
      %th= t 'output_elements.tables.capacity_energy_hybrid_offshore.input_capacity'
      %th= t 'output_elements.tables.capacity_energy_hybrid_offshore.output_capacity'
      %th= t 'output_elements.tables.capacity_energy_hybrid_offshore.peak_input'
      %th= t 'output_elements.tables.capacity_energy_hybrid_offshore.peak_output'
      %th= t 'output_elements.tables.capacity_energy_hybrid_offshore.energy_input'
      %th= t 'output_elements.tables.capacity_energy_hybrid_offshore.energy_output'
    %tr
      %th
      %th MW
      %th MW
      %th MW
      %th MW
      %th PJ
      %th PJ
  %tbody
    %tr
      %th.left= t "output_elements.tables.capacity_energy_hybrid_offshore.hybrid_offshore_wind_turbine"
      %th -
      %td{:data => {:gquery => "output_capacity_hybrid_offshore_wind_turbine"}}
      %th -
      %td{:data => {:gquery => "peak_output_hybrid_offshore_wind_turbine"}}
      %th -
      %td{:data => {:gquery => "energy_output_hybrid_offshore_wind_turbine"}}
    %tr
      %th.left= t "output_elements.tables.capacity_energy_hybrid_offshore.hybrid_offshore_electrolyser"
      %td{:data => {:gquery => "input_capacity_hybrid_offshore_electrolyser"}}
      %td{:data => {:gquery => "output_capacity_hybrid_offshore_electrolyser"}}
      %td{:data => {:gquery => "peak_input_hybrid_offshore_electrolyser"}}
      %td{:data => {:gquery => "peak_output_hybrid_offshore_electrolyser"}}
      %td{:data => {:gquery => "energy_input_hybrid_offshore_electrolyser"}}
      %td{:data => {:gquery => "energy_output_hybrid_offshore_electrolyser"}}
    %tr
      %th.left= t "output_elements.tables.capacity_energy_hybrid_offshore.hybrid_cable_from_offshore_network"
      %td{:data => {:gquery => "input_capacity_hybrid_cable_from_offshore_network"}}
      %td{:data => {:gquery => "output_capacity_hybrid_cable_from_offshore_network"}}
      %td{:data => {:gquery => "peak_input_hybrid_cable_from_offshore_network"}}
      %td{:data => {:gquery => "peak_output_hybrid_cable_from_offshore_network"}}
      %td{:data => {:gquery => "energy_input_hybrid_cable_from_offshore_network"}}
      %td{:data => {:gquery => "energy_output_hybrid_cable_from_offshore_network"}}
    %tr
      %th.left= t "output_elements.tables.capacity_energy_hybrid_offshore.hybrid_cable_to_offshore_network"
      %td{:data => {:gquery => "input_capacity_hybrid_cable_to_offshore_network"}}
      %td{:data => {:gquery => "output_capacity_hybrid_cable_to_offshore_network"}}
      %td{:data => {:gquery => "peak_input_hybrid_cable_to_offshore_network"}}
      %td{:data => {:gquery => "peak_output_hybrid_cable_to_offshore_network"}}
      %td{:data => {:gquery => "energy_input_hybrid_cable_to_offshore_network"}}
      %td{:data => {:gquery => "energy_output_hybrid_cable_to_offshore_network"}}
    %tr
      %th.left= t "output_elements.tables.capacity_energy_hybrid_offshore.curtailed_electricity"
      %th -
      %th -
      %td{:data => {:gquery => "peak_input_curtailed_electricity"}}
      %th -
      %td{:data => {:gquery => "energy_input_curtailed_electricity"}}
      %th -
    %tr
      %th.left= t "output_elements.tables.capacity_energy_hybrid_offshore.conversion_loss"
      %th -
      %th -
      %th -
      %th -
      %td{:data => {:gquery => "energy_input_conversion_loss"}}
      %th -
