-# Power plants
%table#power_plants.chart
  %thead
    %tr
      %th
      %th.border-rgt= Current.setting.start_year
      %th{:colspan => 4, :style => "text-align: center"}= Current.setting.end_year
    %tr
      %th= t 'output_elements.power_plants.types'
      %th.border-rgt= t 'output_elements.power_plants.production'
      %th= t 'output_elements.power_plants.plants'
      %th= t 'output_elements.power_plants.production'
      %th= t 'output_elements.power_plants.capacity'
      %th= t 'output_elements.power_plants.investment'
    %tr
      %th
      %th.border-rgt PJ
      %th #
      %th PJ
      %th GW
      %th M EUR
  %tbody
    %tr.odd
      %th= t "output_element_series.coal_power_plants"
      %td.border-rgt{:data => {:gquery => "coal_power_plants_in_power_plant_properties", :graph => :present}}
      %td{:data => {:gquery => "coal_power_plants_number_of_plants_in_power_plant_properties"}}
      %td{:data => {:gquery => "coal_power_plants_prod_in_power_plant_properties"}}
      %td{:data => {:gquery => "coal_power_plants_capacity_in_power_plant_properties"}}
      %td{:data => {:gquery => "coal_power_plants_investment_in_power_plant_properties"}}
    %tr.even
      %th= t "output_element_series.oil_power_plants"
      %td.border-rgt{:data => {:gquery => "oil_power_plants_in_power_plant_properties", :graph => :present}}
      %td{:data => {:gquery => "oil_power_plants_plants_in_power_plant_properties"}}
      %td{:data => {:gquery => "oil_power_plants_prod_in_power_plant_properties"}}
      %td{:data => {:gquery => "oil_power_plants_capacity_in_power_plant_properties"}}
      %td{:data => {:gquery => "oil_power_plants_investment_in_power_plant_properties"}}
    %tr.odd
      %th= t "output_element_series.gas_plants"
      %td.border-rgt{:data => {:gquery => "gas_plants_in_power_plant_properties", :graph => :present}}
      %td{:data => {:gquery => "gas_power_plants_plants_in_power_plant_properties"}}
      %td{:data => {:gquery => "gas_plants_prod_in_power_plant_properties"}}
      %td{:data => {:gquery => "gas_plants_capacity_in_power_plant_properties"}}
      %td{:data => {:gquery => "gas_plants_investm_in_power_plant_properties"}}
    %tr.even
      %th= t "output_element_series.nuclear_plants"
      %td.border-rgt{:data => {:gquery => "nuclear_plants_in_power_plant_properties", :graph => :present}}
      %td{:data => {:gquery => "nuclear_plants_plants_in_power_plant_properties"}}
      %td{:data => {:gquery => "nuclear_plants_prod_in_power_plant_properties"}}
      %td{:data => {:gquery => "nuclear_plants_capacity_in_power_plant_properties"}}
      %td{:data => {:gquery => "nuclear_plants_investm_in_power_plant_properties"}}
    %tr.odd
      %th= t "output_element_series.wind_farms"
      %td.border-rgt{:data => {:gquery => "wind_farms_in_power_plant_properties", :graph => :present}}
      %td{:data => {:gquery => "wind_farms_plants_in_power_plant_properties"}}
      %td{:data => {:gquery => "wind_farms_prod_in_power_plant_properties"}}
      %td{:data => {:gquery => "wind_farms_capacity_in_power_plant_properties"}}
      %td{:data => {:gquery => "wind_farms_investm_in_power_plant_properties"}}
    %tr.even
      %th= t "output_element_series.biomass_plants"
      %td.border-rgt{:data => {:gquery => "biomass_plants_in_power_plant_properties", :graph => :present}}
      %td{:data => {:gquery => "biomass_plants_plants_in_power_plant_properties"}}
      %td{:data => {:gquery => "biomass_plants_prod_in_power_plant_properties"}}
      %td{:data => {:gquery => "biomass_plants_capacity_in_power_plant_properties"}}
      %td{:data => {:gquery => "biomass_plants_investm_in_power_plant_properties"}}
    %tr.odd
      %th= t "output_element_series.other_plants"
      %td.border-rgt{:data => {:gquery => "other_plants_in_power_plant_properties", :graph => :present}}
      %td{:data => {:gquery => "other_plants_plants_in_power_plant_properties"}}
      %td{:data => {:gquery => "other_plants_prod_in_power_plant_properties"}}
      %td{:data => {:gquery => "other_plants_capacity_in_power_plant_properties"}}
      %td{:data => {:gquery => "other_plants_investm_in_power_plant_properties"}}
  %tfoot
    %tr
      %th
        %strong Total
      %td.border-rgt{:data => {:gquery => 'total_plants_prod_present_in_power_plant_properties', :graph => :present}} -
      %td{:data => {:gquery => 'power_plants_plants_in_power_plant_properties'}} -
      %td{:data => {:gquery => 'total_plants_prod_future_in_power_plant_properties'}} -
      %td{:data => {:gquery => 'all_plants_capacity_in_power_plant_properties'}} -
      %td{:data => {:gquery => 'total_plants_investm_in_power_plant_properties'}} -
