-# Population chart
%table#population.chart.centered.autostripe
  %thead
    %tr
      %th 
      %th= t 'output_elements.storage_capacity'
      %th= t 'output_elements.storage_volume'
      %th= t 'output_elements.annual_stored_energy'
      %th= t 'output_elements.cycles'      

  %tbody
    %tr
      %th= t "input_elements.electricity_stored_in_batteries"
      %td 370 MW
      %td 500 MWh
      %td 25 GWh
      %td 50
    %tr
      %th= t "input_elements.electricity_stored_in_EV"
      %td 370 MW
      %td 2.5 GWh
      %td 250 GWh
      %td 100
    %tr
      %th= t "input_elements.electricity_converted_to_heat"
      %td 525 MW
      %td 3.0 GWh
      %td 1.0 TWh
      %td 
    %tr
      %th= t "electricity_converted_to_gas"
      %td 12 MW
      %td 
      %td 18 GWh
      %td 
    %tr
      %th= t "input_elements.electricity_exported"
      %td 5850 MW
      %td 
      %td 1.5 TWh
      %td 
    