-# merit order table
%table.chart
  %thead
    %tr
      %th Technology
      %th Merit order position
      %th Operating costs
      %th Available capacity
      %th Full load hours, future *
      %th Full load hours, present
    %tr
      %th
      %th
      %th EUR/MWh
      %th MW
      %th Hr
      %th Hr
  %tfoot
    %tr
      %td{:colspan => 6}
        * Calculated full load hour values not yet used in model
        %br
        ** Wood pellet and biocoal co-firing takes place in Coal USC power plants
  %tbody
    :ruby
      items = {
        :nuclear_iii => "Nuclear 3rd Gen",
        :coal_igcc => "Coal IGCC",
        :coal_pwd => "Coal ultra supercritical **",
        :coal_chp => "Coal&nbsp;ultra supercritical&nbsp;CHP",
        :coal_conv => "Coal supercritical",
        :coal_pwd_ccs => "Coal&nbsp;ultra supercritical&nbsp;CCS",
        :coal_igcc_ccs => "Coal IGCC CCS",
        :gas_ccgt => "Gas CCGT",
        :gas_ccgt_ccs => "Gas CCGT CCS",
        :central_gas_chp => "Gas CCGT CHP",
        :gas_conv => "Gas steam",
        :gas_turbine => "Gas turbine",
        :oil_plant => "Oil ultra supercritical",
        :must_run => "Must run CHPs",
        :solar_pv => "Solar PV",
        :wind_turbines => "Wind turbines"
      }
    - items.each_pair do |key, label|
      %tr
        %th= raw label
        %td{:data => {:decimals => 0, :gquery => "merit_order_#{key}_position_in_merit_order_table"}}
        %td{:data => {:decimals => 0, :gquery => "merit_order_#{key}_operating_costs_in_merit_order_table"}}
        %td{:data => {:decimals => 0, :gquery => "merit_order_#{key}_capacity_in_merit_order_table"}}
        %td{:data => {:decimals => 0, :gquery => "merit_order_#{key}_full_load_hours_in_merit_order_table"}}
        %td{:data => {:decimals => 0, :gquery => "merit_order_#{key}_present_full_load_hours_in_merit_order_table"}}
