-# Capacity table
.merit_order_enabled
%table#network_capacity.chart.centered.autostripe
  %thead
    %tr
      %th
      %th
        = t 'output_elements.tables.capacity.peak_present'
        (MW)
      %th
        = t 'output_elements.tables.capacity.capacity_present'
        (MW)
        %th
          = t 'output_elements.tables.capacity.peak_future'
          (MW)
        %th
          = t 'output_elements.tables.capacity.capacity_future'
          (MW)
          %th
            = t 'output_elements.tables.capacity.delta'
            (MW)

  %tbody
    %tr
      %th= t "output_element_series.lv_net"
      %td{:data => {:gquery => "lv_net_peak_load_present", :graph => :present}}
      %td{:data => {:gquery => "lv_net_capacity_present", :graph => :present}}
      %td{:data => {:gquery => "lv_net_peak_load_future", :graph => :future}}
      %td{:data => {:gquery => "lv_net_capacity_future", :graph => :future}}
      %td{:data => {:gquery => "lv_net_capacity_delta_present_future", :graph => :future}}

    %tr
      %th= t "output_element_series.lv_mv_transformer"
      %td{:data => {:gquery => "lv_mv_trafo_peak_load_present", :graph => :present}}
      %td{:data => {:gquery => "lv_mv_trafo_capacity_present", :graph => :present}}
      %td{:data => {:gquery => "lv_mv_trafo_peak_load_future", :graph => :future}}
      %td{:data => {:gquery => "lv_mv_trafo_capacity_future", :graph => :future}}
      %td{:data => {:gquery => "lv_mv_trafo_capacity_delta_present_future", :graph => :future}}

    %tr
      %th= t "output_element_series.mv_net"
      %td{:data => {:gquery => "mv_net_peak_load_present", :graph => :present}}
      %td{:data => {:gquery => "mv_net_capacity_present", :graph => :present}}
      %td{:data => {:gquery => "mv_net_peak_load_future", :graph => :future}}
      %td{:data => {:gquery => "mv_net_capacity_future", :graph => :future}}
      %td{:data => {:gquery => "mv_net_capacity_delta_present_future", :graph => :future}}

    %tr
      %th= t "output_element_series.mv_hv_transformer"
      %td{:data => {:gquery => "mv_hv_trafo_peak_load_present", :graph => :present}}
      %td{:data => {:gquery => "mv_hv_trafo_capacity_present", :graph => :present}}
      %td{:data => {:gquery => "mv_hv_trafo_peak_load_future", :graph => :future}}
      %td{:data => {:gquery => "mv_hv_trafo_capacity_future", :graph => :future}}
      %td{:data => {:gquery => "mv_hv_trafo_capacity_delta_present_future", :graph => :future}}

    %tr
      %th= t "output_element_series.hv_net"
      %td{:data => {:gquery => "hv_net_peak_load_present", :graph => :present}}
      %td{:data => {:gquery => "hv_net_capacity_present", :graph => :present}}
      %td{:data => {:gquery => "hv_net_peak_load_future", :graph => :future}}
      %td{:data => {:gquery => "hv_net_capacity_future", :graph => :future}}
      %td{:data => {:gquery => "hv_net_capacity_delta_present_future", :graph => :future}}

    %tr
      %th= t "output_element_series.interconnection_net"
      %td -
      %td{:data => {:gquery => "interconnection_net_capacity_present", :graph => :present}}
      %td{:data => {:gquery => "interconnection_peak_load_future", :graph => :future}}
      %td{:data => {:gquery => "interconnection_net_capacity_future", :graph => :future}}
      %td{:data => {:gquery => "interconnection_net_capacity_delta_present_future", :graph => :future}}

    %tr
      %th= t "output_element_series.offshore_net"
      %td{:data => {:gquery => "offshore_net_capacity_present", :graph => :present}}
      %td{:data => {:gquery => "offshore_net_capacity_present", :graph => :present}}
      %td{:data => {:gquery => "offshore_net_capacity_future", :graph => :future}}
      %td{:data => {:gquery => "offshore_net_capacity_future", :graph => :future}}
      %td{:data => {:gquery => "offshore_net_capacity_delta_present_future", :graph => :future}}
