-# merit order table
%table#supply_output_table{table_defaults}
  %thead
    %tr
      %th Technology
      %th Merit order position
      %th Operating costs
      %th Available capacity
      %th Full load hours
    %tr
      %th
      %th
      %th EUR/MWh
      %th MW
      %th Hr
  %tbody
    :ruby
      items = {
        :nuclear_iii => "Nuclear 3rd Gen",
        :coal_igcc => "Coal IGCC",
        :coal_pwd => "Coal ultra supercritical",
        :coal_chp => "Coal ultra supercritical CHP",
        :coal_conv => "Coal conventional",
        :coal_pwd_ccs => "Coal ultra supercritical CCS",
        :coal_igcc_ccs => "Coal IGCC CCS",
        :gas_ccgt => "Gas CCGT",
        :gas_ccgt_ccs => "Gas CCGT CCS",
        :central_gas_chp => "Gas, CCGT CHP",
        :gas_conv => "Gas conventional",
        :gas_turbine => "Gas turbine",
        :oil_plant => "Oil plant"
      }
    - items.each_pair do |key, label|
      %tr
        %th= label
        %td{:data => {:gquery_id => "merit_order_#{key}_position_in_merit_order_table"}}
        %td{:data => {:gquery_id => "merit_order_#{key}_operating_costs_in_merit_order_table"}}
        %td{:data => {:gquery_id => "merit_order_#{key}_capacity_in_merit_order_table"}}
        %td{:data => {:gquery_id => "merit_order_#{key}_full_load_hours_in_merit_order_table"}}
