-# merit order table
%table.chart
  %thead
    %tr
      %th= t 'output_elements.tables.merit_order.technology'
      %th= t 'output_elements.tables.merit_order.position'
      %th= t 'output_elements.tables.merit_order.operating_costs'
      %th= t 'output_elements.tables.merit_order.available_capacity'
      %th= t 'output_elements.tables.merit_order.flh_future'
      %th= t 'output_elements.tables.merit_order.flh_present'
    %tr
      %th
      %th
      %th EUR/MWh
      %th MW
      %th Hr
      %th Hr
  %tfoot
    %tr
      %td{:colspan => 6}
        = t 'output_elements.tables.merit_order.wood_pellet_note'
  %tbody
    :ruby
      items = [
        'nuclear_iii',
        'coal_igcc',
        'coal_pwd',
        'coal_chp',
        'coal_conv',
        'coal_pwd_ccs',
        'coal_igcc_ccs',
        'gas_ccgt',
        'gas_ccgt_ccs',
        'central_gas_chp',
        'gas_conv',
        'gas_turbine',
        'oil_plant',
        'must_run',
        'solar_pv',
        'wind_turbines'
      ]
    - items.each do |key|
      %tr
        %th= raw t "output_elements.tables.merit_order.#{key}"
        %td.position{:data => {:decimals => 0, :gquery => "merit_order_#{key}_position_in_merit_order_table", :on_zero => '-'}}
        %td.cost{:data => {:decimals => 0, :gquery => "merit_order_#{key}_operating_costs_in_merit_order_table"}}
        %td.capacity{:data => {:decimals => 0, :gquery => "merit_order_#{key}_capacity_in_merit_order_table"}}
        %td{:data => {:decimals => 0, :gquery => "merit_order_#{key}_full_load_hours_in_merit_order_table"}}
        %td{:data => {:decimals => 0, :gquery => "merit_order_#{key}_full_load_hours_in_merit_order_table", :graph => :present}}
