-# Investment chart
%table#investments.chart{ data: { decimals: 2 } }
  %thead
    %tr
      %th(style="width: 50%")
      %th.border-rgt= Current.setting.start_year
      %th= Current.setting.end_year
      %th
    %tr
      %th= t 'output_elements.tables.investments.technology'
      %th= t 'output_elements.tables.investments.investment'
      %th= t 'output_elements.tables.investments.investment'
      %th= t 'output_elements.tables.investments.difference'
  
  %thead.subhead
    %th{:colspan => 4, :style => "text-align: center"}=t 'output_elements.tables.investments.agriculture'
  %tr.even
    %th= t("input_elements.agriculture_burner_crude_oil_share").html_safe
    %td.border-rgt{:data => {:gquery => "agriculture_burner_crude_oil_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "agriculture_burner_crude_oil_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "agriculture_burner_crude_oil_delta_in_investment_cost_table"}}
  %tr.odd
    %th= t("input_elements.agriculture_burner_network_gas_share").html_safe
    %td.border-rgt{:data => {:gquery => "agriculture_burner_network_gas_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "agriculture_burner_network_gas_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "agriculture_burner_network_gas_delta_in_investment_cost_table"}}
  %tr.even
    %th= t("input_elements.agriculture_burner_wood_pellets_share").html_safe
    %td.border-rgt{:data => {:gquery => "agriculture_burner_wood_pellets_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "agriculture_burner_wood_pellets_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "agriculture_burner_wood_pellets_delta_in_investment_cost_table"}}
  %tr.odd
    %th= t("input_elements.agriculture_geothermal_share").html_safe
    %td.border-rgt{:data => {:gquery => "agriculture_geothermal_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "agriculture_geothermal_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "agriculture_geothermal_delta_in_investment_cost_table"}}
  %tr.even
    %th= t("input_elements.agriculture_heatpump_water_water_ts_electricity_share").html_safe
    %td.border-rgt{:data => {:gquery => "agriculture_heatpump_water_water_ts_electricity_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "agriculture_heatpump_water_water_ts_electricity_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "agriculture_heatpump_water_water_ts_electricity_delta_in_investment_cost_table"}}
  %tr.odd
    %th= t("input_elements.agriculture_burner_hydrogen_share").html_safe
    %td.border-rgt{:data => {:gquery => "agriculture_burner_hydrogen_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "agriculture_burner_hydrogen_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "agriculture_burner_hydrogen_delta_in_investment_cost_table"}}
  %tr.even
    %th= t("input_elements.number_of_agriculture_chp_engine_network_gas").html_safe
    %td.border-rgt{:data => {:gquery => "agriculture_chp_engine_network_gas_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "agriculture_chp_engine_network_gas_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "agriculture_chp_engine_network_gas_delta_in_investment_cost_table"}}
  %tr.odd
    %th= t("input_elements.number_of_agriculture_chp_engine_biogas").html_safe
    %td.border-rgt{:data => {:gquery => "agriculture_chp_engine_biogas_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "agriculture_chp_engine_biogas_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "agriculture_chp_engine_biogas_delta_in_investment_cost_table"}}
  %tr.even
    %th= t("input_elements.number_of_agriculture_chp_supercritical_wood_pellets").html_safe
    %td.border-rgt{:data => {:gquery => "agriculture_chp_supercritical_wood_pellets_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "agriculture_chp_supercritical_wood_pellets_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "agriculture_chp_supercritical_wood_pellets_delta_in_investment_cost_table"}}

  %thead.subhead
    %th{:colspan => 4, :style => "text-align: center"}=t 'output_elements.tables.investments.buildings'
  %tr.odd
    %th= t("input_elements.buildings_space_heater_coal_share").html_safe
    %td.border-rgt{:data => {:gquery => "buildings_space_heater_coal_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "buildings_space_heater_coal_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "buildings_space_heater_coal_delta_in_investment_cost_table"}}
  %tr.even
    %th= t("input_elements.buildings_space_heater_collective_heatpump_water_water_ts_electricity_share").html_safe
    %td.border-rgt{:data => {:gquery => "buildings_space_heater_collective_heatpump_water_water_ts_electricity_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "buildings_space_heater_collective_heatpump_water_water_ts_electricity_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "buildings_space_heater_collective_heatpump_water_water_ts_electricity_delta_in_investment_cost_table"}}
  %tr.odd
    %th= t("input_elements.buildings_space_heater_crude_oil_share").html_safe
    %td.border-rgt{:data => {:gquery => "buildings_space_heater_crude_oil_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "buildings_space_heater_crude_oil_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "buildings_space_heater_crude_oil_delta_in_investment_cost_table"}}
  %tr.even
    %th= t("input_elements.buildings_space_heater_electricity_share").html_safe
    %td.border-rgt{:data => {:gquery => "buildings_space_heater_electricity_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "buildings_space_heater_electricity_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "buildings_space_heater_electricity_delta_in_investment_cost_table"}}
  %tr.odd
    %th= t("input_elements.buildings_space_heater_heatpump_air_water_network_gas_share").html_safe
    %td.border-rgt{:data => {:gquery => "buildings_space_heater_heatpump_air_water_network_gas_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "buildings_space_heater_heatpump_air_water_network_gas_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "buildings_space_heater_heatpump_air_water_network_gas_delta_in_investment_cost_table"}}
  %tr.even
    %th= t("input_elements.buildings_space_heater_network_gas_share").html_safe
    %td.border-rgt{:data => {:gquery => "buildings_space_heater_network_gas_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "buildings_space_heater_network_gas_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "buildings_space_heater_network_gas_delta_in_investment_cost_table"}}
  %tr.odd
    %th= t("input_elements.buildings_space_heater_wood_pellets_share").html_safe
    %td.border-rgt{:data => {:gquery => "buildings_space_heater_wood_pellets_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "buildings_space_heater_wood_pellets_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "buildings_space_heater_wood_pellets_delta_in_investment_cost_table"}}
  %tr.even
    %th= t("input_elements.buildings_space_heater_solar_thermal_share").html_safe
    %td.border-rgt{:data => {:gquery => "buildings_space_heater_solar_thermal_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "buildings_space_heater_solar_thermal_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "buildings_space_heater_solar_thermal_delta_in_investment_cost_table"}}
  %tr.odd
    %th= t("input_elements.buildings_solar_pv_solar_radiation_market_penetration").html_safe
    %td.border-rgt{:data => {:gquery => "buildings_solar_pv_solar_radiation_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "buildings_solar_pv_solar_radiation_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "buildings_solar_pv_solar_radiation_delta_in_investment_cost_table"}}
  %tr.even
    %th= t("input_elements.buildings_cooling_airconditioning_electricity_share").html_safe
    %td.border-rgt{:data => {:gquery => "buildings_cooling_airconditioning_electricity_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "buildings_cooling_airconditioning_electricity_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "buildings_cooling_airconditioning_electricity_delta_in_investment_cost_table"}}
  %tr.odd
    %th= t("input_elements.buildings_heat_network_connection_steam_hot_water_share").html_safe
    %td.border-rgt{:data => {:gquery => "buildings_heat_network_connection_steam_hot_water_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "buildings_heat_network_connection_steam_hot_water_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "buildings_heat_network_connection_steam_hot_water_delta_in_investment_cost_table"}}
  %tr.even
    %th= t("input_elements.buildings_space_heater_district_heating_steam_hot_water_share").html_safe
    %td.border-rgt{:data => {:gquery => "buildings_space_heater_district_heating_steam_hot_water_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "buildings_space_heater_district_heating_steam_hot_water_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "buildings_space_heater_district_heating_steam_hot_water_delta_in_investment_cost_table"}}
  %tr.odd
    %th= t("input_elements.buildings_chp_engine_biogas_share").html_safe
    %td.border-rgt{:data => {:gquery => "buildings_chp_engine_biogas_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "buildings_chp_engine_biogas_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "buildings_chp_engine_biogas_delta_in_investment_cost_table"}}
  %tr.even
    %th= t("input_elements.buildings_collective_chp_network_gas_share").html_safe
    %td.border-rgt{:data => {:gquery => "buildings_collective_chp_network_gas_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "buildings_collective_chp_network_gas_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "buildings_collective_chp_network_gas_delta_in_investment_cost_table"}}
  %tr.odd
    %th= t("input_elements.buildings_collective_chp_wood_pellets_share").html_safe
    %td.border-rgt{:data => {:gquery => "buildings_collective_chp_wood_pellets_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "buildings_collective_chp_wood_pellets_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "buildings_collective_chp_wood_pellets_delta_in_investment_cost_table"}}
  %tr.even
    %th= t("input_elements.buildings_collective_geothermal_share").html_safe
    %td.border-rgt{:data => {:gquery => "buildings_collective_geothermal_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "buildings_collective_geothermal_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "buildings_collective_geothermal_delta_in_investment_cost_table"}}
  %tr.odd
    %th= t("input_elements.buildings_collective_heatpump_water_water_electricity_share").html_safe
    %td.border-rgt{:data => {:gquery => "buildings_collective_heatpump_water_water_electricity_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "buildings_collective_heatpump_water_water_electricity_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "buildings_collective_heatpump_water_water_electricity_delta_in_investment_cost_table"}}
  %tr.even
    %th= t("input_elements.buildings_collective_burner_hydrogen_share").html_safe
    %td.border-rgt{:data => {:gquery => "buildings_collective_burner_hydrogen_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "buildings_collective_burner_hydrogen_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "buildings_collective_burner_hydrogen_delta_in_investment_cost_table"}}
  %tr.odd
    %th= t("input_elements.buildings_collective_burner_network_gas_share").html_safe
    %td.border-rgt{:data => {:gquery => "buildings_collective_burner_network_gas_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "buildings_collective_burner_network_gas_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "buildings_collective_burner_network_gas_delta_in_investment_cost_table"}}

  %thead.subhead
    %th{:colspan => 4, :style => "text-align: center"}=t 'output_elements.tables.investments.energy'
  %tr.even
    %th= t("input_elements.number_of_energy_power_combined_cycle_coal").html_safe
    %td.border-rgt{:data => {:gquery => "energy_power_combined_cycle_coal_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "energy_power_combined_cycle_coal_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "energy_power_combined_cycle_coal_delta_in_investment_cost_table"}}
  %tr.odd
    %th= t("input_elements.number_of_energy_power_combined_cycle_ccs_coal").html_safe
    %td.border-rgt{:data => {:gquery => "energy_power_combined_cycle_ccs_coal_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "energy_power_combined_cycle_ccs_coal_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "energy_power_combined_cycle_ccs_coal_delta_in_investment_cost_table"}}
  %tr.even
    %th= t("input_elements.number_of_energy_power_supercritical_coal").html_safe
    %td.border-rgt{:data => {:gquery => "energy_power_supercritical_coal_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "energy_power_supercritical_coal_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "energy_power_supercritical_coal_delta_in_investment_cost_table"}}
  %tr.odd
    %th= t("input_elements.number_of_energy_power_ultra_supercritical_coal").html_safe
    %td.border-rgt{:data => {:gquery => "energy_power_ultra_supercritical_coal_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "energy_power_ultra_supercritical_coal_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "energy_power_ultra_supercritical_coal_delta_in_investment_cost_table"}}
  %tr.even
    %th= t("input_elements.number_of_energy_power_ultra_supercritical_ccs_coal").html_safe
    %td.border-rgt{:data => {:gquery => "energy_power_ultra_supercritical_ccs_coal_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "energy_power_ultra_supercritical_ccs_coal_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "energy_power_ultra_supercritical_ccs_coal_delta_in_investment_cost_table"}}
  %tr.odd
    %th= t("input_elements.number_of_energy_power_ultra_supercritical_cofiring_coal").html_safe
    %td.border-rgt{:data => {:gquery => "energy_power_ultra_supercritical_cofiring_coal_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "energy_power_ultra_supercritical_cofiring_coal_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "energy_power_ultra_supercritical_cofiring_coal_delta_in_investment_cost_table"}}
  %tr.even
    %th= t("input_elements.number_of_energy_chp_ultra_supercritical_coal").html_safe
    %td.border-rgt{:data => {:gquery => "energy_chp_ultra_supercritical_coal_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "energy_chp_ultra_supercritical_coal_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "energy_chp_ultra_supercritical_coal_delta_in_investment_cost_table"}}
  %tr.odd
    %th= t("input_elements.number_of_energy_chp_ultra_supercritical_cofiring_coal").html_safe
    %td.border-rgt{:data => {:gquery => "energy_chp_ultra_supercritical_cofiring_coal_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "energy_chp_ultra_supercritical_cofiring_coal_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "energy_chp_ultra_supercritical_cofiring_coal_delta_in_investment_cost_table"}}
  %tr.even
    %th= t("input_elements.number_of_energy_power_combined_cycle_network_gas").html_safe
    %td.border-rgt{:data => {:gquery => "energy_power_combined_cycle_network_gas_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "energy_power_combined_cycle_network_gas_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "energy_power_combined_cycle_network_gas_delta_in_investment_cost_table"}}
  %tr.odd
    %th= t("input_elements.number_of_energy_power_combined_cycle_ccs_network_gas").html_safe
    %td.border-rgt{:data => {:gquery => "energy_power_combined_cycle_ccs_network_gas_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "energy_power_combined_cycle_ccs_network_gas_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "energy_power_combined_cycle_ccs_network_gas_delta_in_investment_cost_table"}}
  %tr.even
    %th= t("input_elements.number_of_energy_power_turbine_network_gas").html_safe
    %td.border-rgt{:data => {:gquery => "energy_power_turbine_network_gas_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "energy_power_turbine_network_gas_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "energy_power_turbine_network_gas_delta_in_investment_cost_table"}}
  %tr.odd
    %th= t("input_elements.number_of_energy_power_ultra_supercritical_network_gas").html_safe
    %td.border-rgt{:data => {:gquery => "energy_power_ultra_supercritical_network_gas_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "energy_power_ultra_supercritical_network_gas_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "energy_power_ultra_supercritical_network_gas_delta_in_investment_cost_table"}}
  %tr.even
    %th= t("input_elements.number_of_energy_chp_combined_cycle_network_gas").html_safe
    %td.border-rgt{:data => {:gquery => "energy_chp_combined_cycle_network_gas_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "energy_chp_combined_cycle_network_gas_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "energy_chp_combined_cycle_network_gas_delta_in_investment_cost_table"}}
  %tr.odd
    %th= t("input_elements.number_of_energy_power_ultra_supercritical_crude_oil").html_safe
    %td.border-rgt{:data => {:gquery => "energy_power_ultra_supercritical_crude_oil_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "energy_power_ultra_supercritical_crude_oil_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "energy_power_ultra_supercritical_crude_oil_delta_in_investment_cost_table"}}
  %tr.even
    %th= t("input_elements.number_of_energy_power_engine_diesel").html_safe
    %td.border-rgt{:data => {:gquery => "energy_power_engine_diesel_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "energy_power_engine_diesel_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "energy_power_engine_diesel_delta_in_investment_cost_table"}}
  %tr.odd
    %th= t("input_elements.number_of_energy_power_nuclear_gen2_uranium_oxide").html_safe
    %td.border-rgt{:data => {:gquery => "energy_power_nuclear_gen2_uranium_oxide_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "energy_power_nuclear_gen2_uranium_oxide_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "energy_power_nuclear_gen2_uranium_oxide_delta_in_investment_cost_table"}}
  %tr.even
    %th= t("input_elements.number_of_energy_power_nuclear_gen3_uranium_oxide").html_safe
    %td.border-rgt{:data => {:gquery => "energy_power_nuclear_gen3_uranium_oxide_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "energy_power_nuclear_gen3_uranium_oxide_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "energy_power_nuclear_gen3_uranium_oxide_delta_in_investment_cost_table"}}
  %tr.odd
    %th= t("input_elements.number_of_energy_power_supercritical_waste_mix").html_safe
    %td.border-rgt{:data => {:gquery => "energy_power_supercritical_waste_mix_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "energy_power_supercritical_waste_mix_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "energy_power_supercritical_waste_mix_delta_in_investment_cost_table"}}
  %tr.even
    %th= t("input_elements.number_of_energy_chp_supercritical_waste_mix").html_safe
    %td.border-rgt{:data => {:gquery => "energy_chp_supercritical_waste_mix_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "energy_chp_supercritical_waste_mix_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "energy_chp_supercritical_waste_mix_delta_in_investment_cost_table"}}
  %tr.odd
    %th= t("input_elements.number_of_energy_power_ultra_supercritical_lignite").html_safe
    %td.border-rgt{:data => {:gquery => "energy_power_ultra_supercritical_lignite_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "energy_power_ultra_supercritical_lignite_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "energy_power_ultra_supercritical_lignite_delta_in_investment_cost_table"}}
  %tr.even
    %th= t("input_elements.number_of_energy_power_ultra_supercritical_oxyfuel_ccs_lignite").html_safe
    %td.border-rgt{:data => {:gquery => "energy_power_ultra_supercritical_oxyfuel_ccs_lignite_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "energy_power_ultra_supercritical_oxyfuel_ccs_lignite_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "energy_power_ultra_supercritical_oxyfuel_ccs_lignite_delta_in_investment_cost_table"}}
  %tr.odd
    %th= t("input_elements.number_of_energy_chp_ultra_supercritical_lignite").html_safe
    %td.border-rgt{:data => {:gquery => "energy_chp_ultra_supercritical_lignite_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "energy_chp_ultra_supercritical_lignite_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "energy_chp_ultra_supercritical_lignite_delta_in_investment_cost_table"}}
  %tr.even
    %th= t("input_elements.number_of_energy_power_solar_csp_solar_radiation").html_safe
    %td.border-rgt{:data => {:gquery => "energy_power_solar_csp_solar_radiation_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "energy_power_solar_csp_solar_radiation_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "energy_power_solar_csp_solar_radiation_delta_in_investment_cost_table"}}
  %tr.odd
    %th= t("input_elements.number_of_energy_power_solar_pv_solar_radiation").html_safe
    %td.border-rgt{:data => {:gquery => "energy_power_solar_pv_solar_radiation_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "energy_power_solar_pv_solar_radiation_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "energy_power_solar_pv_solar_radiation_delta_in_investment_cost_table"}}
  %tr.even
    %th= t("input_elements.number_of_energy_power_geothermal").html_safe
    %td.border-rgt{:data => {:gquery => "energy_power_geothermal_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "energy_power_geothermal_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "energy_power_geothermal_delta_in_investment_cost_table"}}
  %tr.odd
    %th= t("input_elements.number_of_energy_power_hydro_mountain").html_safe
    %td.border-rgt{:data => {:gquery => "energy_power_hydro_mountain_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "energy_power_hydro_mountain_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "energy_power_hydro_mountain_delta_in_investment_cost_table"}}
  %tr.even
    %th= t("input_elements.number_of_energy_power_hydro_river").html_safe
    %td.border-rgt{:data => {:gquery => "energy_power_hydro_river_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "energy_power_hydro_river_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "energy_power_hydro_river_delta_in_investment_cost_table"}}
  %tr.odd
    %th= t("input_elements.number_of_energy_power_turbine_hydrogen").html_safe
    %td.border-rgt{:data => {:gquery => "energy_power_turbine_hydrogen_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "energy_power_turbine_hydrogen_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "energy_power_turbine_hydrogen_delta_in_investment_cost_table"}}
  %tr.even
    %th= t("input_elements.number_of_energy_power_combined_cycle_hydrogen").html_safe
    %td.border-rgt{:data => {:gquery => "energy_power_combined_cycle_hydrogen_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "energy_power_combined_cycle_hydrogen_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "energy_power_combined_cycle_hydrogen_delta_in_investment_cost_table"}}
  %tr.odd
    %th= t("input_elements.number_of_energy_power_wind_turbine_coastal").html_safe
    %td.border-rgt{:data => {:gquery => "energy_power_wind_turbine_coastal_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "energy_power_wind_turbine_coastal_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "energy_power_wind_turbine_coastal_delta_in_investment_cost_table"}}
  %tr.even
    %th= t("input_elements.number_of_energy_power_wind_turbine_inland").html_safe
    %td.border-rgt{:data => {:gquery => "energy_power_wind_turbine_inland_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "energy_power_wind_turbine_inland_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "energy_power_wind_turbine_inland_delta_in_investment_cost_table"}}
  %tr.odd
    %th= t("input_elements.number_of_energy_power_wind_turbine_offshore").html_safe
    %td.border-rgt{:data => {:gquery => "energy_power_wind_turbine_offshore_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "energy_power_wind_turbine_offshore_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "energy_power_wind_turbine_offshore_delta_in_investment_cost_table"}}
  %tr.even
    %th= t("input_elements.number_of_energy_heater_for_heat_network_coal").html_safe
    %td.border-rgt{:data => {:gquery => "energy_heater_for_heat_network_coal_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "energy_heater_for_heat_network_coal_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "energy_heater_for_heat_network_coal_delta_in_investment_cost_table"}}
  %tr.odd
    %th= t("input_elements.number_of_energy_heater_for_heat_network_oil").html_safe
    %td.border-rgt{:data => {:gquery => "energy_heater_for_heat_network_crude_oil_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "energy_heater_for_heat_network_crude_oil_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "energy_heater_for_heat_network_crude_oil_delta_in_investment_cost_table"}}
  %tr.even
    %th= t("input_elements.number_of_energy_heater_for_heat_network_geothermal").html_safe
    %td.border-rgt{:data => {:gquery => "energy_heater_for_heat_network_geothermal_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "energy_heater_for_heat_network_geothermal_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "energy_heater_for_heat_network_geothermal_delta_in_investment_cost_table"}}
  %tr.odd
    %th= t("input_elements.number_of_energy_heater_for_heat_network_lignite").html_safe
    %td.border-rgt{:data => {:gquery => "energy_heater_for_heat_network_lignite_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "energy_heater_for_heat_network_lignite_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "energy_heater_for_heat_network_lignite_delta_in_investment_cost_table"}}
  %tr.even
    %th= t("input_elements.number_of_energy_heater_for_heat_network_network_gas").html_safe
    %td.border-rgt{:data => {:gquery => "energy_heater_for_heat_network_network_gas_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "energy_heater_for_heat_network_network_gas_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "energy_heater_for_heat_network_network_gas_delta_in_investment_cost_table"}}
  %tr.odd
    %th= t("input_elements.number_of_energy_heater_for_heat_network_waste_mix").html_safe
    %td.border-rgt{:data => {:gquery => "energy_heater_for_heat_network_waste_mix_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "energy_heater_for_heat_network_waste_mix_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "energy_heater_for_heat_network_waste_mix_delta_in_investment_cost_table"}}
  %tr.even
    %th= t("input_elements.number_of_energy_heater_for_heat_network_wood_pellets").html_safe
    %td.border-rgt{:data => {:gquery => "energy_heater_for_heat_network_wood_pellets_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "energy_heater_for_heat_network_wood_pellets_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "energy_heater_for_heat_network_wood_pellets_delta_in_investment_cost_table"}}
  %tr.odd
    %th= t("input_elements.number_of_energy_heat_network_backup_heater_network_gas").html_safe
    %td.border-rgt{:data => {:gquery => "energy_heat_network_backup_heater_network_gas_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "energy_heat_network_backup_heater_network_gas_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "energy_heat_network_backup_heater_network_gas_delta_in_investment_cost_table"}}
  %tr.even
    %th= t("input_elements.number_of_energy_hydrogen_flexibility_p2g_electricity").html_safe
    %td.border-rgt{:data => {:gquery => "energy_hydrogen_flexibility_p2g_electricity_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "energy_hydrogen_flexibility_p2g_electricity_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "energy_hydrogen_flexibility_p2g_electricity_delta_in_investment_cost_table"}}

  %thead.subhead
    %th{:colspan => 4, :style => "text-align: center"}=t 'output_elements.tables.investments.bunkers'
  %tr.odd
    %th= t("input_elements.number_of_flexibility_p2l_electricity").html_safe
    %td.border-rgt{:data => {:gquery => "bunkers_kerosene_production_p2l_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "bunkers_kerosene_production_p2l_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "bunkers_kerosene_production_p2l_delta_in_investment_cost_table"}}

  %thead.subhead
    %th{:colspan => 4, :style => "text-align: center"}=t 'output_elements.tables.investments.households'
  %tr.even
    %th= t("input_elements.households_heater_coal_share").html_safe
    %td.border-rgt{:data => {:gquery => "households_space_heater_coal_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "households_space_heater_coal_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "households_space_heater_coal_delta_in_investment_cost_table"}}
  %tr.odd
    %th= t("input_elements.households_heater_combined_network_gas_share").html_safe
    %td.border-rgt{:data => {:gquery => "households_space_heater_combined_network_gas_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "households_space_heater_combined_network_gas_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "households_space_heater_combined_network_gas_delta_in_investment_cost_table"}}
  %tr.even
    %th= t("input_elements.households_heater_crude_oil_share").html_safe
    %td.border-rgt{:data => {:gquery => "households_space_heater_crude_oil_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "households_space_heater_crude_oil_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "households_space_heater_crude_oil_delta_in_investment_cost_table"}}
  %tr.odd
    %th= t("input_elements.households_heater_electricity_share").html_safe
    %td.border-rgt{:data => {:gquery => "households_space_heater_electricity_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "households_space_heater_electricity_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "households_space_heater_electricity_delta_in_investment_cost_table"}}
  %tr.even
    %th= t("input_elements.households_heater_heatpump_air_water_electricity_share").html_safe
    %td.border-rgt{:data => {:gquery => "households_space_heater_heatpump_air_water_electricity_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "households_space_heater_heatpump_air_water_electricity_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "households_space_heater_heatpump_air_water_electricity_delta_in_investment_cost_table"}}
  %tr.odd
    %th= t("input_elements.households_heater_heatpump_ground_water_electricity_share").html_safe
    %td.border-rgt{:data => {:gquery => "households_space_heater_heatpump_ground_water_electricity_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "households_space_heater_heatpump_ground_water_electricity_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "households_space_heater_heatpump_ground_water_electricity_delta_in_investment_cost_table"}}
  %tr.even
    %th= t("input_elements.households_heater_hybrid_heatpump_air_water_electricity_share").html_safe
    %td.border-rgt{:data => {:gquery => "households_space_heater_hybrid_heatpump_air_water_electricity_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "households_space_heater_hybrid_heatpump_air_water_electricity_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "households_space_heater_hybrid_heatpump_air_water_electricity_delta_in_investment_cost_table"}}
  %tr.odd
    %th= t("input_elements.households_heater_hybrid_hydrogen_heatpump_air_water_electricity_share").html_safe
    %td.border-rgt{:data => {:gquery => "households_space_heater_hybrid_hydrogen_heatpump_air_water_electricity_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "households_space_heater_hybrid_hydrogen_heatpump_air_water_electricity_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "households_space_heater_hybrid_hydrogen_heatpump_air_water_electricity_delta_in_investment_cost_table"}}
  %tr.even
    %th= t("input_elements.households_heater_network_gas_share").html_safe
    %td.border-rgt{:data => {:gquery => "households_space_heater_network_gas_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "households_space_heater_network_gas_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "households_space_heater_network_gas_delta_in_investment_cost_table"}}
  %tr.odd
    %th= t("input_elements.households_heater_wood_pellets_share").html_safe
    %td.border-rgt{:data => {:gquery => "households_space_heater_wood_pellets_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "households_space_heater_wood_pellets_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "households_space_heater_wood_pellets_delta_in_investment_cost_table"}}
  %tr.even
    %th= t("input_elements.households_water_heater_resistive_electricity_share").html_safe
    %td.border-rgt{:data => {:gquery => "households_water_heater_resistive_electricity_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "households_water_heater_resistive_electricity_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "households_water_heater_resistive_electricity_delta_in_investment_cost_table"}}
  %tr.odd
    %th= t("input_elements.households_water_heater_solar_thermal_share").html_safe
    %td.border-rgt{:data => {:gquery => "households_water_heater_solar_thermal_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "households_water_heater_solar_thermal_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "households_water_heater_solar_thermal_delta_in_investment_cost_table"}}
  %tr.even
    %th= t("input_elements.households_solar_pv_solar_radiation_market_penetration").html_safe
    %td.border-rgt{:data => {:gquery => "households_solar_pv_solar_radiation_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "households_solar_pv_solar_radiation_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "households_solar_pv_solar_radiation_delta_in_investment_cost_table"}}
  %tr.odd
    %th= t("input_elements.households_cooling_airconditioning_electricity_share").html_safe
    %td.border-rgt{:data => {:gquery => "households_cooling_airconditioning_electricity_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "households_cooling_airconditioning_electricity_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "households_cooling_airconditioning_electricity_delta_in_investment_cost_table"}}
  %tr.even
    %th= t("input_elements.households_heat_network_connection_steam_hot_water_share").html_safe
    %td.border-rgt{:data => {:gquery => "households_heat_network_connection_steam_hot_water_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "households_heat_network_connection_steam_hot_water_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "households_heat_network_connection_steam_hot_water_delta_in_investment_cost_table"}}
  %tr.odd
    %th= t("input_elements.households_space_heater_district_heating_steam_hot_water_share").html_safe
    %td.border-rgt{:data => {:gquery => "households_space_heater_district_heating_steam_hot_water_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "households_space_heater_district_heating_steam_hot_water_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "households_space_heater_district_heating_steam_hot_water_delta_in_investment_cost_table"}}
  %tr.even
    %th= t("input_elements.households_collective_chp_biogas_share").html_safe
    %td.border-rgt{:data => {:gquery => "households_collective_chp_biogas_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "households_collective_chp_biogas_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "households_collective_chp_biogas_delta_in_investment_cost_table"}}
  %tr.odd
    %th= t("input_elements.households_collective_chp_network_gas_share").html_safe
    %td.border-rgt{:data => {:gquery => "households_collective_chp_network_gas_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "households_collective_chp_network_gas_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "households_collective_chp_network_gas_delta_in_investment_cost_table"}}
  %tr.even
    %th= t("input_elements.households_collective_chp_wood_pellets_share").html_safe
    %td.border-rgt{:data => {:gquery => "households_collective_chp_wood_pellets_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "households_collective_chp_wood_pellets_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "households_collective_chp_wood_pellets_delta_in_investment_cost_table"}}
  %tr.odd
    %th= t("input_elements.households_collective_geothermal_share").html_safe
    %td.border-rgt{:data => {:gquery => "households_collective_geothermal_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "households_collective_geothermal_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "households_collective_geothermal_delta_in_investment_cost_table"}}
  %tr.even
    %th= t("input_elements.households_collective_heatpump_water_water_electricity_share").html_safe
    %td.border-rgt{:data => {:gquery => "households_collective_heatpump_water_water_electricity_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "households_collective_heatpump_water_water_electricity_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "households_collective_heatpump_water_water_electricity_delta_in_investment_cost_table"}}
  %tr.odd
    %th= t("input_elements.households_collective_burner_hydrogen_share").html_safe
    %td.border-rgt{:data => {:gquery => "households_collective_burner_hydrogen_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "households_collective_burner_hydrogen_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "households_collective_burner_hydrogen_delta_in_investment_cost_table"}}
  %tr.even
    %th= t("input_elements.households_collective_burner_network_gas_share").html_safe
    %td.border-rgt{:data => {:gquery => "households_collective_burner_network_gas_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "households_collective_burner_network_gas_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "households_collective_burner_network_gas_delta_in_investment_cost_table"}}
  %tr.odd
    %th= t("input_elements.households_flexibility_p2h_electricity_market_penetration").html_safe
    %td.border-rgt{:data => {:gquery => "households_flexibility_p2h_electricity_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "households_flexibility_p2h_electricity_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "households_flexibility_p2h_electricity_delta_in_investment_cost_table"}}
  %tr.even
    %th= t("input_elements.households_flexibility_p2p_electricity_market_penetration").html_safe
    %td.border-rgt{:data => {:gquery => "households_flexibility_p2p_electricity_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "households_flexibility_p2p_electricity_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "households_flexibility_p2p_electricity_delta_in_investment_cost_table"}}

  %thead.subhead
    %th{:colspan => 4, :style => "text-align: center"}=t 'output_elements.tables.investments.industry'
  %tr.odd
    %th= t("input_elements.industry_chemicals_fertilizers_burner_coal_share").html_safe
    %td.border-rgt{:data => {:gquery => "industry_chemicals_fertilizers_burner_coal_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "industry_chemicals_fertilizers_burner_coal_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "industry_chemicals_fertilizers_burner_coal_delta_in_investment_cost_table"}}
  %tr.even
    %th= t("input_elements.industry_chemicals_fertilizers_burner_crude_oil_share").html_safe
    %td.border-rgt{:data => {:gquery => "industry_chemicals_fertilizers_burner_crude_oil_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "industry_chemicals_fertilizers_burner_crude_oil_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "industry_chemicals_fertilizers_burner_crude_oil_delta_in_investment_cost_table"}}
  %tr.odd
    %th= t("input_elements.industry_chemicals_fertilizers_burner_network_gas_share").html_safe
    %td.border-rgt{:data => {:gquery => "industry_chemicals_fertilizers_burner_network_gas_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "industry_chemicals_fertilizers_burner_network_gas_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "industry_chemicals_fertilizers_burner_network_gas_delta_in_investment_cost_table"}}
  %tr.even
    %th= t("input_elements.industry_chemicals_fertilizers_burner_wood_pellets_share").html_safe
    %td.border-rgt{:data => {:gquery => "industry_chemicals_fertilizers_burner_wood_pellets_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "industry_chemicals_fertilizers_burner_wood_pellets_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "industry_chemicals_fertilizers_burner_wood_pellets_delta_in_investment_cost_table"}}
  %tr.odd
    %th= t("input_elements.industry_chemicals_fertilizers_burner_hydrogen_share").html_safe
    %td.border-rgt{:data => {:gquery => "industry_chemicals_fertilizers_burner_hydrogen_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "industry_chemicals_fertilizers_burner_hydrogen_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "industry_chemicals_fertilizers_burner_hydrogen_delta_in_investment_cost_table"}}
  %tr.even
    %th= t("input_elements.industry_chemicals_other_burner_coal_share").html_safe
    %td.border-rgt{:data => {:gquery => "industry_chemicals_other_burner_coal_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "industry_chemicals_other_burner_coal_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "industry_chemicals_other_burner_coal_delta_in_investment_cost_table"}}
  %tr.odd
    %th= t("input_elements.industry_chemicals_other_burner_crude_oil_share").html_safe
    %td.border-rgt{:data => {:gquery => "industry_chemicals_other_burner_crude_oil_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "industry_chemicals_other_burner_crude_oil_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "industry_chemicals_other_burner_crude_oil_delta_in_investment_cost_table"}}
  %tr.even
    %th= t("input_elements.industry_chemicals_other_burner_network_gas_share").html_safe
    %td.border-rgt{:data => {:gquery => "industry_chemicals_other_burner_network_gas_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "industry_chemicals_other_burner_network_gas_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "industry_chemicals_other_burner_network_gas_delta_in_investment_cost_table"}}
  %tr.odd
    %th= t("input_elements.industry_chemicals_other_burner_wood_pellets_share").html_safe
    %td.border-rgt{:data => {:gquery => "industry_chemicals_other_burner_wood_pellets_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "industry_chemicals_other_burner_wood_pellets_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "industry_chemicals_other_burner_wood_pellets_delta_in_investment_cost_table"}}
  %tr.even
    %th= t("input_elements.industry_chemicals_other_burner_hydrogen_share").html_safe
    %td.border-rgt{:data => {:gquery => "industry_chemicals_other_burner_hydrogen_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "industry_chemicals_other_burner_hydrogen_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "industry_chemicals_other_burner_hydrogen_delta_in_investment_cost_table"}}
  %tr.odd
    %th= t("input_elements.industry_chemicals_other_steam_recompression_electricity_share").html_safe
    %td.border-rgt{:data => {:gquery => "industry_chemicals_other_steam_recompression_electricity_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "industry_chemicals_other_steam_recompression_electricity_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "industry_chemicals_other_steam_recompression_electricity_delta_in_investment_cost_table"}}
  %tr.even
    %th= t("input_elements.industry_chemicals_other_heatpump_water_water_electricity_share").html_safe
    %td.border-rgt{:data => {:gquery => "industry_chemicals_other_heatpump_water_water_electricity_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "industry_chemicals_other_heatpump_water_water_electricity_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "industry_chemicals_other_heatpump_water_water_electricity_delta_in_investment_cost_table"}}
  %tr.odd
    %th= t("input_elements.industry_chemicals_other_heater_electricity_share").html_safe
    %td.border-rgt{:data => {:gquery => "industry_chemicals_other_heater_electricity_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "industry_chemicals_other_heater_electricity_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "industry_chemicals_other_heater_electricity_delta_in_investment_cost_table"}}
  %tr.even
    %th= t("input_elements.number_of_industry_chemicals_other_flexibility_p2h_electricity").html_safe
    %td.border-rgt{:data => {:gquery => "industry_chemicals_other_flexibility_p2h_electricity_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "industry_chemicals_other_flexibility_p2h_electricity_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "industry_chemicals_other_flexibility_p2h_electricity_delta_in_investment_cost_table"}}
  %tr.odd
    %th= t("input_elements.industry_chemicals_refineries_burner_coal_share").html_safe
    %td.border-rgt{:data => {:gquery => "industry_chemicals_refineries_burner_coal_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "industry_chemicals_refineries_burner_coal_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "industry_chemicals_refineries_burner_coal_delta_in_investment_cost_table"}}
  %tr.even
    %th= t("input_elements.industry_chemicals_refineries_burner_crude_oil_share").html_safe
    %td.border-rgt{:data => {:gquery => "industry_chemicals_refineries_burner_crude_oil_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "industry_chemicals_refineries_burner_crude_oil_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "industry_chemicals_refineries_burner_crude_oil_delta_in_investment_cost_table"}}
  %tr.odd
    %th= t("input_elements.industry_chemicals_refineries_burner_network_gas_share").html_safe
    %td.border-rgt{:data => {:gquery => "industry_chemicals_refineries_burner_network_gas_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "industry_chemicals_refineries_burner_network_gas_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "industry_chemicals_refineries_burner_network_gas_delta_in_investment_cost_table"}}
  %tr.even
    %th= t("input_elements.industry_chemicals_refineries_burner_wood_pellets_share").html_safe
    %td.border-rgt{:data => {:gquery => "industry_chemicals_refineries_burner_wood_pellets_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "industry_chemicals_refineries_burner_wood_pellets_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "industry_chemicals_refineries_burner_wood_pellets_delta_in_investment_cost_table"}}
  %tr.odd
    %th= t("input_elements.industry_chemicals_refineries_burner_hydrogen_share").html_safe
    %td.border-rgt{:data => {:gquery => "industry_chemicals_refineries_burner_hydrogen_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "industry_chemicals_refineries_burner_hydrogen_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "industry_chemicals_refineries_burner_hydrogen_delta_in_investment_cost_table"}}
  %tr.even
    %th= t("input_elements.number_of_industry_chemicals_refineries_flexibility_p2h_electricity").html_safe
    %td.border-rgt{:data => {:gquery => "industry_chemicals_refineries_flexibility_p2h_electricity_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "industry_chemicals_refineries_flexibility_p2h_electricity_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "industry_chemicals_refineries_flexibility_p2h_electricity_delta_in_investment_cost_table"}}
  %tr.odd
    %th= t("input_elements.industry_other_food_burner_coal_share").html_safe
    %td.border-rgt{:data => {:gquery => "industry_other_food_burner_coal_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "industry_other_food_burner_coal_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "industry_other_food_burner_coal_delta_in_investment_cost_table"}}
  %tr.even
    %th= t("input_elements.industry_other_food_burner_crude_oil_share").html_safe
    %td.border-rgt{:data => {:gquery => "industry_other_food_burner_crude_oil_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "industry_other_food_burner_crude_oil_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "industry_other_food_burner_crude_oil_delta_in_investment_cost_table"}}
  %tr.odd
    %th= t("input_elements.industry_other_food_burner_network_gas_share").html_safe
    %td.border-rgt{:data => {:gquery => "industry_other_food_burner_network_gas_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "industry_other_food_burner_network_gas_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "industry_other_food_burner_network_gas_delta_in_investment_cost_table"}}
  %tr.even
    %th= t("input_elements.industry_other_food_burner_wood_pellets_share").html_safe
    %td.border-rgt{:data => {:gquery => "industry_other_food_burner_wood_pellets_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "industry_other_food_burner_wood_pellets_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "industry_other_food_burner_wood_pellets_delta_in_investment_cost_table"}}
  %tr.odd
    %th= t("input_elements.industry_other_food_heater_electricity_share").html_safe
    %td.border-rgt{:data => {:gquery => "industry_other_food_heater_electricity_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "industry_other_food_heater_electricity_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "industry_other_food_heater_electricity_delta_in_investment_cost_table"}}
  %tr.even
    %th= t("input_elements.industry_other_food_burner_hydrogen_share").html_safe
    %td.border-rgt{:data => {:gquery => "industry_other_food_burner_hydrogen_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "industry_other_food_burner_hydrogen_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "industry_other_food_burner_hydrogen_delta_in_investment_cost_table"}}
  %tr.odd
    %th= t("input_elements.number_of_industry_other_food_flexibility_p2h_electricity").html_safe
    %td.border-rgt{:data => {:gquery => "industry_other_food_flexibility_p2h_electricity_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "industry_other_food_flexibility_p2h_electricity_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "industry_other_food_flexibility_p2h_electricity_delta_in_investment_cost_table"}}
  %tr.even
    %th= t("input_elements.industry_other_paper_burner_coal_share").html_safe
    %td.border-rgt{:data => {:gquery => "industry_other_paper_burner_coal_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "industry_other_paper_burner_coal_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "industry_other_paper_burner_coal_delta_in_investment_cost_table"}}
  %tr.odd
    %th= t("input_elements.industry_other_paper_burner_crude_oil_share").html_safe
    %td.border-rgt{:data => {:gquery => "industry_other_paper_burner_crude_oil_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "industry_other_paper_burner_crude_oil_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "industry_other_paper_burner_crude_oil_delta_in_investment_cost_table"}}
  %tr.even
    %th= t("input_elements.industry_other_paper_burner_network_gas_share").html_safe
    %td.border-rgt{:data => {:gquery => "industry_other_paper_burner_network_gas_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "industry_other_paper_burner_network_gas_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "industry_other_paper_burner_network_gas_delta_in_investment_cost_table"}}
  %tr.odd
    %th= t("input_elements.industry_other_paper_burner_wood_pellets_share").html_safe
    %td.border-rgt{:data => {:gquery => "industry_other_paper_burner_wood_pellets_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "industry_other_paper_burner_wood_pellets_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "industry_other_paper_burner_wood_pellets_delta_in_investment_cost_table"}}
  %tr.even
    %th= t("input_elements.industry_other_paper_heater_electricity_share").html_safe
    %td.border-rgt{:data => {:gquery => "industry_other_paper_heater_electricity_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "industry_other_paper_heater_electricity_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "industry_other_paper_heater_electricity_delta_in_investment_cost_table"}}
  %tr.odd
    %th= t("input_elements.industry_other_paper_burner_hydrogen_share").html_safe
    %td.border-rgt{:data => {:gquery => "industry_other_paper_burner_hydrogen_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "industry_other_paper_burner_hydrogen_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "industry_other_paper_burner_hydrogen_delta_in_investment_cost_table"}}
  %tr.even
    %th= t("input_elements.number_of_industry_other_paper_flexibility_p2h_electricity").html_safe
    %td.border-rgt{:data => {:gquery => "industry_other_paper_flexibility_p2h_electricity_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "industry_other_paper_flexibility_p2h_electricity_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "industry_other_paper_flexibility_p2h_electricity_delta_in_investment_cost_table"}}
  %tr.odd
    %th= t("input_elements.number_of_industry_chp_combined_cycle_gas_power_fuelmix").html_safe
    %td.border-rgt{:data => {:gquery => "industry_chp_combined_cycle_gas_power_fuelmix_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "industry_chp_combined_cycle_gas_power_fuelmix_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "industry_chp_combined_cycle_gas_power_fuelmix_delta_in_investment_cost_table"}}
  %tr.even
    %th= t("input_elements.number_of_industry_chp_engine_gas_power_fuelmix").html_safe
    %td.border-rgt{:data => {:gquery => "industry_chp_engine_gas_power_fuelmix_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "industry_chp_engine_gas_power_fuelmix_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "industry_chp_engine_gas_power_fuelmix_delta_in_investment_cost_table"}}
  %tr.odd
    %th= t("input_elements.number_of_industry_chp_turbine_gas_power_fuelmix").html_safe
    %td.border-rgt{:data => {:gquery => "industry_chp_turbine_gas_power_fuelmix_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "industry_chp_turbine_gas_power_fuelmix_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "industry_chp_turbine_gas_power_fuelmix_delta_in_investment_cost_table"}}
  %tr.even
    %th= t("input_elements.number_of_industry_chp_ultra_supercritical_coal").html_safe
    %td.border-rgt{:data => {:gquery => "industry_chp_ultra_supercritical_coal_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "industry_chp_ultra_supercritical_coal_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "industry_chp_ultra_supercritical_coal_delta_in_investment_cost_table"}}

  %thead.subhead
    %th{:colspan => 4, :style => "text-align: center"}=t 'output_elements.tables.investments.other'
  %tr.odd
    %th= t("input_elements.number_of_other_burner_coal").html_safe
    %td.border-rgt{:data => {:gquery => "other_burner_coal_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "other_burner_coal_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "other_burner_coal_delta_in_investment_cost_table"}}
  %tr.even
    %th= t("input_elements.number_of_other_burner_crude_oil").html_safe
    %td.border-rgt{:data => {:gquery => "other_burner_crude_oil_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "other_burner_crude_oil_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "other_burner_crude_oil_delta_in_investment_cost_table"}}
  %tr.odd
    %th= t("input_elements.number_of_other_burner_network_gas").html_safe
    %td.border-rgt{:data => {:gquery => "other_burner_network_gas_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "other_burner_network_gas_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "other_burner_network_gas_delta_in_investment_cost_table"}}
  %tr.even
    %th= t("input_elements.number_of_other_burner_wood_pellets").html_safe
    %td.border-rgt{:data => {:gquery => "other_burner_wood_pellets_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "other_burner_wood_pellets_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "other_burner_wood_pellets_delta_in_investment_cost_table"}}
  %thead.subhead
    %th{:colspan => 4, :style => "text-align: center"}=t 'output_elements.tables.investments.total'
  %tfoot
    %tr
      %th
        %strong Total
      %td{:data => {:gquery => 'total_present_in_investment_cost_table', :graph => :present}} -
      %td{:data => {:gquery => 'total_future_in_investment_cost_table'}} -
      %td{:data => {:gquery => 'total_delta_in_investment_cost_table'}} -
