-# Investment chart
-# Please do NOT add entries to this tables manually
-# Use the Python script instead!
-# It's very easy & fast, I promise
-# See modeling_experiments/query_generation/investment_table.py
%table#investments.chart{ data: { decimals: 2 } }
  %thead
    %tr
      %th(style="width: 50%")
      %th.border-rgt= Current.setting.start_year
      %th= Current.setting.end_year
      %th
    %tr
      %th= t 'output_elements.tables.investments.technology'
      %th= t 'output_elements.tables.investments.investment'
      %th= t 'output_elements.tables.investments.investment'
      %th= t 'output_elements.tables.investments.difference'
  
  %thead.subhead
    %th{:colspan => 4, :style => "text-align: center"}=t 'output_elements.tables.investments.households'
  %tr.even
    %th= t("input_elements.households_heater_coal_share.title").html_safe
    %td.border-rgt{:data => {:gquery => "households_space_heater_coal_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "households_space_heater_coal_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "households_space_heater_coal_delta_in_investment_cost_table"}}
  %tr.odd
    %th= t("input_elements.households_heater_combined_network_gas_share.title").html_safe
    %td.border-rgt{:data => {:gquery => "households_space_heater_combined_network_gas_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "households_space_heater_combined_network_gas_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "households_space_heater_combined_network_gas_delta_in_investment_cost_table"}}
  %tr.even
    %th= t("input_elements.households_heater_combined_hydrogen_share.title").html_safe
    %td.border-rgt{:data => {:gquery => "households_space_heater_combined_hydrogen_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "households_space_heater_combined_hydrogen_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "households_space_heater_combined_hydrogen_delta_in_investment_cost_table"}}
  %tr.odd
    %th= t("input_elements.households_heater_crude_oil_share.title").html_safe
    %td.border-rgt{:data => {:gquery => "households_space_heater_crude_oil_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "households_space_heater_crude_oil_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "households_space_heater_crude_oil_delta_in_investment_cost_table"}}
  %tr.even
    %th= t("input_elements.households_heater_electricity_share.title").html_safe
    %td.border-rgt{:data => {:gquery => "households_space_heater_electricity_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "households_space_heater_electricity_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "households_space_heater_electricity_delta_in_investment_cost_table"}}
  %tr.odd
    %th= t("input_elements.households_heater_heatpump_air_water_electricity_share.title").html_safe
    %td.border-rgt{:data => {:gquery => "households_space_heater_heatpump_air_water_electricity_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "households_space_heater_heatpump_air_water_electricity_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "households_space_heater_heatpump_air_water_electricity_delta_in_investment_cost_table"}}
  %tr.even
    %th= t("input_elements.households_heater_heatpump_ground_water_electricity_share.title").html_safe
    %td.border-rgt{:data => {:gquery => "households_space_heater_heatpump_ground_water_electricity_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "households_space_heater_heatpump_ground_water_electricity_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "households_space_heater_heatpump_ground_water_electricity_delta_in_investment_cost_table"}}
  %tr.odd
    %th= t("input_elements.households_heater_hybrid_heatpump_air_water_electricity_share.title").html_safe
    %td.border-rgt{:data => {:gquery => "households_space_heater_hybrid_heatpump_air_water_electricity_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "households_space_heater_hybrid_heatpump_air_water_electricity_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "households_space_heater_hybrid_heatpump_air_water_electricity_delta_in_investment_cost_table"}}
  %tr.even
    %th= t("input_elements.households_heater_hybrid_hydrogen_heatpump_air_water_electricity_share.title").html_safe
    %td.border-rgt{:data => {:gquery => "households_space_heater_hybrid_hydrogen_heatpump_air_water_electricity_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "households_space_heater_hybrid_hydrogen_heatpump_air_water_electricity_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "households_space_heater_hybrid_hydrogen_heatpump_air_water_electricity_delta_in_investment_cost_table"}}
  %tr.odd
    %th= t("input_elements.households_heater_network_gas_share.title").html_safe
    %td.border-rgt{:data => {:gquery => "households_space_heater_network_gas_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "households_space_heater_network_gas_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "households_space_heater_network_gas_delta_in_investment_cost_table"}}
  %tr.even
    %th= t("input_elements.households_heater_wood_pellets_share.title").html_safe
    %td.border-rgt{:data => {:gquery => "households_space_heater_wood_pellets_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "households_space_heater_wood_pellets_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "households_space_heater_wood_pellets_delta_in_investment_cost_table"}}
  %tr.odd
    %th= t("input_elements.households_water_heater_resistive_electricity_share.title").html_safe
    %td.border-rgt{:data => {:gquery => "households_water_heater_resistive_electricity_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "households_water_heater_resistive_electricity_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "households_water_heater_resistive_electricity_delta_in_investment_cost_table"}}
  %tr.even
    %th= t("input_elements.households_water_heater_solar_thermal_share.title").html_safe
    %td.border-rgt{:data => {:gquery => "households_water_heater_solar_thermal_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "households_water_heater_solar_thermal_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "households_water_heater_solar_thermal_delta_in_investment_cost_table"}}
  %tr.odd
    %th= t("input_elements.capacity_of_households_solar_pv_solar_radiation.title").html_safe
    %td.border-rgt{:data => {:gquery => "households_solar_pv_solar_radiation_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "households_solar_pv_solar_radiation_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "households_solar_pv_solar_radiation_delta_in_investment_cost_table"}}
  %tr.even
    %th= t("input_elements.households_cooling_airconditioning_electricity_share.title").html_safe
    %td.border-rgt{:data => {:gquery => "households_cooling_airconditioning_electricity_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "households_cooling_airconditioning_electricity_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "households_cooling_airconditioning_electricity_delta_in_investment_cost_table"}}

  %thead.subhead
    %th{:colspan => 4, :style => "text-align: center"}=t 'output_elements.tables.investments.buildings'
  %tr.odd
    %th= t("input_elements.buildings_space_heater_coal_share.title").html_safe
    %td.border-rgt{:data => {:gquery => "buildings_space_heater_coal_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "buildings_space_heater_coal_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "buildings_space_heater_coal_delta_in_investment_cost_table"}}
  %tr.even
    %th= t("input_elements.buildings_space_heater_heatpump_air_water_network_gas_share.title").html_safe
    %td.border-rgt{:data => {:gquery => "buildings_space_heater_heatpump_air_water_network_gas_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "buildings_space_heater_heatpump_air_water_network_gas_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "buildings_space_heater_heatpump_air_water_network_gas_delta_in_investment_cost_table"}}
  %tr.odd
    %th= t("input_elements.buildings_space_heater_heatpump_air_water_electricity_share.title").html_safe
    %td.border-rgt{:data => {:gquery => "buildings_space_heater_heatpump_air_water_electricity_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "buildings_space_heater_heatpump_air_water_electricity_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "buildings_space_heater_heatpump_air_water_electricity_delta_in_investment_cost_table"}}
  %tr.even
    %th= t("input_elements.buildings_space_heater_collective_heatpump_water_water_ts_electricity_share.title").html_safe
    %td.border-rgt{:data => {:gquery => "buildings_space_heater_collective_heatpump_water_water_ts_electricity_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "buildings_space_heater_collective_heatpump_water_water_ts_electricity_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "buildings_space_heater_collective_heatpump_water_water_ts_electricity_delta_in_investment_cost_table"}}
  %tr.odd
    %th= t("input_elements.buildings_space_heater_crude_oil_share.title").html_safe
    %td.border-rgt{:data => {:gquery => "buildings_space_heater_crude_oil_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "buildings_space_heater_crude_oil_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "buildings_space_heater_crude_oil_delta_in_investment_cost_table"}}
  %tr.even
    %th= t("input_elements.buildings_space_heater_electricity_share.title").html_safe
    %td.border-rgt{:data => {:gquery => "buildings_space_heater_electricity_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "buildings_space_heater_electricity_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "buildings_space_heater_electricity_delta_in_investment_cost_table"}}
  %tr.odd
    %th= t("input_elements.buildings_space_heater_network_gas_share.title").html_safe
    %td.border-rgt{:data => {:gquery => "buildings_space_heater_network_gas_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "buildings_space_heater_network_gas_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "buildings_space_heater_network_gas_delta_in_investment_cost_table"}}
  %tr.even
    %th= t("input_elements.buildings_space_heater_combined_hydrogen_share.title").html_safe
    %td.border-rgt{:data => {:gquery => "buildings_space_heater_combined_hydrogen_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "buildings_space_heater_combined_hydrogen_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "buildings_space_heater_combined_hydrogen_delta_in_investment_cost_table"}}
  %tr.odd
    %th= t("input_elements.buildings_space_heater_wood_pellets_share.title").html_safe
    %td.border-rgt{:data => {:gquery => "buildings_space_heater_wood_pellets_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "buildings_space_heater_wood_pellets_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "buildings_space_heater_wood_pellets_delta_in_investment_cost_table"}}
  %tr.even
    %th= t("input_elements.buildings_space_heater_solar_thermal_share.title").html_safe
    %td.border-rgt{:data => {:gquery => "buildings_space_heater_solar_thermal_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "buildings_space_heater_solar_thermal_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "buildings_space_heater_solar_thermal_delta_in_investment_cost_table"}}
  %tr.odd
    %th= t("input_elements.capacity_of_buildings_solar_pv_solar_radiation.title").html_safe
    %td.border-rgt{:data => {:gquery => "buildings_solar_pv_solar_radiation_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "buildings_solar_pv_solar_radiation_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "buildings_solar_pv_solar_radiation_delta_in_investment_cost_table"}}
  %tr.even
    %th= t("input_elements.buildings_cooling_airconditioning_electricity_share.title").html_safe
    %td.border-rgt{:data => {:gquery => "buildings_cooling_airconditioning_electricity_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "buildings_cooling_airconditioning_electricity_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "buildings_cooling_airconditioning_electricity_delta_in_investment_cost_table"}}

  %thead.subhead
    %th{:colspan => 4, :style => "text-align: center"}=t 'output_elements.tables.investments.agriculture'
  %tr.odd
    %th= t("input_elements.agriculture_burner_crude_oil_share.title").html_safe
    %td.border-rgt{:data => {:gquery => "agriculture_burner_crude_oil_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "agriculture_burner_crude_oil_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "agriculture_burner_crude_oil_delta_in_investment_cost_table"}}
  %tr.even
    %th= t("input_elements.agriculture_burner_network_gas_share.title").html_safe
    %td.border-rgt{:data => {:gquery => "agriculture_burner_network_gas_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "agriculture_burner_network_gas_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "agriculture_burner_network_gas_delta_in_investment_cost_table"}}
  %tr.odd
    %th= t("input_elements.agriculture_burner_wood_pellets_share.title").html_safe
    %td.border-rgt{:data => {:gquery => "agriculture_burner_wood_pellets_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "agriculture_burner_wood_pellets_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "agriculture_burner_wood_pellets_delta_in_investment_cost_table"}}
  %tr.even
    %th= t("input_elements.agriculture_geothermal_share.title").html_safe
    %td.border-rgt{:data => {:gquery => "agriculture_geothermal_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "agriculture_geothermal_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "agriculture_geothermal_delta_in_investment_cost_table"}}
  %tr.odd
    %th= t("input_elements.agriculture_heatpump_water_water_ts_electricity_share.title").html_safe
    %td.border-rgt{:data => {:gquery => "agriculture_heatpump_water_water_ts_electricity_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "agriculture_heatpump_water_water_ts_electricity_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "agriculture_heatpump_water_water_ts_electricity_delta_in_investment_cost_table"}}
  %tr.even
    %th= t("input_elements.agriculture_burner_hydrogen_share.title").html_safe
    %td.border-rgt{:data => {:gquery => "agriculture_burner_hydrogen_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "agriculture_burner_hydrogen_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "agriculture_burner_hydrogen_delta_in_investment_cost_table"}}

  %thead.subhead
    %th{:colspan => 4, :style => "text-align: center"}=t 'output_elements.tables.investments.industry'
  %tr.odd
    %th= t("input_elements.investment_table_industry_aluminium_burner_network_gas.title").html_safe
    %td.border-rgt{:data => {:gquery => "industry_aluminium_burner_network_gas_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "industry_aluminium_burner_network_gas_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "industry_aluminium_burner_network_gas_delta_in_investment_cost_table"}}
  %tr.even
    %th= t("input_elements.investment_table_industry_chemicals_fertilizers_burner_coal.title").html_safe
    %td.border-rgt{:data => {:gquery => "industry_chemicals_fertilizers_burner_coal_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "industry_chemicals_fertilizers_burner_coal_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "industry_chemicals_fertilizers_burner_coal_delta_in_investment_cost_table"}}
  %tr.odd
    %th= t("input_elements.investment_table_industry_chemicals_fertilizers_burner_crude_oil.title").html_safe
    %td.border-rgt{:data => {:gquery => "industry_chemicals_fertilizers_burner_crude_oil_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "industry_chemicals_fertilizers_burner_crude_oil_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "industry_chemicals_fertilizers_burner_crude_oil_delta_in_investment_cost_table"}}
  %tr.even
    %th= t("input_elements.investment_table_industry_chemicals_fertilizers_burner_hydrogen.title").html_safe
    %td.border-rgt{:data => {:gquery => "industry_chemicals_fertilizers_burner_hydrogen_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "industry_chemicals_fertilizers_burner_hydrogen_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "industry_chemicals_fertilizers_burner_hydrogen_delta_in_investment_cost_table"}}
  %tr.odd
    %th= t("input_elements.investment_table_industry_chemicals_fertilizers_burner_network_gas.title").html_safe
    %td.border-rgt{:data => {:gquery => "industry_chemicals_fertilizers_burner_network_gas_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "industry_chemicals_fertilizers_burner_network_gas_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "industry_chemicals_fertilizers_burner_network_gas_delta_in_investment_cost_table"}}
  %tr.even
    %th= t("input_elements.investment_table_industry_chemicals_fertilizers_burner_wood_pellets.title").html_safe
    %td.border-rgt{:data => {:gquery => "industry_chemicals_fertilizers_burner_wood_pellets_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "industry_chemicals_fertilizers_burner_wood_pellets_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "industry_chemicals_fertilizers_burner_wood_pellets_delta_in_investment_cost_table"}}
  %tr.odd
    %th= t("input_elements.investment_table_industry_chemicals_other_burner_coal.title").html_safe
    %td.border-rgt{:data => {:gquery => "industry_chemicals_other_burner_coal_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "industry_chemicals_other_burner_coal_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "industry_chemicals_other_burner_coal_delta_in_investment_cost_table"}}
  %tr.even
    %th= t("input_elements.investment_table_industry_chemicals_other_burner_crude_oil.title").html_safe
    %td.border-rgt{:data => {:gquery => "industry_chemicals_other_burner_crude_oil_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "industry_chemicals_other_burner_crude_oil_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "industry_chemicals_other_burner_crude_oil_delta_in_investment_cost_table"}}
  %tr.odd
    %th= t("input_elements.investment_table_industry_chemicals_other_burner_hydrogen.title").html_safe
    %td.border-rgt{:data => {:gquery => "industry_chemicals_other_burner_hydrogen_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "industry_chemicals_other_burner_hydrogen_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "industry_chemicals_other_burner_hydrogen_delta_in_investment_cost_table"}}
  %tr.even
    %th= t("input_elements.investment_table_industry_chemicals_other_burner_network_gas.title").html_safe
    %td.border-rgt{:data => {:gquery => "industry_chemicals_other_burner_network_gas_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "industry_chemicals_other_burner_network_gas_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "industry_chemicals_other_burner_network_gas_delta_in_investment_cost_table"}}
  %tr.odd
    %th= t("input_elements.investment_table_industry_chemicals_other_burner_wood_pellets.title").html_safe
    %td.border-rgt{:data => {:gquery => "industry_chemicals_other_burner_wood_pellets_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "industry_chemicals_other_burner_wood_pellets_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "industry_chemicals_other_burner_wood_pellets_delta_in_investment_cost_table"}}
  %tr.even
    %th= t("input_elements.investment_table_industry_chemicals_other_flexibility_p2h_hydrogen_electricity.title").html_safe
    %td.border-rgt{:data => {:gquery => "industry_chemicals_other_flexibility_p2h_hydrogen_electricity_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "industry_chemicals_other_flexibility_p2h_hydrogen_electricity_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "industry_chemicals_other_flexibility_p2h_hydrogen_electricity_delta_in_investment_cost_table"}}
  %tr.odd
    %th= t("input_elements.investment_table_industry_chemicals_other_flexibility_p2h_network_gas_electricity.title").html_safe
    %td.border-rgt{:data => {:gquery => "industry_chemicals_other_flexibility_p2h_network_gas_electricity_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "industry_chemicals_other_flexibility_p2h_network_gas_electricity_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "industry_chemicals_other_flexibility_p2h_network_gas_electricity_delta_in_investment_cost_table"}}
  %tr.even
    %th= t("input_elements.investment_table_industry_chemicals_other_heater_electricity.title").html_safe
    %td.border-rgt{:data => {:gquery => "industry_chemicals_other_heater_electricity_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "industry_chemicals_other_heater_electricity_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "industry_chemicals_other_heater_electricity_delta_in_investment_cost_table"}}
  %tr.odd
    %th= t("input_elements.investment_table_industry_chemicals_other_heatpump_water_water_electricity.title").html_safe
    %td.border-rgt{:data => {:gquery => "industry_chemicals_other_heatpump_water_water_electricity_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "industry_chemicals_other_heatpump_water_water_electricity_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "industry_chemicals_other_heatpump_water_water_electricity_delta_in_investment_cost_table"}}
  %tr.even
    %th= t("input_elements.investment_table_industry_chemicals_other_steam_recompression_electricity.title").html_safe
    %td.border-rgt{:data => {:gquery => "industry_chemicals_other_steam_recompression_electricity_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "industry_chemicals_other_steam_recompression_electricity_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "industry_chemicals_other_steam_recompression_electricity_delta_in_investment_cost_table"}}
  %tr.odd
    %th= t("input_elements.investment_table_industry_chemicals_refineries_burner_coal.title").html_safe
    %td.border-rgt{:data => {:gquery => "industry_chemicals_refineries_burner_coal_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "industry_chemicals_refineries_burner_coal_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "industry_chemicals_refineries_burner_coal_delta_in_investment_cost_table"}}
  %tr.even
    %th= t("input_elements.investment_table_industry_chemicals_refineries_burner_crude_oil.title").html_safe
    %td.border-rgt{:data => {:gquery => "industry_chemicals_refineries_burner_crude_oil_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "industry_chemicals_refineries_burner_crude_oil_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "industry_chemicals_refineries_burner_crude_oil_delta_in_investment_cost_table"}}
  %tr.odd
    %th= t("input_elements.investment_table_industry_chemicals_refineries_burner_hydrogen.title").html_safe
    %td.border-rgt{:data => {:gquery => "industry_chemicals_refineries_burner_hydrogen_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "industry_chemicals_refineries_burner_hydrogen_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "industry_chemicals_refineries_burner_hydrogen_delta_in_investment_cost_table"}}
  %tr.even
    %th= t("input_elements.investment_table_industry_chemicals_refineries_burner_network_gas.title").html_safe
    %td.border-rgt{:data => {:gquery => "industry_chemicals_refineries_burner_network_gas_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "industry_chemicals_refineries_burner_network_gas_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "industry_chemicals_refineries_burner_network_gas_delta_in_investment_cost_table"}}
  %tr.odd
    %th= t("input_elements.investment_table_industry_chemicals_refineries_burner_wood_pellets.title").html_safe
    %td.border-rgt{:data => {:gquery => "industry_chemicals_refineries_burner_wood_pellets_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "industry_chemicals_refineries_burner_wood_pellets_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "industry_chemicals_refineries_burner_wood_pellets_delta_in_investment_cost_table"}}
  %tr.even
    %th= t("input_elements.investment_table_industry_chemicals_refineries_flexibility_p2h_hydrogen_electricity.title").html_safe
    %td.border-rgt{:data => {:gquery => "industry_chemicals_refineries_flexibility_p2h_hydrogen_electricity_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "industry_chemicals_refineries_flexibility_p2h_hydrogen_electricity_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "industry_chemicals_refineries_flexibility_p2h_hydrogen_electricity_delta_in_investment_cost_table"}}
  %tr.odd
    %th= t("input_elements.investment_table_industry_chemicals_refineries_flexibility_p2h_network_gas_electricity.title").html_safe
    %td.border-rgt{:data => {:gquery => "industry_chemicals_refineries_flexibility_p2h_network_gas_electricity_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "industry_chemicals_refineries_flexibility_p2h_network_gas_electricity_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "industry_chemicals_refineries_flexibility_p2h_network_gas_electricity_delta_in_investment_cost_table"}}
  %tr.even
    %th= t("input_elements.capacity_of_industry_chp_combined_cycle_gas_power_fuelmix.title").html_safe
    %td.border-rgt{:data => {:gquery => "industry_chp_combined_cycle_gas_power_fuelmix_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "industry_chp_combined_cycle_gas_power_fuelmix_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "industry_chp_combined_cycle_gas_power_fuelmix_delta_in_investment_cost_table"}}
  %tr.odd
    %th= t("input_elements.capacity_of_industry_chp_engine_gas_power_fuelmix.title").html_safe
    %td.border-rgt{:data => {:gquery => "industry_chp_engine_gas_power_fuelmix_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "industry_chp_engine_gas_power_fuelmix_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "industry_chp_engine_gas_power_fuelmix_delta_in_investment_cost_table"}}
  %tr.even
    %th= t("input_elements.capacity_of_industry_chp_turbine_gas_power_fuelmix.title").html_safe
    %td.border-rgt{:data => {:gquery => "industry_chp_turbine_gas_power_fuelmix_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "industry_chp_turbine_gas_power_fuelmix_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "industry_chp_turbine_gas_power_fuelmix_delta_in_investment_cost_table"}}
  %tr.odd
    %th= t("input_elements.capacity_of_industry_chp_ultra_supercritical_coal.title").html_safe
    %td.border-rgt{:data => {:gquery => "industry_chp_ultra_supercritical_coal_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "industry_chp_ultra_supercritical_coal_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "industry_chp_ultra_supercritical_coal_delta_in_investment_cost_table"}}
  %tr.even
    %th= t("input_elements.capacity_of_industry_chp_wood_pellets.title").html_safe
    %td.border-rgt{:data => {:gquery => "industry_chp_wood_pellets_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "industry_chp_wood_pellets_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "industry_chp_wood_pellets_delta_in_investment_cost_table"}}
  %tr.odd
    %th= t("input_elements.capacity_of_industry_heat_backup_burner_network_gas.title").html_safe
    %td.border-rgt{:data => {:gquery => "industry_heat_backup_burner_network_gas_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "industry_heat_backup_burner_network_gas_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "industry_heat_backup_burner_network_gas_delta_in_investment_cost_table"}}
  %tr.even
    %th= t("input_elements.capacity_of_industry_heat_burner_coal.title").html_safe
    %td.border-rgt{:data => {:gquery => "industry_heat_burner_coal_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "industry_heat_burner_coal_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "industry_heat_burner_coal_delta_in_investment_cost_table"}}
  %tr.odd
    %th= t("input_elements.capacity_of_industry_heat_burner_crude_oil.title").html_safe
    %td.border-rgt{:data => {:gquery => "industry_heat_burner_crude_oil_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "industry_heat_burner_crude_oil_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "industry_heat_burner_crude_oil_delta_in_investment_cost_table"}}
  %tr.even
    %th= t("input_elements.capacity_of_industry_heat_burner_lignite.title").html_safe
    %td.border-rgt{:data => {:gquery => "industry_heat_burner_lignite_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "industry_heat_burner_lignite_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "industry_heat_burner_lignite_delta_in_investment_cost_table"}}
  %tr.odd
    %th= t("input_elements.capacity_of_industry_heat_well_geothermal.title").html_safe
    %td.border-rgt{:data => {:gquery => "industry_heat_well_geothermal_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "industry_heat_well_geothermal_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "industry_heat_well_geothermal_delta_in_investment_cost_table"}}
  %tr.even
    %th= t("input_elements.investment_table_industry_other_food_burner_coal.title").html_safe
    %td.border-rgt{:data => {:gquery => "industry_other_food_burner_coal_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "industry_other_food_burner_coal_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "industry_other_food_burner_coal_delta_in_investment_cost_table"}}
  %tr.odd
    %th= t("input_elements.investment_table_industry_other_food_burner_crude_oil.title").html_safe
    %td.border-rgt{:data => {:gquery => "industry_other_food_burner_crude_oil_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "industry_other_food_burner_crude_oil_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "industry_other_food_burner_crude_oil_delta_in_investment_cost_table"}}
  %tr.even
    %th= t("input_elements.investment_table_industry_other_food_burner_hydrogen.title").html_safe
    %td.border-rgt{:data => {:gquery => "industry_other_food_burner_hydrogen_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "industry_other_food_burner_hydrogen_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "industry_other_food_burner_hydrogen_delta_in_investment_cost_table"}}
  %tr.odd
    %th= t("input_elements.investment_table_industry_other_food_burner_network_gas.title").html_safe
    %td.border-rgt{:data => {:gquery => "industry_other_food_burner_network_gas_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "industry_other_food_burner_network_gas_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "industry_other_food_burner_network_gas_delta_in_investment_cost_table"}}
  %tr.even
    %th= t("input_elements.investment_table_industry_other_food_burner_wood_pellets.title").html_safe
    %td.border-rgt{:data => {:gquery => "industry_other_food_burner_wood_pellets_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "industry_other_food_burner_wood_pellets_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "industry_other_food_burner_wood_pellets_delta_in_investment_cost_table"}}
  %tr.odd
    %th= t("input_elements.investment_table_industry_other_food_flexibility_p2h_hydrogen_electricity.title").html_safe
    %td.border-rgt{:data => {:gquery => "industry_other_food_flexibility_p2h_hydrogen_electricity_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "industry_other_food_flexibility_p2h_hydrogen_electricity_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "industry_other_food_flexibility_p2h_hydrogen_electricity_delta_in_investment_cost_table"}}
  %tr.even
    %th= t("input_elements.investment_table_industry_other_food_flexibility_p2h_network_gas_electricity.title").html_safe
    %td.border-rgt{:data => {:gquery => "industry_other_food_flexibility_p2h_network_gas_electricity_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "industry_other_food_flexibility_p2h_network_gas_electricity_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "industry_other_food_flexibility_p2h_network_gas_electricity_delta_in_investment_cost_table"}}
  %tr.odd
    %th= t("input_elements.investment_table_industry_other_food_heater_electricity.title").html_safe
    %td.border-rgt{:data => {:gquery => "industry_other_food_heater_electricity_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "industry_other_food_heater_electricity_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "industry_other_food_heater_electricity_delta_in_investment_cost_table"}}
  %tr.even
    %th= t("input_elements.investment_table_industry_other_metals_burner_network_gas.title").html_safe
    %td.border-rgt{:data => {:gquery => "industry_other_metals_burner_network_gas_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "industry_other_metals_burner_network_gas_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "industry_other_metals_burner_network_gas_delta_in_investment_cost_table"}}
  %tr.odd
    %th= t("input_elements.investment_table_industry_other_paper_burner_coal.title").html_safe
    %td.border-rgt{:data => {:gquery => "industry_other_paper_burner_coal_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "industry_other_paper_burner_coal_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "industry_other_paper_burner_coal_delta_in_investment_cost_table"}}
  %tr.even
    %th= t("input_elements.investment_table_industry_other_paper_burner_crude_oil.title").html_safe
    %td.border-rgt{:data => {:gquery => "industry_other_paper_burner_crude_oil_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "industry_other_paper_burner_crude_oil_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "industry_other_paper_burner_crude_oil_delta_in_investment_cost_table"}}
  %tr.odd
    %th= t("input_elements.investment_table_industry_other_paper_burner_hydrogen.title").html_safe
    %td.border-rgt{:data => {:gquery => "industry_other_paper_burner_hydrogen_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "industry_other_paper_burner_hydrogen_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "industry_other_paper_burner_hydrogen_delta_in_investment_cost_table"}}
  %tr.even
    %th= t("input_elements.investment_table_industry_other_paper_burner_network_gas.title").html_safe
    %td.border-rgt{:data => {:gquery => "industry_other_paper_burner_network_gas_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "industry_other_paper_burner_network_gas_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "industry_other_paper_burner_network_gas_delta_in_investment_cost_table"}}
  %tr.odd
    %th= t("input_elements.investment_table_industry_other_paper_burner_wood_pellets.title").html_safe
    %td.border-rgt{:data => {:gquery => "industry_other_paper_burner_wood_pellets_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "industry_other_paper_burner_wood_pellets_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "industry_other_paper_burner_wood_pellets_delta_in_investment_cost_table"}}
  %tr.even
    %th= t("input_elements.investment_table_industry_other_paper_flexibility_p2h_hydrogen_electricity.title").html_safe
    %td.border-rgt{:data => {:gquery => "industry_other_paper_flexibility_p2h_hydrogen_electricity_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "industry_other_paper_flexibility_p2h_hydrogen_electricity_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "industry_other_paper_flexibility_p2h_hydrogen_electricity_delta_in_investment_cost_table"}}
  %tr.odd
    %th= t("input_elements.investment_table_industry_other_paper_flexibility_p2h_network_gas_electricity.title").html_safe
    %td.border-rgt{:data => {:gquery => "industry_other_paper_flexibility_p2h_network_gas_electricity_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "industry_other_paper_flexibility_p2h_network_gas_electricity_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "industry_other_paper_flexibility_p2h_network_gas_electricity_delta_in_investment_cost_table"}}
  %tr.even
    %th= t("input_elements.investment_table_industry_other_paper_heater_electricity.title").html_safe
    %td.border-rgt{:data => {:gquery => "industry_other_paper_heater_electricity_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "industry_other_paper_heater_electricity_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "industry_other_paper_heater_electricity_delta_in_investment_cost_table"}}
  %tr.odd
    %th= t("input_elements.investment_table_industry_steel_blastfurnace_burner_coal_gas.title").html_safe
    %td.border-rgt{:data => {:gquery => "industry_steel_blastfurnace_burner_coal_gas_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "industry_steel_blastfurnace_burner_coal_gas_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "industry_steel_blastfurnace_burner_coal_gas_delta_in_investment_cost_table"}}
  %tr.even
    %th= t("input_elements.investment_table_industry_steel_electricfurnace_burner_network_gas.title").html_safe
    %td.border-rgt{:data => {:gquery => "industry_steel_electricfurnace_burner_network_gas_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "industry_steel_electricfurnace_burner_network_gas_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "industry_steel_electricfurnace_burner_network_gas_delta_in_investment_cost_table"}}

  %thead.subhead
    %th{:colspan => 4, :style => "text-align: center"}=t 'output_elements.tables.investments.collective_heat_network'
  %tr.odd
    %th= t("input_elements.capacity_of_energy_chp_local_engine_biogas.title").html_safe
    %td.border-rgt{:data => {:gquery => "energy_chp_local_engine_biogas_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "energy_chp_local_engine_biogas_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "energy_chp_local_engine_biogas_delta_in_investment_cost_table"}}
  %tr.even
    %th= t("input_elements.capacity_of_energy_chp_local_engine_network_gas.title").html_safe
    %td.border-rgt{:data => {:gquery => "energy_chp_local_engine_network_gas_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "energy_chp_local_engine_network_gas_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "energy_chp_local_engine_network_gas_delta_in_investment_cost_table"}}
  %tr.odd
    %th= t("input_elements.capacity_of_energy_chp_local_wood_pellets.title").html_safe
    %td.border-rgt{:data => {:gquery => "energy_chp_local_wood_pellets_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "energy_chp_local_wood_pellets_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "energy_chp_local_wood_pellets_delta_in_investment_cost_table"}}
  %tr.even
    %th= t("input_elements.capacity_of_energy_heat_backup_burner_network_gas.title").html_safe
    %td.border-rgt{:data => {:gquery => "energy_heat_backup_burner_network_gas_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "energy_heat_backup_burner_network_gas_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "energy_heat_backup_burner_network_gas_delta_in_investment_cost_table"}}
  %tr.odd
    %th= t("input_elements.capacity_of_energy_heat_burner_coal.title").html_safe
    %td.border-rgt{:data => {:gquery => "energy_heat_burner_coal_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "energy_heat_burner_coal_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "energy_heat_burner_coal_delta_in_investment_cost_table"}}
  %tr.even
    %th= t("input_elements.capacity_of_energy_heat_burner_crude_oil.title").html_safe
    %td.border-rgt{:data => {:gquery => "energy_heat_burner_crude_oil_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "energy_heat_burner_crude_oil_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "energy_heat_burner_crude_oil_delta_in_investment_cost_table"}}
  %tr.odd
    %th= t("input_elements.capacity_of_energy_heat_burner_hydrogen.title").html_safe
    %td.border-rgt{:data => {:gquery => "energy_heat_burner_hydrogen_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "energy_heat_burner_hydrogen_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "energy_heat_burner_hydrogen_delta_in_investment_cost_table"}}
  %tr.even
    %th= t("input_elements.capacity_of_energy_heat_burner_network_gas.title").html_safe
    %td.border-rgt{:data => {:gquery => "energy_heat_burner_network_gas_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "energy_heat_burner_network_gas_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "energy_heat_burner_network_gas_delta_in_investment_cost_table"}}
  %tr.odd
    %th= t("input_elements.capacity_of_energy_heat_burner_waste_mix.title").html_safe
    %td.border-rgt{:data => {:gquery => "energy_heat_burner_waste_mix_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "energy_heat_burner_waste_mix_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "energy_heat_burner_waste_mix_delta_in_investment_cost_table"}}
  %tr.even
    %th= t("input_elements.capacity_of_energy_heat_burner_wood_pellets.title").html_safe
    %td.border-rgt{:data => {:gquery => "energy_heat_burner_wood_pellets_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "energy_heat_burner_wood_pellets_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "energy_heat_burner_wood_pellets_delta_in_investment_cost_table"}}
  %tr.odd
    %th= t("input_elements.capacity_of_energy_heat_heatpump_water_water_electricity.title").html_safe
    %td.border-rgt{:data => {:gquery => "energy_heat_heatpump_water_water_electricity_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "energy_heat_heatpump_water_water_electricity_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "energy_heat_heatpump_water_water_electricity_delta_in_investment_cost_table"}}
  %tr.even
    %th= t("input_elements.capacity_of_energy_heat_boiler_electricity.title").html_safe
    %td.border-rgt{:data => {:gquery => "energy_heat_boiler_electricity_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "energy_heat_boiler_electricity_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "energy_heat_boiler_electricity_delta_in_investment_cost_table"}}
  %tr.odd
    %th= t("input_elements.capacity_of_energy_heat_solar_thermal.title").html_safe
    %td.border-rgt{:data => {:gquery => "energy_heat_solar_thermal_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "energy_heat_solar_thermal_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "energy_heat_solar_thermal_delta_in_investment_cost_table"}}
  %tr.even
    %th= t("input_elements.capacity_of_energy_heat_well_geothermal.title").html_safe
    %td.border-rgt{:data => {:gquery => "energy_heat_well_geothermal_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "energy_heat_well_geothermal_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "energy_heat_well_geothermal_delta_in_investment_cost_table"}}

  %thead.subhead
    %th{:colspan => 4, :style => "text-align: center"}=t 'output_elements.tables.investments.energy'
  %tr.even
    %th= t("input_elements.capacity_of_energy_power_combined_cycle_coal.title").html_safe
    %td.border-rgt{:data => {:gquery => "energy_power_combined_cycle_coal_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "energy_power_combined_cycle_coal_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "energy_power_combined_cycle_coal_delta_in_investment_cost_table"}}
  %tr.odd
    %th= t("input_elements.capacity_of_energy_power_combined_cycle_ccs_coal.title").html_safe
    %td.border-rgt{:data => {:gquery => "energy_power_combined_cycle_ccs_coal_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "energy_power_combined_cycle_ccs_coal_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "energy_power_combined_cycle_ccs_coal_delta_in_investment_cost_table"}}
  %tr.even
    %th= t("input_elements.capacity_of_energy_power_supercritical_coal.title").html_safe
    %td.border-rgt{:data => {:gquery => "energy_power_supercritical_coal_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "energy_power_supercritical_coal_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "energy_power_supercritical_coal_delta_in_investment_cost_table"}}
  %tr.odd
    %th= t("input_elements.capacity_of_energy_power_ultra_supercritical_coal.title").html_safe
    %td.border-rgt{:data => {:gquery => "energy_power_ultra_supercritical_coal_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "energy_power_ultra_supercritical_coal_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "energy_power_ultra_supercritical_coal_delta_in_investment_cost_table"}}
  %tr.even
    %th= t("input_elements.capacity_of_energy_power_ultra_supercritical_ccs_coal.title").html_safe
    %td.border-rgt{:data => {:gquery => "energy_power_ultra_supercritical_ccs_coal_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "energy_power_ultra_supercritical_ccs_coal_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "energy_power_ultra_supercritical_ccs_coal_delta_in_investment_cost_table"}}
  %tr.odd
    %th= t("input_elements.capacity_of_energy_power_ultra_supercritical_cofiring_coal.title").html_safe
    %td.border-rgt{:data => {:gquery => "energy_power_ultra_supercritical_cofiring_coal_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "energy_power_ultra_supercritical_cofiring_coal_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "energy_power_ultra_supercritical_cofiring_coal_delta_in_investment_cost_table"}}
  %tr.even
    %th= t("input_elements.capacity_of_energy_chp_ultra_supercritical_coal.title").html_safe
    %td.border-rgt{:data => {:gquery => "energy_chp_ultra_supercritical_coal_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "energy_chp_ultra_supercritical_coal_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "energy_chp_ultra_supercritical_coal_delta_in_investment_cost_table"}}
  %tr.odd
    %th= t("input_elements.capacity_of_energy_chp_ultra_supercritical_cofiring_coal.title").html_safe
    %td.border-rgt{:data => {:gquery => "energy_chp_ultra_supercritical_cofiring_coal_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "energy_chp_ultra_supercritical_cofiring_coal_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "energy_chp_ultra_supercritical_cofiring_coal_delta_in_investment_cost_table"}}
  %tr.even
    %th= t("input_elements.capacity_of_energy_power_combined_cycle_network_gas.title").html_safe
    %td.border-rgt{:data => {:gquery => "energy_power_combined_cycle_network_gas_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "energy_power_combined_cycle_network_gas_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "energy_power_combined_cycle_network_gas_delta_in_investment_cost_table"}}
  %tr.odd
    %th= t("input_elements.capacity_of_energy_power_combined_cycle_ccs_network_gas.title").html_safe
    %td.border-rgt{:data => {:gquery => "energy_power_combined_cycle_ccs_network_gas_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "energy_power_combined_cycle_ccs_network_gas_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "energy_power_combined_cycle_ccs_network_gas_delta_in_investment_cost_table"}}
  %tr.even
    %th= t("input_elements.capacity_of_energy_power_turbine_network_gas.title").html_safe
    %td.border-rgt{:data => {:gquery => "energy_power_turbine_network_gas_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "energy_power_turbine_network_gas_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "energy_power_turbine_network_gas_delta_in_investment_cost_table"}}
  %tr.odd
    %th= t("input_elements.capacity_of_energy_power_ultra_supercritical_network_gas.title").html_safe
    %td.border-rgt{:data => {:gquery => "energy_power_ultra_supercritical_network_gas_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "energy_power_ultra_supercritical_network_gas_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "energy_power_ultra_supercritical_network_gas_delta_in_investment_cost_table"}}
  %tr.even
    %th= t("input_elements.capacity_of_energy_chp_combined_cycle_network_gas.title").html_safe
    %td.border-rgt{:data => {:gquery => "energy_chp_combined_cycle_network_gas_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "energy_chp_combined_cycle_network_gas_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "energy_chp_combined_cycle_network_gas_delta_in_investment_cost_table"}}
  %tr.odd
    %th= t("input_elements.capacity_of_energy_power_ultra_supercritical_crude_oil.title").html_safe
    %td.border-rgt{:data => {:gquery => "energy_power_ultra_supercritical_crude_oil_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "energy_power_ultra_supercritical_crude_oil_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "energy_power_ultra_supercritical_crude_oil_delta_in_investment_cost_table"}}
  %tr.even
    %th= t("input_elements.capacity_of_energy_power_engine_diesel.title").html_safe
    %td.border-rgt{:data => {:gquery => "energy_power_engine_diesel_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "energy_power_engine_diesel_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "energy_power_engine_diesel_delta_in_investment_cost_table"}}
  %tr.odd
    %th= t("input_elements.capacity_of_energy_power_nuclear_gen2_uranium_oxide.title").html_safe
    %td.border-rgt{:data => {:gquery => "energy_power_nuclear_gen2_uranium_oxide_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "energy_power_nuclear_gen2_uranium_oxide_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "energy_power_nuclear_gen2_uranium_oxide_delta_in_investment_cost_table"}}
  %tr.even
    %th= t("input_elements.capacity_of_energy_power_nuclear_gen3_uranium_oxide.title").html_safe
    %td.border-rgt{:data => {:gquery => "energy_power_nuclear_gen3_uranium_oxide_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "energy_power_nuclear_gen3_uranium_oxide_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "energy_power_nuclear_gen3_uranium_oxide_delta_in_investment_cost_table"}}
  %tr.odd
    %th= t("input_elements.capacity_of_energy_power_supercritical_waste_mix.title").html_safe
    %td.border-rgt{:data => {:gquery => "energy_power_supercritical_waste_mix_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "energy_power_supercritical_waste_mix_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "energy_power_supercritical_waste_mix_delta_in_investment_cost_table"}}
  %tr.even
    %th= t("input_elements.capacity_of_energy_power_supercritical_ccs_waste_mix.title").html_safe
    %td.border-rgt{:data => {:gquery => "energy_power_supercritical_ccs_waste_mix_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "energy_power_supercritical_ccs_waste_mix_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "energy_power_supercritical_ccs_waste_mix_delta_in_investment_cost_table"}}
  %tr.odd
    %th= t("input_elements.capacity_of_energy_chp_supercritical_waste_mix.title").html_safe
    %td.border-rgt{:data => {:gquery => "energy_chp_supercritical_waste_mix_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "energy_chp_supercritical_waste_mix_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "energy_chp_supercritical_waste_mix_delta_in_investment_cost_table"}}
  %tr.even
    %th= t("input_elements.capacity_of_energy_chp_supercritical_ccs_waste_mix.title").html_safe
    %td.border-rgt{:data => {:gquery => "energy_chp_supercritical_ccs_waste_mix_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "energy_chp_supercritical_ccs_waste_mix_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "energy_chp_supercritical_ccs_waste_mix_delta_in_investment_cost_table"}}
  %tr.odd
    %th= t("input_elements.capacity_of_energy_chp_supercritical_ccs_waste_mix.title").html_safe
    %td.border-rgt{:data => {:gquery => "energy_chp_supercritical_ccs_waste_mix_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "energy_chp_supercritical_ccs_waste_mix_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "energy_chp_supercritical_ccs_waste_mix_delta_in_investment_cost_table"}}
  %tr.odd
    %th= t("input_elements.capacity_of_energy_power_ultra_supercritical_lignite.title").html_safe
    %td.border-rgt{:data => {:gquery => "energy_power_ultra_supercritical_lignite_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "energy_power_ultra_supercritical_lignite_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "energy_power_ultra_supercritical_lignite_delta_in_investment_cost_table"}}
  %tr.even
    %th= t("input_elements.capacity_of_energy_power_ultra_supercritical_oxyfuel_ccs_lignite.title").html_safe
    %td.border-rgt{:data => {:gquery => "energy_power_ultra_supercritical_oxyfuel_ccs_lignite_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "energy_power_ultra_supercritical_oxyfuel_ccs_lignite_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "energy_power_ultra_supercritical_oxyfuel_ccs_lignite_delta_in_investment_cost_table"}}
  %tr.odd
    %th= t("input_elements.capacity_of_energy_chp_ultra_supercritical_lignite.title").html_safe
    %td.border-rgt{:data => {:gquery => "energy_chp_ultra_supercritical_lignite_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "energy_chp_ultra_supercritical_lignite_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "energy_chp_ultra_supercritical_lignite_delta_in_investment_cost_table"}}
  %tr.even
    %th= t("input_elements.capacity_of_energy_power_solar_csp_solar_radiation.title").html_safe
    %td.border-rgt{:data => {:gquery => "energy_power_solar_csp_solar_radiation_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "energy_power_solar_csp_solar_radiation_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "energy_power_solar_csp_solar_radiation_delta_in_investment_cost_table"}}
  %tr.odd
    %th= t("input_elements.capacity_of_energy_power_solar_pv_solar_radiation.title").html_safe
    %td.border-rgt{:data => {:gquery => "energy_power_solar_pv_solar_radiation_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "energy_power_solar_pv_solar_radiation_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "energy_power_solar_pv_solar_radiation_delta_in_investment_cost_table"}}
  %tr.even
    %th= t("input_elements.capacity_of_energy_power_geothermal.title").html_safe
    %td.border-rgt{:data => {:gquery => "energy_power_geothermal_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "energy_power_geothermal_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "energy_power_geothermal_delta_in_investment_cost_table"}}
  %tr.odd
    %th= t("input_elements.investment_table_energy_power_hydro_mountain.title").html_safe
    %td.border-rgt{:data => {:gquery => "energy_power_hydro_mountain_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "energy_power_hydro_mountain_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "energy_power_hydro_mountain_delta_in_investment_cost_table"}}
  %tr.even
    %th= t("input_elements.investment_table_energy_power_hydro_river.title").html_safe
    %td.border-rgt{:data => {:gquery => "energy_power_hydro_river_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "energy_power_hydro_river_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "energy_power_hydro_river_delta_in_investment_cost_table"}}
  %tr.odd
    %th= t("input_elements.capacity_of_energy_power_turbine_hydrogen.title").html_safe
    %td.border-rgt{:data => {:gquery => "energy_power_turbine_hydrogen_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "energy_power_turbine_hydrogen_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "energy_power_turbine_hydrogen_delta_in_investment_cost_table"}}
  %tr.even
    %th= t("input_elements.capacity_of_energy_power_combined_cycle_hydrogen.title").html_safe
    %td.border-rgt{:data => {:gquery => "energy_power_combined_cycle_hydrogen_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "energy_power_combined_cycle_hydrogen_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "energy_power_combined_cycle_hydrogen_delta_in_investment_cost_table"}}
  %tr.odd
    %th= t("input_elements.investment_table_energy_power_wind_turbine_coastal.title").html_safe
    %td.border-rgt{:data => {:gquery => "energy_power_wind_turbine_coastal_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "energy_power_wind_turbine_coastal_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "energy_power_wind_turbine_coastal_delta_in_investment_cost_table"}}
  %tr.even
    %th= t("input_elements.investment_table_energy_power_wind_turbine_inland.title").html_safe
    %td.border-rgt{:data => {:gquery => "energy_power_wind_turbine_inland_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "energy_power_wind_turbine_inland_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "energy_power_wind_turbine_inland_delta_in_investment_cost_table"}}
  %tr.odd
    %th= t("input_elements.investment_table_energy_power_wind_turbine_offshore.title").html_safe
    %td.border-rgt{:data => {:gquery => "energy_power_wind_turbine_offshore_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "energy_power_wind_turbine_offshore_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "energy_power_wind_turbine_offshore_delta_in_investment_cost_table"}}
  %tr.even
    %th= t("input_elements.energy_biogas_fermentation.title").html_safe
    %td.border-rgt{:data => {:gquery => "energy_biogas_fermentation_wet_biomass_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "energy_biogas_fermentation_wet_biomass_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "energy_biogas_fermentation_wet_biomass_delta_in_investment_cost_table"}}
  %tr.odd
    %th= t("input_elements.energy_greengas_gasification_wet_biomass_share.title").html_safe
    %td.border-rgt{:data => {:gquery => "energy_greengas_gasification_wet_biomass_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "energy_greengas_gasification_wet_biomass_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "energy_greengas_gasification_wet_biomass_delta_in_investment_cost_table"}}
  %tr.even
    %th= t("input_elements.energy_greengas_gasification_dry_biomass_share.title").html_safe
    %td.border-rgt{:data => {:gquery => "energy_greengas_gasification_dry_biomass_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "energy_greengas_gasification_dry_biomass_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "energy_greengas_gasification_dry_biomass_delta_in_investment_cost_table"}}

  %thead.subhead
    %th{:colspan => 4, :style => "text-align: center"}=t 'output_elements.tables.investments.flexibility'
  %tr.odd
    %th= t("input_elements.households_flexibility_p2p_electricity_market_penetration.title").html_safe
    %td.border-rgt{:data => {:gquery => "households_flexibility_p2p_electricity_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "households_flexibility_p2p_electricity_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "households_flexibility_p2p_electricity_delta_in_investment_cost_table"}}
  %tr.even
    %th= t("input_elements.investment_table_industry_other_paper_flexibility_p2h_network_gas_electricity.title").html_safe
    %td.border-rgt{:data => {:gquery => "industry_other_paper_flexibility_p2h_network_gas_electricity_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "industry_other_paper_flexibility_p2h_network_gas_electricity_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "industry_other_paper_flexibility_p2h_network_gas_electricity_delta_in_investment_cost_table"}}
  %tr.odd
    %th= t("input_elements.investment_table_industry_other_paper_flexibility_p2h_hydrogen_electricity.title").html_safe
    %td.border-rgt{:data => {:gquery => "industry_other_paper_flexibility_p2h_hydrogen_electricity_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "industry_other_paper_flexibility_p2h_hydrogen_electricity_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "industry_other_paper_flexibility_p2h_hydrogen_electricity_delta_in_investment_cost_table"}}
  %tr.even
    %th= t("input_elements.investment_table_industry_other_food_flexibility_p2h_network_gas_electricity.title").html_safe
    %td.border-rgt{:data => {:gquery => "industry_other_food_flexibility_p2h_network_gas_electricity_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "industry_other_food_flexibility_p2h_network_gas_electricity_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "industry_other_food_flexibility_p2h_network_gas_electricity_delta_in_investment_cost_table"}}
  %tr.odd
    %th= t("input_elements.investment_table_industry_other_food_flexibility_p2h_hydrogen_electricity.title").html_safe
    %td.border-rgt{:data => {:gquery => "industry_other_food_flexibility_p2h_hydrogen_electricity_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "industry_other_food_flexibility_p2h_hydrogen_electricity_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "industry_other_food_flexibility_p2h_hydrogen_electricity_delta_in_investment_cost_table"}}
  %tr.even
    %th= t("input_elements.investment_table_industry_chemicals_refineries_flexibility_p2h_network_gas_electricity.title").html_safe
    %td.border-rgt{:data => {:gquery => "industry_chemicals_refineries_flexibility_p2h_network_gas_electricity_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "industry_chemicals_refineries_flexibility_p2h_network_gas_electricity_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "industry_chemicals_refineries_flexibility_p2h_network_gas_electricity_delta_in_investment_cost_table"}}
  %tr.odd
    %th= t("input_elements.investment_table_industry_chemicals_refineries_flexibility_p2h_hydrogen_electricity.title").html_safe
    %td.border-rgt{:data => {:gquery => "industry_chemicals_refineries_flexibility_p2h_hydrogen_electricity_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "industry_chemicals_refineries_flexibility_p2h_hydrogen_electricity_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "industry_chemicals_refineries_flexibility_p2h_hydrogen_electricity_delta_in_investment_cost_table"}}
  %tr.even
    %th= t("input_elements.investment_table_industry_chemicals_other_flexibility_p2h_network_gas_electricity.title").html_safe
    %td.border-rgt{:data => {:gquery => "industry_chemicals_other_flexibility_p2h_network_gas_electricity_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "industry_chemicals_other_flexibility_p2h_network_gas_electricity_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "industry_chemicals_other_flexibility_p2h_network_gas_electricity_delta_in_investment_cost_table"}}
  %tr.odd
    %th= t("input_elements.investment_table_industry_chemicals_other_flexibility_p2h_hydrogen_electricity.title").html_safe
    %td.border-rgt{:data => {:gquery => "industry_chemicals_other_flexibility_p2h_hydrogen_electricity_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "industry_chemicals_other_flexibility_p2h_hydrogen_electricity_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "industry_chemicals_other_flexibility_p2h_hydrogen_electricity_delta_in_investment_cost_table"}}
  %tr.even
    %th= t("input_elements.capacity_of_energy_hydrogen_flexibility_p2g_electricity.title").html_safe
    %td.border-rgt{:data => {:gquery => "energy_hydrogen_flexibility_p2g_electricity_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "energy_hydrogen_flexibility_p2g_electricity_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "energy_hydrogen_flexibility_p2g_electricity_delta_in_investment_cost_table"}}
  %tr.odd
    %th= t("input_elements.investment_costs_energy_flexibility_hv_opac_electricity.title").html_safe
    %td.border-rgt{:data => {:gquery => "energy_flexibility_hv_opac_electricity_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "energy_flexibility_hv_opac_electricity_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "energy_flexibility_hv_opac_electricity_delta_in_investment_cost_table"}}
  %tr.even
    %th= t("input_elements.investment_costs_energy_flexibility_mv_batteries_electricity.title").html_safe
    %td.border-rgt{:data => {:gquery => "energy_flexibility_mv_batteries_electricity_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "energy_flexibility_mv_batteries_electricity_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "energy_flexibility_mv_batteries_electricity_delta_in_investment_cost_table"}}

  %thead.subhead
    %th{:colspan => 4, :style => "text-align: center"}=t 'output_elements.tables.investments.other'
  %tr.odd
    %th= t("input_elements.capacity_of_other_burner_coal.title").html_safe
    %td.border-rgt{:data => {:gquery => "other_burner_coal_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "other_burner_coal_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "other_burner_coal_delta_in_investment_cost_table"}}
  %tr.even
    %th= t("input_elements.capacity_of_other_burner_crude_oil.title").html_safe
    %td.border-rgt{:data => {:gquery => "other_burner_crude_oil_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "other_burner_crude_oil_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "other_burner_crude_oil_delta_in_investment_cost_table"}}
  %tr.odd
    %th= t("input_elements.capacity_of_other_burner_network_gas.title").html_safe
    %td.border-rgt{:data => {:gquery => "other_burner_network_gas_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "other_burner_network_gas_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "other_burner_network_gas_delta_in_investment_cost_table"}}
  %tr.even
    %th= t("input_elements.capacity_of_other_burner_wood_pellets.title").html_safe
    %td.border-rgt{:data => {:gquery => "other_burner_wood_pellets_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "other_burner_wood_pellets_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "other_burner_wood_pellets_delta_in_investment_cost_table"}}

  %thead.subhead
    %th{:colspan => 4, :style => "text-align: center"}=t 'output_elements.tables.investments.ccus'
  %tr.odd
    %th= t("input_elements.investment_table_industry_chemicals_fertilizers_captured_combustion_co2.title").html_safe
    %td.border-rgt{:data => {:gquery => "industry_chemicals_fertilizers_captured_combustion_co2_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "industry_chemicals_fertilizers_captured_combustion_co2_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "industry_chemicals_fertilizers_captured_combustion_co2_delta_in_investment_cost_table"}}
  %tr.even
    %th= t("input_elements.investment_table_industry_chemicals_fertilizers_captured_processes_co2.title").html_safe
    %td.border-rgt{:data => {:gquery => "industry_chemicals_fertilizers_captured_processes_co2_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "industry_chemicals_fertilizers_captured_processes_co2_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "industry_chemicals_fertilizers_captured_processes_co2_delta_in_investment_cost_table"}}
  %tr.odd
    %th= t("input_elements.investment_table_industry_other_food_captured_co2.title").html_safe
    %td.border-rgt{:data => {:gquery => "industry_other_food_captured_co2_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "industry_other_food_captured_co2_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "industry_other_food_captured_co2_delta_in_investment_cost_table"}}
  %tr.even
    %th= t("input_elements.investment_table_industry_other_paper_captured_co2.title").html_safe
    %td.border-rgt{:data => {:gquery => "industry_other_paper_captured_co2_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "industry_other_paper_captured_co2_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "industry_other_paper_captured_co2_delta_in_investment_cost_table"}}
  %tr.odd
    %th= t("input_elements.investment_table_industry_steel_blastfurnace_captured_co2.title").html_safe
    %td.border-rgt{:data => {:gquery => "industry_steel_blastfurnace_captured_co2_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "industry_steel_blastfurnace_captured_co2_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "industry_steel_blastfurnace_captured_co2_delta_in_investment_cost_table"}}
  %tr.even
    %th= t("input_elements.investment_table_industry_steel_electricfurnace_captured_co2.title").html_safe
    %td.border-rgt{:data => {:gquery => "industry_steel_electricfurnace_captured_co2_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "industry_steel_electricfurnace_captured_co2_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "industry_steel_electricfurnace_captured_co2_delta_in_investment_cost_table"}}
  %tr.odd
    %th= t("input_elements.investment_table_industry_steel_hisarna_captured_co2.title").html_safe
    %td.border-rgt{:data => {:gquery => "industry_steel_hisarna_captured_co2_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "industry_steel_hisarna_captured_co2_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "industry_steel_hisarna_captured_co2_delta_in_investment_cost_table"}}
  %tr.even
    %th= t("input_elements.investment_table_molecules_direct_air_capture_co2.title").html_safe
    %td.border-rgt{:data => {:gquery => "molecules_direct_air_capture_co2_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "molecules_direct_air_capture_co2_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "molecules_direct_air_capture_co2_delta_in_investment_cost_table"}}
  %tr.odd
    %th= t("input_elements.investment_table_molecules_offshore_sequestration_co2.title").html_safe
    %td.border-rgt{:data => {:gquery => "molecules_offshore_sequestration_co2_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "molecules_offshore_sequestration_co2_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "molecules_offshore_sequestration_co2_delta_in_investment_cost_table"}}
  %tr.even
    %th= t("input_elements.investment_table_energy_production_synthetic_methanol.title").html_safe
    %td.border-rgt{:data => {:gquery => "energy_production_synthetic_methanol_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "energy_production_synthetic_methanol_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "energy_production_synthetic_methanol_delta_in_investment_cost_table"}}
  %tr.odd
    %th= t("input_elements.investment_table_energy_production_synthetic_kerosene.title").html_safe
    %td.border-rgt{:data => {:gquery => "energy_production_synthetic_kerosene_present_in_investment_cost_table", :graph => :present}}
    %td{:data => {:gquery => "energy_production_synthetic_kerosene_future_in_investment_cost_table"}}
    %td{:data => {:gquery => "energy_production_synthetic_kerosene_delta_in_investment_cost_table"}}
  %thead.subhead
    %th{:colspan => 4, :style => "text-align: center"}=t 'output_elements.tables.investments.total'
  %tfoot
    %tr
      %th= t("output_elements.tables.investments.total").html_safe
      %td{:data => {:gquery => 'total_present_in_investment_cost_table', :graph => :present}} -
      %td{:data => {:gquery => 'total_future_in_investment_cost_table'}} -
      %td{:data => {:gquery => 'total_delta_in_investment_cost_table'}} -
