-# Land use and technical specifications of wind and solar
%table#land_use_solar_wind.chart.centered.autostripe
  %thead
    %tr
      %th
      %th= t 'output_elements.tables.land_use_solar_wind.installed_capacity'
      %th= t 'output_elements.tables.land_use_solar_wind.annual_electricity_output'
      %th= t 'output_elements.tables.land_use_solar_wind.capacity_per_unit'
      %th= t 'output_elements.tables.land_use_solar_wind.full_load_hours'
      %th= t 'output_elements.tables.land_use_solar_wind.number_of_units'
      %th= t 'output_elements.tables.land_use_solar_wind.land_use_per_unit'
      %th= t 'output_elements.tables.land_use_solar_wind.total_land_use'
    %tbody
      %tr
        %th= t "output_elements.tables.land_use_solar_wind.wind_large"
        %td{:data => {:decimals => 0, :gquery => "land_use_solar_wind_wind_inland_large_installed_capacity", :graph => :future}}
        %td{:data => {:decimals => 0, :gquery => "land_use_solar_wind_wind_inland_large_electricity_output", :graph => :future}}
        %td{:data => {:decimals => 0, :gquery => "land_use_solar_wind_wind_inland_large_capacity_per_unit", :graph => :future}}
        %td{:data => {:decimals => 0, :gquery => "land_use_solar_wind_wind_inland_large_full_load_hours", :graph => :future}}
        %td{:data => {:decimals => 0, :gquery => "land_use_solar_wind_wind_inland_large_number_of_units", :graph => :future}}
        %td{:data => {:decimals => 0, :gquery => "land_use_solar_wind_wind_inland_large_land_use_per_unit", :graph => :future}}
        %td{:data => {:decimals => 0, :gquery => "land_use_solar_wind_wind_inland_large_total_land_use", :graph => :future}}
      %tr
        %th= t "output_elements.tables.land_use_solar_wind.wind_small"
        %td{:data => {:decimals => 0, :gquery => "land_use_solar_wind_wind_inland_small_installed_capacity", :graph => :future}}
        %td{:data => {:decimals => 0, :gquery => "land_use_solar_wind_wind_inland_small_electricity_output", :graph => :future}}
        %td{:data => {:decimals => 0, :gquery => "land_use_solar_wind_wind_inland_small_capacity_per_unit", :graph => :future}}
        %td{:data => {:decimals => 0, :gquery => "land_use_solar_wind_wind_inland_small_full_load_hours", :graph => :future}}
        %td{:data => {:decimals => 0, :gquery => "land_use_solar_wind_wind_inland_small_number_of_units", :graph => :future}}
        %td{:data => {:decimals => 0, :gquery => "land_use_solar_wind_wind_inland_small_land_use_per_unit", :graph => :future}}
        %td{:data => {:decimals => 0, :gquery => "land_use_solar_wind_wind_inland_small_total_land_use", :graph => :future}}
      %tr
        %th= t "output_elements.tables.land_use_solar_wind.wind_coastal"
        %td{:data => {:decimals => 0, :gquery => "land_use_solar_wind_wind_coastal_installed_capacity", :graph => :future}}
        %td{:data => {:decimals => 0, :gquery => "land_use_solar_wind_wind_coastal_electricity_output", :graph => :future}}
        %td{:data => {:decimals => 0, :gquery => "land_use_solar_wind_wind_coastal_capacity_per_unit", :graph => :future}}
        %td{:data => {:decimals => 0, :gquery => "land_use_solar_wind_wind_coastal_full_load_hours", :graph => :future}}
        %td{:data => {:decimals => 0, :gquery => "land_use_solar_wind_wind_coastal_number_of_units", :graph => :future}}
        %td{:data => {:decimals => 0, :gquery => "land_use_solar_wind_wind_coastal_land_use_per_unit", :graph => :future}}
        %td{:data => {:decimals => 0, :gquery => "land_use_solar_wind_wind_coastal_total_land_use", :graph => :future}}
      %tr
        %th= t "output_elements.tables.land_use_solar_wind.battery_wind_inland"
        %td{:data => {:decimals => 0, :gquery => "land_use_solar_wind_battery_wind_inland_installed_capacity", :graph => :future}}
        %td{:data => {:decimals => 0, :gquery => "land_use_solar_wind_battery_wind_inland_electricity_output", :graph => :future}}
        %td{:data => {:decimals => 0, :gquery => "land_use_solar_wind_battery_wind_inland_capacity_per_unit", :graph => :future}}
        %td{:data => {:decimals => 0, :gquery => "land_use_solar_wind_battery_wind_inland_full_load_hours", :graph => :future}}
        %td{:data => {:decimals => 0, :gquery => "land_use_solar_wind_battery_wind_inland_number_of_units", :graph => :future}}
        %td{:data => {:decimals => 0, :gquery => "land_use_solar_wind_battery_wind_inland_land_use_per_unit", :graph => :future}}
        %td{:data => {:decimals => 0, :gquery => "land_use_solar_wind_battery_wind_inland_total_land_use", :graph => :future}}
      %tr
        %th= t "output_elements.tables.land_use_solar_wind.solar_pv_plants"
        %td{:data => {:decimals => 0, :gquery => "land_use_solar_wind_solar_pv_plants_onshore_installed_capacity", :graph => :future}}
        %td{:data => {:decimals => 0, :gquery => "land_use_solar_wind_solar_pv_plants_onshore_electricity_output", :graph => :future}}
        %td{:data => {:decimals => 0, :gquery => "land_use_solar_wind_solar_pv_plants_onshore_capacity_per_unit", :graph => :future}}
        %td{:data => {:decimals => 0, :gquery => "land_use_solar_wind_solar_pv_plants_onshore_full_load_hours", :graph => :future}}
        %td{:data => {:decimals => 0, :gquery => "land_use_solar_wind_solar_pv_plants_onshore_number_of_units", :graph => :future}}
        %td{:data => {:decimals => 0, :gquery => "land_use_solar_wind_solar_pv_plants_onshore_land_use_per_unit", :graph => :future}}
        %td{:data => {:decimals => 0, :gquery => "land_use_solar_wind_solar_pv_plants_onshore_total_land_use", :graph => :future}}
      %tr
        %th= t "output_elements.tables.land_use_solar_wind.battery_solar_pv"
        %td{:data => {:decimals => 0, :gquery => "land_use_solar_wind_battery_solar_pv_installed_capacity", :graph => :future}}
        %td{:data => {:decimals => 0, :gquery => "land_use_solar_wind_battery_solar_pv_electricity_output", :graph => :future}}
        %td{:data => {:decimals => 0, :gquery => "land_use_solar_wind_battery_solar_pv_capacity_per_unit", :graph => :future}}
        %td{:data => {:decimals => 0, :gquery => "land_use_solar_wind_battery_solar_pv_full_load_hours", :graph => :future}}
        %td{:data => {:decimals => 0, :gquery => "land_use_solar_wind_battery_solar_pv_number_of_units", :graph => :future}}
        %td{:data => {:decimals => 0, :gquery => "land_use_solar_wind_battery_solar_pv_land_use_per_unit", :graph => :future}}
        %td{:data => {:decimals => 0, :gquery => "land_use_solar_wind_battery_solar_pv_total_land_use", :graph => :future}}
      %tr
        %th= t "output_elements.tables.land_use_solar_wind.solar_pv_buildings"
        %td{:data => {:decimals => 0, :gquery => "land_use_solar_wind_solar_pv_buildings_installed_capacity", :graph => :future}}
        %td{:data => {:decimals => 0, :gquery => "land_use_solar_wind_solar_pv_buildings_electricity_output", :graph => :future}}
        %td{:data => {:decimals => 2, :gquery => "land_use_solar_wind_solar_pv_buildings_capacity_per_unit", :graph => :future}}
        %td{:data => {:decimals => 0, :gquery => "land_use_solar_wind_solar_pv_buildings_full_load_hours", :graph => :future}}
        %td{:data => {:decimals => 0, :gquery => "land_use_solar_wind_solar_pv_buildings_number_of_units", :graph => :future}}
        %td{:data => {:decimals => 1, :gquery => "land_use_solar_wind_solar_pv_buildings_land_use_per_unit", :graph => :future}}
        %td{:data => {:decimals => 0, :gquery => "land_use_solar_wind_solar_pv_buildings_total_land_use", :graph => :future}}
      %tr
        %th= t "output_elements.tables.land_use_solar_wind.solar_pv_households"
        %td{:data => {:decimals => 0, :gquery => "land_use_solar_wind_solar_pv_households_installed_capacity", :graph => :future}}
        %td{:data => {:decimals => 0, :gquery => "land_use_solar_wind_solar_pv_households_electricity_output", :graph => :future}}
        %td{:data => {:decimals => 2, :gquery => "land_use_solar_wind_solar_pv_households_capacity_per_unit", :graph => :future}}
        %td{:data => {:decimals => 0, :gquery => "land_use_solar_wind_solar_pv_households_full_load_hours", :graph => :future}}
        %td{:data => {:decimals => 0, :gquery => "land_use_solar_wind_solar_pv_households_number_of_units", :graph => :future}}
        %td{:data => {:decimals => 1, :gquery => "land_use_solar_wind_solar_pv_households_land_use_per_unit", :graph => :future}}
        %td{:data => {:decimals => 0, :gquery => "land_use_solar_wind_solar_pv_households_total_land_use", :graph => :future}}
      %tr
        %th= t "output_elements.tables.land_use_solar_wind.solar_pvt_households"
        %td{:data => {:decimals => 0, :gquery => "land_use_solar_wind_solar_pvt_households_installed_capacity", :graph => :future}}
        %td{:data => {:decimals => 0, :gquery => "land_use_solar_wind_solar_pvt_households_electricity_output", :graph => :future}}
        %td{:data => {:decimals => 2, :gquery => "land_use_solar_wind_solar_pvt_households_capacity_per_unit", :graph => :future}}
        %td{:data => {:decimals => 0, :gquery => "land_use_solar_wind_solar_pvt_households_full_load_hours", :graph => :future}}
        %td{:data => {:decimals => 0, :gquery => "land_use_solar_wind_solar_pvt_households_number_of_units", :graph => :future}}
        %td{:data => {:decimals => 1, :gquery => "land_use_solar_wind_solar_pvt_households_land_use_per_unit", :graph => :future}}
        %td{:data => {:decimals => 0, :gquery => "land_use_solar_wind_solar_pvt_households_total_land_use", :graph => :future}}
        
