-# merit order table
%table.chart
  %thead
    %tr
      %th= t 'output_elements.tables.merit_order.technology'
      %th= t 'output_elements.tables.merit_order.position'
      %th= t 'output_elements.tables.merit_order.operating_costs'
      %th= t 'output_elements.tables.merit_order.installed_capacity'
      %th= t 'output_elements.tables.merit_order.availability'
      %th= t 'output_elements.tables.merit_order.flh_future'
      %th= t 'output_elements.tables.merit_order.flh_present'
    %tr
      %th
      %th
      %th EUR/MWh
      %th MW
      %th %
      %th Hr
      %th Hr
  %tbody
    :ruby
      items = [
        'buildings_solar_pv_solar_radiation',
        'central_biogas_chp',
        'central_gas_chp',
        'coal_chp',
        'coal_chp_cofiring',
        'coal_conv',
        'coal_igcc',
        'coal_igcc_ccs',
        'coal_pwd',
        'coal_pwd_cofiring',
        'coal_pwd_ccs',
        'coastal_wind_turbines',
        'diesel_engine',
        'energy_power_solar_csp_solar_radiation',
        'energy_power_solar_pv_solar_radiation',
        'gas_ccgt',
        'gas_ccgt_ccs',
        'geothermal',
        'gas_conv',
        'gas_turbine',
        'gas_engine',
        'households_solar_pv_solar_radiation',
        'hydro_mountain',
        'hydro_river',
        'hydrogen_ccgt',
        'hydrogen_turbine',
        'lignite',
        'lignite_chp',
        'lignite_oxy',
        'must_run',
        'nuclear_iii',
        'nuclear_iii',
        'oil_plant',
        'offshore_wind_turbines',
        'onshore_wind_turbines',
        'energy_interconnector_imported_electricity'
      ]
    - items.each do |key|
      %tr
        %th= raw t "output_elements.tables.merit_order.#{key}"
        %td.position{:data => {:decimals => 0, :gquery => "merit_order_#{key}_position_in_merit_order_table", :on_zero => '-'}}
        %td.cost{:data => {:decimals => 0, :gquery => "merit_order_#{key}_operating_costs_in_merit_order_table"}}
        %td.capacity{:data => {:decimals => 0, :gquery => "merit_order_#{key}_capacity_in_merit_order_table"}}
        %td.availability{:data => {:decimals => 0, :gquery => "merit_order_#{key}_availability_in_merit_order_table"}}
        %td{:data => {:decimals => 0, :gquery => "merit_order_#{key}_full_load_hours_in_merit_order_table"}}
        %td{:data => {:decimals => 0, :gquery => "merit_order_#{key}_full_load_hours_in_merit_order_table", :graph => :present}}
