-# merit order table
%table.chart.autostripe
  %thead
    %tr
      %th= t 'output_elements.tables.merit_order.technology'
      %th= t 'output_elements.tables.merit_order.position'
      %th= t 'output_elements.tables.merit_order.operating_costs'
      %th= t 'output_elements.tables.merit_order.installed_capacity'
      %th= t 'output_elements.tables.merit_order.availability'
      %th= t 'output_elements.tables.merit_order.flh_future'
      %th= t 'output_elements.tables.merit_order.flh_present'
    %tr
      %th
      %th
      %th EUR/MWh
      %th MW
      %th %
      %th Hr
      %th Hr
  %tbody
    :ruby
      items = [
        'agriculture_chp_biogas',
        'agriculture_chp_gas_dispatchable',
        'agriculture_chp_gas_must_run',
        'agriculture_chp_wood_pellets',
        'biogas_chp_ht',
        'biogas_chp_mt',
        'coal_chp_pwd_ht',
        'coal_chp_pwd_mt',
        'coal_chp_pwd_cofiring_ht',
        'coal_chp_pwd_cofiring_mt',
        'coal_conv',
        'coal_igcc',
        'coal_igcc_ccs',
        'coal_pwd',
        'coal_pwd_cofiring',
        'coal_pwd_ccs',
        'coal_gas_chp',
        'coal_gas_ccgt',
        'diesel_engine',
        'gas_ccgt',
        'gas_ccgt_ccs',
        'gas_chp_ccgt_ht',
        'gas_chp_ccgt_mt',
        'gas_chp_engine_ht',
        'gas_chp_engine_mt',
        'gas_conv',
        'gas_engine',
        'gas_turbine',
        'lignite',
        'lignite_chp_ht',
        'lignite_chp_mt',
        'lignite_oxy',
        'industry_chp_gas_ccgt',
        'industry_chp_gas_turbine',
        'industry_chp_gas_engine',
        'industry_chp_hydrogen_turbine',
        'industry_chp_wood',
        'industry_chp_coal',
        'nuclear_iii',
        'nuclear_ii',
        'nuclear_smr',
        'oil_plant',
        'buildings_solar_pv_solar_radiation',
        'households_solar_pv_solar_radiation',
        'energy_power_solar_pv_solar_radiation',
        'energy_power_solar_pv_offshore',
        'battery_solar_pv',
        'energy_power_solar_csp_solar_radiation',
        'energy_interconnector_1_imported_electricity',
        'energy_interconnector_2_imported_electricity',
        'energy_interconnector_3_imported_electricity',
        'energy_interconnector_4_imported_electricity',
        'energy_interconnector_5_imported_electricity',
        'energy_interconnector_6_imported_electricity',
        'energy_interconnector_7_imported_electricity',
        'energy_interconnector_8_imported_electricity',
        'energy_interconnector_9_imported_electricity',
        'energy_interconnector_10_imported_electricity',
        'energy_interconnector_11_imported_electricity',
        'energy_interconnector_12_imported_electricity',
        'geothermal',
        'coastal_wind_turbines',
        'hydrogen_ccgt',
        'hydrogen_turbine',
        'offshore_wind_turbines',
        'onshore_wind_turbines',
        'battery_wind_inland',
        'hydro_mountain',
        'hydro_river',
        'wood_pellets_chp_ht_must_run',
        'wood_pellets_chp_ht_dispatchable',
        'wood_pellets_chp_ccs_ht_must_run',
        'wood_pellets_chp_ccs_ht_dispatchable',
        'wood_pellets_chp_mt_must_run',
        'wood_pellets_chp_mt_dispatchable',
        'wood_pellets_chp_ccs_mt_must_run',
        'wood_pellets_chp_ccs_mt_dispatchable',
        'wood_pellets_power_must_run',
        'wood_pellets_power_dispatchable',
        'wood_pellets_power_ccs_must_run',
        'wood_pellets_power_ccs_dispatchable',
        'waste_chp_ht',
        'waste_chp_mt',
        'waste_chp_ccs_ht',
        'waste_chp_ccs_mt',
        'waste_power',
        'waste_power_ccs'
      ]
    - items.each do |key|
      %tr
        %th= raw t "output_elements.tables.merit_order.#{key}"
        %td.position{:data => {:decimals => 0, :gquery => "merit_order_#{key}_position_in_merit_order_table", :on_zero => '-'}}
        %td.cost{:data => {:decimals => 2, :gquery => "merit_order_#{key}_operating_costs_in_merit_order_table"}}
        %td.capacity{:data => {:decimals => 0, :gquery => "merit_order_#{key}_capacity_in_merit_order_table"}}
        %td.availability{:data => {:decimals => 0, :gquery => "merit_order_#{key}_availability_in_merit_order_table"}}
        %td{:data => {:decimals => 0, :gquery => "merit_order_#{key}_full_load_hours_in_merit_order_table"}}
        %td{:data => {:decimals => 0, :gquery => "merit_order_#{key}_full_load_hours_in_merit_order_table", :graph => :present}}
