-# Need for flexibility table
%table#need_for_flexibility.chart.centered.autostripe
  %thead
    %tr
      %th
      %th
      %th{:colspan => 2, :style => "text-align: center"}= t 'output_elements.tables.need_for_flexibility.original_imbalance'
      %th{:colspan => 2, :style => "text-align: center"}= t 'output_elements.tables.need_for_flexibility.short_term'
      %th{:colspan => 2, :style => "text-align: center"}= t 'output_elements.tables.need_for_flexibility.long_term'
    %tr
      %th
      %th
      %th= t 'output_elements.tables.need_for_flexibility.peak_capacity'
      %th= t 'output_elements.tables.need_for_flexibility.total_volume'
      %th= t 'output_elements.tables.need_for_flexibility.peak_capacity'
      %th= t 'output_elements.tables.need_for_flexibility.total_volume'
      %th= t 'output_elements.tables.need_for_flexibility.peak_capacity'
      %th= t 'output_elements.tables.need_for_flexibility.total_volume'
  %tbody
    %tr
      %th.left= t "output_elements.tables.need_for_flexibility.network_gas"
      %th.left= t "output_elements.tables.need_for_flexibility.demand"
      %td{:data => {:gquery => "flexibility_need_network_gas_demand_capacity_original_imbalance", :graph => :future}}
      %td{:data => {:gquery => "flexibility_need_network_gas_demand_volume_original_imbalance",   :graph => :future}}
      %td{:data => {:gquery => "flexibility_need_network_gas_demand_capacity_short", :graph => :future}}
      %td{:data => {:gquery => "flexibility_need_network_gas_demand_volume_short",   :graph => :future}}
      %td{:data => {:gquery => "flexibility_need_network_gas_demand_capacity_long",  :graph => :future}}
      %td{:data => {:gquery => "flexibility_need_network_gas_demand_volume_long",    :graph => :future}}
    %tr
      %th.left= t "output_elements.tables.need_for_flexibility.network_gas"
      %th.left= t "output_elements.tables.need_for_flexibility.supply"
      %td{:data => {:gquery => "flexibility_need_network_gas_supply_capacity_original_imbalance", :graph => :future}}
      %td{:data => {:gquery => "flexibility_need_network_gas_supply_volume_original_imbalance",   :graph => :future}}
      %td{:data => {:gquery => "flexibility_need_network_gas_supply_capacity_short", :graph => :future}}
      %td{:data => {:gquery => "flexibility_need_network_gas_supply_volume_short",   :graph => :future}}
      %td{:data => {:gquery => "flexibility_need_network_gas_supply_capacity_long",  :graph => :future}}
      %td{:data => {:gquery => "flexibility_need_network_gas_supply_volume_long",    :graph => :future}}
    %tr
      %th.left= t "output_elements.tables.need_for_flexibility.hydrogen"
      %th.left= t "output_elements.tables.need_for_flexibility.demand"
      %td{:data => {:gquery => "flexibility_need_hydrogen_demand_capacity_original_imbalance", :graph => :future}}
      %td{:data => {:gquery => "flexibility_need_hydrogen_demand_volume_original_imbalance",   :graph => :future}}
      %td{:data => {:gquery => "flexibility_need_hydrogen_demand_capacity_short",    :graph => :future}}
      %td{:data => {:gquery => "flexibility_need_hydrogen_demand_volume_short",      :graph => :future}}
      %td{:data => {:gquery => "flexibility_need_hydrogen_demand_capacity_long",     :graph => :future}}
      %td{:data => {:gquery => "flexibility_need_hydrogen_demand_volume_long",       :graph => :future}}
    %tr
      %th.left= t "output_elements.tables.need_for_flexibility.hydrogen"
      %th.left= t "output_elements.tables.need_for_flexibility.supply"
      %td{:data => {:gquery => "flexibility_need_hydrogen_supply_capacity_original_imbalance", :graph => :future}}
      %td{:data => {:gquery => "flexibility_need_hydrogen_supply_volume_original_imbalance",   :graph => :future}}
      %td{:data => {:gquery => "flexibility_need_hydrogen_supply_capacity_short",    :graph => :future}}
      %td{:data => {:gquery => "flexibility_need_hydrogen_supply_volume_short",      :graph => :future}}
      %td{:data => {:gquery => "flexibility_need_hydrogen_supply_capacity_long",     :graph => :future}}
      %td{:data => {:gquery => "flexibility_need_hydrogen_supply_volume_long",       :graph => :future}}
