-# Population chart
%table#population.chart.centered.autostripe
  %thead
    %tr
      %th
      %th= Current.setting.start_year
      %th= Current.setting.end_year

  %tbody
    %tr
      %th= t "input_elements.households_number_of_inhabitants_chart"
      %td{:data => {:gquery => "households_number_of_inhabitants", :graph => :present}}
      %td{:data => {:gquery => "households_number_of_inhabitants"}}
    %tr
      %th= t "input_elements.households_number_of_households"
      %td{:data => {:gquery => "households_number_of_residences", :graph => :present}}
      %td{:data => {:gquery => "households_number_of_residences"}}
    %tr
      %th= t "input_elements.households_inhabitants_per_household"
      %td{:data => {:gquery => "households_number_of_inhabitants_per_residence", :graph => :present}}
      %td{:data => {:gquery => "households_number_of_inhabitants_per_residence"}}
