-# power plant economic performance table
%table.chart.centered.autostripe
  %thead
    %tr
      %th
      %th= t 'output_elements.tables.economic_performance.position'
      %th= t 'output_elements.tables.economic_performance.output_capacity'
      %th= t 'output_elements.tables.economic_performance.flh_future'
      %th= t 'output_elements.tables.economic_performance.capex'
      %th= t 'output_elements.tables.economic_performance.opex'
      %th= t 'output_elements.tables.economic_performance.revenue'
      %th= t 'output_elements.tables.economic_performance.economic_viability'
    %tr
      %th
      %th
      %th MW
      %th= t 'output_elements.tables.economic_performance.hour'
      %th EUR/MWh
      %th EUR/MWh
      %th EUR/MWh
      %th EUR/MWh
  %tbody
    :ruby
      items = [
        'agriculture_chp_biogas',
        'agriculture_chp_gas_dispatchable',
        'agriculture_chp_gas_must_run',
        'agriculture_chp_wood_pellets',
        'biogas_chp_ht',
        'biogas_chp_mt',
        'coal_chp_pwd_ht',
        'coal_chp_pwd_mt',
        'coal_chp_pwd_cofiring_ht',
        'coal_chp_pwd_cofiring_mt',
        'coal_conv',
        'coal_igcc',
        'coal_igcc_ccs',
        'coal_pwd',
        'coal_pwd_cofiring',
        'coal_pwd_ccs',
        'coal_gas_chp',
        'coal_gas_ccgt',
        'diesel_engine',
        'gas_ccgt',
        'gas_ccgt_ccs',
        'gas_chp_ccgt_ht',
        'gas_chp_ccgt_mt',
        'gas_chp_engine_ht',
        'gas_chp_engine_mt',
        'gas_conv',
        'gas_engine',
        'gas_turbine',
        'lignite',
        'lignite_chp_ht',
        'lignite_chp_mt',
        'lignite_oxy',
        'industry_chp_gas_ccgt',
        'industry_chp_gas_turbine',
        'industry_chp_gas_engine',
        'industry_chp_hydrogen_turbine',
        'industry_chp_wood',
        'industry_chp_coal',
        'nuclear_iii',
        'nuclear_ii',
        'nuclear_smr',
        'oil_plant',
        'buildings_solar_pv_solar_radiation',
        'households_solar_pv_solar_radiation',
        'energy_power_solar_pv_solar_radiation',
        'energy_power_solar_pv_offshore',
        'energy_power_solar_csp_solar_radiation',
        'geothermal',
        'coastal_wind_turbines',
        'hydrogen_ccgt',
        'hydrogen_turbine',
        'offshore_wind_turbines',
        'onshore_wind_turbines',
        'hydro_mountain',
        'hydro_river',
        'wood_pellets_chp_ht_must_run',
        'wood_pellets_chp_ht_dispatchable',
        'wood_pellets_chp_ccs_ht_must_run',
        'wood_pellets_chp_ccs_ht_dispatchable',
        'wood_pellets_chp_mt_must_run',
        'wood_pellets_chp_mt_dispatchable',
        'wood_pellets_chp_ccs_mt_must_run',
        'wood_pellets_chp_ccs_mt_dispatchable',
        'wood_pellets_power_must_run',
        'wood_pellets_power_dispatchable',
        'wood_pellets_power_ccs_must_run',
        'wood_pellets_power_ccs_dispatchable',
        'waste_chp_ht',
        'waste_chp_mt',
        'waste_chp_ccs_ht',
        'waste_chp_ccs_mt',
        'waste_power',
        'waste_power_ccs'
      ]
    - items.each do |key|
      %tr
        %th.left= raw t "output_elements.tables.economic_performance.#{key}"
        %td.position{:data => {:decimals => 0, :gquery => "#{key}_position_in_power_plant_economic_performance_table", :on_zero => '-'}}
        %td.capacity{:data => {:decimals => 0, :gquery => "#{key}_capacity_in_power_plant_economic_performance_table"}}
        %td{:data => {:decimals => 0, :gquery => "#{key}_full_load_hours_in_power_plant_economic_performance_table"}}
        %td.cost{:data => {:decimals => 1, :gquery => "#{key}_capex_in_power_plant_economic_performance_table"}}
        %td.cost{:data => {:decimals => 1, :gquery => "#{key}_opex_in_power_plant_economic_performance_table"}}
        %td.cost{:data => {:decimals => 1, :gquery => "#{key}_revenue_in_power_plant_economic_performance_table"}}
        %td.cost{:data => {:decimals => 1, :gquery => "#{key}_profit_in_power_plant_economic_performance_table"}}
