-# Space requirements transit flows table
%table#space_requirements_transit_flows.chart.centered.autostripe
  %thead
    %tr
      %th= t 'output_elements.tables.space_requirements_transit_flows.carrier'
      %th= t 'output_elements.tables.space_requirements_transit_flows.imported_volume'
      %th= t 'output_elements.tables.space_requirements_transit_flows.exported_volume'
      %th= t 'output_elements.tables.space_requirements_transit_flows.space_requirement'
  %tbody
    %tr
      %th= t "output_elements.tables.space_requirements_transit_flows.lng"
      %td{:data => {:gquery => "space_requirements_transit_flows_imported_volume_lng"}}
      %td{:data => {:gquery => "space_requirements_transit_flows_exported_volume_lng"}}
      %td{:data => {:gquery => "space_requirements_transit_flows_space_requirement_lng", :graph => :future}}
    %tr
      %th= t "output_elements.tables.space_requirements_transit_flows.coal_and_products"
      %td{:data => {:gquery => "space_requirements_transit_flows_imported_volume_coal_and_products"}}
      %td{:data => {:gquery => "space_requirements_transit_flows_exported_volume_coal_and_products"}}
      %td{:data => {:gquery => "space_requirements_transit_flows_space_requirement_coal_and_products", :graph => :future}}
    %tr
      %th= t "output_elements.tables.space_requirements_transit_flows.oil_and_products"
      %td{:data => {:gquery => "space_requirements_transit_flows_imported_volume_oil_and_products"}}
      %td{:data => {:gquery => "space_requirements_transit_flows_exported_volume_oil_and_products"}}
      %td{:data => {:gquery => "space_requirements_transit_flows_space_requirement_oil_and_products", :graph => :future}}
    %tr
      %th= t "output_elements.tables.space_requirements_transit_flows.liquid_hydrogen"
      %td{:data => {:gquery => "space_requirements_transit_flows_imported_volume_liquid_hydrogen"}}
      %td{:data => {:gquery => "space_requirements_transit_flows_exported_volume_liquid_hydrogen"}}
      %td{:data => {:gquery => "space_requirements_transit_flows_space_requirement_liquid_hydrogen", :graph => :future}}
    %tr
      %th= t "output_elements.tables.space_requirements_transit_flows.lohc"
      %td{:data => {:gquery => "space_requirements_transit_flows_imported_volume_lohc"}}
      %td{:data => {:gquery => "space_requirements_transit_flows_exported_volume_lohc"}}
      %td{:data => {:gquery => "space_requirements_transit_flows_space_requirement_lohc", :graph => :future}}
    %tr
      %th= t "output_elements.tables.space_requirements_transit_flows.ammonia"
      %td{:data => {:gquery => "space_requirements_transit_flows_imported_volume_ammonia"}}
      %td{:data => {:gquery => "space_requirements_transit_flows_exported_volume_ammonia"}}
      %td{:data => {:gquery => "space_requirements_transit_flows_space_requirement_ammonia", :graph => :future}}
      
