-# Specifications of storage technologies table
.merit_order_enabled
%table#flexibility.chart.centered.autostripe
  %thead
    %tr
      %th
      %th
        = t 'output_elements.tables.flexibility.installed_input_capacity'
        (MW)
      %th
        = t 'output_elements.tables.flexibility.installed_output_capacity'
        (MW)
      %th
        = t 'output_elements.tables.flexibility.storage_volume'
        (MWh)
      %th
        = t 'output_elements.tables.flexibility.volume_to_capacity_ratio'
        (hrs)
      %th
        = t 'output_elements.tables.flexibility.roundtrip_efficiency'
        (%)
      %th
        = t 'output_elements.tables.flexibility.annual_input'
        (PJ)
      %th
        = t 'output_elements.tables.flexibility.full_charge_cycles'
        (-)
  %tbody
    %tr
      %th.left= t "output_elements.tables.flexibility.households_flexibility_p2p"
      %td{:data => {:gquery => "households_flexibility_p2p_electricity_input_capacity",             :graph => :future}}
      %td{:data => {:gquery => "households_flexibility_p2p_electricity_output_capacity",            :graph => :future}}
      %td{:data => {:gquery => "households_flexibility_p2p_electricity_storage_volume",             :graph => :future}}
      %td{:data => {:gquery => "households_flexibility_p2p_electricity_volume_to_capacity_ratio",   :graph => :future}}
      %td{:data => {:gquery => "households_flexibility_p2p_electricity_efficiency",                 :graph => :future}}
      %td{:data => {:gquery => "households_flexibility_p2p_electricity_annual_input",               :graph => :future}}
      %td{:data => {:gquery => "households_flexibility_p2p_electricity_full_charge_cycles",         :graph => :future}}
    %tr
      %th.left= t "output_elements.tables.flexibility.transport_car_flexibility_p2p"
      %td{:data => {:gquery => "transport_car_flexibility_p2p_electricity_input_capacity",           :graph => :future}}
      %td{:data => {:gquery => "transport_car_flexibility_p2p_electricity_output_capacity",          :graph => :future}}
      %td{:data => {:gquery => "transport_car_flexibility_p2p_electricity_storage_volume",           :graph => :future}}
      %td{:data => {:gquery => "transport_car_flexibility_p2p_electricity_volume_to_capacity_ratio", :graph => :future}}
      %td{:data => {:gquery => "transport_car_flexibility_p2p_electricity_efficiency",               :graph => :future}}
      %td{:data => {:gquery => "transport_car_flexibility_p2p_electricity_annual_input",             :graph => :future}}
      %td{:data => {:gquery => "transport_car_flexibility_p2p_electricity_full_charge_cycles",       :graph => :future}}
    %tr
      %th.left= t "output_elements.tables.flexibility.transport_bus_flexibility_p2p"
      %td{:data => {:gquery => "transport_bus_flexibility_p2p_electricity_input_capacity",           :graph => :future}}
      %td{:data => {:gquery => "transport_bus_flexibility_p2p_electricity_output_capacity",          :graph => :future}}
      %td{:data => {:gquery => "transport_bus_flexibility_p2p_electricity_storage_volume",           :graph => :future}}
      %td{:data => {:gquery => "transport_bus_flexibility_p2p_electricity_volume_to_capacity_ratio", :graph => :future}}
      %td{:data => {:gquery => "transport_bus_flexibility_p2p_electricity_efficiency",               :graph => :future}}
      %td{:data => {:gquery => "transport_bus_flexibility_p2p_electricity_annual_input",             :graph => :future}}
      %td{:data => {:gquery => "transport_bus_flexibility_p2p_electricity_full_charge_cycles",       :graph => :future}}
    %tr
      %th.left= t "output_elements.tables.flexibility.transport_truck_flexibility_p2p"
      %td{:data => {:gquery => "transport_truck_flexibility_p2p_electricity_input_capacity",           :graph => :future}}
      %td{:data => {:gquery => "transport_truck_flexibility_p2p_electricity_output_capacity",          :graph => :future}}
      %td{:data => {:gquery => "transport_truck_flexibility_p2p_electricity_storage_volume",           :graph => :future}}
      %td{:data => {:gquery => "transport_truck_flexibility_p2p_electricity_volume_to_capacity_ratio", :graph => :future}}
      %td{:data => {:gquery => "transport_truck_flexibility_p2p_electricity_efficiency",               :graph => :future}}
      %td{:data => {:gquery => "transport_truck_flexibility_p2p_electricity_annual_input",             :graph => :future}}
      %td{:data => {:gquery => "transport_truck_flexibility_p2p_electricity_full_charge_cycles",       :graph => :future}}
    %tr
      %th.left= t "output_elements.tables.flexibility.transport_van_flexibility_p2p"
      %td{:data => {:gquery => "transport_van_flexibility_p2p_electricity_input_capacity",           :graph => :future}}
      %td{:data => {:gquery => "transport_van_flexibility_p2p_electricity_output_capacity",          :graph => :future}}
      %td{:data => {:gquery => "transport_van_flexibility_p2p_electricity_storage_volume",           :graph => :future}}
      %td{:data => {:gquery => "transport_van_flexibility_p2p_electricity_volume_to_capacity_ratio", :graph => :future}}
      %td{:data => {:gquery => "transport_van_flexibility_p2p_electricity_efficiency",               :graph => :future}}
      %td{:data => {:gquery => "transport_van_flexibility_p2p_electricity_annual_input",             :graph => :future}}
      %td{:data => {:gquery => "transport_van_flexibility_p2p_electricity_full_charge_cycles",       :graph => :future}}
    %tr
      %th.left= t "output_elements.tables.flexibility.energy_flexibility_mv_batteries"
      %td{:data => {:gquery => "energy_flexibility_mv_batteries_input_capacity",           :graph => :future}}
      %td{:data => {:gquery => "energy_flexibility_mv_batteries_output_capacity",          :graph => :future}}
      %td{:data => {:gquery => "energy_flexibility_mv_batteries_storage_volume",           :graph => :future}}
      %td{:data => {:gquery => "energy_flexibility_mv_batteries_volume_to_capacity_ratio", :graph => :future}}
      %td{:data => {:gquery => "energy_flexibility_mv_batteries_efficiency",               :graph => :future}}
      %td{:data => {:gquery => "energy_flexibility_mv_batteries_annual_input",             :graph => :future}}
      %td{:data => {:gquery => "energy_flexibility_mv_batteries_full_charge_cycles",       :graph => :future}}
    %tr
      %th.left= t "output_elements.tables.flexibility.energy_flexibility_pumped_storage"
      %td{:data => {:gquery => "energy_flexibility_pumped_storage_input_capacity",           :graph => :future}}
      %td{:data => {:gquery => "energy_flexibility_pumped_storage_output_capacity",          :graph => :future}}
      %td{:data => {:gquery => "energy_flexibility_pumped_storage_storage_volume",           :graph => :future}}
      %td{:data => {:gquery => "energy_flexibility_pumped_storage_volume_to_capacity_ratio", :graph => :future}}
      %td{:data => {:gquery => "energy_flexibility_pumped_storage_efficiency",               :graph => :future}}
      %td{:data => {:gquery => "energy_flexibility_pumped_storage_annual_input",             :graph => :future}}
      %td{:data => {:gquery => "energy_flexibility_pumped_storage_full_charge_cycles",       :graph => :future}}
    %tr
      %th.left= t "output_elements.tables.flexibility.energy_flexibility_hv_opac"
      %td{:data => {:gquery => "energy_flexibility_hv_opac_input_capacity",           :graph => :future}}
      %td{:data => {:gquery => "energy_flexibility_hv_opac_output_capacity",          :graph => :future}}
      %td{:data => {:gquery => "energy_flexibility_hv_opac_storage_volume",           :graph => :future}}
      %td{:data => {:gquery => "energy_flexibility_hv_opac_volume_to_capacity_ratio", :graph => :future}}
      %td{:data => {:gquery => "energy_flexibility_hv_opac_efficiency",               :graph => :future}}
      %td{:data => {:gquery => "energy_flexibility_hv_opac_annual_input",             :graph => :future}}
      %td{:data => {:gquery => "energy_flexibility_hv_opac_full_charge_cycles",       :graph => :future}}
    %tr
      %th.left= t "output_elements.tables.flexibility.energy_flexibility_flow_batteries"
      %td{:data => {:gquery => "energy_flexibility_flow_batteries_input_capacity",           :graph => :future}}
      %td{:data => {:gquery => "energy_flexibility_flow_batteries_output_capacity",          :graph => :future}}
      %td{:data => {:gquery => "energy_flexibility_flow_batteries_storage_volume",           :graph => :future}}
      %td{:data => {:gquery => "energy_flexibility_flow_batteries_volume_to_capacity_ratio", :graph => :future}}
      %td{:data => {:gquery => "energy_flexibility_flow_batteries_efficiency",               :graph => :future}}
      %td{:data => {:gquery => "energy_flexibility_flow_batteries_annual_input",             :graph => :future}}
      %td{:data => {:gquery => "energy_flexibility_flow_batteries_full_charge_cycles",       :graph => :future}}
