-# storage economic performance table
%table.chart.autostripe
  %thead
    %tr
      %th= t 'output_elements.tables.storage_economic_performance.technology'
      %th= t 'output_elements.tables.storage_economic_performance.position'
      %th= t 'output_elements.tables.storage_economic_performance.output_capacity'
      %th= t 'output_elements.tables.storage_economic_performance.flh_future'
      %th= t 'output_elements.tables.storage_economic_performance.capex'
      %th= t 'output_elements.tables.storage_economic_performance.opex'
      %th= t 'output_elements.tables.storage_economic_performance.revenue'
      %th= t 'output_elements.tables.storage_economic_performance.profit'
    %tr
      %th
      %th
      %th MW
      %th= t 'output_elements.tables.storage_economic_performance.hour'
      %th EUR/MWh
      %th EUR/MWh
      %th EUR/MWh
      %th EUR/MWh
  %tbody
    :ruby
      items = [
        'batteries_households',
        'batteries_electric_cars',
        'batteries_electric_buses',
        'batteries_electric_vans',
        'batteries_electric_trucks',
        'batteries_pumped_storage',
        'batteries_opac',
        'batteries_mv',
        'batteries_flow'
      ]
    - items.each do |key|
      %tr
        %th= raw t "output_elements.tables.storage_economic_performance.#{key}"
        %td.position{:data => {:decimals => 0, :gquery => "storage_economic_performance_#{key}_position_in_storage_economic_performance_table", :on_zero => '-'}}
        %td.capacity{:data => {:decimals => 0, :gquery => "storage_economic_performance_#{key}_capacity_in_storage_economic_performance_table"}}
        %td{:data => {:decimals => 0, :gquery => "storage_economic_performance_#{key}_full_load_hours_in_storage_economic_performance_table"}}
        %td.cost{:data => {:decimals => 1, :gquery => "storage_economic_performance_#{key}_capex_in_storage_economic_performance_table"}}
        %td.cost{:data => {:decimals => 1, :gquery => "storage_economic_performance_#{key}_opex_in_storage_economic_performance_table"}}
        %td.cost{:data => {:decimals => 1, :gquery => "storage_economic_performance_#{key}_revenue_in_storage_economic_performance_table"}}
        %td.cost{:data => {:decimals => 1, :gquery => "storage_economic_performance_#{key}_profit_in_storage_economic_performance_table"}}
