-# storage economic performance table
%table.chart.centered.autostripe
  %thead
    %tr
      %th
      %th= t 'output_elements.tables.economic_performance.wtp'
      %th= t 'output_elements.tables.economic_performance.output_capacity'
      %th= t 'output_elements.tables.economic_performance.flh_future'
      %th= t 'output_elements.tables.economic_performance.capex'
      %th= t 'output_elements.tables.economic_performance.opex'
      %th= t 'output_elements.tables.economic_performance.revenue'
      %th= t 'output_elements.tables.economic_performance.economic_viability'
    %tr
      %th
      %th EUR/MWh
      %th MW
      %th= t 'output_elements.tables.economic_performance.hour'
      %th EUR/MWh
      %th EUR/MWh
      %th EUR/MWh
      %th EUR/MWh
  %tbody
    :ruby
      items = [
        'batteries_households',
        'batteries_electric_cars',
        'batteries_electric_buses',
        'batteries_electric_trucks',
        'batteries_electric_vans',
        'batteries_mv',
        'pumped_storage',
        'batteries_opac',
        'batteries_flow'
      ]
    - items.each do |key|
      %tr
        %th.left= raw t "output_elements.tables.economic_performance.#{key}"
        %td.position{:data => {:decimals => 1, :gquery => "#{key}_wtp_in_storage_economic_performance_table", :on_zero => '-'}}
        %td.capacity{:data => {:decimals => 0, :gquery => "#{key}_capacity_in_storage_economic_performance_table"}}
        %td{:data => {:decimals => 0, :gquery => "#{key}_full_load_hours_in_storage_economic_performance_table"}}
        %td.cost{:data => {:decimals => 1, :gquery => "#{key}_capex_in_storage_economic_performance_table"}}
        %td.cost{:data => {:decimals => 1, :gquery => "#{key}_opex_in_storage_economic_performance_table"}}
        -# %td.cost{:data => {:decimals => 1, :gquery => "#{key}_revenue_in_storage_economic_performance_table"}}
        -# %td.cost{:data => {:decimals => 1, :gquery => "#{key}_profit_in_storage_economic_performance_table"}}
