-# Flexibility options chart
.merit_order_enabled
%table#flexibility.chart.centered.autostripe
  %thead
    %tr
      %th
      %th
        = t 'output_elements.tables.flexibility.storage_capacity'
        (MW)
      %th
        = t 'output_elements.tables.flexibility.peak_capacity'
        (MW)
      %th
        = t 'output_elements.tables.flexibility.storage_volume'
        (MWh)
      %th
        = t 'output_elements.tables.flexibility.annual_electricity_input'
        (PJ)
      %th
        = t 'output_elements.tables.flexibility.annual_energy_output'
        (PJ)
      %th
        = t 'output_elements.tables.flexibility.full_load_hours'
        (hrs)
  %tbody
    %tr
      %th.left= t "output_elements.tables.flexibility.electricity_stored_in_batteries"
      %td{:data => {:gquery => "households_flexibility_p2p_electricity_capacity", :graph => :future}}
      %td{:data => {:gquery => "households_flexibility_p2p_electricity_peak_capacity", :graph => :future}}
      %td{:data => {:gquery => "households_flexibility_p2p_electricity_volume", :graph => :future}}
      %td{:data => {:decimals => 4, :gquery => "households_flexibility_p2p_electricity_input", :graph => :future}}
      %td{:data => {:decimals => 4, :gquery => "households_flexibility_p2p_electricity_output", :graph => :future}}
      %td{:data => {:decimals => 1, :gquery => "households_flexibility_p2p_electricity_flhs", :graph => :future}}
    %tr
      %th.left= t "output_elements.tables.flexibility.electricity_stored_in_electric_cars"
      %td{:data => {:gquery => "transport_car_using_electricity_capacity", :graph => :future}}
      %td{:data => {:gquery => "transport_car_using_electricity_peak_capacity", :graph => :future}}
      %td{:data => {:gquery => "transport_car_using_electricity_volume", :graph => :future}}
      %td{:data => {:decimals => 4, :gquery => "transport_car_using_electricity_input", :graph => :future}}
      %td{:data => {:decimals => 4, :gquery => "transport_car_using_electricity_output", :graph => :future}}
      %td{:data => {:decimals => 1, :gquery => "transport_car_using_electricity_flhs", :graph => :future}}
    %tr
      %th.left= t "output_elements.tables.flexibility.electricity_stored_in_electric_busses"
      %td{:data => {:gquery => "transport_bus_using_electricity_capacity", :graph => :future}}
      %td{:data => {:gquery => "transport_bus_using_electricity_peak_capacity", :graph => :future}}
      %td{:data => {:gquery => "transport_bus_using_electricity_volume", :graph => :future}}
      %td{:data => {:decimals => 4, :gquery => "transport_bus_using_electricity_input", :graph => :future}}
      %td{:data => {:decimals => 4, :gquery => "transport_bus_using_electricity_output", :graph => :future}}
      %td{:data => {:decimals => 1, :gquery => "transport_bus_using_electricity_flhs", :graph => :future}}
    %tr
      %th.left= t "output_elements.tables.flexibility.electricity_stored_in_electric_trucks"
      %td{:data => {:gquery => "transport_truck_using_electricity_capacity", :graph => :future}}
      %td{:data => {:gquery => "transport_truck_using_electricity_peak_capacity", :graph => :future}}
      %td{:data => {:gquery => "transport_truck_using_electricity_volume", :graph => :future}}
      %td{:data => {:decimals => 4, :gquery => "transport_truck_using_electricity_input", :graph => :future}}
      %td{:data => {:decimals => 4, :gquery => "transport_truck_using_electricity_output", :graph => :future}}
      %td{:data => {:decimals => 1, :gquery => "transport_truck_using_electricity_flhs", :graph => :future}}
    %tr
      %th.left= t "output_elements.tables.flexibility.electricity_stored_in_electric_vans"
      %td{:data => {:gquery => "transport_van_using_electricity_capacity", :graph => :future}}
      %td{:data => {:gquery => "transport_van_using_electricity_peak_capacity", :graph => :future}}
      %td{:data => {:gquery => "transport_van_using_electricity_volume", :graph => :future}}
      %td{:data => {:decimals => 4, :gquery => "transport_van_using_electricity_input", :graph => :future}}
      %td{:data => {:decimals => 4, :gquery => "transport_van_using_electricity_output", :graph => :future}}
      %td{:data => {:decimals => 1, :gquery => "transport_van_using_electricity_flhs", :graph => :future}}
    %tr
      %th.left= t "output_elements.tables.flexibility.electricity_stored_in_pumped_storage"
      %td{:data => {:gquery => "energy_flexibility_pumped_storage_electricity_capacity", :graph => :future}}
      %td{:data => {:gquery => "energy_flexibility_pumped_storage_electricity_peak_capacity", :graph => :future}}
      %td{:data => {:gquery => "energy_flexibility_pumped_storage_electricity_volume", :graph => :future}}
      %td{:data => {:decimals => 4, :gquery => "energy_flexibility_pumped_storage_electricity_output", :graph => :future}}
      %td{:data => {:decimals => 4, :gquery => "energy_flexibility_pumped_storage_electricity_input", :graph => :future}}
      %td{:data => {:decimals => 1, :gquery => "energy_flexibility_pumped_storage_electricity_flhs", :graph => :future}}
    %tr
      %th.left= t "output_elements.tables.flexibility.electricity_stored_in_opac"
      %td{:data => {:gquery => "energy_flexibility_opac_electricity_capacity", :graph => :future}}
      %td{:data => {:gquery => "energy_flexibility_opac_electricity_peak_capacity", :graph => :future}}
      %td{:data => {:gquery => "energy_flexibility_opac_electricity_volume", :graph => :future}}
      %td{:data => {:decimals => 4, :gquery => "energy_flexibility_opac_electricity_input", :graph => :future}}
      %td{:data => {:decimals => 4, :gquery => "energy_flexibility_opac_electricity_output", :graph => :future}}
      %td{:data => {:decimals => 1, :gquery => "energy_flexibility_opac_electricity_flhs", :graph => :future}}
    %tr
      %th.left= t "output_elements.tables.flexibility.electricity_stored_in_mv_batteries"
      %td{:data => {:gquery => "energy_flexibility_mv_batteries_electricity_capacity", :graph => :future}}
      %td{:data => {:gquery => "energy_flexibility_mv_batteries_electricity_peak_capacity", :graph => :future}}
      %td{:data => {:gquery => "energy_flexibility_mv_batteries_electricity_volume", :graph => :future}}
      %td{:data => {:decimals => 4, :gquery => "energy_flexibility_mv_batteries_electricity_input", :graph => :future}}
      %td{:data => {:decimals => 4, :gquery => "energy_flexibility_mv_batteries_electricity_output", :graph => :future}}
      %td{:data => {:decimals => 1, :gquery => "energy_flexibility_mv_batteries_electricity_flhs", :graph => :future}}
    %tr
      %th.left= t "output_elements.tables.flexibility.electricity_stored_in_flow_batteries"
      %td{:data => {:gquery => "energy_flexibility_flow_batteries_electricity_capacity", :graph => :future}}
      %td{:data => {:gquery => "energy_flexibility_flow_batteries_electricity_peak_capacity", :graph => :future}}
      %td{:data => {:gquery => "energy_flexibility_flow_batteries_electricity_volume", :graph => :future}}
      %td{:data => {:decimals => 4, :gquery => "energy_flexibility_flow_batteries_electricity_input", :graph => :future}}
      %td{:data => {:decimals => 4, :gquery => "energy_flexibility_flow_batteries_electricity_output", :graph => :future}}
      %td{:data => {:decimals => 1, :gquery => "energy_flexibility_flow_batteries_electricity_flhs", :graph => :future}}
    %tr
      %th.left= t "output_elements.tables.flexibility.electricity_converted_to_heat_refineries_industry"
      %td{:data => {:gquery => "industry_flexibility_p2h_refineries_electricity_capacity", :graph => :future}}
      %td{:data => {:gquery => "industry_flexibility_p2h_refineries_electricity_peak_capacity", :graph => :future}}
      %td
      %td{:data => {:decimals => 4, :gquery => "industry_flexibility_p2h_refineries_electricity_input", :graph => :future}}
      %td{:data => {:decimals => 4, :gquery => "industry_flexibility_p2h_refineries_electricity_output", :graph => :future}}
      %td{:data => {:decimals => 1, :gquery => "industry_flexibility_p2h_refineries_electricity_flhs", :graph => :future}}
    %tr
      %th.left= t "output_elements.tables.flexibility.electricity_converted_to_heat_fertilizers_industry"
      %td{:data => {:gquery => "industry_flexibility_p2h_fertilizers_electricity_capacity", :graph => :future}}
      %td{:data => {:gquery => "industry_flexibility_p2h_fertilizers_electricity_peak_capacity", :graph => :future}}
      %td
      %td{:data => {:decimals => 4, :gquery => "industry_flexibility_p2h_fertilizers_electricity_input", :graph => :future}}
      %td{:data => {:decimals => 4, :gquery => "industry_flexibility_p2h_fertilizers_electricity_output", :graph => :future}}
      %td{:data => {:decimals => 1, :gquery => "industry_flexibility_p2h_fertilizers_electricity_flhs", :graph => :future}}
    %tr
      %th.left= t "output_elements.tables.flexibility.electricity_converted_to_heat_chemicals_industry"
      %td{:data => {:gquery => "industry_flexibility_p2h_chemicals_electricity_capacity", :graph => :future}}
      %td{:data => {:gquery => "industry_flexibility_p2h_chemicals_electricity_peak_capacity", :graph => :future}}
      %td
      %td{:data => {:decimals => 4, :gquery => "industry_flexibility_p2h_chemicals_electricity_input", :graph => :future}}
      %td{:data => {:decimals => 4, :gquery => "industry_flexibility_p2h_chemicals_electricity_output", :graph => :future}}
      %td{:data => {:decimals => 1, :gquery => "industry_flexibility_p2h_chemicals_electricity_flhs", :graph => :future}}
    %tr
      %th.left= t "output_elements.tables.flexibility.electricity_converted_to_heat_food_industry"
      %td{:data => {:gquery => "industry_flexibility_p2h_food_electricity_capacity", :graph => :future}}
      %td{:data => {:gquery => "industry_flexibility_p2h_food_electricity_peak_capacity", :graph => :future}}
      %td
      %td{:data => {:decimals => 4, :gquery => "industry_flexibility_p2h_food_electricity_input", :graph => :future}}
      %td{:data => {:decimals => 4, :gquery => "industry_flexibility_p2h_food_electricity_output", :graph => :future}}
      %td{:data => {:decimals => 1, :gquery => "industry_flexibility_p2h_food_electricity_flhs", :graph => :future}}
    %tr
      %th.left= t "output_elements.tables.flexibility.electricity_converted_to_heat_paper_industry"
      %td{:data => {:gquery => "industry_flexibility_p2h_paper_electricity_capacity", :graph => :future}}
      %td{:data => {:gquery => "industry_flexibility_p2h_paper_electricity_peak_capacity", :graph => :future}}
      %td
      %td{:data => {:decimals => 4, :gquery => "industry_flexibility_p2h_paper_electricity_input", :graph => :future}}
      %td{:data => {:decimals => 4, :gquery => "industry_flexibility_p2h_paper_electricity_output", :graph => :future}}
      %td{:data => {:decimals => 1, :gquery => "industry_flexibility_p2h_paper_electricity_flhs", :graph => :future}}
    %tr
      %th.left= t "output_elements.tables.flexibility.electricity_converted_to_heat_agriculture"
      %td{:data => {:gquery => "agriculture_p2h_electricity_capacity", :graph => :future}}
      %td{:data => {:gquery => "agriculture_p2h_electricity_peak_capacity", :graph => :future}}
      %td
      %td{:data => {:decimals => 4, :gquery => "agriculture_p2h_electricity_input", :graph => :future}}
      %td{:data => {:decimals => 4, :gquery => "agriculture_p2h_electricity_output", :graph => :future}}
      %td{:data => {:decimals => 1, :gquery => "agriculture_p2h_electricity_flhs", :graph => :future}}
    %tr
      %th.left= t "output_elements.tables.flexibility.electricity_converted_to_heat_district_heating_ht_boiler"
      %td{:data => {:gquery => "energy_heat_flexibility_p2h_boiler_ht_electricity_capacity", :graph => :future}}
      %td{:data => {:gquery => "energy_heat_flexibility_p2h_boiler_ht_electricity_peak_capacity", :graph => :future}}
      %td
      %td{:data => {:decimals => 4, :gquery => "energy_heat_flexibility_p2h_boiler_ht_electricity_input", :graph => :future}}
      %td{:data => {:decimals => 4, :gquery => "energy_heat_flexibility_p2h_boiler_ht_electricity_output", :graph => :future}}
      %td{:data => {:decimals => 1, :gquery => "energy_heat_flexibility_p2h_boiler_ht_electricity_flhs", :graph => :future}}
    %tr
      %th.left= t "output_elements.tables.flexibility.electricity_converted_to_heat_district_heating_mt_boiler"
      %td{:data => {:gquery => "energy_heat_flexibility_p2h_boiler_mt_electricity_capacity", :graph => :future}}
      %td{:data => {:gquery => "energy_heat_flexibility_p2h_boiler_mt_electricity_peak_capacity", :graph => :future}}
      %td
      %td{:data => {:decimals => 4, :gquery => "energy_heat_flexibility_p2h_boiler_mt_electricity_input", :graph => :future}}
      %td{:data => {:decimals => 4, :gquery => "energy_heat_flexibility_p2h_boiler_mt_electricity_output", :graph => :future}}
      %td{:data => {:decimals => 1, :gquery => "energy_heat_flexibility_p2h_boiler_mt_electricity_flhs", :graph => :future}}
    %tr
      %th.left= t "output_elements.tables.flexibility.electricity_converted_to_heat_district_heating_ht_heatpump"
      %td{:data => {:gquery => "energy_heat_flexibility_p2h_heatpump_ht_electricity_capacity", :graph => :future}}
      %td{:data => {:gquery => "energy_heat_flexibility_p2h_heatpump_ht_electricity_peak_capacity", :graph => :future}}
      %td
      %td{:data => {:decimals => 4, :gquery => "energy_heat_flexibility_p2h_heatpump_ht_electricity_input", :graph => :future}}
      %td{:data => {:decimals => 4, :gquery => "energy_heat_flexibility_p2h_heatpump_ht_electricity_output", :graph => :future}}
      %td{:data => {:decimals => 1, :gquery => "energy_heat_flexibility_p2h_heatpump_ht_electricity_flhs", :graph => :future}}
    %tr
      %th.left= t "output_elements.tables.flexibility.electricity_converted_to_heat_district_heating_mt_heatpump"
      %td{:data => {:gquery => "energy_heat_flexibility_p2h_heatpump_mt_electricity_capacity", :graph => :future}}
      %td{:data => {:gquery => "energy_heat_flexibility_p2h_heatpump_mt_electricity_peak_capacity", :graph => :future}}
      %td
      %td{:data => {:decimals => 4, :gquery => "energy_heat_flexibility_p2h_heatpump_mt_electricity_input", :graph => :future}}
      %td{:data => {:decimals => 4, :gquery => "energy_heat_flexibility_p2h_heatpump_mt_electricity_output", :graph => :future}}
      %td{:data => {:decimals => 1, :gquery => "energy_heat_flexibility_p2h_heatpump_mt_electricity_flhs", :graph => :future}}
    %tr
      %th.left= t "output_elements.tables.flexibility.electricity_converted_to_hydrogen"
      %td{:data => {:gquery => "energy_hydrogen_flexibility_p2g_electricity_capacity", :graph => :future}}
      %td{:data => {:gquery => "energy_hydrogen_flexibility_p2g_electricity_peak_capacity", :graph => :future}}
      %td
      %td{:data => {:decimals => 4, :gquery => "energy_hydrogen_flexibility_p2g_electricity_input", :graph => :future}}
      %td{:data => {:decimals => 4, :gquery => "energy_hydrogen_flexibility_p2g_electricity_output", :graph => :future}}
      %td{:data => {:decimals => 1, :gquery => "energy_hydrogen_flexibility_p2g_electricity_flhs", :graph => :future}}
    %tr
      %th.left= t "output_elements.tables.flexibility.losses_in_storage"
      %td
      %td
      %td
      %td
      %td{:data => {:decimals => 4, :gquery => "losses_in_conversion_and_storage", :graph => :future}}
      %td
    %tr
      %th.left= t "output_elements.tables.flexibility.electricity_curtailed"
      %td
      %td{:data => {:decimals => 4, :gquery => "energy_curtailment_electricity_peak_capacity", :graph => :future}}
      %td
      %td{:data => {:decimals => 4, :gquery => "energy_curtailment_electricity_input", :graph => :future}}
      %td
      %td
    %tr
      %th.left= t "output_elements.tables.flexibility.electricity_curtailed_solar_pv"
      %td
      %td{:data => {:decimals => 4, :gquery => "energy_curtailment_solar_pv_electricity_peak_capacity", :graph => :future}}
      %td
      %td{:data => {:decimals => 4, :gquery => "energy_curtailment_solar_pv_electricity_input", :graph => :future}}
      %td
      %td
    %tr
      %th.left= t "output_elements.tables.flexibility.electricity_curtailed_wind"
      %td
      %td{:data => {:decimals => 4, :gquery => "energy_curtailment_wind_electricity_peak_capacity", :graph => :future}}
      %td
      %td{:data => {:decimals => 4, :gquery => "energy_curtailment_wind_electricity_input", :graph => :future}}
      %td
      %td
    %tr
      %th.left= t "output_elements.tables.flexibility.load_shifting_metal_industry"
      %td
      %td{:data => {:gquery => "energy_flexibility_load_shifting_metal_industry_electricity_peak_capacity", :graph => :future}}
      %td
      %td{:data => {:decimals => 4, :gquery => "energy_flexibility_load_shifting_metal_industry_electricity_input", :graph => :future}}
      %td{:data => {:decimals => 4, :gquery => "energy_flexibility_load_shifting_metal_industry_electricity_output", :graph => :future}}
      %td{:data => {:decimals => 1, :gquery => "energy_flexibility_load_shifting_metal_industry_electricity_flhs", :graph => :future}}
    %tr
      %th.left= t "output_elements.tables.flexibility.load_shifting_chemical_industry"
      %td
      %td{:data => {:gquery => "energy_flexibility_load_shifting_chemical_industry_electricity_peak_capacity", :graph => :future}}
      %td
      %td{:data => {:decimals => 4, :gquery => "energy_flexibility_load_shifting_chemical_industry_electricity_input", :graph => :future}}
      %td{:data => {:decimals => 4, :gquery => "energy_flexibility_load_shifting_chemical_industry_electricity_output", :graph => :future}}
      %td{:data => {:decimals => 1, :gquery => "energy_flexibility_load_shifting_chemical_industry_electricity_flhs", :graph => :future}}
    %tr
      %th.left= t "output_elements.tables.flexibility.load_shifting_other_industry"
      %td
      %td{:data => {:gquery => "energy_flexibility_load_shifting_other_industry_electricity_peak_capacity", :graph => :future}}
      %td
      %td{:data => {:decimals => 4, :gquery => "energy_flexibility_load_shifting_other_industry_electricity_input", :graph => :future}}
      %td{:data => {:decimals => 4, :gquery => "energy_flexibility_load_shifting_other_industry_electricity_output", :graph => :future}}
      %td{:data => {:decimals => 1, :gquery => "energy_flexibility_load_shifting_other_industry_electricity_flhs", :graph => :future}}
    %tr
      %th.left= t "output_elements.tables.flexibility.load_shifting_other_ict_industry"
      %td
      %td{:data => {:gquery => "energy_flexibility_load_shifting_other_ict_industry_electricity_peak_capacity", :graph => :future}}
      %td
      %td{:data => {:decimals => 4, :gquery => "energy_flexibility_load_shifting_other_ict_industry_electricity_input", :graph => :future}}
      %td{:data => {:decimals => 4, :gquery => "energy_flexibility_load_shifting_other_ict_industry_electricity_output", :graph => :future}}
      %td{:data => {:decimals => 1, :gquery => "energy_flexibility_load_shifting_other_ict_industry_electricity_flhs", :graph => :future}}
    %tr
      %th.left= t "output_elements.tables.flexibility.interconnector_1"
      %td{:data => {:gquery => "energy_interconnector_1_exported_electricity_capacity", :graph => :future}}
      %td{:data => {:gquery => "energy_interconnector_1_exported_electricity_peak_capacity", :graph => :future}}
      %td
      %td{:data => {:decimals => 4, :gquery => "energy_interconnector_1_exported_electricity_input", :graph => :future}}
      %td
      %td{:data => {:decimals => 1, :gquery => "energy_interconnector_1_exported_electricity_flhs", :graph => :future}}
    %tr
      %th.left= t "output_elements.tables.flexibility.interconnector_2"
      %td{:data => {:gquery => "energy_interconnector_2_exported_electricity_capacity", :graph => :future}}
      %td{:data => {:gquery => "energy_interconnector_2_exported_electricity_peak_capacity", :graph => :future}}
      %td
      %td{:data => {:decimals => 4, :gquery => "energy_interconnector_2_exported_electricity_input", :graph => :future}}
      %td
      %td{:data => {:decimals => 1, :gquery => "energy_interconnector_2_exported_electricity_flhs", :graph => :future}}
    %tr
      %th.left= t "output_elements.tables.flexibility.interconnector_3"
      %td{:data => {:gquery => "energy_interconnector_3_exported_electricity_capacity", :graph => :future}}
      %td{:data => {:gquery => "energy_interconnector_3_exported_electricity_peak_capacity", :graph => :future}}
      %td
      %td{:data => {:decimals => 4, :gquery => "energy_interconnector_3_exported_electricity_input", :graph => :future}}
      %td
      %td{:data => {:decimals => 1, :gquery => "energy_interconnector_3_exported_electricity_flhs", :graph => :future}}
    %tr
      %th.left= t "output_elements.tables.flexibility.interconnector_4"
      %td{:data => {:gquery => "energy_interconnector_4_exported_electricity_capacity", :graph => :future}}
      %td{:data => {:gquery => "energy_interconnector_4_exported_electricity_peak_capacity", :graph => :future}}
      %td
      %td{:data => {:decimals => 4, :gquery => "energy_interconnector_4_exported_electricity_input", :graph => :future}}
      %td
      %td{:data => {:decimals => 1, :gquery => "energy_interconnector_4_exported_electricity_flhs", :graph => :future}}
    %tr
      %th.left= t "output_elements.tables.flexibility.interconnector_5"
      %td{:data => {:gquery => "energy_interconnector_5_exported_electricity_capacity", :graph => :future}}
      %td{:data => {:gquery => "energy_interconnector_5_exported_electricity_peak_capacity", :graph => :future}}
      %td
      %td{:data => {:decimals => 4, :gquery => "energy_interconnector_5_exported_electricity_input", :graph => :future}}
      %td
      %td{:data => {:decimals => 1, :gquery => "energy_interconnector_5_exported_electricity_flhs", :graph => :future}}
    %tr
      %th.left= t "output_elements.tables.flexibility.interconnector_6"
      %td{:data => {:gquery => "energy_interconnector_6_exported_electricity_capacity", :graph => :future}}
      %td{:data => {:gquery => "energy_interconnector_6_exported_electricity_peak_capacity", :graph => :future}}
      %td
      %td{:data => {:decimals => 4, :gquery => "energy_interconnector_6_exported_electricity_input", :graph => :future}}
      %td
      %td{:data => {:decimals => 1, :gquery => "energy_interconnector_6_exported_electricity_flhs", :graph => :future}}
    %tr
      %th.left= t "output_elements.tables.flexibility.interconnector_7"
      %td{:data => {:gquery => "energy_interconnector_7_exported_electricity_capacity", :graph => :future}}
      %td{:data => {:gquery => "energy_interconnector_7_exported_electricity_peak_capacity", :graph => :future}}
      %td
      %td{:data => {:decimals => 4, :gquery => "energy_interconnector_7_exported_electricity_input", :graph => :future}}
      %td
      %td{:data => {:decimals => 1, :gquery => "energy_interconnector_7_exported_electricity_flhs", :graph => :future}}
    %tr
      %th.left= t "output_elements.tables.flexibility.interconnector_8"
      %td{:data => {:gquery => "energy_interconnector_8_exported_electricity_capacity", :graph => :future}}
      %td{:data => {:gquery => "energy_interconnector_8_exported_electricity_peak_capacity", :graph => :future}}
      %td
      %td{:data => {:decimals => 4, :gquery => "energy_interconnector_8_exported_electricity_input", :graph => :future}}
      %td
      %td{:data => {:decimals => 1, :gquery => "energy_interconnector_8_exported_electricity_flhs", :graph => :future}}
    %tr
      %th.left= t "output_elements.tables.flexibility.interconnector_9"
      %td{:data => {:gquery => "energy_interconnector_9_exported_electricity_capacity", :graph => :future}}
      %td{:data => {:gquery => "energy_interconnector_9_exported_electricity_peak_capacity", :graph => :future}}
      %td
      %td{:data => {:decimals => 4, :gquery => "energy_interconnector_9_exported_electricity_input", :graph => :future}}
      %td
      %td{:data => {:decimals => 1, :gquery => "energy_interconnector_9_exported_electricity_flhs", :graph => :future}}
    %tr
      %th.left= t "output_elements.tables.flexibility.interconnector_10"
      %td{:data => {:gquery => "energy_interconnector_10_exported_electricity_capacity", :graph => :future}}
      %td{:data => {:gquery => "energy_interconnector_10_exported_electricity_peak_capacity", :graph => :future}}
      %td
      %td{:data => {:decimals => 4, :gquery => "energy_interconnector_10_exported_electricity_input", :graph => :future}}
      %td
      %td{:data => {:decimals => 1, :gquery => "energy_interconnector_10_exported_electricity_flhs", :graph => :future}}
    %tr
      %th.left= t "output_elements.tables.flexibility.interconnector_11"
      %td{:data => {:gquery => "energy_interconnector_11_exported_electricity_capacity", :graph => :future}}
      %td{:data => {:gquery => "energy_interconnector_11_exported_electricity_peak_capacity", :graph => :future}}
      %td
      %td{:data => {:decimals => 4, :gquery => "energy_interconnector_11_exported_electricity_input", :graph => :future}}
      %td
      %td{:data => {:decimals => 1, :gquery => "energy_interconnector_11_exported_electricity_flhs", :graph => :future}}
    %tr
      %th.left= t "output_elements.tables.flexibility.interconnector_12"
      %td{:data => {:gquery => "energy_interconnector_12_exported_electricity_capacity", :graph => :future}}
      %td{:data => {:gquery => "energy_interconnector_12_exported_electricity_peak_capacity", :graph => :future}}
      %td
      %td{:data => {:decimals => 4, :gquery => "energy_interconnector_12_exported_electricity_input", :graph => :future}}
      %td
      %td{:data => {:decimals => 1, :gquery => "energy_interconnector_12_exported_electricity_flhs", :graph => :future}}
    %tr
      %th.left= t "output_elements.tables.flexibility.total"
      %td{:data => {:gquery => "flexibility_total_capacity", :graph => :future}}
      %td
      %td{:data => {:gquery => "flexibility_total_volume", :graph => :future}}
      %td{:data => {:decimals => 4, :gquery => "flexibility_total_input", :graph => :future}}
      %td{:data => {:decimals => 4, :gquery => "flexibility_total_output", :graph => :future}}
      %td
