%h2 Interfaces

%table
  %thead
    %tr
      %th Id
      %th Key
      %th Enabled
      %th
  %tbody
    - @interfaces.each do |i|
      %tr
        %td= i.id
        %td= i.key
        %td= i.enabled
        %td
          = link_to 'Show', admin_interface_path(i)
          = link_to 'Edit', edit_admin_interface_path(i)
          = link_to 'Destroy', admin_interface_path(i), :method => "delete", :confirm => "Are you sure?"

= link_to "New interface", new_admin_interface_path