- scenarios.each do |ss|
  - if ss.scenario&.loadable?
    %li
      %label
        %span.check= check_box_tag('scenario_ids[]', ss.scenario_id)
        %span.area= t("areas.#{ss.area_code}")
        %span.title= ss.title
        %span.end-year== (#{ss.end_year})

%li#scenario-paginator
  = link_to_next_page scenarios, 'More...', remote: true
