%h1 Edit: #{@converter_data.name}

-form_for @converter_data, {:url => admin_graph_converter_data_path(@graph, :id => @converter.id), :html => {:class => 'formtastic'}} do |form|
  %fieldset
    %ol
      - Qernel::ConverterApi::ATTRIBUTES_USED.reject{|a| a.to_s.include?('expected')}.each do |attr_name|
        %li 
          = form.label attr_name
          = form.text_field attr_name
    
  = form.submit

= link_to "back", admin_graph_path(@graph.id)
