.mondaine_drive{class: "#{esdl_tree ? 'with_space' : ''}"}
  .back= "← #{t('export.back')}"

  - if esdl_tree
    %h3= t('esdl.mondaine_drive.browse')
    = render partial: 'import_esdl/browse', locals: { esdl_tree: esdl_tree }
    .filename
      = label :filename, "#{t('export.filename')}:"
      = text_field_tag :filename, 'my_etm_scenario.esdl'
      .button.submit= t('export.export')
  - else
    = render partial: 'import_esdl/login_to_drive'
