- content_for(:page_title) { "Export scenario - #{t('meta.name')}" }

.background_wrapper
  #export
    %h1= t('export.title')

    %p= t('export.intro')

    .exportbox
      %h2= t('export.esdl.title')
      .bar
      = form_with url: export_esdl_scenario_path, id: 'export_esdl' do |f|
        = f.hidden_field :mondaine_drive_path, value: ''
        .options
          .option.submit
            = t('export.esdl.to_computer')
            %span →
          = link_to export_mondaine_drive_scenario_path, :remote => true do
            .option.browse
              = t('export.esdl.to_drive')
              %span →
