#arrow_box_households
  = t("intro.section")
#shadowbox-outer{:style => "width: 70%; margin: 0px 0px 40px 25%;"}
  #shadow-bg-n.shadow-bg
  #shadow-bg-ne.shadow-bg
  #shadow-bg-e.shadow-bg
  #shadow-bg-se.shadow-bg
  #shadow-bg-s.shadow-bg
  #shadow-bg-sw.shadow-bg
  #shadow-bg-w.shadow-bg
  #shadow-bg-nw.shadow-bg
  #shadowbox-inner{:style => "padding: 20px 40px 40px 40px;" }
    #shadowbox-content{:style => "width: 100%"}
      #text_wide
        %h1= t("Who uses most energy?")
        %ul#blocks
          - scale = 5
          - @items.each_pair do |key, i|
            - height = i[:percent] * scale
            %li{:style =>"height:#{height}px", :class => "#{key} #{'active' if i[:active]}"}
              %a{:href => ( i[:clickable] ? url_for(:action => key) : "#" )}
                = t(i[:name])
              .number
                #{(i[:value] / BILLIONS).round(1)} PJ
              .percentage
                #{i[:percent].round(1)}%
            
  .clear
#arrow_box_constraints
  = t("intro.results")
