#arrow_box_households
  = t("intro.section")
#shadowbox-outer{:style => "width: 70%; margin: 0px 0px 40px 25%;"}
  = render :partial => 'shared/shadowbox_frame'
  #shadowbox-inner
    #shadowbox-content{:style => "width: 100%"}
      #text_wide
        %h1= t("Who uses most energy?")
        %ul#blocks
          - max_height  = 240
          - tallest_bar = @items.values.map{|x| x[:percent]}.max
          - scale       = max_height / tallest_bar.to_f
          - @items.each_pair do |key, i|
            - height = i[:percent] * scale
            %li{:style =>"height:#{height}px", :class => "#{key} #{'active' if i[:active]}"}
              %a{:href => ( i[:clickable] ? url_for(:action => key) : "#" )}
                = t(i[:name])
              .number
                #{(i[:value] / BILLIONS).round(1)} PJ
              .percentage
                #{i[:percent].round(1)}%
            
  .clear
#arrow_box_constraints
  = t("intro.results")
