= simple_format(@text || '')

%hr

%ul
  %li
    %strong Environment:
    = Rails.env
  - if @page.present?
    %li
      %strong Page:
      %a{ href: @page }= @page
  %li
    %strong Locale:
    = @locale
  %li
    %strong User agent:
    = @user_agent

- if @user
  %ul
    %li
      %strong User:
      = @user.name
      == (#{@user.id})
    %li
      %strong E-mail
      = @user.email

%ul
  - if @scenario_url
    %li
      %strong Scenario (copy):
      = link_to(@scenario_url.split('/').last, @scenario_url)
  - if @saved_scenario_id.present?
    %li
      %strong Saved scenario:
      = link_to(@saved_scenario_id, saved_scenario_url(@saved_scenario_id))
  - if @charts&.any?
    %li
      %strong Active charts:
      %ul
        - @charts.each do |chart|
          %li= chart
