= simple_form_for [:admin, @constraint] do |f|
  = f.input :key
  = f.input :group, :as => :select, :collection => Constraint::GROUPS
  = f.input :gquery_key
  = f.association :output_element,
    :collection => OutputElement.all.map{|c| ["##{c.id} #{c.key}", c.id]},
    :hint => "Default chart to be shown when the user clicks on the slide title"
  = f.input :disabled
  = f.simple_fields_for :description do |j|
    = j.input :short_content_en
    = j.input :short_content_nl
    = j.input :content_en
    = j.input :content_nl
  = f.simple_fields_for :area_dependency do |j|
    = j.input :dependent_on, :as => :select,
      :collection => area_dependency_options(@constraint)

  = f.button :submit
