= simple_form_for [:admin, @constraint] do |f|
  = f.input :key
  = f.input :group, :as => :select, :collection => Constraint::GROUPS
  = f.input :gquery_key
  = f.input :disabled
  = f.simple_fields_for :description do |j|
    = j.input :short_content_en
    = j.input :short_content_nl
    = j.input :content_en
    = j.input :content_nl
  = f.simple_fields_for :area_dependency do |j|
    = j.input :dependent_on, :as => :select,
      :collection => Api::Area::DEPENDABLE_ATTRIBUTES

  = f.button :submit
