%h2 Dashboard Item Details

%dl
  %dt Key
  %dd= @constraint.key
  %dt Group
  %dd= @constraint.group
  %dt Gquery
  %dd= @constraint.gquery_key

%p
  = link_to 'back', admin_constraints_path
  |
  = link_to 'edit', edit_admin_constraint_path(@constraint)
