#constraints_container
  %script#constraint-template{:type => 'text/template'}
    .arrow
    %span.header 
      <%= name %>
      %span.scale <%= formatted_output_scale ? formatted_output_scale : '' %>
    %strong <%= output %>
    .difference
    = render 'layouts/etm/constraint_box'

  #constraints
    - @constraints.each do |c|
      :ruby
        opts = {
          :id    => "constraint_#{c.id}",
          :class => (c.id == 1) ? 'first' : nil,
          :rel   => "/constraints/#{c.id}"
        }

      .constraint{opts}
        %div.arrow
        %span.header
          = I18n.t(c.name)
          %span.scale
        %strong
        .difference
        = render 'layouts/etm/constraint_box', :title => c.extended_title
    .clear

    %script
      - @constraints.each do |c|
        dashboard.add(
        = { :id => c.id, :key => c.key, :gquery_key => c.gquery_key }.to_json.html_safe
        );
