#constraints_container
  #constraints
    - @constraints.each do |c|
      :ruby
        opts = {
          :id    => "constraint_#{c.id}",
          :class => (c.id == 1) ? 'first' : nil,
          :rel   => "/constraints/#{c.id}"
        }

      .constraint{opts}
        .arrow
        .header= raw I18n.t("dashboard.#{c.name}")
        .scale
        %strong
        .difference
        = render 'layouts/etm/constraint_box', :title => c.extended_title
    .clear

    %script
      - @constraints.each do |c|
        dashboard.add(
        = { :id => c.id, :key => c.key, :gquery_key => c.gquery_key }.to_json.html_safe
        );
      - @goals.each do |goal|
        :ruby
          goal_opts = {
            :goal_id          => goal.id,
            :name             => t("policies.#{goal.name.humanize}"),
            :success_query    => goal.reached_query.to_s,
            :value_query      => goal.query.to_s,
            :target_query     => goal.target_query.to_s,
            :user_value_query => goal.user_value_query.to_s,
            :unit             => goal.unit,
            :display_fmt      => goal.display_format
          }
        new PolicyGoal(#{goal_opts.to_json.html_safe});
