#constraints_container
  %script#constraint-template{:type => 'text/template'}
    .arrow
    %span.header 
      <%= name %>
      %span.scale <%= formatted_output_scale ? formatted_output_scale : '' %>
    %strong <%= output %>
    .difference
    = render 'layouts/etm/constraint_box'

  #constraints
    - @constraints.each do |c|
      :ruby
        opts = {
          :id    => "constraint_#{c.id}",
          :class => (c.id == 1) ? 'first' : nil,
          :rel   => "/constraints/#{c.id}"
        }

      .constraint{opts}
        %div.arrow
        %span.header
          = raw I18n.t("dashboard.#{c.name}")
          %span.scale
        %strong
        .difference
        = render 'layouts/etm/constraint_box', :title => c.extended_title
    .clear

    %script
      - @constraints.each do |c|
        dashboard.add(
        = { :id => c.id, :key => c.key, :gquery_key => c.gquery_key }.to_json.html_safe
        );
    - @goals.each do |goal|
      :javascript
        new PolicyGoal({
            goal_id          : #{goal.id},
            name             : '#{escape_javascript t("policies.#{goal.name.humanize}")}',
            success_query    : '#{goal.reached_query}',
            value_query      : '#{goal.query}',
            target_query     : 'GOAL(#{goal.key})',
            user_value_query : 'GOAL_USER_VALUE(#{goal.key})',
            unit             : '#{goal.unit}',
            display_fmt      : '#{goal.display_format}'
          });
