.dropdown
  %button#locale-button.nav-link{ aria: { expanded: 'false'}, data: { toggle: 'dropdown', 'dropdown-trigger': 'click' }, type: 'button' }
    = t('app_nav.development')
  .dropdown-menu.learn-dropdown.development{ 'aria-labelledby': 'locale-button' }
    %ul
      %li= learn_link t('app_nav.quintel'), development_path
      %li= learn_link t('app_nav.open_source'), development_path(anchor: 'open-source')
      %li= learn_link t('app_nav.process'), development_path(anchor: 'development-process')
      %li= learn_link t('app_nav.partners'), development_path(anchor: 'partners')
    .extras
      %ul
        %li.learn-section= t('app_nav.collaborate')
        - if Settings.feedback_email
          %li= learn_link t('app_nav.contact_us'), 'https://my.energytransitionmodel.com/contact'
        %li= learn_link t('app_nav.github'), 'https://github.com/quintel'
