.dropdown
  %button#locale-button.nav-link{ aria: { expanded: 'false'}, data: { toggle: 'dropdown', 'dropdown-trigger': 'click' }, type: 'button' }
    = t('app_nav.features')
  .dropdown-menu.learn-dropdown.features{ 'aria-labelledby': 'locale-button' }
    %ul
      %li= learn_link t('app_nav.whats_new'), whats_new_path
      - if current_user
        = link_to t('app_nav.collections'), my_etm_path("collections")
      %li= learn_link t('app_nav.api'), 'https://docs.energytransitionmodel.com/api/intro'
      %li= learn_link t('app_nav.dataset_manager'), 'https://data.energytransitionmodel.com/'
    .extras
      %ul
        %li.learn-section= t('app_nav.other_apps')
        %li= learn_link t('app_nav.mondaine_suite'), import_esdl_path
