- contact_us = link_to(t('feedback.contact_us'), contact_url)
- our_documentation = link_to(t('feedback.our_documentation'), 'https://docs.energytransitionmodel.com', target: '_blank', rel: 'noopener')

%li.feedback-item.nav-item
  .dropdown
    %button#feedback-button.nav-link{ aria: { expanded: 'false'}, data: { toggle: 'dropdown' }, type: 'button' }
      %span.fa.fa-comments
      = succeed '?' do
        = t('header.feedback')
    %div.dropdown-menu.dropdown-menu-right.feedback-menu{ 'aria-labelledby': 'locale-button' }
      %form{ action: feedback_path, method: 'post' }
        %input.do-not-fill{ name: 'name', type: 'text' }
        %textarea{ name: 'text', placeholder: t('feedback.placeholder') }
        .commit
          .failure
            = t('feedback.failure', contact_us: contact_us).html_safe
          .buttons
            %button.button.primary.send{ disabled: true }
              %span.text= t('feedback.send')
              %span.spinner
            %button.button.cancel= t('cancel')
          .docs
            = t('feedback.info', contact_us: contact_us, our_documentation: our_documentation).html_safe
        .success
          %span.fa.fa-check-circle
          .msg
            %strong= t('feedback.thanks')
            = t('feedback.sent')
