%ul
  %li= link_to(t('footer.terms'), "#{Settings.idp_url}/terms")
  %li= link_to(t('footer.privacy'), "#{Settings.idp_url}/privacy")
  %li= link_to(t('footer.contact_us'), "#{Settings.idp_url}/contact")
