#logos
  #all_container
    .link_container.facebook
      %a.fb-share{:href => "http://www.facebook.com/sharer.php?u=www.energytransitionmodel.com", :target=>"_blank" } &nbsp;

    .link_container.twitter
      %a.twitter-share{:href => "http://twitter.com/share?url=http://www.energytransitionmodel.com", :target=>"_blank" }&nbsp;
    #two_container
      %ul.left
        - company = Partner.all.first
        %li{:timeout => 60000 }
          - href = "#{ company.link }?locale=#{ I18n.locale }"

          %a{href: href, id: company.name.downcase,
             style: "background-image: url('#{ company.img }');", target: '_blank' }
            = company.name

          .clear

          %p#subheader= t('footer.main_sponsor')

      %ul.right
        - Partner.all[1..-1].each do |company|
          %li{:timeout => 10000 }
            - href = "#{ company.link }?locale=#{ I18n.locale }"

            %a{href: href, id: company.name.downcase,
               style: "background-image: url('#{ company.img }');", target: '_blank' }
              = company.name

            .clear

            %p#subheader= t('footer.sponsor')
