%header#top.main-header
  %div{ style: 'display: flex' }
    .logo
      %a.logo-inner{ href: root_path, style: 'display: flex' }
        %img{ src: "/assets/header/logo-round.svg", width: 37, height: 37, alt: "", style: 'margin: auto 0' }
        .flex-col
          .span Energy Transition Model
      .dropdown
        %button#version-button.nav-link{ aria: { expanded: 'false'}, data: { toggle: 'dropdown', 'dropdown-trigger': 'click' }, type: 'button' }
          %span= "##{ETModel::Version::TAG}"
          %span.fa.fa-caret-down
        .dropdown-menu.version-dropdown.development{ 'aria-labelledby': 'version-button' }
          %ul#version-links
            %li{style: 'margin-bottom:1rem'}= t('versions.switch')
            - MyEtm::Version.all_other_versions.each do |version|
              %li= link_to "##{version.tag}" # , version.url
    .app-nav
      = render partial: 'layouts/etm/about_menu'
      = link_to t('app_nav.updates'), whats_new_path, class: 'nav-link'
      = link_to t('app_nav.development'), redirect_to_external_path(destination: "#{Settings.idp_url}/collaborate", return_to: request.url), class: 'nav-link'

  %ul.user-settings
    %li.locale.nav-item
      .dropdown
        %button#locale-button.nav-link{ aria: { expanded: 'false'}, data: { toggle: 'dropdown' }, type: 'button' }
          %span.fa.fa-globe
          = t('header.current_language')
          %span.fa.fa-caret-down
        %ul.dropdown-menu.dropdown-menu-right{ 'aria-labelledby': 'locale-button' }
          %li
            %a.dropdown-item{ href: url_for(locale: 'en') }
              = image_tag 'flags-24/uk.png'
              English
          %li
            %a.dropdown-item{ href: url_for(locale: 'nl') }
              = image_tag 'flags-24/nl.png'
              Nederlands

    - if current_user
      %li.my-scenarios.nav-item
        %a.nav-link{ href: redirect_to_external_path(destination: "#{Settings.idp_url}/saved_scenarios", return_to: request.url)}
          = t('header.load_scenario')
      %li.my-account.nav-item
        .dropdown
          %button#my-account-button.nav-link{ aria: { expanded: 'false' }, data: { toggle: 'dropdown' }, type: 'button' }
            %span= current_user.name.presence || t('header.my_profile')
            %span.fa.fa-caret-down
          %ul.dropdown-menu.dropdown-menu-right{ 'aria-labelledby': 'my-account-button' }
            %li= link_to t('header.my_profile'), redirect_to_external_path(destination: user_profile_url, return_to: request.url), class: 'dropdown-item'
            %li= link_to t('header.sign_out'),  redirect_to_external_path(destination: sign_out_path, return_to: request.url), class: 'dropdown-item', method: :post
            - if current_user.admin?
              %li.sep-above.admin
                %a.dropdown-item{ href: redirect_to_external_path(destination: "#{Settings.idp_url}/admin", return_to: request.url) } Admin
    - else
      %li.sign-up.nav-item
        %a.nav-link{ href: sign_up_url }
          = t('header.sign_up')
      %li.sign-in.nav-item
        = button_to t('header.sign_in'), sign_in_path, class: 'nav-link', method: :post
