%header#top.main-header
  %div{ style: 'display: flex' }
    .logo
      %a.logo-inner{ href: root_path, style: 'display: flex' }
        %img{ src: "/assets/header/logo-round.svg", width: 37, height: 37, alt: "", style: 'margin: auto 0' }
        .flex-col
          .span Energy Transition Model
      .dropdown
        %button#version-button.nav-link{ aria: { expanded: 'false'}, data: { toggle: 'dropdown', 'dropdown-trigger': 'click' }, type: 'button' }
          %span= "##{ETModel::Version::TAG}"
          %span.fa.fa-caret-down
        .dropdown-menu.version-dropdown.development{ 'aria-labelledby': 'version-button' }
          %ul#version-links
            %li{style: 'margin-bottom:0.3rem'}= t('versions.switch')
            - MyEtm::Version.all_other_versions.each do |version|
              %li= link_to "##{version.tag}", version.model_url
          %hr
          %div{style: 'padding: 0.2rem; text-align: left; margin-left:0.5rem'}
            = link_to t('versions.explained'), "https://docs.energytransitionmodel.com/api/model-versions", target: "_blank", rel: "noopener"
    .app-nav
      = render partial: 'layouts/etm/about_menu'
      = render partial: 'layouts/etm/features_menu'
      = render partial: 'layouts/etm/development_menu'

  %ul.user-settings
    %li.locale.nav-item
      .dropdown
        %button#locale-button.nav-link{ aria: { expanded: 'false'}, data: { toggle: 'dropdown' }, type: 'button' }
          %span.fa.fa-globe
          = t('header.current_language')
          %span.fa.fa-caret-down
        %ul.dropdown-menu.dropdown-menu-right{ 'aria-labelledby': 'locale-button' }
          %li
            %a.dropdown-item{ href: url_for(locale: 'en') }
              = image_tag 'flags-24/uk.png'
              English
          %li
            %a.dropdown-item{ href: url_for(locale: 'nl') }
              = image_tag 'flags-24/nl.png'
              Nederlands

    - if current_user
      %li.my-scenarios.nav-item
        %a.nav-link{ href: my_etm_path("saved_scenarios")}
          = t('header.load_scenario')
      %li.my-account.nav-item
        .dropdown
          %button#my-account-button.nav-link{ aria: { expanded: 'false' }, data: { toggle: 'dropdown' }, type: 'button' }
            %span= current_user.name.presence || t('header.my_profile')
            %span.fa.fa-caret-down
          %ul.dropdown-menu.dropdown-menu-right{ 'aria-labelledby': 'my-account-button' }
            %li= link_to t('header.my_profile'), my_etm_path('identity'), class: 'dropdown-item'
            %li= link_to t('header.sign_out'), sign_out_path, class: 'dropdown-item', method: :post
            - if current_user.admin?
              %li.sep-above.admin
                %a.dropdown-item{ href: my_etm_path("admin") } Admin
    - else
      %li.sign-up.nav-item
        %a.nav-link{ href: sign_up_url }
          = t('header.sign_up')
      %li.sign-in.nav-item
        = button_to t('header.sign_in'), sign_in_path, class: 'nav-link', method: :post
