%header#top.main-header
  %a.logo{ href: root_path }
    %img{ src: "/assets/header/logo300@2x.png", width: 300, height: 37, alt: "" }
  %ul.user-settings
    - unless Survey.from_session(current_user, session).finished?
      %li.survey-item.nav-item
        %button.nav-link{ type: 'button' }
          :plain
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" width="19" height="19" aria-hidden="true">
              <path fill-rule="evenodd" d="M6.267 3.455a3.066 3.066 0 001.745-.723 3.066 3.066 0 013.976 0 3.066 3.066 0 001.745.723 3.066 3.066 0 012.812 2.812c.051.643.304 1.254.723 1.745a3.066 3.066 0 010 3.976 3.066 3.066 0 00-.723 1.745 3.066 3.066 0 01-2.812 2.812 3.066 3.066 0 00-1.745.723 3.066 3.066 0 01-3.976 0 3.066 3.066 0 00-1.745-.723 3.066 3.066 0 01-2.812-2.812 3.066 3.066 0 00-.723-1.745 3.066 3.066 0 010-3.976 3.066 3.066 0 00.723-1.745 3.066 3.066 0 012.812-2.812zm7.44 5.252a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
            </svg>
          = I18n.t('header.survey')

    - if APP_CONFIG[:feedback_email]
      = render partial: 'layouts/etm/feedback_nav_item'

    %li.locale.nav-item
      .dropdown
        %button#locale-button.nav-link{ aria: { expanded: 'false'}, data: { toggle: 'dropdown' }, type: 'button' }
          %span.fa.fa-globe
          = t('header.current_language')
          %span.fa.fa-caret-down
        %ul.dropdown-menu.dropdown-menu-right{ 'aria-labelledby': 'locale-button' }
          %li
            %a.dropdown-item{ href: url_for(locale: 'en') }
              = image_tag 'flags-24/uk.png'
              English
          %li
            %a.dropdown-item{ href: url_for(locale: 'nl') }
              = image_tag 'flags-24/nl.png'
              Nederlands

    - if current_user
      %li.my-scenarios.nav-item
        %a.nav-link{ href: scenarios_path }
          = t('header.load_scenario')
      %li.my-account.nav-item
        .dropdown
          %button#my-account-button.nav-link{ aria: { expanded: 'false' }, data: { toggle: 'dropdown' }, type: 'button' }
            %span= current_user.name.presence || t('header.my_profile')
            %span.fa.fa-caret-down
          %ul.dropdown-menu.dropdown-menu-right{ 'aria-labelledby': 'my-account-button' }
            %li= link_to t('header.my_profile'), edit_user_path, class: 'dropdown-item'
            %li= link_to t('header.sign_out'), logout_path, class: 'dropdown-item'
            - if current_user.admin?
              %li.sep-above.admin
                %a.dropdown-item{ href: '/admin' } Admin
    - else
      %li.sign-in.nav-item
        %a.nav-link{ href: login_path }
          = t('header.sign_in')
