%fieldset#signin_menu.topnav.header_menu
  - @user_session = UserSession.new
  = form_for(@user_session) do |f|
    = f.error_messages
    %p
      = f.label :email, t("user.email")
      %br
      = f.text_field :email
    %p
      = f.label :password, t("user.password")
      %br
      = f.password_field :password
    %p
      = f.label :remember_me, t("user.remember")
      %br
      = f.check_box :remember_me, :checked => "checked"
    = f.submit 'Login'
  %a{:href => new_user_path}= "#{t("or")} #{t("header.create_account")}"

#settings_menu.header_menu.topnav
  - if has_active_scenario?
    %li
      #flag
        %img{src: icon_for_area_code(Current.setting.area_code), title: I18n.t(Current.setting.area_code), width: 16 }
        = I18n.t(Current.setting.area_code) unless Current.setting.area_code.length == 2
      #{t "header.current_country"}:
    %li
      #year= Current.setting.end_year
      #{t "header.current_end_year"}:

  %li
    #{t "header.current_language"}:
    = select_tag "locale", options_for_select([:en, :nl], I18n.locale)

  %li
    %a{:href => scenarios_path}= t("header.load_scenario")
    - if has_active_scenario?
      %a{:href => new_scenario_path}= t("header.save_scenario")
      %a#reset_scenario{:href => reset_scenario_path}= t("header.reset_scenario")
  - if controller_name != 'pages' && has_active_scenario?
    - if Current.setting.use_peak_load
      %li
        = check_box :track_peak_load, :settings,
          :onchange => 'App.settings.toggle_peak_load_tracking()',
          :checked => Current.setting.track_peak_load
        %label{:for => "track_peak_load_settings"}
          = t 'header.notify_of_grid_investments'
    - if Current.setting.allow_fce?
      %li
        = check_box :settings, :use_fce, :checked => Current.setting.use_fce
        %label{:for => "settings_use_fce"}= t('fce.check')
    - if params[:debug]
      %li
        %form{:action => 'http://beta.et-engine.com/mechanical_turk/factory', :method => 'post', :target => '_blank', :id => 'turkit'}
          %input#last_api_response{:type => 'hidden', :name => 'json_data'}
          = submit_tag "Turk it"

#information_menu.header_menu.topnav
  - information_links.each do |link|
    %li= link_to link[:text], link[:url], :target => link[:target], :class => link[:class]
