#notice_bar
  - GeneralUserNotification.active.each do |n|
    .general_notice= raw n.text
  .fce_notice{:class => Current.setting.use_fce ? nil : 'hidden'}= raw t("fce.notice")
#header_inside{:style => "position: relative;"}
  %ul.sub-nav
    %li
      %a.information{:href=>"#"}
        %span=t("header.information")
    %li
      %a.settings{:href=>"#"}
        %span=t("header.settings")
    - if current_user
      %li
        %a.signout{:href=>"/logout"}
          %span=t("header.sign_out")
    - else
      %li
        %a.signin{:href=>"#"}
          %span=t("header.sign_in")
    - if has_active_scenario?
      %li.flag
        %img{:src => "/assets/icons/#{Current.setting.area_code}.png"}
        = Current.setting.area_code if Current.setting.area_code != "nl"
      %li.year= Current.setting.end_year

    %li{:style=>'width: 160px'}
      %form#searchform{ :action => "/search", :method => :get }
        %fieldset
          %input.btn-search{ :type => "submit", :value => "" }
          %span.text
            %input{ :name => 'q', :type => "text", :value => "#{t("search_the_website")}", :onclick => "$(this).val('');" }

  = link_to home_path do
    %h3
      Energy Transition Model
      %em PRO

  = render "layouts/etm/header_menus"
