
%fieldset{:id => "signin_menu", :class => "topnav header_menu"}
  - @user_session = UserSession.new
  = form_for(@user_session) do |f|
    = f.error_messages
    %p
      = f.label :email, t("user.email")
      %br
      = f.text_field :email

    %p
      = f.label :password, t("user.password")
      %br
      = f.password_field :password
    %p
      = f.label :remember_me, t("user.remember")
      %br
      = f.check_box :remember_me, :checked => "checked"


    = f.submit 'Login'
  %a{:href => new_user_path}= "#{t("or")} #{t("header.create account")}"

#settings_menu.header_menu.topnav
  %li
    #flag
      %img{:src => "/assets/icons/#{Current.setting.country}.png"}
      = Current.setting.region if Current.setting.region != "nl"
    = t("header.Current country")+":"
  %li
    #year
      = Current.setting.end_year
    = t("header.Current end year")+":"

  %li
    = t("header.Current language")+":"
    = form_tag "/application/set_locale" do
      = select_tag("locale", options_for_select(["en", "nl"], I18n.locale.to_s), { :index => nil, :onchange => 'this.form.submit()'})

  %li
    %a{:href => new_scenario_path}= t("header.Save scenario")
    %a{:href => scenarios_path}= t("header.Load scenario")
    %a{:href => reset_scenario_path}= t("header.Reset scenario")
  - if controller_name != 'pages'
    - if Current.setting.use_peak_load
      %li
        = check_box :track_peak_load, :settings, :onchange => 'App.settings.toggle_peak_load_tracking()', :checked => Current.setting.track_peak_load
        %label{:for => :track_peak_load_settings}= t('header.notify_of_grid_investments')
    - if Current.setting.allow_fce?
      %li
        = check_box :settings, :use_fce, :checked => Current.setting.use_fce
        %label{:for => :use_fce_settings}= t('fce.check')
    %li
      = check_box :settings, :use_merit_order, :onchange => 'App.settings.toggle_merit_order()', :checked => Current.setting.use_merit_order
      %label{:for => :use_merit_order}= t('header.toggle_merit_order')

#information_menu.header_menu.topnav
  %li
    %a{:href => "/about"}= t("header.About QI")
  %li
    %a{:href => partners_path}= t("header.Partners")
  %li
    %a{:href => "/education"}= t("header.Education")
  %li
    %a{:href => "/testimonials"}= t("header.Testimonials")
  %li
    %a{:href => "/recommendations"}= t("header.Recommendations")
  %li
    %a{:href => "/press_releases"}= t("header.Press releases")
  %li
    %a{:href => "/units"}= t("header.Units used")
  %li
    %a{:href => "/privacy_statement"}= t("header.Privacy statement")
  %li
    %a{:href => "/disclaimer"}= t("header.disclaimer")
  %li= link_to t('header.bugs'), bugs_path

