- if GeneralUserNotification.active.any?
  #notice_bar
  - GeneralUserNotification.active.each do |n|
    .general_notice= raw n.text
#header_inside{:style => "position: relative;"}
  %ul.sub-nav
    %li.expandable
      %a.menu_toggler.information{:href=>"#"}= t("header.information")
      = render "layouts/etm/information_menu"

    %li.expandable
      %a.menu_toggler.settings{:href=>"#"}
        = t("header.settings")
        - if has_active_scenario?
          %span.scenario_info
            = current_area_info
            = Current.setting.end_year
      = render "layouts/etm/settings_menu"

    - if current_user
      %li
        %a.signout{:href=>"/logout"}= t("header.sign_out")
    - else
      %li.expandable
        %a.menu_toggler.signin{:href=>"#"}= t("header.sign_in")
        = render "layouts/etm/signin_menu"

    -# Disabling for the moment, see https://github.com/quintel/etmodel/issues/2021
    -# Also http end points are no longer allowed
      %li{:style=>'width: 190px'}
        %form#searchform(action="http://refman.et-model.com/publications" method="get")
          %fieldset
            %input.btn-search(type="submit" value="")
            %span.text
              %input{ :name => 'q', :type => "text", :placeholder => "#{t("search_the_website")}" }

  %a.root_link{ href: root_path }
    %img(src="/assets/header/logo400@2x.png" width="400" height="49" alt="Energy Transition Model")
