#notice_bar
  - GeneralUserNotification.active.each do |n|
    .general_notice= raw n.text
  .fce_notice{:class => Current.setting.use_fce ? nil : 'hidden'}= raw t("fce.notice")
#header_inside{:style => "position: relative;"}
  %ul.sub-nav
    %li.expandable
      %a.information{:href=>"#"}
        = t("header.information")
    %li.expandable
      %a.settings{:href=>"#"}
        = t("header.settings")
        - if has_active_scenario?
          %span.scenario_info
            %img{src: icon_for_area_code(Current.setting.area_code), title: I18n.t(Current.setting.area_code), width: 16 }
            = I18n.t(Current.setting.area_code) unless Current.setting.area_code.length == 2
            = Current.setting.end_year
    - if current_user
      %li
        %a.signout{:href=>"/logout"}
          = t("header.sign_out")
    - else
      %li.expandable
        %a.signin{:href=>"#"}
          = t("header.sign_in")

    %li{:style=>'width: 190px'}
      %form#searchform{ :action => "/search", :method => :get }
        %fieldset
          %input.btn-search{ :type => "submit", :value => "" }
          %span.text
            %input{ :name => 'q', :type => "text", :placeholder => "#{t("search_the_website")}" }

  %a.root_link{ href: root_path }
    %img(src="/assets/layout/logo400@2x.png" width="400" height="49" alt="Energy Transition Model")

  = render "layouts/etm/header_menus"
