// DEBT We're using twice the same id.
#notice_bar.fce_notice{ :class => Current.setting.use_fce ? nil : 'hidden' }= t("fce.notice").html_safe
- if user_notification = GeneralUserNotification.active.first
  #notice_bar= raw user_notification.text
.frame{:style => "position: relative;"}
  %ul.sub-nav
    %li
      %a.information{:href=>"#"}
        %span=t("header.Information")
    %li
      %a.settings{:href=>"#"}
        %span=t("header.Settings")
    - if current_user
      %li
        %a.signout{:href=>"/logout"}
          %span=t("header.Sign out")
    - else
      %li
        %a.signin{:href=>"#"}
          %span=t("header.Sign in")

    %li{:style=>'width: 160px'}
      %form#searchform{ :action => "/search", :method => :get }
        %fieldset
          %input.btn-search{ :type => "submit", :value => "" }
          %span.text
            %input{ :name => 'q', :type => "text", :value => "#{t("search the website")}", :onclick => "$(this).val('');" }

  %strong
    %a{ :href => "/" }
      %img.header_logo{:src => "/images/layout/bg-logo3.png"}

  = render "layouts/etm/header_menus"

  - if defined?(info_box) && info_box
    = render "layouts/etm/info_box"
