%header#top.main-header
  %div{ style: 'display: flex' }
    %a.logo{ href: root_path }
      %img{ src: "/assets/header/logo300@2x.png", width: 300, height: 37, alt: "" }
    .app-nav
      = render partial: 'layouts/etm/app_menu'

  %ul.user-settings
    - if Settings.feedback_email
      = render partial: 'layouts/etm/feedback_nav_item'

    %li.locale.nav-item
      .dropdown
        %button#locale-button.nav-link{ aria: { expanded: 'false'}, data: { toggle: 'dropdown' }, type: 'button' }
          %span.fa.fa-globe
          = t('header.current_language')
          %span.fa.fa-caret-down
        %ul.dropdown-menu.dropdown-menu-right{ 'aria-labelledby': 'locale-button' }
          %li
            %a.dropdown-item{ href: url_for(locale: 'en') }
              = image_tag 'flags-24/uk.png'
              English
          %li
            %a.dropdown-item{ href: url_for(locale: 'nl') }
              = image_tag 'flags-24/nl.png'
              Nederlands

    - if current_user
      %li.my-scenarios.nav-item
        %a.nav-link{ href: scenarios_path }
          = t('header.load_scenario')
      %li.my-account.nav-item
        .dropdown
          %button#my-account-button.nav-link{ aria: { expanded: 'false' }, data: { toggle: 'dropdown' }, type: 'button' }
            %span= current_user.name.presence || t('header.my_profile')
            %span.fa.fa-caret-down
          %ul.dropdown-menu.dropdown-menu-right{ 'aria-labelledby': 'my-account-button' }
            %li= link_to t('header.my_profile'), edit_user_path, class: 'dropdown-item'
            %li= link_to t('header.sign_out'), logout_path, class: 'dropdown-item'
            - if current_user.admin?
              %li.sep-above.admin
                %a.dropdown-item{ href: '/admin' } Admin
    - else
      %li.sign-up.nav-item
        %a.nav-link{ href: new_user_path }
          = t('header.sign_up')
      %li.sign-in.nav-item
        %a.nav-link{ href: login_path }
          = t('header.sign_in')
