#notice_bar
  - GeneralUserNotification.active.each do |n|
    .general_notice= raw n.text
  .fce_notice{:class => Current.setting.use_fce ? nil : 'hidden'}= raw t("fce.notice")
#header_inside{:style => "position: relative;"}
  %ul.sub-nav
    %li.expandable
      %a.information{:href=>"#"}
        = t("header.information")
    %li.expandable
      %a.settings{:href=>"#"}
        = t("header.settings")
        - if has_active_scenario?
          %span.scenario_info
            %img{:src => "/assets/icons/#{Current.setting.area_code}.png", :width => 16}
            = Current.setting.area_code if Current.setting.area_code != "nl"
            = Current.setting.end_year
    - if current_user
      %li
        %a.signout{:href=>"/logout"}
          = t("header.sign_out")
    - else
      %li.expandable
        %a.signin{:href=>"#"}
          = t("header.sign_in")

    %li{:style=>'width: 190px'}
      %form#searchform{ :action => "/search", :method => :get }
        %fieldset
          %input.btn-search{ :type => "submit", :value => "" }
          %span.text
            %input{ :name => 'q', :type => "text", :value => "#{t("search_the_website")}", :onclick => "$(this).val('');" }

  %a.root_link{ href: home_path }
    %h3
      Energy Transition Model
      %em PRO

  = render "layouts/etm/header_menus"
