:javascript
  globals = {
    api_url: '#{APP_CONFIG[:api_url]}',
    api_proxy_url: '#{APP_CONFIG[:api_proxy_url]}',
    api_session_id: #{Current.setting.api_session_id},
    disable_cors: #{APP_CONFIG[:disable_cors].to_json},
    standalone: #{APP_CONFIG[:standalone].to_json},
    wattnu: #{(wattnu?).to_json}
  }
