%h3
  =" #{I18n.t("output.#{@output_element.name}")}".html_safe 

#charts_container
  = render "/output_elements/output_element_actions"
  - if @output_element.under_construction || (params[:id] == "buildings" && Current.setting.country == "de")
    #chart_not_finished

  #chart_switcher
    = link_to_function 'switch chart type', 'window.charts.switch_chart()'
  #current_chart.column-r-content
  
= javascript_include_tag output_element_path(:id => @output_element, :format => 'js')


