%h3
  =" #{I18n.t("output.#{@output_element.name}")}".html_safe 

#charts_container
  = render "/output_elements/output_element_actions"
  #chart_loading{:style => "display: none"} Loading...
  -if @output_element.under_construction || (params[:id] == "buildings" && Current.setting.country == "de")
    #chart_not_finished

  #chart_switcher
    = link_to_function 'switch chart type', 'switch_chart()'
  #current_chart.column-r-content
  
= javascript_include_tag output_element_path(:id => @output_element, :format => 'js')

:javascript
  function switch_chart() {
    var chart        = charts.first();
    var current_type = chart.get("type");
    
    if(!chart.get("original_type")) {
      chart.set({ original_type : current_type});
    }
    
    var new_type = (current_type == 'html_table' ? chart.get("original_type") : 'html_table');
    chart.set({ previous_chart_type : current_type});    
    chart.set({ type : new_type});
  }
