#scenario-nav
  .scenario-info
    - if Current.setting.active_scenario?
      %span.region.region-flag{ class: Current.setting.area_code }
        = current_area_name
      %span.year
        = Current.setting.end_year
      - if Current.setting.active_scenario_title.present?
        = link_to(saved_scenario_path(active_saved_scenario_id)) do
          %span.name
            = Current.setting.active_scenario_title
    - else
      %span.region.region-flag== #{t('scenario_nav.loading')}&hellip;
      %span.year
  %div
    - if current_user
      - if save_scenario_enabled?
        %button.save-scenario{ data: { path: scenario_path(active_saved_scenario_id) }, disabled: true, type: 'button' }
          %span.main.label.show= t('header.save_scenario').titleize
          %span.saved.label.abs-label
            %span.fa.fa-check
            = t('header.saved')
      - else
        %a.save-scenario-as.disabled{ href: '#', data: { dylink: new_saved_scenario_path(scenario_id: ':scenario_id', title: Current.setting.active_scenario_title) } }
          = t('header.save_scenario_as').titleize
    - else
      %a.sign-in-to-save.disabled{ href: sign_in_path }
        = t('header.save_scenario').titleize
    .dropdown<>
      %button.scenario-actions#scenario-actions-button{ aria: { expanded: 'false' }, data: { toggle: 'dropdown' }, disabled: true, type: 'button' }
        = t('header.actions')
        %span.fa.fa-caret-down
      %ul.dropdown-menu.dropdown-menu-right{ 'aria-labelledby': 'scenario-actions-button' }
        - if current_user
          %li
            %a.dropdown-item.save-scenario-as-inline{ href: '#', data: { dylink: new_saved_scenario_path(scenario_id: ':scenario_id', title: Current.setting.active_scenario_title) } }
              = succeed '&hellip;'.html_safe do
                = t("header.save_scenario_as")
        - else
          %a.dropdown-item.disabled{ href: sign_in_path }
            = succeed '&hellip;'.html_safe do
              = t("header.save_scenario_as")
        %li
          %a.dropdown-item.reset-scenario{ href: scenario_confirm_reset_path}
            = t("header.reset_scenario")
        - if export_scenario_enabled?
          %li
            %a.dropdown-item{ href: export_scenario_path(Current.setting.api_session_id) }
              = t('header.export_scenario')

        - if current_user&.admin?
          %li.sep-above
            %a.dropdown-item{ href: "#", target: "_blank", data: { dylink: ':etengine' } }
              = t('header.open_in_etengine')
    - if Current.setting.coupling
      .dropdown#dropdown-coupling<>
        %button.scenario-actions#scenario-coupling-button{ aria: { expanded: 'false' }, data: { toggle: 'dropdown' }, disabled: true, type: 'button' }
          :plain
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" viewBox="0 0 640 512">
              <path d="M579.8 267.7c56.5-56.5 56.5-148 0-204.5c-50-50-128.8-56.5-186.3-15.4l-1.6 1.1c-14.4 10.3-17.7 30.3-7.4 44.6s30.3 17.7 44.6 7.4l1.6-1.1c32.1-22.9 76-19.3 103.8 8.6c31.5 31.5 31.5 82.5 0 114L422.3 334.8c-31.5 31.5-82.5 31.5-114 0c-27.9-27.9-31.5-71.8-8.6-103.8l1.1-1.6c10.3-14.4 6.9-34.4-7.4-44.6s-34.4-6.9-44.6 7.4l-1.1 1.6C206.5 251.2 213 330 263 380c56.5 56.5 148 56.5 204.5 0L579.8 267.7zM60.2 244.3c-56.5 56.5-56.5 148 0 204.5c50 50 128.8 56.5 186.3 15.4l1.6-1.1c14.4-10.3 17.7-30.3 7.4-44.6s-30.3-17.7-44.6-7.4l-1.6 1.1c-32.1 22.9-76 19.3-103.8-8.6C74 372 74 321 105.5 289.5L217.7 177.2c31.5-31.5 82.5-31.5 114 0c27.9 27.9 31.5 71.8 8.6 103.9l-1.1 1.6c-10.3 14.4-6.9 34.4 7.4 44.6s34.4 6.9 44.6-7.4l1.1-1.6C433.5 260.8 427 182 377 132c-56.5-56.5-148-56.5-204.5 0L60.2 244.3z"/>
            </svg>
          = t('header.coupled')
          %span.fa.fa-caret-down
        %ul.dropdown-menu.dropdown-menu-right.coupling{ 'aria-labelledby': 'scenario-couplings-button' }
          %li
            .dropdown-item.text
              = t('header.has_been_coupled')
          %li
            %a.dropdown-item.external{ href: "https://docs.energytransitionmodel.com/main/external-coupling", target: "_blank"}
              = t('header.coupled_docs')

          %li.sep-above
            %a.dropdown-item.uncouple-scenario{ href: "#", data: { dylink: confirm_uncouple_scenario_path(Current.setting.api_session_id) } }
              = t("header.uncouple_scenario")
