#scenario-nav
  .scenario-info
    - if Current.setting.active_scenario?
      %span.region.region-flag{ class: Current.setting.area_code }
        = current_area_name
      %span.year
        = Current.setting.end_year
      - if Current.setting.active_scenario_title.present?
        - if active_saved_scenario_id.present?
          = link_to(my_etm_path("saved_scenarios/#{active_saved_scenario_id}")) do
            %span.name
              = Current.setting.active_scenario_title
        - else
          %span.name
            = Current.setting.active_scenario_title
    - else
      %span.region.region-flag== #{t('scenario_nav.loading')}&hellip;
      %span.year
  %div
    - if current_user
      - if save_scenario_enabled?
        %button.save-scenario{ data: { path: saved_scenario_path(active_saved_scenario_id) }, disabled: true, type: 'button' }
          %span.main.label.show= t('header.save_scenario').titleize
          %span.saved.label.abs-label
            %span.fa.fa-check
            = t('header.saved')
      - else
        %a.save-scenario-as.disabled{ href: '#', data: { dylink: new_saved_scenario_path(scenario_id: Current.setting.api_session_id, title: Current.setting.active_scenario_title) } }
          = t('header.save_scenario_as').titleize
    - else
      %a.sign-in-to-save.disabled{ href: sign_in_path }
        = t('header.save_scenario').titleize
    .dropdown<>
      %button.scenario-actions#scenario-actions-button{ aria: { expanded: 'false' }, data: { toggle: 'dropdown' }, disabled: true, type: 'button' }
        = t('header.actions')
        %span.fa.fa-caret-down
      %ul.dropdown-menu.dropdown-menu-right{ 'aria-labelledby': 'scenario-actions-button' }
        - if current_user
          %li
            %a.dropdown-item.save-scenario-as-inline{ href: '#', data: { dylink: new_saved_scenario_path(scenario_id: Current.setting.api_session_id, title: Current.setting.active_scenario_title) } }
              = succeed '&hellip;'.html_safe do
                = t("header.save_scenario_as")
        - else
          %a.dropdown-item.disabled{ href: sign_in_path }
            = succeed '&hellip;'.html_safe do
              = t("header.save_scenario_as")
        %li
          %a.dropdown-item.reset-scenario{ href: scenario_confirm_reset_path}
            = t("header.reset_scenario")
        - if export_scenario_enabled?
          %li
            %a.dropdown-item{ href: export_scenario_path(Current.setting.api_session_id) }
              = t('header.export_scenario')

        - if current_user&.admin?
          %li.sep-above
            %a.dropdown-item{ href: "#", target: "_blank", data: { dylink: ':etengine' } }
              = t('header.open_in_etengine')
    - if Current.setting.coupling
      .dropdown#dropdown-coupling<>
        %button.scenario-actions#scenario-coupling-button{ aria: { expanded: 'false' }, data: { toggle: 'dropdown' }, disabled: true, type: 'button' }
          - if Current.setting.active_couplings.present?
            = inline_svg_tag 'icons/link-solid.svg'
            = t('header.coupled')
          - else
            = inline_svg_tag 'icons/link-slash-solid.svg'
            = t('header.uncoupled')
          %span.fa.fa-caret-down
        %ul.dropdown-menu.dropdown-menu-right.coupling{ 'aria-labelledby': 'scenario-couplings-button' }
          %li
            .dropdown-item.text
              = t('header.has_been_coupled')
          %li
            %a.dropdown-item.external{ href: "https://docs.energytransitionmodel.com/main/external-coupling", target: "_blank"}
              = t('header.coupled_docs')
          - if Current.setting.active_couplings&.any? { |coupling| COUPLING_GROUP_LABELS.key?(coupling) }
            %li.sep-above.category
              = t('header.coupled_groups')
            - Current.setting.active_couplings.each do |coupling|
              - if COUPLING_GROUP_LABELS.key?(coupling)
                %li
                  .dropdown-item.text
                    = inline_svg_tag 'icons/link-solid.svg'
                    = COUPLING_GROUP_LABELS[coupling]
          - if Current.setting.inactive_couplings.present?
            %li.sep-above.category
              = t('header.uncoupled_groups')
            - Current.setting.inactive_couplings.each do |coupling|
              - if COUPLING_GROUP_LABELS.key?(coupling)
                %li
                  .dropdown-item.text
                    = inline_svg_tag 'icons/link-slash-solid.svg'
                    = COUPLING_GROUP_LABELS[coupling]
          %li.sep-above
            %a.dropdown-item.coupling-settings{ href: "#", data: { dylink: coupling_settings_scenario_path(Current.setting.api_session_id) } }
              = inline_svg_tag 'hero/20/cog.svg'
              = t('header.coupling_settings')
