#settings_menu.header_menu
  .menu_arrow
  %ul
    - if has_active_scenario?
      %li
        #flag= current_area_info
        #{t "header.current_country"}:
      %li
        #year= Current.setting.end_year
        #{t "header.current_end_year"}:

    - if Current.setting.scaling
      %li.scaling= scaling_summary

    %li.language
      #{t "header.current_language"}:
      = language_select

    - if current_user
      %li
        = link_to t("header.my_profile"), edit_user_path(current_user)

    %li
      %a.load{:href => scenarios_path}= t("header.load_scenario")
      - if has_active_scenario?
        %a.save{:href => new_scenario_path}= t("header.save_scenario")
        %a#reset_scenario{:href => scenario_reset_path}= t("header.reset_scenario")

    %li.sep
      = link_to t("header.scenario_report"), report_path(:main)
      = link_to t("header.show_graph"), '#', target: "_blank", id: "show_graph", class: 'wait', data: { url: et_engine_graph_url }

    - if controller_name != 'pages' && has_active_scenario?
      %li.sep
      - if current_scenario_scaled?
        %li.scenario_option
          = link_to t('header.save_and_enter_testing_ground'), testing_grounds_path, target: "_blank", method: :post
      %li.scenario_option
        = link_to t('header.scale_scenario'), scaled_path
      %li.sep

      - if Current.setting.use_peak_load
        %li.scenario_option
          = check_box :track_peak_load, :settings,
            :onchange => 'App.settings.toggle_peak_load_tracking()',
            :checked => Current.setting.track_peak_load
          %label{:for => "track_peak_load_settings"}
            = t 'header.notify_of_grid_investments'

      - if Current.setting.allow_fce?
        %li.scenario_option
          = check_box :settings, :use_fce, :checked => Current.setting.use_fce
          %label{:for => "settings_use_fce"}= t('fce.check')

      - if Current.setting.allow_merit_order?
        %li.scenario_option
          = check_box :settings, :use_merit_order, :checked => Current.setting.use_merit_order
          %label{:for => "settings_use_merit_order"}= t('header.merit_order_check')

      - if params[:debug]
        %li
          %form{:action => 'http://beta.et-engine.com/mechanical_turk/factory', :method => 'post', :target => '_blank', :id => 'turkit'}
            %input#last_api_response{:type => 'hidden', :name => 'json_data'}
            = submit_tag "Turk it"
