#settings_menu.header_menu
  .menu_arrow
  %ul
    - if has_active_scenario?
      %li
        #flag= current_area_info
        #{t "header.current_country"}:
      %li
        #year= Current.setting.end_year
        #{t "header.current_end_year"}:
      %li
        #{t "header.current_scenario"}:
        %div= Current.setting.active_scenario_title

    - if Current.setting.scaling
      %li.scaling= scaling_summary

    %li.language
      #{t "header.current_language"}:
      = language_select

    %li
      - if has_active_scenario?
        - if save_scenario_enabled?
          %button.save-scenario.as-link.disabled{ data: { path: scenario_path(active_saved_scenario_id) } }
            = t('header.save_scenario')

        %a.save-as.disabled{ href: '#', data: { path: new_saved_scenario_path(scenario_id: ':scenario_id') } }
          = t("header.save_scenario_as")

        %a#reset_scenario.disabled{ href: scenario_reset_path, data: { confirm: t('header.reset_scenario_confirm') } }
          = t("header.reset_scenario")

    - if controller_name != 'pages' && has_active_scenario?
      %li.sep
      %li.scenario_option
        = link_to t('header.scale_scenario'), scaled_path, class: 'disabled'
      - if params[:debug]
        %li.sep
        %li
          %form{:action => 'http://beta.et-engine.com/mechanical_turk/factory', :method => 'post', :target => '_blank', :id => 'turkit'}
            %input#last_api_response{:type => 'hidden', :name => 'json_data'}
            = submit_tag "Turk it"

    - if current_user&.admin?
      %li.admin.sep
        %a(href="/admin") Admin
      %li.admin
        %a.engine(href="" target="_blank") Open in ETEngine
