#sidebar
  - @interface.tabs.each do |tab|
    - klass = 'active' if @interface.current_tab == tab
    %h4{class: klass}= I18n.t "tabs.#{tab.key}"
    %ul{style: ("display: none;" unless @interface.current_tab == tab)}
      - tab.allowed_sidebar_items.each do |item|
        %li{:id => item.key,
            :class => (@interface.current_sidebar_item == item) ? 'active' : nil,
            :'data-gquery' => item.percentage_bar_query}
          = link_to tab_path(:tab => tab.key, :sidebar => item.key),
            :'data-nav' => true do
            %p
              %span.title
                = raw t("sidebar_items.#{item.key}.short_name")
              - if item.percentage_bar_query.present?
                %span.bar{:alt => t('sidebar_items.alt'), :style => "width: 0px"}
                %span.value
