.sign-in-menu
  - @user_session = UserSession.new
  = simple_form_for(@user_session) do |f|
    = f.error_messages
    = f.input :email
    = f.input :password
    .input= link_to t('header.password_reset'), new_password_reset_path
    = f.input :remember_me, as: :boolean, input_html: { checked: true }

    = f.submit 'Login', class: 'button primary'

    %span.or= t("or")
    = link_to t("header.create_account"), new_user_path, class: 'button'
