#title
  %h2
    = raw t("sidebar_items.#{@interface.current_sidebar_item.key}.long_name")
    %a.button.fancybox{ href: @interface.tab_info_path }<>
      %span.info-icon<>
      = raw t("header.information")

    - if @interface.current_tutorial_movie
      %a.button.fancybox{:href => @interface.tutorial_movie_path, :title => "Tutorial"}<>
        %span.tutorial-icon<>
        Tutorial

    %a.button.overview{:href => '#'}
      %span.icon-sitemap
      = t 'header.overview'
    %a.button.add_chart.fancybox{:href => output_elements_path}
      %span.icon-signal
      = t 'header.add_chart'
