-# DEBT ugly
- if title = PageTitle.for_page(controller.controller_name, params[:id]).first
  - description = @active_sidebar.try(:description) || title.description
  #title
    - if current_tutorial_movie
      %a.tutorial_button{ :href => "/tutorial/#{params[:controller]}/#{params[:id]}",:alt=>"Tutorial",:title=>"Tutorial"}
        .button_left_movie
        .button_center
          %span= t("tutorial.button")
        .button_right
    %h2= raw I18n.t("pagetitle.#{to_yml_syntax(title.title)}")
    %p#content_short.visible
      %span= raw description.try(:short_content)
      %a#read_more{:href => '#'}= I18n.t("pagetitle.readmore")
    %p#content_long.hidden
      %span= raw description.try(:content)
      %a#read_less{:href => '#'}= I18n.t("pagetitle.hidetext")
