#round-selector
  = radio_button_tag :current_round, 1, Current.setting.current_round.to_i == 1
  Ronde 1
  %br
  = radio_button_tag :current_round, 2, Current.setting.current_round.to_i == 2
  Ronde 2
  %br
  = radio_button_tag :current_round, 3, Current.setting.current_round.to_i == 3
  Ronde 3
  %br
  = link_to 'disable', '/wattnu_off'

:javascript
  $(function(){
     $("#round-selector input").change(function(){
      var round = $(this).val();
      App.settings.set({current_round: round});
      targets.update_score_badges();
     });

     // initial trigger
     var current_round = #{Current.setting.current_round.to_json};
     App.settings.set({current_round: current_round});
     targets.update_score_badges();
  });

