%h2 Descriptions

%h2 This descriptions interface is totally deprecated. You should rather edit the objects you want to describe.
%p= link_to 'Create new descriptions', new_admin_description_path

%table.default.autostripe
  %thead
    %tr
      %th Id
      %th Describable
      %th

  %tbody
    - @descriptions.each do |d|
      %tr{cycles}
        %td= d.id
        %td
          = d.describable_type
          = d.describable_id
        %td= link_to "Edit", edit_admin_description_path(d)
  %tfoot
    %tr
      %td{:colspan => 3}
        = paginate @descriptions
