%h1= @output_element.name

%table.default.autostripe
  %thead
    %tr
      %th.tal id
      %th.tal label
      %th.tal color
      %th.tal is_target_line

  %tbody
    -@output_element.output_element_series.each do |serie|
      %tr
        %td= serie.id
        %td= link_to serie.label, admin_output_element_serie_path(serie)
        %td= serie.color
        %td= serie.is_target_line

%p
  = link_to 'Create new serie', new_admin_output_element_serie_path
