- @scenarios.each do |scenario|
  %tr{:class => cycle('even', 'odd')}
    %td= check_box_tag 'scenario_ids[]', scenario.id
    %td= link_to scenario.title, "/scenarios/#{scenario.id}"
    %td= scenario.end_year
    %td= scenario.parsed_created_at.andand.strftime("%d %b %H:%M")
    - if scenario.created_at.to_date < Date.parse("2012-8-28")
      %td= link_to t('scenario.load'), load_scenario_path(scenario), :confirm => t("scenario.warning")
    - else
      %td= link_to t('scenario.load'), load_scenario_path(scenario)
%tr#scenario_paginator
  %td{:colspan => 5}= link_to_next_page @saved_scenarios, 'More...', :remote => true
