- @saved_scenarios.each do |ss|
  - if ss.loadable?
    %tr
      %td.box= check_box_tag 'scenario_ids[]', ss.scenario_id
      %td.info
        = link_to ss.title, ss
        = t('areas.' + ss.area_code)
        = ss.end_year
        .by
          #{ss.user.name},
          = t('scenario.updated')
          = I18n.localize(ss.updated_at, :format => :long)

  - elsif current_user.admin?
    %tr.unavailable
      %td.box= check_box_tag 'scenario_ids[]', -1, false, disabled: true
      %td.info
        = ss.title
        == (#{ss.scenario_id})
        &ndash;
        = t('scenario.area_not_exists')
        (#{ss.area_code})
        .by
          = ss.user.email
          = t('scenario.updated')
          = I18n.localize(ss.updated_at, :format => :long)
%tr#scenario_paginator
  %td
  %td= link_to_next_page @saved_scenarios, 'More...', remote: true
