- if !ETModel::Version.prerelease? && scenario.updated_at && scenario.updated_at < ETModel::Version::DATE
  .version-warning
    = previous_version_scenario_warning(scenario, ETModel::Version::DATE)
    %details
      %summary= t('scenario.warning.effect')
      %dl
        %dt= t('scenario.warning.slider_changes_header')
        %dd= t('scenario.warning.slider_changes_explanation')
        %dt= t('scenario.warning.outcomes_header')
        %dd= t('scenario.warning.outcomes_explanation')
    .links
      = link_to("#{t('scenario.warning.view_releases')} →", releases_url, target: '_blank', rel: 'noopener noreferrer')
