.scenario_wrapper
  %h3= link_to  t("scenario.link"), new_scenario_path
  = form_tag compare_scenarios_path, method: 'get' do
    %h3= t("scenario.saved")
    = submit_tag t('scenario.compare')
    = submit_tag t('scenario.merge'), name: 'merge'
    = submit_tag t('scenario.local_vs_global'), name: 'combine'
    %table.default
      %thead
        %tr
          %th= t 'scenario.compare'
          %th.tal{:width => 450}= t("scenario.title")
          %th.tal{:width => 80}= t("scenario.end_year")
          %th.tal= t("scenario.created")
          %th.tal= t("scenario.created_by")
      %tbody
        = render 'scenarios_slice'
