%h3= link_to  t("scenario.link"), new_scenario_path

%br
%h3= t("scenario.saved")
%table.default
  %thead
    %tr
      %th.tal{:width => 450}= t("scenario.title")
      %th.tal{:width => 80}= t("scenario.end_year")
      %th.tal= t("scenario.created")
      %th
  %tbody
    - @scenarios.each do |scenario|
      %tr{:class => cycle('even', 'odd')}
        %td= link_to scenario.title, "/scenarios/#{scenario.id}"
        %td= scenario.end_year
        %td= scenario.parsed_created_at.andand.strftime("%d %b %H:%M")
        - if scenario.created_at.to_date < Date.parse("2012-8-28")
          %td= link_to t('scenario.load'), load_scenario_path(scenario), :confirm => t("scenario.waring_old")
        - else
          %td= link_to t('scenario.load'), load_scenario_path(scenario)
    %tr
      %td{:colspan => 4}= paginate @saved_scenarios