- content_for(:page_title) { "#{@scenario.title} - #{t('meta.name')}" }

.background_wrapper#saved_scenario
  .scenario_wrapper#show_scenario
    .internal-box
      %h1
        = @scenario.title ? format_subscripts(@scenario.title) : @scenario.id

      %ul.details.last
        %li
          = area_flag(@scenario.area_code)
          %strong
            = t "areas.#{@scenario.area_code}"
            = @scenario.end_year
        - if @scenario.created_at
          %li
            = t('scenario.created')
            = I18n.localize(@scenario.created_at.to_date, :format => :long)
        %li.with-button
          = link_to t("scenario.load"), load_scenario_path(@scenario), class: "scenario-button button load no-margin-right"

      .bar

      - if warning_for(@scenario)
        .inner-alert
          .fa.fa-exclamation-triangle
          = t("scenario.dataset_warning.desc")
          %a{href: releases_url, target: '_blank', rel: 'noopener noreferrer'}= t("scenario.dataset_warning.learn_more")

      - if @scenario.description
        = formatted_scenario_description(@scenario.description)

      %p.note
        = t("scenario.overwritten").html_safe


      = render partial: 'scenarios/version_warning', locals: { scenario: @scenario }
