.scenario_wrapper#show_scenario

  - if @warning
    .warning
      = @warning

  %h1= @scenario.title.nil? ? t('scenario.no_title').truncate(40, separator: ' ') : @scenario.title.truncate(40, separator: ' ')

  = link_to t("scenario.load"), load_scenario_path(@scenario), class: "button primary"

  - if @scenario.description
    %em= formatted_scenario_description(@scenario.description)

  %ul
    - if @scenario.created_at
      %li
        %strong #{t('scenario.created')}:
        = I18n.localize(@scenario.parsed_created_at, :format => :long)
    %li
      %strong #{t('scenario.area_code')}:
      = t "areas.#{@scenario.area_code}"
    %li
      %strong #{t('scenario.end_year')}:
      = @scenario.end_year

  %p
    %small{:style => "font-size: 12px; font-weight: normal"}
      = t("scenario.overwritten")
