- content_for(:page_title) { "#{@scenario.title} - #{t('meta.name')}" }

.scenario_wrapper#show_scenario

  - if @warning
    .warning
      = @warning

  %h1= @scenario.title ? @scenario.title : @scenario.id

  %ul.details
    %li
      %strong #{t('scenario.created')}:
      = I18n.localize(@scenario.parsed_created_at, :format => :long)
    %li
      %strong #{t('scenario.area_code')}
      = t "areas.#{@scenario.area_code}"
    %li
      %strong #{t('scenario.end_year')}
      = @scenario.end_year

  = link_to t("scenario.load"),
      load_scenario_path(@scenario),
      class: "button primary"

  - if @scenario.protected?
    = link_to t("scenario.load_factsheet"),
        factsheet_scenario_path(@scenario.id),
        class: "button"

  - if @scenario.description
    %em= formatted_scenario_description(@scenario.description)

  - if @scenario.protected?
    = render partial: 'share_links', locals: { scenario: @scenario }

  %p
    %small{:style => "font-size: 12px; font-weight: normal"}
      = t("scenario.overwritten")
