.scenario_wrapper#show_scenario
  %h1= @scenario.title.nil? ? t('scenario.no_title') : @scenario.title

  - if @scenario.description
    - localized = @scenario.description_for_locale(I18n.locale)
    - text = localized.present? ? localized : @scenario.description
    %em= raw text

  %ul
    - if @scenario.created_at
      %li
        %strong #{t('scenario.created')}:
        = I18n.localize(@scenario.parsed_created_at, :format => :long)
    %li
      %strong #{t('scenario.area_code')}:
      = t @scenario.area_code
    %li
      %strong #{t('scenario.end_year')}:
      = @scenario.end_year

  - if @scenario.created_at && @scenario.days_old > 31
    = link_to t("scenario.load"), load_scenario_path(@scenario), class: "button primary", style: "margin: 40px;", :confirm => t("scenario.warning")
  - else
    = link_to t("scenario.load"), load_scenario_path(@scenario), class: "button primary", style: "margin: 40px;"

  %p
    %small{:style => "font-size: 12px; font-weight: normal"}
      = t("scenario.overwritten")
