- content_for(:page_title) { "#{@scenario.title} - #{t('meta.name')}" }
= render "layouts/banner"

.background_wrapper#saved_scenario
  .scenario_wrapper#show_scenario

    %h1
      = @scenario.title ? format_subscripts(@scenario.title) : @scenario.id

    %ul.details
      %li
        = area_flag(@scenario.area_code)
        %strong
          = t "areas.#{@scenario.area_code}"
          = @scenario.end_year
      - if @scenario.created_at
        %li
          = t('scenario.created')
          = I18n.localize(@scenario.created_at.to_date, :format => :long)

    .bar

    = link_to t("scenario.load"),
        load_scenario_path(@scenario),
        class: "scenario-button button load"

    - if @scenario.description
      = formatted_scenario_description(@scenario.description)

    = render partial: 'scenarios/version_warning', locals: { scenario: @scenario }

    .actions
      = link_to t("scenario.load_energy_mix"),
        energy_mix_scenario_path(@scenario.id)

    = render partial: 'share_links', locals: { scenario: @scenario }

    %p.note
      = t("scenario.overwritten")
