= back_to_model_link

%h3 Scenario #{@scenario.title}
%h3
  %small
    = t("scenario.created")
    == #{@scenario.created_at.strftime("%d/%m/%Y %H:%M")}


%h2
  = link_to t("scenario.load"), load_scenario_path(@scenario)
  %small{:style => "font-size: 12px; font-weight: normal"}
    (
    = t("scenario.overwritten")
    = link_to t("scenario.save_first"), new_scenario_path
    = t("scenario.go_back")
    )
    = link_to t("scenario.overview"), scenarios_path
%p
  %pre= @scenario.description
