#page_wrapper
  %h1= @scenario.title.nil? ? t('scenario.no_title') : @scenario.title

  - if @scenario.description
    - localized = @scenario.description_for_locale(I18n.locale)
    - text = localized.present? ? localized : @scenario.description
    %em= raw text

  %ul
    - if @scenario.created_at
      %li
        %strong #{t('scenario.created')}:
        = I18n.localize(@scenario.parsed_created_at, :format => :long)
    %li
      %strong #{t('scenario.area_code')}:
      = t @scenario.area_code
    %li
      %strong #{t('scenario.end_year')}:
      = @scenario.end_year

  - if @scenario.created_at.to_date < Date.parse("2012-8-28")  
    = link_to t("scenario.load"), load_scenario_path(@scenario), class: "button", style: "margin: 40px;", :confirm => t("scenario.waring_old")
  - else
    = link_to t("scenario.load"), load_scenario_path(@scenario), class: "button", style: "margin: 40px;"
    
  %p
    %small{:style => "font-size: 12px; font-weight: normal"}
      = t("scenario.overwritten")
      = link_to t("scenario.save_first"), new_scenario_path
      = t("scenario.go_back")
      = link_to t("scenario.overview"), scenarios_path
      = "."