- if @history.empty?
  .empty-state
    %h4= t('scenario.history.empty')
- else
  .back-to-scenario-view
    = link_to saved_scenario_path(@saved_scenario), remote: true, class: 'stick-right' do
      .fa.fa-times.tooltip{ title: t("scenario.close_version_history") }
  %h3= t('scenario.history.title')
  %p.history-description= t('scenario.history.description')
  .history
    - @history.each_with_index do |version, index|
      .row.box{ id: "scenario-version-#{version['scenario_id']}", style: "animation-delay: #{index/3.0}s"}
        = link_to load_scenario_path(version['scenario_id']), class: 'main-info' do
          .fa.fa-circle
          %span= version['user']
          = t('last_ago', when: time_ago_in_words(version['last_updated_at']))
        - unless version['frozen']
          .desc-box
            .description
              - if version['description'].present?
                = version['description']
              - else
                %em= t('scenario.no_description')
            .description-field{style: 'display: none'}
              %textarea{placeholder: t('scenario.add_description')}
                = version['description']
            :javascript
              new ScenarioHistoryView({
                el: $("#scenario-version-#{version['scenario_id']}"),
                id: "#{version['scenario_id']}",
                url: "#{saved_scenario_history_path(@saved_scenario)}"
              }).render();
        - if (@saved_scenario.collaborator?(current_user) || current_user&.admin?)
          %ul.details
            %li.scenario-version.stick-right
              %ul
                - unless version['frozen']
                  %li.edit-description.fa.fa-pencil.tooltip{ title: t("scenario.edit_description") }
                - unless version['scenario_id'].to_i == @saved_scenario.scenario_id
                  -# %li
                  -#   = link_to load_scenario_path(version['scenario_id']) do
                  -#     .fa.fa-window-restore.tooltip{ title: t("scenario.open") }
                  - if current_user&.admin? || @saved_scenario.owner?(current_user)
                    %li.restore-version.fa.fa-history.tooltip{ title: t("scenario.restore"), data: {url: confirm_restore_saved_scenario_path(@saved_scenario, saved_scenario: { scenario_id: version['scenario_id']})} }

            - unless version['frozen']
              %li.control.stick-right
                %ul
                  %li.submit-description.green.fa.fa-check.tooltip{ title: t("save") }
                  %li.cancel-description.red.fa.fa-times.tooltip{ title: t("scenario.cancel") }

