
%div{:style => "width: 60%"}
  -semantic_form_for [:admin, @prediction_value] do |form|

    = form.inputs :year, :min, :best, :max
    = form.select :prediction_id, Prediction.all.map{|x| ["#{x.id} - #{x.input_element.name} (#{x.input_element.id}) - #{x.user.name} ",x.id]},:label => 'Prediction'
    = form.buttons

  = link_to "back", admin_predictions_path

