- vertical_grid_lines = 5
- horizontal_grid_lines = 5
- blocks = output_element.allowed_output_element_series

#blockchart
  #canvas_container
    #canvas
      %ul#x-grid
        - horizontal_grid_lines.times do
          %li{:style => "width: #{(100.0/horizontal_grid_lines).round(1)}%"}
      %ul#y-grid
        - vertical_grid_lines.times do
          %li{:style => "height: #{(100.0/vertical_grid_lines).round(1)}%"}
      %ul#x-axis
        - horizontal_grid_lines.times do |int|
          %li{:id => "xtick_#{int}",:style => "width: #{(100.0/horizontal_grid_lines).round(1)}%"}
      %ul#y-axis
        - vertical_grid_lines.times do |int|
          %li{:id => "ytick_#{int}", :style => "height: #{(100.0/vertical_grid_lines).round(1)}%"}

      #y-axis-label{:style => "background-image: url(/assets/layout/euro_per_mwh_#{I18n.locale}.gif)"} EUR/MWhe
      #x-axis-label= t("output_elements.block_chart.total_investment_cost_of_production")

      - blocks.each do |block|
        - show_or_not = session["block_#{block.id}"]
        - show_or_not ||= block.show_at_first ? 'visible' : 'invisible'
        .block_container{:class => show_or_not, :id => "block_container_#{block.id}", :data => {:block_id => block.id}}
          .block{:id => "block_#{block.id}"}
            .header{:class => block.group.downcase}= t("output_element_series.#{block.label}")
            .content
              %h4= t("output_element_series.#{block.label}")
              %p= block.description.short_content
              = link_to t('output_elements.block_chart.read_more'),
                "/descriptions/#{block.description.andand.id}", :class => 'fancybox'
          .balloon-tip

%ul#block_list
  - blocks.group_by(&:group).each do |group, blocks|
    %li.group
      %input.block_list_checkbox{:type => "checkbox", :id => "block_list_checkbox_#{group}"}
      %ul.group{:id => group}
        - blocks.each do |b|
          %li
            - show_or_not = session["block_#{b.id}"]
            - show_or_not ||= b.show_at_first ? 'visible' : 'invisible'

            %a.show_hide_block{:href=>'#', :class => show_or_not, :id => "show_hide_block_#{b.id}", :data => {:block_id => b.id}}
              = t("output_element_series.#{b.label}")
      = link_to t("output_element_series.groups.#{group}"), "#"

