%h3= raw t("output_elements.#{@output_element.key}")
= render "output_elements/output_element_actions"
#charts_container
  #chart_not_finished
  #current_chart
= javascript_include_tag output_element_path(:id => @output_element, :format => 'js')
= render 'output_elements/table_template'
