%h3= raw t("output_elements.#{@output_element.key}")
#charts_container
  = render "output_elements/output_element_actions"
  - if @output_element.under_construction
    #chart_not_finished
  #current_chart.column-r-content
= javascript_include_tag output_element_path(:id => @output_element, :format => 'js')
= render 'output_elements/table_template'
