:ruby
  holder_class = chart ? nil : 'hidden'
  info_url = chart ? "/descriptions/charts/#{chart.id}" : "#"
  pin_class = chart.try(:id) == Current.setting.send(dom_id) ? 'active' : nil

.chart_holder{:data => {:holder_id => dom_id}, :class => holder_class}
  %h3= raw t("output_elements.#{chart.key}") if chart
  .output_element_actions
    %a.chart_info.tooltip.fancybox{:href  => info_url, :title => "info"} ?

    %a.select_chart.tooltip{:href => "/output_elements?holder=#{dom_id}",
      :title => t("output_elements.common.change_chart")}
      = t "output_elements.common.change_chart"

    - if main # secondary chart doesn't need this
      %a.default_charts.tooltip{:href => "#",
        :title => t("output_elements.common.back_to_default")}
        = t "output_elements.common.back_to_default"

    %a.table_format.tooltip{:href => '#',
      :title => t("output_elements.common.table")}
      = t "output_elements.common.table"

    %a.chart_format.tooltip{:href => '#',
      :title => t("output_elements.common.chart")}
      = t "output_elements.common.chart"

    %a.pin_chart.tooltip{:href => '#',
      :title => t("output_elements.common.pin"),
      :class => pin_class}
      = t "output_elements.common.pin"

    - if main && !@secondary_output_element # ugly
      %a.add_secondary_chart.select_chart.tooltip{:href => "/output_elements?holder=secondary_chart",
        :title => "Add another chart"} add
  .charts_container
    .chart_not_finished
    .chart_canvas{:id => dom_id}
  - if chart
    :javascript
      charts.load(#{chart.id}, "#{dom_id}")
