<script type="text/template" id="chart-holder-template">
  <div class="chart_holder" data-holder_id="<%%= holder_id %>">
    <%% if (header !== false) { %>
      <header>
        <h3><%%= title %></h3>
        <div class="actions" style="display: none">

          <%% if (holder_id != window.charts.default_holder) { %>
          <a class="remove_chart tooltip fa fa-times"
             href="#"
             title="<%= t 'output_elements.tooltips.remove' %>"></a>
          <%% } %>

          <a class="zoom_chart tooltip fa fa-arrows-alt"
             href="/output_elements/<%%= chart_id %>/zoom"
             title="<%= t 'output_elements.tooltips.zoom' %>"></a>

          <a class="lock_chart tooltip"
             href="#"
             title="<%= t 'output_elements.tooltips.lock' %>"></a>

          <a class="chart_to_image tooltip fa fa-camera"
             href="#"
             title="<%= t 'output_elements.tooltips.save_as_image' %>"></a>

          <a class="chart_format tooltip fa fa-bar-chart-o"
             href="#"
             title="<%= t 'output_elements.tooltips.chart' %>"></a>

          <a class="table_format tooltip fa fa-table"
             href="#"
             title="<%= t 'output_elements.tooltips.table' %>"></a>

          <a class="download_csv tooltip fa fa-download"
             href="#"
             data-holder-id="<%%= holder_id %>"
             title="<%= t 'output_elements.tooltips.download_csv' %>"></a>

          <a class="default_chart tooltip fa fa-home"
             href="#"
             title="<%= t 'output_elements.tooltips.default' %>"></a>

          <a class="select_chart tooltip fa fa-pencil"
             href="<%= output_elements_path %>?holder=<%%= holder_id %>"
             title="<%= t 'output_elements.tooltips.change' %>"></a>

          <a class="chart_info tooltip fancybox fa fa-question"
             href="/descriptions/charts/<%%= chart_id %>"
             title="<%= t 'output_elements.tooltips.info' %>"></a>

          <a class="show_related tooltip"
             href="#"
             title="<%= t 'output_elements.tooltips.related' %>">
            <span class="toggle off">
               <%= t 'output_elements.tooltips.related_toggle'%>
            </span>
         </a>

          <a class="show_previous tooltip"
             href="#"
             title="<%= t 'output_elements.tooltips.previous' %>">
            <span class="toggle on">
               <%= t 'output_elements.tooltips.previous_toggle'%>
            </span>
         </a>

        </div>
      </header>
    <%% } %>
    <div class="charts_container">
      <div class="chart_not_finished"></div>
      <div class="chart_canvas" id="<%%= holder_id %>">
         <div class="loading"></div>
      </div>
    </div>
  </div>
</script>
