= javascript_include_tag 'application'

%h1 Receiving message from ETM
=form_tag nil, remote: true, id: 'receiver-form' do
  .group
    = label_tag :van_bebouwing
    = text_field_tag :van_bebouwing
  .group
    = label_tag "Niet bij bestaande turbines"
    = check_box_tag :first_boolean
  .group
    = label_tag "Ver van vliegvelden en radar"
    = check_box_tag :second_boolean
  .group
    = label_tag "Niet bij infrastructuur"
    = check_box_tag :second_boolean
  .group
    = label_tag "Buiten natuurgebieden"
    = check_box_tag :third_boolean
  .group
    = label_tag " Alleen in agrarisch gebied"
    = check_box_tag :fourth_boolean

%h1 sending message to ETM
=form_tag nil, remote: true, id: 'dummy-form' do
  .group
    =label_tag :result
    =text_field_tag(:result)
  =submit_tag "Update parent"


[Toon kaartlaag]
[Toon kaartlaag]


:javascript
  function setInputValues(inputName, value){
    var selector = '#receiver-form input[name=' + inputName +']'
    var el  = document.querySelector(selector)
    if(el.type == "checkbox") {
      el.checked = (value == 1 ? true : false)
    } else {
      el.value = value
    }
  }

  $(document).ready( function() {

    var ele = document.getElementById('dummy-form');
    ele.addEventListener('submit', function(event){
      var message = event.target.children[1].children[1].value
      window.parent
            .postMessage(message, "http://localhost:3000")
    }, false)

    function receiveMessage(event){
      message = event.data
      if(message["action"] === "updateForm"){
        delete message.action
        for (var key in message) { setInputValues(key, message[key]) }
      }

      else if(message["action"] === "someNotImplementedAction"){
        // do other stuff
      }
    }
    window.addEventListener("message", receiveMessage, false);
  });
