%table{table_defaults}
  %thead
    %tr
      %th= order @search, :by => :converter_id, :as => "ID" 
      %th= order @search, :by => :key, :as => "Key"
      %th= order @search, :by => :sector_id, :as => "Sector" 
      %th= order @search, :by => :use_id, :as => "Use" 
      - Group.all.each do |group|
        %th= link_to group.shortcut, admin_blueprint_group_path(@blueprint, group)
  %tbody
    - @blueprint_converters.each do |blueprint_converter|
      %tr{cycles}
        %td.tar== ##{blueprint_converter.id}
        %td= link_to blueprint_converter.name, edit_admin_blueprint_converter_path(blueprint_converter)
        %td= blueprint_converter.sector_key
        %td= blueprint_converter.use_key
        - Group.all.each do |group|
          %th{:class => blueprint_converter.group_ids.include?(group.id) ? "hasgroup" : 'hasnotgroup'}
            = group.shortcut
