.pico-form
  %h3 {{Kaartlaag}}
  %h3 {{Regio}}
  %h3 {{hoeveelheid windmolens}}
  .form
    =form_tag nil, remote: true, id: 'host-form' do
      Restricties plaats
      -#TODO: Move hardcoded label tags to translations.
      .group
        = check_box_tag :van_bebouwing_toggle
        = label_tag :van_bebouwing
        = number_field_tag :van_bebouwing
      .group
        = check_box_tag :existing_turbines_toggle
        = label_tag "Bij bestaande turbines"
      .group
        = check_box_tag :airodromes_and_radar_toggle
        = label_tag "ver van vliegvelden en radar"
      .group
        = check_box_tag :infrastructure_toggle
        = label_tag "Niet bij infrastructuur"
      .group
        = check_box_tag :nature_reserves_toggle
        = label_tag "Buiten natuurgebieden"
      .group
        = check_box_tag :only_agrarian_toggle
        = label_tag "Alleen in agratisch gebied"
      .group
        = submit_tag "Gereed", class: "modal__action--submit button"

%iframe#selframe{src: "https://pico.geodan.nl/pico/minimap/",
        title: "tweede",
        width: "700",
        sandbox: "allow-forms allow-scripts allow-same-origin",
        height: "500",
}

:javascript
  (function() {
    function receiveMessage(event){
      message = event.data
      if(message["action"] === "updateInlandWindTurbine"){
        embeddedPico.updateInlandWindTurbine(message)
      } else if(message["action"] === "someNotImplementedAction"){
        // whoops!
      }
    }
    window.addEventListener("message", receiveMessage, false);
  }())
