#active-content
  %h1 PICO

  .form
    =form_tag nil, remote: true, id: 'host-form' do
      .group
        = label_tag :van_bebouwing
        = number_field_tag :van_bebouwing
      .group
        = label_tag :first_boolean
        = check_box_tag :first_boolean
      .group
        = label_tag :second_boolean
        = check_box_tag :second_boolean
      .group
        = submit_tag

  %iframe#selframe{src: "http://localhost:3000/dummy",
          title: "tweede",
          width: "500",
          sandbox: "allow-forms allow-scripts allow-same-origin",
          height: "500",
  }
  %iframe#iframe2{src:"http://pico.geodan.nl/pico/minimap",
          title: "google",
          width: "500",
          height: "500" }

  %iframe#iframe{src: "http://pico.geodan.nl/pico/map.html",
          title: "tweede",
          width: "500",
          height: "500" }

:javascript
  $(document).ready( function() {
    var element = document.getElementById('host-form');

    element.addEventListener('submit', function(event){

      // Collect data from form
      var transformed_data = $("#host-form").serializeArray()
                                            .reduce(function(memo, item){
        memo[item.name] = item.value
        return memo
      }, {action: 'updateForm'} );

      // Send data to iframe
      document.getElementById("selframe")
              .contentWindow
              .postMessage(transformed_data, "http://localhost:3000")
    }, false)
  });
