#panel.panel.panel_tree
  .header
    %div
      -#%label#search-label{:for => 'search'} Search
      %table
        %tr
          %td
            %input#search{:'data-search_scope' => 'converters'}

  .tree
    = cache("data/#{params[:blueprint_id]}/#{params{:region_code}}/gql_test_cases/_list") do
      %ul    
        - GqlTestCase.all.each do |gql_test_case|
          %li.level_0{:'data-search' => [gql_test_case.id, gql_test_case.name].flatten.join(' ')}
            .content
              %h1
                %a{:href => data_gql_test_case_path(:id => gql_test_case)}
                  %span.id== ##{gql_test_case.id}
                  %span.key= gql_test_case.name
