= simple_form_for [:admin, @user] do |f|
  = f.input :name
  = f.input :email
  = f.input :password
  = f.input :password_confirmation
  = f.input :company_school
  = f.input :allow_news
  = f.input :heared_first_at
  = f.association :role
  = f.input :phone_number
  = f.input :group
  
  = f.button :submit