%h2 Users

%table
  %thead
    %tr
      %th Id
      %th Name
      %th Email
      %th
  %tbody
    - @users.each do |u|
      %tr
        %td= u.id
        %td= u.name
        %td= u.email
        %td
          = link_to 'show', [:admin, u]
          = link_to 'edit', edit_admin_user_path(u)
          = link_to 'delete', [:admin, u], :method => :delete, :confirm => 'Are you sure?'

%p= link_to 'new user', new_admin_user_path