%div{:style => "width: 60%"}
  = simple_form_for [:admin, @output_element_serie] do |f|
    = f.association :output_element
    = f.input :label
    = f.input :gquery, :hint => "This should be the key of your fantastic gquery! These can be found on the engine!"
    = f.input :color, :hint => "TODO: explain the colors or create a select box"
    = f.input :order_by, :hint => "Which serie should be first, second, etc .. ?"
    = f.input :group, :hint => "This is only used for mekko's and horizontal stacked bars. This groups series with the same group. e.g.: the series query the carrier, the group defines the sector"
    = f.input :short_label, :hint => "The label shown in the cost/block chart"
    = f.input :show_at_first, :hint => "Should the serie shown as default in the cost/block chart?"
    = f.input :is_target_line, :hint => "This sets a serie to be a target line and should be the last one of the series!! (a target line is the horizontal red line mostly used on barcharts )" 
    = f.input :target_line_position, :hint => "This should be filled in when is_target_line is true, should be 1 if you want it placed on top of the 1st serie, 2 for the 2nd, etc.."
    = f.simple_fields_for :description do |j|
      = j.input :short_content_en, :hint => "This is only used on the cost/block chart!"
      = j.input :short_content_nl, :hint => "This is only used on the cost/block chart!"
      = j.input :content_en, :hint => "This is only used on the cost/block chart!"
      = j.input :content_nl, :hint => "This is only used on the cost/block chart!"
    = f.button :submit
  
  = link_to "back", admin_output_element_series_path
