- title 'Output Element Series'

%p= link_to 'Create new serie', new_admin_output_element_serie_path

%table{table_defaults}
  %thead
    %tr
      %th.tal id
      %th.tal Tab
      %th.tal 
      %th.tal Result
      

  %tbody
    - @output_element_series.each do |output_element_serie|
      -if output_element_serie.output_element
        %tr{cycles}
          %td= output_element_serie.output_element.name
          %td= link_to output_element_serie.label, admin_output_element_serie_path(output_element_serie)
          %td= link_to 'edit', edit_admin_output_element_serie_path(output_element_serie)
          %td.tar= Current.gql.query(output_element_serie.key).present_value rescue nil
