%h2 Output Element Series

%p
  = form_tag admin_output_element_series_path, :method => :get do
    = label_tag :gquery, "Filter by gquery"
    = text_field_tag :gquery, params[:gquery]
    = submit_tag "Search"

  = link_to 'Create new serie', new_admin_output_element_serie_path

%table.default.autostripe
  %thead
    %tr
      %th.tal Label
      %th.tal output element
      %th.tal Gquery
      %th
      %th
  %tbody
    - @output_element_series.each do |s|
      - if s.output_element
        %tr
          %td= s.label
          %td= link_to s.output_element.key, [:admin, s.output_element]
          %td= highlight s.gquery, params[:gquery]
          %td= link_to 'Show/Edit', edit_admin_output_element_serie_path(s)
          %td= link_to "Destroy", [:admin, s],
            :data => {:confirm => 'Are you sure?'}, :method => :delete
