- title 'Output Element Series'

%p= link_to 'Create new serie', new_admin_output_element_serie_path

%table{table_defaults}
  %thead
    %tr
      %th.tal id
      %th.tal Tab
      %th.tal Gquery
      %th
      

  %tbody
    - @output_element_series.each do |s|
      -if s.output_element
        %tr{cycles}
          %td= s.output_element.name
          %td= link_to s.label, admin_output_element_serie_path(s)
          %td= s.gquery
          %td= link_to 'edit', edit_admin_output_element_serie_path(s)
