#transitionprice-intro
  - shadowbox do
    %h1=t('transition_prize.step1.create_your_account')
    %p=t('transition_prize.step1.description').html_safe
    = form_for(@user, :url => {:action => 'intro'}) do |f|
      = error_messages_for :user, :header_message => t("user.error_header"),:message=> t("user.error_message")
      %ul
        %li
          %label= f.label :name, t('user.name')
          = f.text_field :name
        %li
          %label= f.label :email, t('user.email')
          = f.text_field :email
        %li
          %label= f.label :phone_number, t('user.phone_number')
          = f.text_field :phone_number
        %li
          %label= f.label :company_school, t('user.company_school').html_safe
          = f.text_field :company_school
        %li
          %label= f.label :group, t('user.group').html_safe
          = f.text_field :group
        %li
          %label= f.label :password, t('user.password')
          = f.password_field :password
        %li
          %label= f.label :password_confirmation, t('user.password_confirmation')
          = f.password_field :password_confirmation
        %li
          = f.submit t('Create') 
  
        = link_to t("back"), :action => 'index'