%h2 Edit translation

- simple_form_for [:admin, @translation] do |form|
  English
  = form.input :content_en

  Dutch
  = form.input :content_nl

  = form.button :submit
  
= link_to "back", admin_translations_path


= render '/admin/shared/revisions', :versioned => @translation