- title 'Historic Series'

%p= link_to 'Create new serie', new_admin_historic_serie_path

%table{table_defaults}
  %thead
    %tr
      %th.tal id
      %th.tal key
      %th.tal country
      %th.tal 
  %tbody
    - @historic_series.each do |historic_serie|
      %tr{cycles}
        %td= historic_serie.id
        %td= link_to historic_serie.key, admin_historic_serie_path(historic_serie)
        %td= historic_serie.area_code
        %td= link_to 'edit', edit_admin_historic_serie_path(historic_serie)
= link_to 'New', new_admin_historic_serie_path