- title 'Expert predictions'

%table{table_defaults}
  %thead
    %tr
      %th.tal id
      %th.tal input_element_id
      %th.tal User
      %th.tal expert
      %th.tal curve_type
      %th.tal description
      %th.tal 


  %tbody
    - @predictions.each do |prediction|
      %tr{cycles}
        %td= link_to prediction.id, admin_prediction_path(prediction)
        %td= prediction.input_element_id
        %td= prediction.user.name
        %td= prediction.expert
        %td= prediction.curve_type
        %td= prediction.description
        %td= link_to 'edit', edit_admin_prediction_path(prediction)

%p= link_to 'New', new_admin_prediction_path