%h2 Expert predictions


%table.default.autostripe
  %thead
    %tr
      %th.tal id
      %th.tal input element
      %th.tal Area
      %th.tal User
      %th.tal Title
      %th.tal


  %tbody
    - @predictions.each do |prediction|
      %tr
        %td= link_to prediction.id, admin_prediction_path(prediction)
        %td
          = prediction.input_element.key
          = link_to prediction.input_element.id, edit_admin_input_element_path(prediction.input_element)
        %td= prediction.area
        %td= prediction.user.try(:name)
        %td= prediction.title
        %td
          = link_to 'edit', edit_admin_prediction_path(prediction)
          |
          = link_to 'delete', admin_prediction_path(prediction), :method => :delete, :confirm => 'Are you sure?'

%p= link_to 'New', new_admin_prediction_path
%p= link_to 'Comments', admin_comments_path
