= link_to "back", admin_predictions_path
%h2
  ==#{@prediction.input_element.name} (#{@prediction.input_element.id}) 
  %small= link_to 'edit', edit_admin_prediction_path(@prediction)

%table{table_defaults}
  %thead
    %tr
      %th.tal year
      %th.tal min
      %th.tal best
      %th.tal max
      %th.tal
  %tbody
    - @prediction.prediction_values.each do |entry|
      %tr{cycles}
        %td= entry.year
        %td= entry.min
        %td= entry.best
        %td= entry.max
        %td= link_to 'edit', edit_admin_prediction_value_path(entry)
= link_to 'New', new_admin_prediction_value_path
= render '/admin/shared/revisions', :versioned => @prediction
