= link_to "back", admin_predictions_path
%h2
  #{@prediction.input_element.key} - #{@prediction.title} -
  %small
    = "By #{@prediction.user.name} (#{@prediction.user.company_school})"
    = link_to 'edit', edit_admin_prediction_path(@prediction)
%span
  = @prediction.description
%br


%br
%table.default.autostripe
  %thead
    %tr
      %th name
      %th impact
      %th cost
      %th year_start
      %th year_end
      %th actor
      %th description
      %th
  %tbody
    - @prediction.measures.each do |entry|
      %tr
        %td= entry.name
        %td= entry.impact
        %td= entry.cost
        %td= entry.year_start
        %td= entry.year_end
        %td= entry.actor
        %td= entry.description
%br
%table.default.autostripe
  %thead
    %tr
      %th year
      %th value
  %tbody
    - @prediction.values.each do |entry|
      %tr
        %td= entry.year
        %td= entry.value
