.main.small
  %h1= t('user.sign_in.header')

  .form-flash
    - flash_message

  = simple_form_for(@user_session || UserSession.new) do |f|
    - if f.object.errors[:base]&.any?
      .form-errors
        = @user_session.errors[:base].join(', ')
    .row
      = f.label :email
      = f.email_field :email, tabindex: 1, autofocus: true, class: 'string email required', autocomplete: 'off'
    .row
      .input.password.required
        .forgot-pw
          = link_to t("header.password_reset"), new_password_reset_path
        = f.label :password
        = f.password_field :password, tabindex: 2, class: 'string password required'
        - if f.object.errors[:email]&.any? || f.object.errors[:password]&.any?
          .field_with_errors
            .error
              %span.fa.fa-exclamation-triangle
              = t('user.sign_in.invalid_login')
    .row= f.input :remember_me, as: :boolean, input_html: { checked: true, tabindex: 3 }

    %div= submit_tag 'Sign in', class: 'primary btn btn-block', tabindex: 4

  .lower-section
    %h1= t('user.sign_in.no_account_header')
    %p= t('user.sign_in.no_account_description')
    %p= link_to t('user.sign_in.sign_up'), new_user_path, class: 'button'

.return-to-model
  = link_to "← #{t('user.sign_in.return_to_model')}", back_url_or_root
