%table.versions
  %thead
    %tr
      %th{:colspan => 4} Revisions
    %tr
      %th Who
      %th What
      %th When
      %th
  %tbody
    %tr{:class => @version ? nil : 'current'}
      %td
      %td Current
      %td
      %td= link_to('show/edit', :action => :edit, :id => versioned)
    - versioned.versions.reverse.each do |version|
      - author = User.find(version.whodunnit).name if version.whodunnit rescue nil
      %tr{:class => version == @version ? 'current' : nil}
        %td= author
        %td= version.event
        %td= l version.created_at, :format => :long
        %td
          = link_to 'show/edit', :action => :edit, :id => versioned, :version_id => version.id
