#navbar
  = link_to(play_path) do
    = image_tag 'reports/back.svg'
    = t('report.return_to_scenario')
  %ul.controls
    %li
      %a(href="javascript:window.print()")
        = image_tag 'reports/print.svg'
        = t('report.print')
  .loading
    .bar

#report
  #title.loading
    %h1== #{ t('report.loading.header') }&hellip;
    %p= t('report.loading.message')

%script(id="report-template" language="text/liquid")
  = @report.html_safe

- content_for :scripts do
  - Dir["app/views/output_elements/table_templates/*"].each do |file|
    = render file: Rails.root.join(file).to_s

  = render 'output_elements/chart_template'
  :javascript
    $(function(){
      window.App = App = new AppView();
      App.settings.set(globals.settings, {silent : true});
      App.bootstrap();
    })
