%table{table_defaults}
  %thead
    %tr
      %th ID
      %th Name
      %th cost_per_mj               
      %th co2_per_mj                
      %th sustainable               
      -#%th infinite                  
      %th typical_production_per_km2

  %tbody
    - for carrier_data in carrier_datas
      %tr{cycles}
        %td== ##{carrier_data.carrier_id}
        %td= link_to carrier_data.carrier.andand.key, "/"
        %td.tar= carrier_data.cost_per_mj
        %td.tar= carrier_data.co2_per_mj
        %td.tar= carrier_data.sustainable
        -#%td.tar= carrier_data.infinite
        %td.tar= carrier_data.typical_production_per_km2
