- title "Pick the carrier to update for #{@areagroup.name}"
%p
  = @areagroup.description
%p
  = link_to "Go back", :back

  %table{table_defaults}
    %thead
      %tr
        %th key
    - for carrier in @carriers
      %tr
        %td  
          = link_to carrier.name, "carrier_datas/update_by_areagroup/#{@areagroup.id}/#{carrier.id}"
