- title "Edit Carrier #{@carrier.key} "
%p
  %strong Attention:
  %em changing data requires restarting the memcached. ( yes, we need a button for it ;) )
  
%table{table_defaults}
  %thead
    %tr
      %th Area
      - CarrierData.column_names.each do |column_name|
        %th= column_name
    - @areagroup.areas.each do |area|
      %tr{cycles}
        %td= area.country
        - CarrierData.column_names.each do |column_name|
          %td= area.carrier_datas.select{|c| c.carrier_id == @carrier.id}.first.send(column_name)

= render 'form'
%p
  = link_to "Go back", :back

