!!! 5
%html
  %head
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "Content-Type" }
    %title EnergyTransitionModel
    = stylesheet_link_tag 'application', 'admin'
    = javascript_include_tag 'application'
    = csrf_meta_tag
    = yield :head
  %body#admin_section{:class => "#{controller_name}_#{controller.action_name}"}
    #wrapper
      %header#top
        = render "layouts/etm/header"
      - if live_server?
        .live_server_notice== This is the #{ live_server_type } server!
      %nav#admin
        = tabs_tag do |tab|
          = tab.main                   'Main', admin_root_path
          = tab.texts                  'Texts', admin_texts_path
          = tab.tabs                   'Tabs', admin_tabs_path
          = tab.sidebar_items          'Sidebar', admin_sidebar_items_path
          = tab.slides                 'Slides', admin_slides_path
          = tab.input_elements         'Sliders', admin_input_elements_path
          = tab.output_elements        'Charts', admin_output_elements_path
          = tab.output_elements_series 'Series', admin_output_element_series_path
          = tab.dashboard_items        'Dashboard', admin_constraints_path
          = tab.notifications          'Notifications', admin_general_user_notifications_path
          = tab.gql_search             'GQL Search', search_admin_gql_index_path
          = tab.users                  'Users', admin_users_path
      #content
        - flash_message
        = yield
        .clear
    %footer
      = yield :footer
