!!! Strict
%html{ :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "Content-Type" }
    %title
      EnergyTransitionModel
    = stylesheet_link_tag 'all'
    = stylesheet_link_tag 'vendor/formtastic', 'vendor/jquery.slider', 'vendor/jquery.fancybox-1.3.1'
    = stylesheet_link_tag "vendor/jquery.jqplot", 'vendor/jquery.superfish', :cache => false
    = stylesheet_link_tag 'admin'
    = sprocket_layout_init :etm

    /[if lt IE 8]
      = stylesheet_link_tag "ie", "ie.slider"

  %body#model
    #wrapper
      #content

      #header
        = render "layouts/etm/header"
        #nav.nav-admin
          .nav-holder.nav-holder-inner{:style=>"float:left"}
            %ul{:style=>"width:1400px;height:30px;"}
              %li= link_to Current.setting.country.upcase, '#'
              - tab("Tables", 'admin/query_tables', '')
              - tab("Descriptions", 'admin/descriptions','')
              - tab("Translations", 'admin/translations', '')
              - tab("Views", 'admin/view_nodes', '')
              - tab("Tabs", 'admin/tabs', '')
              - tab("Categories", 'admin/sidebar_items', '')
              - tab("Slides", 'admin/slides', '')
              - tab("Sliders", 'admin/input_elements', '')
              - tab("Charts", 'admin/output_elements', '')
              - tab("Series", 'admin/output_element_series', '')
              - tab("Expert", 'admin/expert_predictions', '')
              - tab("Press", 'admin/press_releases', '')
