!!! 5
%html
  %head
    %title= t("meta.title")
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type" }
    %meta{:description => "#{t('meta.description')}" }
    %meta{:name=>"google-site-verification", :content=>"ILDmdAxQTYxcPyy969IJXq7YlXKzhGFfGCHqFi8fiWA"}
    = csrf_meta_tag

    /[if lte IE 8]
      = stylesheet_link_tag 'ie'
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = yield :head
    - if ipad?
      %meta{:name=>"viewport", :content=>"width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;"}
  %body{id: defined?(body_id) ? body_id : 'outside-model'}

    #wrapper
      %header#top
        = render "layouts/etm/header"
      #content
        - flash_message
        = content_for?(:content) ? yield(:content) : yield
      %footer.fixed
        = yield :footer
        = render "layouts/etm/footer"
    :javascript
      I18n.defaultLocale = "#{I18n.default_locale}";
      I18n.locale = "#{I18n.locale}";
    = yield :scripts
    - if Rails.env.production?
      = render "layouts/etm/ga" unless APP_CONFIG[:standalone]
