!!! 5
%html
  %head
    %title= content_for?(:page_title) ? yield(:page_title) : t("meta.name")
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type" }
    %meta{:description => "#{t('meta.description')}" }
    %meta{:name=>"google-site-verification", :content=>"ILDmdAxQTYxcPyy969IJXq7YlXKzhGFfGCHqFi8fiWA"}
    = csrf_meta_tag

    = yield :meta

    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = favicon_link_tag asset_path("favicon.svg")

    - if defined?(extra_pack)
      = javascript_pack_tag 'survey', extra_pack
    - else
      = javascript_pack_tag 'survey'

    :javascript
      I18n.defaultLocale = "#{I18n.default_locale}";
      I18n.locale = "#{I18n.locale}";
      LocalTime.config.locale = I18n.locale;

    = yield :head
    - if ipad?
      %meta{:name=>"viewport", :content=>"width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;"}
  %body{ id: defined?(body_id) ? body_id : 'outside-model', class: defined?(body_class) ? body_class : '' }

    #wrapper
      = render "layouts/etm/header"
      #content
        - if content_for?(:flash)
          = yield :flash
        - else
          - flash_message
        = content_for?(:content) ? yield(:content) : yield
      - if content_for?(:footer)
        %footer.fixed
          = yield :footer
    = yield :scripts
    - if (Rails.env.production? || Rails.env.staging?) && !Settings.standalone
      = render "layouts/etm/ga"
