!!! Strict
%html{ :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "Content-Type" }
    %meta{ :name => "robots", :content => "noindex"}
    %title API
    = stylesheet_link_tag "application"
    = javascript_include_tag 'application'
    = render "layouts/etm/javascript_globals"
    = sprocket_layout_init :etm
    :javascript
      App.settings = new Setting(#{Current.setting.to_json.html_safe});
  %body
    = yield
    
