!!! 5
%html
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}
    %meta{:name => "robots", :content => "noindex"}
    %title API
    = render "layouts/etm/javascript_globals"
    = stylesheet_link_tag "application"
    = javascript_include_tag 'application'
    = javascript_include_tag 'etm'
  %body#constraint_popup{:class => @constraint.key}
    .wrapper
      = yield
      .clear
    #scripts
      = yield :scripts
