!!! Strict
%html{ :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "Content-Type" }
    %title
      EnergyTransitionModel

    = sprocket_layout_init :etm
    = sprocket_layout_init :data

    = stylesheet_link_tag 'data.reset'
    = stylesheet_link_tag 'data'
    = stylesheet_link_tag 'data.panel'


  :javascript
    $(document).ready(function() {
      $('input#search').keyup(function(ev) {
        var search = $(this).val();
        $.cookie($(this).attr('data-search_scope'), search);
        var condition = $.map(search.split(' '), function(el) {
          if (el != "")
            return "[data-search*="+el+"]";
        }).join('');
        console.log(condition);
        $('.tree li').hide();
        $('.tree li'+condition).show();
      })
      var stored_search = $.cookie($('input#search').attr('data-search_scope'));
      $('input#search').val(stored_search).keyup();
    })


  %body#data
    #header{:style => "background: #333"}

      = link_to 'Graph Construction Site', '#'
    

    = yield