!!! Strict
%html{ :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type" }
    %meta{:description => "#{t('meta.description')}" }
    %meta{:name=>"google-site-verification", :content=>"ILDmdAxQTYxcPyy969IJXq7YlXKzhGFfGCHqFi8fiWA"}
    %meta{:'http-equiv'=>"X-UA-Compatible", :content=>"IE=7"}
    = csrf_meta_tag
    %title= t("meta.title").force_encoding("UTF-8")
    = stylesheet_link_tag 'all',"vendor/jquery.fancybox-1.3.1","vendor/jquery.jqplot", 'vendor/formtastic', 'slider', 'quinn', :cache => asset_cache_name('all')
    
    = javascript_include_tag :defaults, :cache => true
    
    = render "layouts/etm/javascript_globals"
    = javascript_include_tag 'underscore.min'
    = sprocket_layout_init :etm

    = javascript_include_tag 'i18n'
    = javascript_include_tag 'translations'

    = render "layouts/etm/javascript_init"
    = render "layouts/etm/javascript_unselectable"

    %script

  %body#model
    #wrapper
      #content
        = render "layouts/etm/title"
        - flash_message
        - if Current.view
          = render "layouts/etm/sidebar"
        = yield

        .clear
        .clear
        
      #header
        = render "layouts/etm/header", :info_box => true
        = render "layouts/etm/tabs"
        
      #footer
        = render "layouts/etm/constraints"
        = render "layouts/etm/footer"
      .clear
      #loading{:style => 'display: none'} Loading...
      

    %a#feedback-tab.side_tabs.select_chart{:href => '/feedback', :class => I18n.locale}
    %a#refman-tab.side_tabs{:href => 'http://refman.et-model.com', :class => I18n.locale, :target => "_blank" }
    %a#epn_module.side_tabs{:href => '/pages/education', :class => I18n.locale}
    %a#wiki-tab.side_tabs{:href=>'http://wiki.quintel.com',:class => " #{I18n.locale}",:target=>"_blank"}
    = render "layouts/etm/ga"
    
    -# stick the footer at the bottom of the page if we're on an iPad/iPhone due to viewport/page bugs in mobile webkit
    %script
      if (_.include(['iPad', 'iPhone', 'iPod'], navigator.platform)) { $("#footer").css("position", "static"); };

      I18n.defaultLocale = "#{I18n.default_locale}";
      I18n.locale = "#{I18n.locale}";

      App.settings.set(#{Current.setting.to_json.html_safe}, {silent : true});
      App.bootstrap();
