- content_for :meta do
  %link{ rel: 'preconnect', href: Settings.api_url, crossorigin: true }

- content_for :head do
  = render "layouts/etm/javascript_globals"
  = javascript_include_tag 'etm'

- content_for :content do
  = render partial: 'layouts/etm/scenario_nav'
  .flex-wrapper
    = render "layouts/etm/sidebar" if @interface.try :current_sidebar_item
    = yield

- content_for :footer do
  = render "layouts/etm/dashboard"
  = render "input_elements/input_element"
  = render "input_elements/value_selector"
  = render "nodes/node_details"

= render template: 'layouts/application', locals: { body_id: 'model', body_class: @interface.variant.body_class, extra_pack: 'app'}
