%html{ :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type" }
    %title
      Game | Energy Transition Model
    = stylesheet_link_tag 'all', 'game', 'table.zebra', 'footer', 'constraints.css','slider', :cache => asset_cache_name('game')
    = sprocket_layout_init :game
  
    = init_etm_javascript_framework
    
    = javascript_tag 'ETM.initGame();'
    
    %body{:id => 'game'}
      #header
        = render "layouts/etm/header", :info_box => false, :save_button => false
      =yield