!!! Strict
%html{ :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "Content-Type" }
    %meta{:description => "#{t('meta.description')}" }
    %title
      = t("meta.title")
    /[if lt IE 8]
      = stylesheet_link_tag 'ie', 'ie.slider'

    = stylesheet_link_tag 'all','vendor/jquery.fancybox-1.3.1'
    = javascript_include_tag :defaults, :cache => true
    = javascript_include_tag 'underscore.min'
    = sprocket_layout_init :pages

    = render "layouts/etm/javascript_unselectable"
        
    %meta{:name=>"google-site-verification", :content=>"ILDmdAxQTYxcPyy969IJXq7YlXKzhGFfGCHqFi8fiWA"}
  %body#outside-model
    #wrapper
      #content
        - flash_message
        = yield
      #header{:style => ("height: 150px" if @render_tabs)}
        = render "layouts/etm/header"
      #footer
        = render "layouts/etm/footer"
      %a{:id =>'epn_module',:href=>'/pages/education',:class => "side_tabs #{I18n.locale}"}
    = render "layouts/etm/ga"
    %a{:id =>'feedback-tab',:href=>'/feedback',:class => "select_chart side_tabs #{I18n.locale}"}
    %a{:id =>'refman-tab',:href=>'http://refman.et-model.com',:class => "side_tabs #{I18n.locale}",:target=>"_blank"}
    %a{:id =>'wiki-tab',:href=>'http://wiki.quintel.com',:class => "side_tabs #{I18n.locale}",:target=>"_blank"}