!!! 5
%html.report
  %head
    %title= t("meta.title")
    %meta(content='text/html; charset=utf-8' http-equiv="Content-Type")
    %meta{:description => "#{ t('meta.description') }" }

    %link(href="https://fonts.googleapis.com/css?family=Merriweather+Sans:300,400,700" media="all" rel="stylesheet")
    = stylesheet_link_tag 'report', media: 'all'
    = csrf_meta_tag

  %body.report
    = yield

    = javascript_include_tag 'application'
    = javascript_include_tag "i18n/#{ I18n.locale }"
    = render 'layouts/etm/javascript_globals'
    = javascript_include_tag 'etm'

    = render 'output_elements/chart_template'

    :javascript
      I18n.defaultLocale = "#{ I18n.default_locale }";
      I18n.locale = "#{ I18n.locale }";

      jQuery(function () {
        window.App = App = new AppView();
        App.settings.set(globals.settings, { silent: true });
        App.bootstrap();
      });

    - if Rails.env.production?
      = render 'layouts/etm/ga' unless APP_CONFIG[:standalone]
