- if Current.setting.active_couplings.include?('external_model_interconnectors')
  .interface_group
    %hr
    %span.label= t("custom_curves.coupled_interface_group_title")
  %p{ style: 'margin-top: 0' }
    = t("custom_curves.coupled_interconnector_intro_html", docs_path: 'https://docs.energytransitionmodel.com/main/costs-imported-electricity#uploaded-price-curves')

  .curve-upload.multi-curve-upload.custom-curve{ data: { curve_name_match: "(?:^|_)interconnector_#{num}(?!_.*(?:import_availability|export_availability))(?:$|_)" } }
    .loading

- else
  .interface_group
    %hr
    %span.label= t("custom_curves.interface_group_title")
  %p{ style: 'margin-top: 0' }
    = t("custom_curves.interconnector_intro_html", docs_path: 'https://docs.energytransitionmodel.com/main/costs-imported-electricity#uploaded-price-curves')

  .curve-upload.multi-curve-upload.custom-curve{ data: { curve_name_match: "(?:^|_)interconnector_#{num}(?!_.*must_run)(?:$|_)" } }
    .loading
