%h2 Notifications

%table
  %thead
    %tr
      %th Id
      %th Content_nl
      %th Content_en
      %th Active
      %th
  %tbody
    - @notifications.each do |n|
      %tr
        %td= n.id
        %td= truncate n.notification_nl
        %td= truncate n.notification_en
        %td= n.active
        %td
          = link_to "show", admin_general_user_notification_path(n)
          = link_to "edit", edit_admin_general_user_notification_path(n)
          = link_to "destroy", admin_general_user_notification_path(n), :method => :delete, :confirm => 'Are you sure?'

= link_to "New notification", new_admin_general_user_notification_path
